<div class="wrapper">
	<div class="title"><a href="{url('index')}" class="s-back">返回</a>功能扩展 - 每日签到</div>
	<div class="content_tips">
		<div class="flexilist">
			<div class="main-info">
				<form action="{url('edit')}" method="post" class="form-horizontal" role="form">
				<div class="switch_info">
				    <div class="item">
					        <div class="label-t">功能名称：</div>
					        <div class="label_value" style="width: 10%">{$config['name']}</div>
					        <div class="notic"> 即每天凌晨00:00到晚上24:00之间可签到一次</div>
					    </div>
					    <div class="item">
					        <div class="label-t">关键词：</div>
					        <div class="label_value">{$config['command']}</div>
					    </div>
					    <div class="item">
					        <div class="label-t">扩展词：</div>
				            <div class="label_value">
				                <input type="text" name="data[keywords]" class="text" value="{$config['keywords']}" />
				                <div class="notic">多个变形词，请用“,”隔开</div>
				            </div>
					    </div>
					    <div class="item">
					        <div class="label-t">积分赠送：</div>
					            <div class="label_value">
					            	<div class="checkbox_items">
			                            <div class="checkbox_item">
						                    <input type="radio" name="cfg_value[point_status]" class="ui-radio event_zhuangtai" id="value_121_0" value="1" checked="true" {if $config['config']['point_status']}checked{/if}>
						                    <label for="value_121_0" class="ui-radio-label {if $config['config']['point_status']}active{/if}">{$lang['wechat_open']}</label>
						                </div>
						                <div class="checkbox_item">
						                    <input type="radio" name="cfg_value[point_status]" class="ui-radio event_zhuangtai" id="value_121_1" value="0" {if empty($config['config']['point_status'])}checked{/if}>
						                    <label for="value_121_1" class="ui-radio-label {if empty($config['config']['point_status'])}active{/if}">{$lang['wechat_close']}</label>
						                </div>
	                               </div>
					           </div>
					    </div>
					    <div class="item">
					        <div class="label-t">等级积分值：</div>
					            <div class="label_value">
					                <input type="text" name="cfg_value[rank_point_value]" class="text" value="{$config['config']['rank_point_value']}" />
					           </div>
					    </div>
					    <!--<div class="item">
					        <div class="label-t">消费积分值：</div>
					            <div class="label_value">
					                <input type="text" name="cfg_value[pay_point_value]" class="text" value="{$config['config']['pay_point_value']}" />
					           </div>
					    </div>-->
					    <div class="item">
					        <div class="label-t">&nbsp;</div>
					        <div class="label_value info_btn">
					                <input type="hidden" name="data[command]" value="{$config['command']}" />
					                <input type="hidden" name="data[name]" value="{$config['name']}" />
					                <input type="hidden" name="data[author]" value="{$config['author']}">
					                <input type="hidden" name="data[website]" value="{$config['website']}">
					                <input type="hidden" name="handler" value="{$config['handler']}">
					                <input type="submit" name="submit" class="button btn-danger bg-red" value="确认" />
					                <input type="reset" name="reset" class="button button_reset" value="重置" />
					        </div>
					    </div>
				</div>
				</form>
            </div>
		</div>
	</div>
</div>