
<h1 class="sectionedit1" id="api_document">API Document</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "API Document" [1-27] -->
<h2 class="sectionedit2" id="spec">Spec</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Name : tutorial <abbr title="Application Programming Interface">API</abbr></div>
</li>
<li class="level1"><div class="li"> Description : 新手教學 <abbr title="Application Programming Interface">API</abbr></div>
</li>
<li class="level1"><div class="li"> Url : <a href="http://210.61.12.136/site/mobile/tutorial" class="urlextern" title="http://210.61.12.136/site/mobile/tutorial"  rel="nofollow">http://210.61.12.136/site/mobile/tutorial</a></div>
</li>
<li class="level1"><div class="li"> Content <abbr title="Uniform Resource Locator">URL</abbr> : <a href="http://210.61.12.136/site/tutorial/view/tutorialid=xx" class="urlextern" title="http://210.61.12.136/site/tutorial/view/tutorialid=xx"  rel="nofollow">http://210.61.12.136/site/tutorial/view/tutorialid=xx</a></div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Spec" [28-235] -->
<h2 class="sectionedit3" id="paramater">Paramater</h2>
<div class="level2">
<div class="table sectionedit4"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Type </th><th class="col2"> Value </th>
	</tr>
</table></div>
<!-- EDIT4 TABLE [258-281] -->
</div>
<!-- EDIT3 SECTION "Paramater" [236-282] -->
<h2 class="sectionedit5" id="example">Example</h2>
<div class="level2">

<p>
<a href="http://210.61.12.136/site/mobile/tutorial" class="urlextern" title="http://210.61.12.136/site/mobile/tutorial"  rel="nofollow">http://210.61.12.136/site/mobile/tutorial</a>
</p>

</div>
<!-- EDIT5 SECTION "Example" [283-349] -->
<h2 class="sectionedit6" id="return_value">Return Value</h2>
<div class="level2">

</div>
<!-- EDIT6 SECTION "Return Value" [350-374] -->
<h3 class="sectionedit7" id="record">Record</h3>
<div class="level3">
<div class="table sectionedit8"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Description </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> tutorialid </td><td class="col1"> 殺價禮券ID </td><td class="col2"> </td>
	</tr>
	<tr class="row2">
		<td class="col0"> tcid </td><td class="col1"> 教學分類ID </td><td class="col2"> </td>
	</tr>
	<tr class="row3">
		<td class="col0"> name </td><td class="col1"> 新手教學名稱 </td><td class="col2"> </td>
	</tr>
</table></div>
<!-- EDIT8 TABLE [392-516] -->
</div>
<!-- EDIT7 SECTION "Record" [375-518] -->
<h3 class="sectionedit9" id="relation">Relation</h3>
<div class="level3">

</div>

<h4 id="tutorial_category">tutorial_category</h4>
<div class="level4">
<div class="table sectionedit10"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Description </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> tcid </td><td class="col1"> 教學分類ID </td><td class="col2"> </td>
	</tr>
	<tr class="row2">
		<td class="col0"> name </td><td class="col1"> 教學分類名稱 </td><td class="col2"> </td>
	</tr>
</table></div>
<!-- EDIT10 TABLE [564-654] -->
</div>
<!-- EDIT9 SECTION "Relation" [519-] -->