
<h1 class="sectionedit1" id="api_document">API Document</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "API Document" [1-27] -->
<h2 class="sectionedit2" id="spec">Spec</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Name : Member <abbr title="Application Programming Interface">API</abbr></div>
</li>
<li class="level1"><div class="li"> Url : <a href="http://210.61.12.136/site/mobile/member" class="urlextern" title="http://210.61.12.136/site/mobile/member"  rel="nofollow">http://210.61.12.136/site/mobile/member</a></div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Spec" [28-121] -->
<h2 class="sectionedit3" id="paramater">Paramater</h2>
<div class="level2">
<div class="table sectionedit4"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Type </th><th class="col2"> Value </th>
	</tr>
</table></div>
<!-- EDIT4 TABLE [144-167] -->
</div>
<!-- EDIT3 SECTION "Paramater" [122-168] -->
<h2 class="sectionedit5" id="example">Example</h2>
<div class="level2">

<p>
<a href="http://210.61.12.136/site/mobile/member" class="urlextern" title="http://210.61.12.136/site/mobile/member"  rel="nofollow">http://210.61.12.136/site/mobile/member</a>
</p>

</div>
<!-- EDIT5 SECTION "Example" [169-233] -->
<h2 class="sectionedit6" id="return_value">Return Value</h2>
<div class="level2">

</div>
<!-- EDIT6 SECTION "Return Value" [234-258] -->
<h3 class="sectionedit7" id="record">Record</h3>
<div class="level3">
<div class="table sectionedit8"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Description </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> userid </td><td class="col1"> 使用者ID </td><td class="col2"> </td>
	</tr>
	<tr class="row2">
		<td class="col0"> recipient </td><td class="col1"> 收件人 </td><td class="col2"> </td>
	</tr>
	<tr class="row3">
		<td class="col0"> sex </td><td class="col1"> 性別 </td><td class="col2"> </td>
	</tr>
	<tr class="row4">
		<td class="col0"> email </td><td class="col1"> Email </td><td class="col2"> </td>
	</tr>
	<tr class="row5">
		<td class="col0"> address </td><td class="col1"> 收貨地址 </td><td class="col2"> </td>
	</tr>
	<tr class="row6">
		<td class="col0"> phone </td><td class="col1"> 聯絡電話 </td><td class="col2"> </td>
	</tr>
	<tr class="row7">
		<td class="col0"> nickname </td><td class="col1"> 帳號暱稱 </td><td class="col2"> </td>
	</tr>
</table></div>
<!-- EDIT8 TABLE [276-489] -->
</div>
<!-- EDIT7 SECTION "Record" [259-490] -->
<h3 class="sectionedit9" id="relation">Relation</h3>
<div class="level3">

</div>

<h4 id="spoint">spoint</h4>
<div class="level4">
<div class="table sectionedit10"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Description </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> userid </td><td class="col1"> 使用者ID </td><td class="col2"> </td>
	</tr>
	<tr class="row2">
		<td class="col0"> amount </td><td class="col1"> 殺幣 </td><td class="col2"> </td>
	</tr>
</table></div>
<!-- EDIT10 TABLE [525-605] -->
</div>

<h4 id="bonus">bonus</h4>
<div class="level4">
<div class="table sectionedit11"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Description </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> userid </td><td class="col1"> 使用者ID </td><td class="col2"> </td>
	</tr>
	<tr class="row2">
		<td class="col0"> amount </td><td class="col1"> 殺幣 </td><td class="col2"> </td>
	</tr>
</table></div>
<!-- EDIT11 TABLE [621-701] -->
</div>

<h4 id="sgift">sgift</h4>
<div class="level4">
<div class="table sectionedit12"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Description </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> userid </td><td class="col1"> 使用者ID </td><td class="col2"> </td>
	</tr>
	<tr class="row2">
		<td class="col0"> amount </td><td class="col1"> 殺價禮券 </td><td class="col2"> </td>
	</tr>
</table></div>
<!-- EDIT12 TABLE [717-803] -->
</div>

<h4 id="bulletin">bulletin</h4>
<div class="level4">
<div class="table sectionedit13"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Description </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> bulletinid </td><td class="col1"> 公告ID </td><td class="col2"> </td>
	</tr>
	<tr class="row2">
		<td class="col0"> name </td><td class="col1"> 公告標題 </td><td class="col2"> </td>
	</tr>
	<tr class="row3">
		<td class="col0"> description </td><td class="col1"> 公告內容 </td><td class="col2"> </td>
	</tr>
	<tr class="row4">
		<td class="col0"> ontime </td><td class="col1"> 上架時間 </td><td class="col2"> </td>
	</tr>
	<tr class="row5">
		<td class="col0"> type </td><td class="col1"> 公告類型 </td><td class="col2"> member:會員公告，system:系統公告 </td>
	</tr>
</table></div>
<!-- EDIT13 TABLE [822-1036] -->
</div>
<!-- EDIT9 SECTION "Relation" [491-] -->