<div class="article">
    <div data-role="collapsible-set" data-theme="b" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
        <div data-role="collapsible">
            <h2>新手必看</h2>
                <!--<ul data-role="listview" data-theme="b">
                <li><a href="/site/faq/detail/?fid=61&20150819132106" data-transition="slide">
                CCTV报导杀价王</a></li>
                <li><a href="/site/faq/detail/?fid=2&20150819132106" data-transition="slide">
                快速上手教学影片</a></li>
                </ul>-->
            <div data-role="collapsible-set" data-theme="b" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
                <div data-role="collapsible">
                    <h4>CCTV报导杀价王</h4>
                    <div id="onlyContent" style="word-wrap:break-word; overflow:hidden;" >
                        <p style="text-align: center;">
                            <iframe allowfullscreen="Y" frameborder="0" src="http://v.qq.com/iframe/player.html?vid=g01267vqelj&amp;tiny=0&amp;autostart=false" height="80%" width="80%"></iframe>
                        </p>
                        <p style="text-align: center;">
                            <a href="http://news.cntv.cn/2013/08/15/VIDE1376528309969840.shtml">央视报导官方网址</a>
                        </p>
                        <p style="text-align: center;">
                            <strong>注意!! 请在WIFI环境下观看</strong>
                        </p>
                        <p>
                            &nbsp;</p>
                        <p>
                            &nbsp;</p>
                    </div>
                </div>
                <div data-role="collapsible">
                    <h4>快速上手教学影片</h4>
                    <div id="onlyContent" style="word-wrap:break-word; overflow:hidden;" >
                    <p style="text-align: center;">
                        <iframe allowfullscreen="" frameborder="0" src="http://player.youku.com/embed/XNjgxNDY2MTEy" width="90%"></iframe>
                    </p>
                    <p style="text-align: center;">
                        <strong>注意!! 请在WIFI环境下观看</strong>
                    </p>
                    </div>
                </div>
            </div>
        </div>
        <div data-role="collapsible">
            <h2>杀价竞标相关</h2>
            <!--<ul data-role="listview" data-theme="b">
        <li><a href="/site/faq/detail/?fid=60&20150819132106" data-transition="slide">
        如何进行杀价?</a></li>
        <li><a href="/site/faq/detail/?fid=6&20150819132106" data-transition="slide">
        顺位提示功能是什么?</a></li>
        <li><a href="/site/faq/detail/?fid=10&20150819132106" data-transition="slide">
        出价方式说明</a></li>
        <li><a href="/site/faq/detail/?fid=62&20150819132106" data-transition="slide">
        杀价币说明</a></li>
        </ul>-->
            <div data-role="collapsible-set" data-theme="b" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
                <div data-role="collapsible">
                    <h4>如何进行杀价?</h4>
                    <div id="onlyContent" style="word-wrap:break-word; overflow:hidden;">
                        <p>您是否想过有一天能够以1分的价格购得7000元的品牌手机？您是否苦于和商家讨价还价却永远无功而返？如果你已经厌倦了买任何东西都要货比三家的日子，那么赶紧阅读接下来的杀价教程，成为杀友吧！</p>
                        <p style="text-align: center;">
                            &nbsp;<img alt="" src="http://i1378.photobucket.com/albums/ah89/shajiawang/01_zps65dppzkg.jpg" style="width: 250px; height: 45px;" /></p>
                        <p>
                            第一步：请您注册杀价王账号，填写个人信息以方便中标后通知与寄送。通过充值方法购买&ldquo;杀价币&rdquo;作为下标手续费。</p>
                        <p>
                            第二步：选择您想下目标商品，输入您心目中理想的下标价格（不低于0.01元），在商品结标之前，您可以通过支付下标手续费多次出价。</p>
                        <p>
                            第三步：当商品结标时，只要您出价的价格中有同时符合&ldquo;唯一出价&rdquo;又是&ldquo;最低出价&rdquo;的情况，那么，恭喜您中标啦！若没中标，手续费100%转成红利积分，能充值话费、换加油卡、兑换京东、一号店&hellip;.等代金卷以及其他商品。例如: 充值500点未中标立即返还500积分，可兑换500元电话费。完全不吃亏。</p>
                        <p style="text-align: center;">
                            <img alt="" src="http://i1378.photobucket.com/albums/ah89/shajiawang/02_zpsttgqxsii.jpg" style="width: 228px; height: 252px;" /></p>
                        <p>
                            以上图为例： 1分、2分和4分皆有1人以上出价，而3分、5分只有一个人出价，并且3分的价格又比5分低，因此出价3分的杀友中标。</p>
                        <p style="text-align: center;">
                            <img alt="" src="http://i1378.photobucket.com/albums/ah89/shajiawang/03_zpsmqxf4iof.jpg" style="width: 228px; height: 252px;" /></p>
                        <p>
                            杀价王是全球首创的&nbsp;&ldquo;&nbsp;杀价式拍卖&nbsp;&rdquo;&nbsp;，采取出价&nbsp;&ldquo;&nbsp;最低&nbsp;&rdquo;&nbsp;且&nbsp;&ldquo;&nbsp;唯一&nbsp;&rdquo;者中标的规则，因此在杀价王用低于市价&nbsp;1&nbsp;折的价格中标非常稀松平常，举例来说，目前本站中标杀品203&nbsp;件，平均中标金额&nbsp;0.13&nbsp;元，杀到就是赚到，&nbsp;只要杀就对了！</p>

                    </div>
                </div>
                <div data-role="collapsible">
                    <h4>顺位提示功能是什么?</h4>
                    <div id="onlyContent" style="word-wrap:break-word; overflow:hidden;" >
                        <section id="2_82" onmousedown="shifuMouseDown('2_82')">
                            <p class="main" style="margin:15px;padding:20px;border:1px dotted #00bbec;font-family:微软雅黑;background-color:#fff;max-width:100%;word-wrap:normal;min-height:1.5em;white-space:pre-wrap;text-align:justify;color:#494429;line-height:2em;font-size:14px;border-bottom-right-radius:15px;border-bottom-left-radius:10px;box-sizing:border-box!important">
                                <span style="margin: 0px; padding: 0px; border: 0px; max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; color: rgb(0, 0, 0);">为了让杀友的出价与竞标更有方向，在您确认单次出价后，系统会提示出价成功并提供顺位提示，以作为您下一次下标的参考依据。系统提供的顺位提示为&ldquo;<strong>当下出价顺位</strong>&rdquo;，最多提示到<strong>第 10 顺位</strong></span>
                            </p>
                            <p>
                                &nbsp;</p>
                        </section>
                        <p style="text-align: center;">
                            <img src="https://mmbiz.qlogo.cn/mmbiz/9wsDib62U1qEpIVYt7bnzCmDgPsvoBAw3MMntiaWlxQ1Rt8kndzMsgLS7icSgnBvds8Vrv0VHzo2kCeT7EIYcESwQ/0?wx_fmt=jpeg" />
                        </p>
                        <section id="2_224" onmousedown="shifuMouseDown('2_224')">
                            <blockquote class="yead" style="margin: 0px; padding: 15px; border-radius: 5px; border: 1px solid rgb(255, 169, 33);">
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;">
                                    <span style="font-size: 14px;">以上图为例：</span><br />
                                    <span style="font-size: 14px;">其中所有被重复出价的价格都将被排在第十顺位以后，如果您的出价与他人</span><strong style="font-size: 14px;">重复</strong><span style="font-size: 14px;">，系统将显示</span>
                                </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;">
                                    <span style="font-size: 14px; color: rgb(0, 0, 0);">&ldquo;</span><span style="font-size: 14px; color: rgb(95, 73, 122);">很抱歉！这个价钱跟其他人重复了！<br />
                                    请您试试其他价钱或许会有好运喔！<span style="font-size: 14px; color: rgb(0, 0, 0);">&rdquo;</span></span></p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;">
                                    <span style="color: rgb(255, 0, 0); font-size: 14px;">系统提示的前十顺位皆为出价唯一的金额；</span><br />
                                    <span style="font-size: 14px;">例如，假如您出价3分，正好是</span><strong style="font-size: 14px;">&ldquo;唯一&rdquo;且&ldquo;价钱最低&rdquo;的目前中标者</strong><span style="font-size: 14px;">，那么，出价后系统会显示</span><br />
                                    <span style="font-size: 14px; color: rgb(0, 0, 0);">&rdquo;</span><span style="font-size: 14px; color: rgb(95, 73, 122);">恭喜你！你是目前的中标者&rdquo;。</span></p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;">
                                    <strong style="font-size: 14px;">第二顺位</strong><span style="font-size: 14px;">为出价5分的人，出价后，系统会显示</span><br />
                                    <span style="font-size: 14px; color: rgb(0, 0, 0);">&rdquo;</span><span style="font-size: 14px; color: rgb(95, 73, 122);"> 恭喜你！ 这个价钱是「唯一」但不是「最低」，</span><br />
                                    <span style="font-size: 14px; color: rgb(95, 73, 122);">目前是「唯一」又比你「低」的还有 1 位。</span><span style="font-size: 14px; color: rgb(0, 0, 0);">&rdquo;</span></p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;">
                                    <span style="font-size: 14px;">以此类推。</span></p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;">
                                    <span style="font-size: 14px;">如果您出价是唯一，却不是最低，出价有超过十个唯一又比您低的出价时，系统会提示您</span><br />
                                    <span style="font-size: 14px; color: rgb(0, 0, 0);">&rdquo;</span><span style="font-size: 14px; color: rgb(95, 73, 122);">恭喜你！ 这个价钱是「唯一」但不是「最低」!</span><br />
                                    <span style="font-size: 14px; color: rgb(95, 73, 122);">目前是「唯一」又比你「低」的超过10 位。</span><span style="font-size: 14px; color: rgb(0, 0, 0);">&rdquo;</span></p>
                            </blockquote>
                        </section>
                    </div>
                </div>
                <div data-role="collapsible">
                    <h4>出价方式说明</h4>
                    <div id="onlyContent" style="word-wrap:break-word; overflow:hidden;" >
                        <p style="margin-top:5px;margin-bottom:5px;margin-left: 0">
                            <span style="font-size:14px;font-family:SimSun;color:#222222">为方便杀友下标，杀价王提供</span><span style="font-size: 14px;font-family:&#39;Arial&#39;,&#39;sans-serif&#39;;color:#222222">“</span><strong><span style="font-size:14px;font-family:SimSun;color:#222222">单次出价</span></strong><span style="font-size:14px;font-family:&#39;Arial&#39;,&#39;sans-serif&#39;;color:#222222">”</span><span style="font-size: 14px;font-family:SimSun;color:#222222">与</span><span style="font-size:14px;font-family:&#39;Arial&#39;,&#39;sans-serif&#39;;color:#222222">“</span><strong><span style="font-size:14px;font-family:SimSun;color:#222222">连续出价</span></strong><span style="font-size:14px;font-family:&#39;Arial&#39;,&#39;sans-serif&#39;;color:#222222">”</span><span style="font-size: 14px;font-family:SimSun;color:#222222">两种功能。</span>
                        </p>
                        <p style="margin-top:5px;margin-bottom:5px;margin-left: 0">
                            <span style="font-size: 14px;font-family:SimSun;color:#222222"><br/></span>
                        </p>
                        <section id="2_60" onmousedown="shifuMouseDown(&#39;2_60&#39;)">
                            <fieldset style="margin-left: 10px; padding: 0px; border: 0px; max-width: 100%; color: rgb(62, 62, 62); font-family: 微软雅黑; line-height: 25px; white-space: normal; background-color: rgb(255, 255, 255); word-wrap: break-word !important; box-sizing: border-box !important;">
                                <section style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; margin-left: -0.5em; line-height: 1.4em;">
                                    <section class="main" style="max-width: 100%; display: inline-block; padding: 0.2em 0.5em; border-radius: 0.3em; color: white; font-size: 0.8em; text-align: center; transform: rotateZ(-10deg); transform-origin: 0% 100% 0px; word-wrap: break-word !important; box-sizing: border-box !important; background-color: rgb(255, 105, 31);">
                                        单次出价
                                    </section>
                                </section>
                                <section class="main2" style="max-width: 100%; margin-top: -1.5em; border: 1px solid rgb(255, 105, 31); font-size: 1em; word-wrap: break-word !important; box-sizing: border-box !important;">
                                    <section style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; padding: 1.4em 1em 1em;">
                                        <span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; font-size: 1em; line-height: 1.2; font-family: inherit; text-align: inherit; text-decoration: inherit; color: rgb(253, 176, 0);"></span><span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; font-size: 1em; line-height: 1.2; font-family: inherit; text-align: inherit; text-decoration: inherit; color: rgb(51, 51, 51);">“单次出价”是指一次只出一次价(以0.01为单位)。</span>
                                    </section>
                                </section>
                            </fieldset>
                        </section>
                        <p>
                            <br/>
                        </p>
                        <section id="2_60" onmousedown="shifuMouseDown(&#39;2_60&#39;)">
                            <fieldset style="margin-left: 10px; padding: 0px; border: 0px; max-width: 100%; color: rgb(62, 62, 62); font-family: 微软雅黑; line-height: 25px; white-space: normal; background-color: rgb(255, 255, 255); word-wrap: break-word !important; box-sizing: border-box !important;">
                                <section style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; margin-left: -0.5em; line-height: 1.4em;">
                                    <section class="main" style="max-width: 100%; display: inline-block; padding: 0.2em 0.5em; border-radius: 0.3em; color: white; font-size: 0.8em; text-align: center; transform: rotateZ(-10deg); transform-origin: 0% 100% 0px; word-wrap: break-word !important; box-sizing: border-box !important; background-color: rgb(255, 105, 31);">
                                        连续出价
                                    </section>
                                </section>
                                <section class="main2" style="max-width: 100%; margin-top: -1.5em; border: 1px solid rgb(255, 105, 31); font-size: 1em; word-wrap: break-word !important; box-sizing: border-box !important;">
                                    <section style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; padding: 1.4em 1em 1em;">
                                        <span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; font-size: 1em; line-height: 1.2; font-family: inherit; text-align: inherit; text-decoration: inherit; color: rgb(253, 176, 0);"></span><span style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box !important; font-size: 1em; line-height: 1.2; font-family: inherit; text-align: inherit; text-decoration: inherit; color: rgb(51, 51, 51);">连续出价”是指输入两个数字，系统自动帮您拍下两个数字中间的所有值(以0.01为单位)。“连续出价”的一次操作最多可出100次价（即两端数字之差为1）。两种出价在您填写完出价金额并送出后，系统将直接扣除账户内的杀价币。</span>
                                    </section>
                                </section>
                            </fieldset>
                        </section>
                        <p>
                            <br/>
                        </p>
                        <section id="2_76" onmousedown="shifuMouseDown(&#39;2_76&#39;)">
                            <blockquote class="main" style="max-width: 100%; margin: 0px; padding: 5px 15px; color: rgb(255, 255, 255); line-height: 25px; font-weight: bold; text-align: left; border-radius: 5px 5px 0px 0px; border: 0px; background-color: rgb(255, 169, 33);">
                                <span class="ue_t">连续出价使用注意事项</span>
                            </blockquote>
                            <blockquote class="main2" style="max-width: 100%; margin: 0px; padding: 10px 15px 20px; border-radius: 0px 0px 5px 5px; border: 1px solid rgb(255, 169, 33); line-height: 25px;">
                                <p style="margin-top:5px;margin-bottom:5px;margin-left: 0;line-height:25px;background:white">
                                    <span style="font-size: 12px;font-family: Arial, sans-serif">1.&nbsp;</span><span style="font-size: 12px;font-family: SimSun">此功能只能以杀价币支付，无法使用杀价券。<br/> </span><span style="font-size: 12px;font-family: Arial, sans-serif">2.&nbsp;</span><span style="font-size: 12px;font-family: SimSun">一次最多可设定出价</span><span style="font-size: 12px;font-family: Arial, sans-serif">100</span><span style="font-size: 12px;font-family: SimSun">次。<br/> </span><span style="font-size: 12px;font-family: Arial, sans-serif">3.&nbsp;</span><span style="font-size: 12px;font-family: SimSun">其计费方式为，该档商品的下标手续费</span><span style="font-size: 12px;font-family: Arial, sans-serif">x</span><span style="font-size: 12px;font-family: SimSun">您设定的下标数</span><span style="font-size: 12px;font-family: Arial, sans-serif">=</span><span style="font-size: 12px;font-family: SimSun">您所花费的杀价币。<br/></span><span style="color: rgb(31, 73, 125);"><span style="font-size: 12px; font-family: SimSun;">例：</span><span style="font-size: 12px; font-family: Arial, sans-serif;">A</span><span style="font-size: 12px; font-family: SimSun;">商品下标手续费为</span><span style="font-size: 12px; font-family: Arial, sans-serif;">1</span><span style="font-size: 12px; font-family: SimSun;">点杀价币，杀友使用连续出价功能下标</span><span style="font-size: 12px; font-family: Arial, sans-serif;">0.01</span><span style="font-size: 12px; font-family: SimSun;">元至</span><span style="font-size: 12px; font-family: Arial, sans-serif;">0.05</span><span style="font-size: 12px; font-family: SimSun;">元，确定后会扣除</span><span style="font-size: 12px; font-family: Arial, sans-serif;">5</span><span style="font-size: 12px; font-family: SimSun;">点杀价币。</span></span>
                                </p>
                                <p style="margin-top:5px;margin-bottom:5px;margin-left: 0;line-height:25px;background:white">
                                    <span style="color: rgb(31, 73, 125); font-size: 12px; font-family: SimSun;"><span style="color: rgb(0, 0, 0); font-size: 12px; font-family: SimSun;"><span style="font-size:12px;font-family: &#39;Arial&#39;,&#39;sans-serif&#39;;color:#222222;background: white">4.&nbsp;</span><span style="font-size:12px;font-family:SimSun;color:#222222;background:white">连续出价同时有多个出价，因此<strong>无法提供顺位提示</strong>。假如您出价</span><span style="font-size:12px;font-family:&#39;Arial&#39;,&#39;sans-serif&#39;;color:#222222;background:white">0.01</span><span style="font-size:12px;font-family:SimSun;color:#222222;background:white">到</span><span style="font-size:12px;font-family:&#39;Arial&#39;,&#39;sans-serif&#39;;color:#222222;background:white">0.03</span><span style="font-size:12px;font-family:SimSun;color:#222222;background:white">，出价成功画面会显示</span><span style="font-size:12px;font-family:&#39;Arial&#39;,&#39;sans-serif&#39;;color:#222222;background:white">0.01</span><span style="font-size:12px;font-family:SimSun;color:#222222;background:white">到</span><span style="font-size:12px;font-family:&#39;Arial&#39;,&#39;sans-serif&#39;;color:#222222;background:white">0.03</span><span style="font-size:12px;font-family:SimSun;color:#222222;background:white">连续出价成功。<br/> </span><span style="font-size:12px;font-family:&#39;Arial&#39;,&#39;sans-serif&#39;;color:#222222;background:white">5.&nbsp;</span><span style="font-size:12px;font-family:SimSun;color:#222222;background:white">为防止系统负荷过大导致异常，结标前</span><span style="font-size:12px;font-family:&#39;Arial&#39;,&#39;sans-serif&#39;;color:#222222;background:white">1</span><span style="font-size:12px;font-family:SimSun;color:#222222;background:white">分钟，将不再提供连续下标功能。如果您在结标前</span><span style="font-size:12px;font-family:&#39;Arial&#39;,&#39;sans-serif&#39;;color:#222222;background:white">1</span><span style="font-size:12px;font-family:SimSun;color:#222222;background:white">分钟连续下标，系统会提醒您已经超过连续下标时间。</span></span></span>
                                </p>
                            </blockquote>
                        </section>
                    </div>
                </div>
                <div data-role="collapsible">
                    <h4>杀价币说明</h4>
                    <div id="onlyContent" style="word-wrap:break-word; overflow:hidden;" >
                        <section id="2_68" onmousedown="shifuMouseDown('2_68')">
                            <fieldset class="main2" style="margin: 0px; padding: 5px; border: 1px solid rgb(255, 169, 33);">
                                <legend style="margin: 0px 10px;"> <span class="main" style="padding: 5px 10px; color: rgb(255, 255, 255); font-weight: bold; font-size: 14px; background-color: rgb(255, 169, 33);">杀价币说明</span> </legend>
                                <blockquote style="margin: 0px; padding: 10px; ">
                                    <p>
                                        <span style="font-family:'新細明體','serif'">在杀价王进行杀价交易皆使用杀价币支付。杀价币点数可使用于支付下标手续费、中标价、中标处理费</span>&hellip;<span style="font-family:'新細明體','serif'">等。杀价王目前可以通过支付宝支付、银联在线支付以及微信支付充值杀价币，因支付平台对于金流会收取</span>2%<span style="font-family:'新細明體','serif'">的手续费，故在充值杀价币时杀价王也会收取</span>2%<span style="font-family:'新細明體','serif'">手续费。杀价币售出后无法退回，但可永久有效使用。</span></p>
                                </blockquote>
                            </fieldset>
                        </section>
                        <p>
                            &nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
        <div data-role="collapsible">
            <h2>中标后续相关</h2>
                <!--<ul data-role="listview" data-theme="b">
            <li><a href="/site/faq/detail/?fid=11&20150819132106" data-transition="slide">
            中标后结账手续说明</a></li>
            <li><a href="/site/faq/detail/?fid=14&20150819132106" data-transition="slide">
            出货流程</a></li>
            <li><a href="/site/faq/detail/?fid=18&20150819132106" data-transition="slide">
            退换货流程</a></li>
            <li><a href="/site/faq/detail/?fid=17&20150819132106" data-transition="slide">
            恶意弃标</a></li>
            </ul>-->
            <div data-role="collapsible-set" data-theme="a" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
                <div data-role="collapsible">
                    <h4>中标后结账手续说明</h4>
                    <div id="onlyContent" style="word-wrap:break-word; overflow:hidden;" >
                        <section id="2_68" onmousedown="shifuMouseDown('2_68')">
                            <fieldset class="main2" style="margin: 0px; padding: 5px; border: 1px solid rgb(255, 169, 33);">
                                <legend style="margin: 0px 10px;"> <span class="main" style="padding: 5px 10px; color: rgb(255, 255, 255); font-weight: bold; font-size: 14px; background-color: rgb(255, 169, 33);">中标后结账手续说明</span>&nbsp;</legend>
                                <blockquote style="margin: 0px; padding: 10px; ">
                                    <p>
                                        <span style="font-family: 宋体, SimSun;">请登陆杀价王，在杀友专区&rarr;交易纪录&rarr;&ldquo;中标记录&rdquo;，查询到相应的中标产品后点选&ldquo;结账&rdquo;即可进行付款。结账时会<strong><span style="color: rgb(23, 54, 93);">扣除与中标价等值的杀价币以及相应的中标处理费</span></strong>，若杀价币不足则无法结账，请在结账前确认您有足够的杀价币。</span></p>
                                    <p>
                                        <span style="font-family: 宋体, SimSun;">为了确认都是真实账号，且可以确实联络到杀友联系中标后通知，请先完成手机认证程序才能进入结账程序。此规定是为了保障您的账号安全，以及防止垃圾账号影响杀友权益，请务必完成手机验证!</span></p>
                                </blockquote>
                            </fieldset>
                        </section>
                        <p>
                            &nbsp;</p>
                    </div>
                </div>
                <div data-role="collapsible">
                    <h4>出货流程</h4>
                    <div id="onlyContent" style="word-wrap:break-word; overflow:hidden;" >
                        <p>
                            <span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">当您<strong>完成结账手续后</strong>，我们将在</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;">7-14</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">个工作日内（不含厂商配送时间）为您出货。实际到货时间，会依据您的所在地有所调整。若您在出货日后七日内仍未收到货品，请速与我们联系。</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;"><o:p></o:p></span>
                        </p>
                        <p>
                            <strong><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">※</span></strong><strong><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">活动性商品：</span></strong><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">有些商品是需要中标者配合参与相关宣传活动的，或是需到指定地点面交，即为活动性商品。活动性商品的出货事宜，皆会在商品说明中先提醒，下标前请先详阅，若中标后无法配合，将取消中标资格，由第二顺位递补，竞拍杀价币恕不退还也无法返还红利积分。</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;"><o:p></o:p></span>
                        </p>
                    </div>
                </div>
                <div data-role="collapsible">
                    <h4>退换货流程</h4>
                    <div id="onlyContent" style="word-wrap:break-word; overflow:hidden;" >
                        <p>杀价王承诺符合以下情况，自客户收到商品之日起7日内可以退货，换货，客户可在线提交返修申请办理退换货事宜。具体退换货标准如下：</p>
                        <p>
                            &nbsp;</p>
                        <table border="1" cellpadding="0" cellspacing="1">
                            <tbody>
                                <tr>
                                    <td>
                                        <p>
                                            退换类别</p>
                                    </td>
                                    <td>
                                        <p>
                                            具体描述</p>
                                    </td>
                                    <td>
                                        <p>
                                            是否支持7天（含）内退货</p>
                                    </td>
                                    <td>
                                        <p>
                                            是否支持15天（含）内换货</p>
                                    </td>
                                    <td>
                                        <p>
                                            是否收取返回运费</p>
                                    </td>
                                    <td>
                                        <p>
                                            备注</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            国家法律所规定的功能性故障或商品质量问题</p>
                                    </td>
                                    <td>
                                        <p>
                                            经由生产厂家指定或特约售后服务中心检测确认，并出具检测报告或经杀价王售后服务确认属于商品质量问题。</p>
                                    </td>
                                    <td>
                                        <p>
                                            是</p>
                                    </td>
                                    <td>
                                        <p>
                                            是</p>
                                    </td>
                                    <td>
                                        <p>
                                            否</p>
                                    </td>
                                    <td>
                                        <p>
                                            当地无检测条件的请联系杀价王售后处理。</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            到货物流损、缺件或商品描述与网站不符等杀价王原因</p>
                                    </td>
                                    <td>
                                        <p>
                                            物流损指在运输过程中造成的损坏、漏液、破碎、性能故障，经售后人员核查情况属实。缺件指商品原装配件缺失。</p>
                                    </td>
                                    <td>
                                        <p>
                                            是</p>
                                    </td>
                                    <td>
                                        <p>
                                            是</p>
                                    </td>
                                    <td>
                                        <p>
                                            否</p>
                                    </td>
                                    <td>
                                        <p>
                                            审核期间可能需要快递人员证明或要求您提供实物照片等，以便售后人员快速做出判断并及时处理。</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            其他原因</p>
                                    </td>
                                    <td>
                                        <p>
                                            除以上两种原因之外，如个人原因导致的退换货，在商品完好的前提下。</p>
                                    </td>
                                    <td>
                                        <p>
                                            否</p>
                                    </td>
                                    <td>
                                        <p>
                                            否</p>
                                    </td>
                                    <td>
                                        <p>
                                            否</p>
                                    </td>
                                    <td>
                                        <p>
                                            因积分兑换商品退换会牵扯至第三方商家，退还过程繁琐。所以，恕杀价王不对因个人原因造成的退换货进行退换。</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            &nbsp;</p>
                        <p>
                            退换货流程：</p>
                        <p style="margin-left:18.0pt;">
                            1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在退换货前，请您事先通过电话或者E-mail方式与我们客服取得联系。</p>
                        <p style="margin-left:18.0pt;">
                            2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;告知您的订单号或会员信息及退换货原因、相关图片及联系方式等。</p>
                        <p style="margin-left:18.0pt;">
                            3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;将商品、商品配件(含说明书、保证书、赠品&hellip;等)全数寄回本公司，寄出后请务必与客服确认商品寄送情况，将由客户承担返回杀价王的运费。</p>
                        <p style="margin-left:18.0pt;">
                            4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 等候客服联系，我们将竭诚为您解决相关问题。</p>
                        <p>
                            &nbsp;</p>
                        <p>
                            退换货手续完成后，您有以下两种选择:：</p>
                        <p style="margin-left:18.0pt;">
                            1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 等待新商品重新出货给您，重新出货的物流费用由申请人自行负担并以杀价币支付，费用视包裹大小而定。</p>
                        <p style="margin-left:18.0pt;">
                            2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 退与商品等值的杀价币至您的账户。</p>
                        <p style="margin-left:18.0pt;">
                            ※不动产、汽机车，以及电池、背包及皮套&hellip;等耗损性之产品，不适用杀价王七日内换货服务。</p>
                        <p>
                            &nbsp;</p>
                        <p>
                            ※退换货注意事项</p>
                        <p>
                            有下列情事或商品恕不适用于退换货处理：</p>
                        <p style="margin-left:18.0pt;">
                            1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;任何非由杀价王出售的商品；</p>
                        <p style="margin-left:18.0pt;">
                            2.&nbsp;&nbsp;&nbsp;&nbsp;任何因非正常使用及保管导致出现质量问题的商品；</p>
                        <p style="margin-left:18.0pt;">
                            3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;产品本身不得刮伤或损坏，商品的外包装、附件、赠品（券）（需要和主商品一起退换）、说明书不完整；发票（券）缺失或涂改；</p>
                        <p style="margin-left:18.0pt;">
                            4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 收到商品已超过7天(以客户收货日邮戳或收执联为凭)。</p>
                        <p style="margin-left:18.0pt;">
                            5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贴身衣物一旦穿着无质量问题不可退换货，食品外包装一旦打开不可退换货；</p>
                        <p style="margin-left:18.0pt;">
                            6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;信息下载(如MP3，电子书)、在线测验等电子传输商品。</p>
                        <p style="margin-left:18.0pt;">
                            7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 顾问、劳务等经使用过之服务、杀友资格或特定授权。</p>
                        <p style="margin-left:18.0pt;">
                            8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 鲜花食品、机票、车票、门票、兑换券....等等据有有效期限之产品。</p>
                        <p style="margin-left:18.0pt;">
                            9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 期刊、杂志等在一定期间内持续提供之产品或服务。</p>
                        <p style="margin-left:18.0pt;">
                            10.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 依消费者指定要求而特别量身而制的商品或服务。</p>
                        <p style="margin-left:18.0pt;">
                            11.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 已注明不可退换货之特价、赠送、折扣商品。</p>
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 12.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一切不动产商品，如土地、房屋....等不得要求换货 。</p>
                    </div>
                </div>
                <div data-role="collapsible">
                    <h4>恶意弃标</h4>
                    <div id="onlyContent" style="word-wrap:break-word; overflow:hidden;" >
                       <p>中标杀友于中标之日算起，六个月内未完成结账手续操作，将视为恶意弃。恶意弃标者杀价王将取消其账户使用资格，且杀价币不得退还、转移。恶意弃标除了严重扰乱网站秩序外，也会影响他人与自身权益，请及时完成相关操作。</p>
                    </div>
                </div>
            </div>
        </div>
        <div data-role="collapsible">
            <h2>红利积分相关</h2>
            <!--<ul data-role="listview" data-theme="b">
        <li><a href="/site/faq/detail/?fid=26&20150819132106" data-transition="slide">
        红利积分说明</a></li>
        <li><a href="/site/faq/detail/?fid=28&20150819132106" data-transition="slide">
        红利积分使用规范</a></li>
        </ul>-->
            <div data-role="collapsible-set" data-theme="a" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
                <div data-role="collapsible">
                    <h4>红利积分说明</h4>
                    <div id="onlyContent" style="word-wrap:break-word; overflow:hidden;" >
                        <p>
                            <span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;">1</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">、红利积分是杀价王为所有使用了杀价币，最后却没有中标的杀友提供的赠送积分。</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;"><o:p></o:p></span>
                        </p>
                        <p>
                            <span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;">2</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">、红利积分的赠送比例依照每档杀品将会有所不同，赠送比例为</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;">0%-100%</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">以上不等。用户每花</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;">1</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">元用于竞拍，未</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">中标</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">杀价王就会赠送</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;">1</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">红利积分至您的账户，用户可在兑换商城使用。目前有腾讯Ｑ币、京东商城代金券等商品可兑换。</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;"><o:p></o:p></span>
                        </p>
                        <p>
                            <span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">例如，杀友</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;">A</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">花了</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;">2</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">点杀价币杀价，最后没有中标，并且该商品可回馈</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;">100%</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">红利积分，因此会员</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;">A</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">可以拿到</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;">2</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">点的红利积分。</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;"><o:p></o:p></span>
                        </p>
                        <p>
                            <span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;">3</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">、红利积分不能兑现，不可返还成杀价币或转让。</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;"><o:p></o:p></span>
                        </p>
                    </div>
                </div>
                <div data-role="collapsible">
                    <h4>红利积分使用规范</h4>
                    <div id="onlyContent" style="word-wrap:break-word; overflow:hidden;" >
                        <p>1.、红利积分属于杀价王，为杀价王赠送给用户的红利。红利积分并不等同于现金，用户不可将其以任何形式转让给他人。红利积分不构成对价交易，亦不可转换成现金或兑换其他赠品；<br />
                        2、本公司有权更改红利积分的使用方式与期限，如超过有效期限未使用的红利积分将自动失效，用户不得以任何理由要求杀价王继续提供折扣、抵用现金或恢复未使用的红利积分；<br />
                        3. 依据服务条款，用户应妥善保管账号及密码，任何经由输入正确账号与密码抵用红利积分的行为，均视为该用户的个人行为，用户不得以任何理由要求杀价王退还已使用的红利积分；<br />
                        4. 因不可抗因素导致红利积分数据流失时，杀价王不负责赔偿或补偿；<br />
                        5. 杀价王保留随时变更、修改或终止本活动及约定条款的权利，若有异动，修改后的活动内容及约定条款将公布在杀价王网站上，不再另行作个别通知。若您于任何修改或变更后继续使用本服务，视为您已阅读、了解并同意接受该等修改或变更；<br />
                        6. 杀价王的红利积分使用期限为1年，逾期自动作废（如若交易在使用的积分有效期之外发生退款，该部分积分不予退还）；<br />
                        例：2015 年 01 月 01 日所获得的红利积分，使用期限至 2016 年 1 月 1 日23：59止；<br />
                        8. 因红利积分兑换需与第三方合作厂商签约，因此，杀价王保有更改、修正、调整红利积分赠送的比例、使用方法、使用期限、以及购物折抵比例的权利。</p>
                    </div>
                </div>
            </div>
        </div>
        <div data-role="collapsible">
            <h2>杀友账号相关</h2>
                <!--<ul data-role="listview" data-theme="b">
            <li><a href="/site/faq/detail/?fid=64&20150819132106" data-transition="slide">
            账号相关说明</a></li>
            </ul>-->
            <div data-role="collapsible-set" data-theme="a" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
                <div data-role="collapsible">
                    <h4>账号相关说明</h4>
                    <div id="onlyContent" style="word-wrap:break-word; overflow:hidden;" >
                        <section id="2_76">
                            <blockquote class="main" style="max-width: 100%; margin: 0px; padding: 5px 15px; color: rgb(255, 255, 255); line-height: 25px; font-weight: bold; border-radius: 5px 5px 0px 0px; border: 0px; background-color: rgb(0, 187, 236);">
                                <span class="ue_t">忘记登录密码</span>
                            </blockquote>
                            <blockquote class="main2" style="max-width: 100%; margin: 0px; padding: 10px 15px 20px 15px; border-radius: 0 0 5px 5px;border: 1px solid #00BBEC; line-height: 25px;">
                                <p class="ue_t">
                                    <span style="font-family: SimSun;">第一步：</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">未登录时</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">至</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">登录点选忘记密码</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">。</span>
                                </p>
                                <p style="text-align: center;">
                                    <span style="font-family: SimSun;"><img src="https://mmbiz.qlogo.cn/mmbiz/9wsDib62U1qFdCvuEqpAicpD9H0lj2uDP5We1PiagkB3XibufvlcTkrGibl4rT7dxTUriaQojicmTYujAc7LZoxYPCdJg/0?wx_fmt=jpeg" /></span>
                                </p>
                                <p>
                                    &nbsp;</p>
                                <p>
                                    <span style="font-family: SimSun;">第二步：输入注册时填写的昵称和手机号，系统会发送新密码至您的手机。</span><span style="font-family: SimSun;">请以此新密码登录</span>
                                </p>
                                <p>
                                    <span style="font-family: SimSun;">第三步：</span><span style="font-family: SimSun;">登</span><span style="font-family: SimSun;">录</span><span style="font-family: SimSun;">后至</span> <span style="font-family: Arial, sans-serif;">&ldquo;</span><span style="font-family: SimSun;">会员修改</span><span style="font-family: Arial, sans-serif;">&ldquo;</span><span style="font-family: SimSun;">&rarr;</span><span style="font-family: Arial, sans-serif;">&ldquo;</span><span style="font-family: SimSun;">修改登</span><span style="font-family: SimSun;">录</span><span style="font-family: SimSun;">密码</span><span style="font-family: Arial, sans-serif;">&ldquo;</span><span style="font-family: SimSun;">，</span><span style="font-family: SimSun;">重置</span><span style="font-family: SimSun;">您的</span><span style="font-family: SimSun;">密码。</span></p>
                            </blockquote>
                        </section>
                        <p>
                            &nbsp;</p>
                        <section id="2_77">
                            <blockquote class="main" style="max-width: 100%; margin: 0px; padding: 5px 15px; color: rgb(255, 255, 255); line-height: 25px; font-weight: bold; border-radius: 5px 5px 0px 0px; border: 0px; display: inline-block; background-color: rgb(255, 105, 31);">
                                <span class="ue_t">忘记兑换密码</span>
                            </blockquote>
                            <blockquote class="main2" style="max-width: 100%; margin: 0px; padding: 10px 15px; border: 1px solid rgb(255, 105, 31); line-height: 25px;">
                                <p>
                                    <span style="font-family: 微软雅黑, 'Microsoft YaHei';">第一步：登</span><span style="font-family: SimSun;">录</span><span style="font-family: 微软雅黑, 'Microsoft YaHei';">后，至 &ldquo;会员修改&ldquo;&rarr;&ldquo;忘记兑换密码&ldquo;</span></p>
                                <p>
                                    <span style="font-family: 微软雅黑, 'Microsoft YaHei';">第二步：输入注册时填写的</span><span style="color:#ff0000;"><span style="font-family: SimSun;">登</span><span style="font-family: SimSun;">录</span></span><span style="font-family: 微软雅黑, 'Microsoft YaHei';">密码</span><span style="font-family: 微软雅黑, 'Microsoft YaHei';">和手机号，系统会发送新密码至您的手机。</span></p>
                                <p>
                                    <span style="font-family: 微软雅黑, 'Microsoft YaHei';">第三步： &ldquo;会员修改&ldquo;&rarr;&ldquo;修改兑换密码&ldquo;，重置您的密码。</span></p>
                            </blockquote>
                        </section>
                        <p align="right" style="text-align:right">
                            <span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;">&nbsp;</span>
                        </p>
                        <section id="2_151">
                            <section style="border: 0px none; padding: 0px; box-sizing: border-box; margin: 0px; font-family: 微软雅黑;">
                                <section class="main" style="border: 3px solid rgb(255, 169, 33); padding: 5px; box-sizing: border-box; margin: 0px;">
                                    <section class="main2" style="border: 1px solid rgb(255, 169, 33); padding: 15px; text-align: center; color: inherit; box-sizing: border-box; margin: 0px;">
                                        <p>
                                            <span style="font-size: 14px; font-family: 黑体, SimHei;">杀价王网站采用实名制，中标商品后需进行手机验证才能领取商品，</span></p>
                                        <p>
                                            <span style="font-size: 14px; font-family: 黑体, SimHei;">所以加入会员时填写的昵称、手机号码和寄送地址如要更改需要繁琐的审核过程，</span></p>
                                        <p>
                                            <span style="font-size: 14px; font-family: 黑体, SimHei;">请用户注册时谨慎填写</span></p>
                                    </section>
                                </section>
                            </section>
                        </section>
                        <p>
                            &nbsp;</p>
                        <section id="2_77">
                            <blockquote class="main" style="max-width: 100%; margin: 0px; padding: 5px 15px; color: rgb(255, 255, 255); line-height: 25px; font-weight: bold; border-radius: 5px 5px 0px 0px; border: 0px; display: inline-block; background-color: rgb(255, 169, 33);">
                                <span class="ue_t">封锁账号的情形</span>
                            </blockquote>
                            <blockquote class="main2" style="max-width: 100%; margin: 0px; padding: 10px 15px; border: 1px solid rgb(255, 169, 33); line-height: 25px;">
                                <p>
                                    <span style="font-family: SimSun;">如果用户在使用杀价王过程中出现以下情况，将会导致您的账号被封锁：</span></p>
                                <p>
                                    <span style="font-family: Arial, sans-serif;">a.</span><span style="font-family: SimSun;">活动商品中标后未配合后续事宜。</span></p>
                                <p>
                                    <span style="font-family: Arial, sans-serif;">b.&nbsp;</span><span style="font-family: SimSun;">严重违反杀价王规定者</span><span style="font-family: Arial, sans-serif;">:</span><span style="font-family: SimSun;">杀价王若发现有不当使用者严重违规，将永久封锁账号。</span></p>
                                <p>
                                    <span style="font-family: Arial, sans-serif;">c. </span><span style="font-family: SimSun;">其他损害杀价王及会员、合作商家利益的行为。</span></p>
                                <p>
                                    <span style="font-family: SimSun;">如果您不存在上述行为但账号被封锁，请联系客服。我们将在收到您提供的相关信息后尽快帮您核查处理，如果确无问题，将会在第一时间解锁您的账户。给您带来的不便，敬请谅解。</span></p>
                            </blockquote>
                        </section>
                        <p>
                            &nbsp;</p>
                        <section id="2_151">
                            <section style="border: 0px none; padding: 0px; box-sizing: border-box; margin: 0px; font-family: 微软雅黑;">
                                <section class="main" style="border: 3px solid rgb(255, 105, 31); padding: 5px; box-sizing: border-box; margin: 0px;">
                                    <section class="main2" style="border: 1px solid rgb(255, 105, 31); padding: 15px; text-align: center; color: inherit; box-sizing: border-box; margin: 0px;">
                                        <p class="main3" style="color: inherit; border-color: rgb(255, 105, 31); box-sizing: border-box; padding: 0px; margin-top: 0px; margin-bottom: 0px;">
                                            <span style="font-size: 14px; font-family: 黑体, SimHei;">杀价王属于实名制，账号只限本人使用，</span></p>
                                        <p class="main3" style="color: inherit; border-color: rgb(255, 105, 31); box-sizing: border-box; padding: 0px; margin-top: 0px; margin-bottom: 0px;">
                                            <span style="font-family: 黑体, SimHei; font-size: 14px;">账号内的杀价币、红利积分、杀价券皆不得转让，亦不得使用他人账号。</span></p>
                                        <p class="main3" style="color: inherit; border-color: rgb(255, 105, 31); box-sizing: border-box; padding: 0px; margin-top: 0px; margin-bottom: 0px;">
                                            <span style="font-family: 黑体, SimHei; font-size: 14px;">若违反规定者，杀价王将采取法律途径并追回中标商品。 &nbsp; &nbsp; &nbsp;</span></p>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div data-role="collapsible">
            <h2>活动说明</h2>
            <!--<ul data-role="listview" data-theme="b">
        <li><a href="/site/faq/detail/?fid=23&20150819132106" data-transition="slide">
        什么是杀价券?</a></li>
        <li><a href="/site/faq/detail/?fid=65&20150819132106" data-transition="slide">
        闪杀活动说明</a></li>
        </ul>-->
            <div data-role="collapsible-set" data-theme="a" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
                <div data-role="collapsible">
                    <h4>什么是杀价券?</h4>
                    <div id="onlyContent" style="word-wrap:break-word; overflow:hidden;" >
                        <p>
                        <span lang="ZH-CN" style="font-family: SimSun;">杀价券</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
                        <p>
                            <span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">杀价券为杀价王通过活动参与、兑换赠送等形式赠送给用户，用于免费下标的免费下标次数。一组「杀价券」可以下标该杀价券限定杀品一次。一场竞拍可叠加使用杀价券，例如，您有五张有效杀价券，那么这五张杀价券都可以使用。但仅限于单次出价，连续出价时不能使用杀价券。</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
                        <p>
                            <span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">杀价券请您在该档杀品结标前使用，<strong>逾期则失效不予补回</strong>。</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
                        <p>
                            <span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">若下标商品流标，杀价券不做退还。若未得标，杀价券下标部分也<strong>不再回馈红利积分</strong>，亦不得换成杀价币或红利积分。</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
                        <p>
                            <span lang="ZH-CN" style="font-family: SimSun;">※</span><span lang="ZH-CN" style="font-family: SimSun;">邀请好友可获杀价券奖励</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
                        <p>
                            <span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">杀友登入以后，会在会员中心看到一组自己的专属邀请链接，当有用户通过您的专属链接访问杀价王注册完成手机认证并储值</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">该活动档期指定金额</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">后，您就可以获得免费的杀价券！</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
                        <p>
                            <span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">禁止通过作弊手段进行虚假邀请注册骗取奖励，一旦被监测到，将封锁您的账号。</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
                        <p>
                            <span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">※</span><strong><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">赠送杀价券的组数依照每次活动档期而有所不同。</span></strong><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
                    </div>
                </div>
                <div data-role="collapsible">
                    <h4>闪杀活动说明</h4>
                    <div id="onlyContent" style="word-wrap:break-word; overflow:hidden;" >
                        <p>
                            <img alt="" src="https://mmbiz.qlogo.cn/mmbiz/9wsDib62U1qGoctEXe9dteSbWV88wmn7YiaQx2voaqh4b8lmWqqF77TaGAs6RMwq6vO19kGZkwYftvicRIBcUJH2w/0?wx_fmt=jpeg" style="width: 1012px; height: 756px;" />
                        </p>
                        <p>
                            <strong>&ldquo;快闪杀价&rdquo;</strong>活动为杀价王的实体杀价活动，杀友只需使用手机就可以参与快闪杀价。快闪杀价每次活动的时间、地点都不固定，杀友请随时关注杀价王页面上的快闪信息!</p>
                        <p>
                            <strong>1.如何知道时间地点</strong></p>
                        <p>
                            我们会将近期快闪杀价的详情通过APP推送信息、杀价王网页版和各平台公众号&hellip;等方式告知各位用户。</p>
                        <p>
                            <strong>2.到现场该如何玩呢?</strong></p>
                        <div>
                            <p>
                                1、扫一扫QRcode</p>
                            <p>
                                2、输入手机号码</p>
                            <p>
                                3、一人免费5次下标</p>
                            <p style="margin-left:18.0pt;">
                                出价最低且唯一者得标</p>
                            <p style="margin-left:18.0pt;">
                                &nbsp;</p>
                            <p style="margin-left:18.0pt;">
                                <span style="font-family: SimSun; font-size: 9pt;">中标后将杀品带回家</span></p>
                        </div>
                        <p>
                            &nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
        <div data-role="collapsible">
            <h2>疑难解答</h2>
            <!--<ul data-role="listview" data-theme="b">
        <li><a href="/site/faq/detail/?fid=16&20150819132106" data-transition="slide">
        中标商品可否换或变现?</a></li>
        <li><a href="/site/faq/detail/?fid=20&20150819132106" data-transition="slide">
        商品相关问题</a></li>
        <li><a href="/site/faq/detail/?fid=39&20150819132106" data-transition="slide">
        中标者之显示</a></li>
        <li><a href="/site/faq/detail/?fid=44&20150819132106" data-transition="slide">
        杀价王会不会作弊?</a></li>
        <li><a href="/site/faq/detail/?fid=8&20150819132106" data-transition="slide">
        各类名词解释</a></li>
        </ul>-->
            <div data-role="collapsible-set" data-theme="a" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
                <div data-role="collapsible">
                    <h4>中标商品可否换或变现?</h4>
                    <div id="onlyContent" style="word-wrap:break-word; overflow:hidden;" >
                        <div>商品不得要求杀价王变现或是补差价换商品。</div>
                    </div>
                </div>
                <div data-role="collapsible">
                    <h4>商品相关问题</h4>
                    <div id="onlyContent" style="word-wrap:break-word; overflow:hidden;" >
                        <p>1.商品是否为全新?</p>
                        <p>
                            杀价王严格把控货源，上架商品皆为全新商品。接受公司保固及退换货的保证服务，绝非他人使用过的二手旧品，杀价王也杜绝仿冒盗版商品，请各位杀友安心下标。<br />
                            产品的售后保固期，于产品盒内的皆有详细的说明，保固期内所有的售后服务皆受原厂或指定经销商负责。</p>
                        <p>
                            2，中标/兑换商品可以要求变成现金或是补差价换商品吗？<br />
                            商品不得要求杀价王变现或是代为变现或是补差价换商品。</p>
                        <p>
                            3. 中标商品断货怎么办?<br />
                            若中标商品因厂商供应异常或停产导致无法正常出货，中标杀友可选择兑换与商品等值的杀价币，或是其他等值商品。等值商品限一样，多不补少不退。</p>
                        <p>
                            4.商品其他税金<br />
                            除特别说明外，所有中标的商品，中标价皆不含税金、处理费。动产、不动产商品亦不含其他一切税金、手续费等等任何费用。</p>
                    </div>
                </div>
                <div data-role="collapsible">
                    <h4>中标者之显示</h4>
                    <div id="onlyContent" style="word-wrap:break-word; overflow:hidden;" >
                        <p>
                            <span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">因为每台</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">机器</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">判断秒数有所不同，因此多少都会有时间差，尤其在接近结标时竞标者众多的时候。虽然这一秒您看到目前中标者显示是您，但可能因为时间差的关系，其实目前中标者已经换人了，建议您提早布局，以免在接近结标前因为系统壅塞而失去中标的机会</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;">!</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
                        <p>
                            <span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;">&nbsp;</span></p>
                        <p>
                            <span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">结标后您可以至「最新成交」查询</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">部分</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">的出价金额下标人数，但为保障每个参与下标杀友的权益，只有</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">公布靠近中标价的部分</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">。可以进入「最新成交」页面查询。</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
                    </div>
                </div>
                <div data-role="collapsible">
                    <h4>杀价王会不会作弊?</h4>
                    <div id="onlyContent" style="word-wrap:break-word; overflow:hidden;" >
                        <p>
                            <span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">商誉是每间公司所拥有最大的资产，从在台湾经营开始，杀价王一直将「公平公正」视为网站经营内最重要的事情，因为有这不可动摇的基础与信念，透过历届</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">中标</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">杀价王见证及结标纪录，建立了相当稳固的信任基础，并以负责认真的态度来作长久经营。杀价竞标过程中，杀价王内部人员除了不可以参与竞标，也绝对看不到各位下标金额，更不会利用不法手段让杀友无法中标。在杀价王网站中所有中标者都</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">有做手机认证</span><span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">，因此其他人是无法做假。网站开站以来有超过一千支的杀价王见证影片，它的真实性、公平性已经是无庸置疑。「杀价式拍卖」是花了非常多时间与金钱才取得消费者的信任，授权在中国独家经营的，不需要利用作弊来赚钱。杀价王要创造的是消费、厂商、广告主、平台四赢的平台。</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
                        <p>
                            <img alt="" src="https://mmbiz.qlogo.cn/mmbiz/9wsDib62U1qGoctEXe9dteSbWV88wmn7Y3Y2klYgibFMal83cH0PznfX4QGoeCfGG1ibezCggO5M5GppQ61F81G8A/0?wx_fmt=jpeg" style="width: 307px; height: 222px;" /></p>
                        <p>
                            <span lang="ZH-CN" style="font-size: 9pt; font-family: SimSun;">「杀价式拍卖」是花了非常多时间与金钱才取得消费者的信任，授权在中国独家经营的，不需要利用作弊来赚钱。杀价王要创造的是消费、厂商、广告主、平台四赢的平台。</span><span lang="EN-US" style="font-size: 9pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
                    </div>
                </div>
                <div data-role="collapsible">
                    <h4>各类名词解释</h4>
                    <div id="onlyContent" style="word-wrap:break-word; overflow:hidden;" >
                        <section id="2_55" onmousedown="shifuMouseDown('2_55')">
                            <fieldset style="border: 0px; margin: 1em 0px; ">
                                <p style="white-space: normal;">
                                    <strong><span style="font-family: 新細明體, serif;">1.杀价币</span></strong><span style="font-family: 新細明體, serif;">：杀价币为杀价王网站的专属下标支付单位，可用来支付下标手续费、处理费</span>&hellip;<span style="font-family: 新細明體, serif;">等。</span></p>
                                <p style="white-space: normal;">
                                    <strong><span style="font-family: 新細明體, serif;">2.下标手续费</span></strong><span style="font-family: 新細明體, serif;">：每出价一次，会收取下标手续费，以杀价币支付，金额依每檔商品而不同。</span></p>
                                <p style="white-space: normal;">
                                    <strong><span style="font-family: 新細明體, serif;">3.中标价</span></strong><span style="font-family: 新細明體, serif;">：中标者的中标金额，可以以中标价购买中标杀品。</span></p>
                                <p style="white-space: normal;">
                                    <strong><span style="font-family: 新細明體, serif;">4.中标处理费</span></strong><span style="font-family: 新細明體, serif;">：中标后支付的处理费用，包含寄送</span>&hellip;<span style="font-family: 新細明體, serif;">等费用。</span></p>
                                <p style="white-space: normal;">
                                    <strong><span style="font-family: 新細明體, serif;">5.杀价券</span></strong><span style="font-family: 新細明體, serif;">：一檔杀品免费下标的次数，通常透过活动赠送，</span>1<span style="font-family: 新細明體, serif;">组可以下标乙次，有效时间为发送当日至该档杀品结标，逾期即失效不补回，若下标杀品流标亦不退，未得标也不回馈红利积分。</span></p>
                                <p style="white-space: normal;">
                                    <strong><span style="font-family: 新細明體, serif;">6.红利积分</span></strong><span style="font-family: 新細明體, serif;">：要是您很遗憾没有中标，我们会回馈</span>100%<span style="font-family: 新細明體, serif;">的红利积分给您，回馈比例依每檔商品而不同。红利积分可至兑换商城换取喜欢的商品。</span></p>
                                <p style="white-space: normal;">
                                    <strong><span style="font-family: 新細明體, serif;">7.兑换商城</span></strong><span style="font-family: 新細明體, serif;">：本中心的商品可以使用红利积分兑换。</span></p>
                                <p style="white-space: normal;">
                                    <strong><span style="font-family: 新細明體, serif;">8.流标</span></strong><span style="font-family: 新細明體, serif;">：商品流标的情况有两种，一是该商品未达结标条件，二是遇到系统、非人为因素</span>&hellip;<span style="font-family: 新細明體, serif;">等不可抗拒之错误时，例如</span>1)<span style="font-family: 新細明體, serif;">不可抗力，例如：自然灾害、突发战争、遭受黑客攻击；</span>&nbsp;2)<span style="font-family: 新細明體, serif;">该商品因故无法、延后出货、活动提前结束</span>&hellip;&hellip;<span style="font-family: 新細明體, serif;">等，会以流标处理。商品流标后，您所花费的杀价币会全数退还给您。</span></p>
                            </fieldset>
                        </section>
                        <p>
                            &nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
        <div data-role="collapsible">
            <h2>殺價王用戶服務協議</h2>
            <!--<ul data-role="listview" data-theme="b">
        <li><a href="/site/faq/detail/?fid=66&20150819132106" data-transition="slide">
        杀价王用户服务协议</a></li>
        </ul>-->
            <div data-role="collapsible-set" data-theme="a" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
                <div data-role="collapsible">
                    <h4>殺價王用戶服務協議</h4>
                    <div id="onlyContent" style="word-wrap:break-word; overflow:hidden;" >
                        <section id="2_224" onmousedown="shifuMouseDown(&#39;2_224&#39;)">
                            <blockquote class="yead" style="word-break:break-all; margin: 0px; padding: 15px; border-radius: 5px; border: 1px solid rgb(255, 169, 33);">
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 歡迎註冊并使用-杀价式拍卖网站“杀价王”。为了保障用户的权益，请您在注册前，详细阅读《杀价王用户服务协议》（下称“用户协议”或“本协议”）的所有内容，并特别注意本协议中以粗体表示的特别约定。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 本服务协议内容具有合同同等效力，杀价王依据本协议的规定提供服务，您必须完全同意本协议，才能够享受本网站提供的服务。您在杀价王登录即表示您完全接受本协议的全部条款。如不接受条款，不得使用本公司及本网站服务。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <br/> </p>
                                <p> <strong>服务条款的确认和接纳</strong> </p>
                                <p> 杀价王提供的服务将完全按照本协议及其他随时发布的修订版、补充文件、服务条款和操作规则严格执行。 </p>
                                <p> 用户在线点击【同意以下条款并注册】键，或在杀价王登录，应视为用户已经详细阅读本协议的全部内容，且完全同意遵守本协议的约定。 </p>
                                <p> 因以下情况，您不得使用服务且不能接受本协议。 </p>
                                <p> 尚未到达法定年龄或中国法律规定禁止与本公司签署任何具有法律效力协议或约定者。 </p>
                                <p> <strong>一、定义</strong> </p>
                                <p> 在本协议及本网站其它相关规定中所使用的下列词语，除非另有定义，应具有以下含义： </p>
                                <p> 　　1）“本网站”在无特别说明的情况下，均指“杀价王”； </p>
                                <p> 　　2）“杀友”指符合本协议所规定的条件，同意遵守本网站各种规则、条款（包括但不限于本协议），并使用本网站的个人 </p>
                                <p> 　　3）“本公司”在无特别说明的情况下，均指 “杀价王股份有限公司”； </p>
                                <p> 　　4）“杀价币”指杀友以购买、兑换或杀价王认可的其他方式取得的，在杀价王竞标平台中为用来支付下标手续费、处理费…等。 </p>
                                <p> 　　5）“下标手续费”指每出价一次，会收取下标手续费，以杀价币支付，金额依每档商品而不同。 </p>
                                <p> 　　6）“中标价”指中标者的中标金额，可以中标价购买中标商品 </p>
                                <p> 　　7）“中标处理费”指中标后支付的处理费用，包含寄送…等费用； </p>
                                <p> 　　8）“S码”指免费的下标次数，通常透过活动赠送，1组S码可以下标一次，有效时间为发送当日后30天，逾期即失效不补回，若下标商品流标亦不退，未得标也不回馈红利积分。 </p>
                                <p> 　　9）“红利积分”指要是您很遗憾没有中标，我们会赠送1:1的红利积分给您，赠送比例依每档商品而不同。红利积分可至兑换中心换取喜欢的商品。 </p>
                                <p> &nbsp; &nbsp;10）“流标”指商品流标的情况有两种，一是该商品未达结标条件，二是遇到系统、非人为因素…等不可抗拒的错误时，会以流标处理。商品流标后，您所花费的杀币会全数退还给您。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <br/> </p>
                                <p> <strong>二、用户的权利和义务</strong> </p>
                                <p> 　　1）本网站使用自己的操作系统通过国际互联网络为用户提供网络服务。用户必须： </p>
                                <p> 　　　　1.1）自行配备上网的所需设备，包括个人电脑、调制解调器或其他必备上网装置； </p>
                                <p> 　　　　1.2）自行负担个人上网所支付的与此服务有关的电话费用、网络费用。 </p>
                                <p> 　　2）基于本网站所提供的网络服务的重要性，用户同意提供详尽、准确的注册资料； </p>
                                <p> 　　 </p>
                                <p> 　　3）新注册资料，使注册资料符合及时、详尽、准确的要求，注册用户名中不能包含以下内容： </p>
                                <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3.1）以党和国家领导人或其他社会名人的真实姓名、字、号、艺名、笔名、昵称注册&nbsp; </p>
                                <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3.2）以国家组织机构或其他组织机构的名称注册；&nbsp; </p>
                                <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3.3）以与其他网友相同、相仿的名字或昵称注册；&nbsp; </p>
                                <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3.4）以网站名人相仿的名字注册；&nbsp; </p>
                                <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3.5）以带广告性质、不文明、不健康的ID和昵称注册；&nbsp; </p>
                                <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3.6）以对其他用户进行人身攻击、谩骂、诋毁称呼注册；&nbsp; </p>
                                <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3.7）以易产生歧义、引起他人误解或带有各种奇形怪状符号的ID和昵称注册； </p>
                                <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3.8）其他违反宪法和法律行政法规的。 </p>
                                <p> 　　4）用户有权根据使用需要更改注册密码，用户应对以该用户名进行的所有活动和时间负全部责任。 </p>
                                <p> 　　 </p>
                                <p> 　　5）用户不得以任何形式擅自转让或授权他人使用自己在本网站的用户帐号； </p>
                                <p> 　　 </p>
                                <p> 　　6）用户在本网站杀价中应当遵守诚实信用原则，不得从事下列扰乱网上竞拍或网上交易秩序的行为： </p>
                                <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6.1）对杀价王的网络以及服务器进行攻击造成网站响应缓慢或者无法连接； </p>
                                <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6.2）通过黑客手段窃取其他用户信息； </p>
                                <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6.3）同一自然人注册或使用多个账号； </p>
                                <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6.4）多人串通杀价等其他干扰或操纵杀价价格的行为； </p>
                                <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6.5）在杀价王上发布任何违法信息； </p>
                                <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6.6）从事与网上杀价或网上交易无关的不当行为； </p>
                                <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6.7）用交易、引诱、误导、欺骗的形式获得杀价王竞拍权利或干扰杀价王推广活动的行为； </p>
                                <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6.8）其他干扰网上杀价或网上交易的行为。 </p>
                                <p> 为了维护杀价拍卖过程中的公平性和合理性，用户需明确了解并同意，对于有以上行为的用户，本公司有权随时冻结其用户账号，并终止对上述行为的账户提供服务。 </p>
                                <p> 本网站的产品和服务仅为私人用户提供，而不是商业用户或商业分销商。本公司有权排除商业用户参与杀价，并随时关闭并终止其账号。 </p>
                                <p> 此外，对于一个家庭/宿舍/住所中拥有多个账户的用户，本公司视为同一个用户账户对其他关联账户拥有完全控制权。为维护其杀价活动的公平性，用户须明确表示同意，本网站有权要求用户放弃其他关联账户的所有权。 </p>
                                <p> 为了获得某些服务，用户可能被要求提供其个人资料，作为对本服务，或作为您持续使用服务的部分条件（如核实身份或提供联系资料）。为保证为您提供优质的服务，您需要确保您的任何登记信息是准确的，最新的。 </p>
                                <p> 如果出现用户账户异常，本网站有权临时冻结用户账号展开调查，直至异常或问题解决；或因其他原因用户使用过程中存在争议，为避免不必要争端，本网站有权暂时限制用户使用直至争议解除。 </p>
                                <p> 如果是由于以上几点情况造成杀价活动的不公平，本网站有权剥夺该用户的使用权利，并让用户承担因此引起的本网站所受的直接或间接的损失。 </p>
                                <p> 　　7）未经本网站书面允许，用户不得将本网站资料以及本网站所展示的任何信息以复制、修改、翻译等形式制作衍生作品、分发或公开展示。 </p>
                                <p> 　　8）用户同意接收来自本网站的信息，包括但不限于活动信息、交易信息、促销信息等。 </p>
                                <p> 　　9）用户不得使用以下方式登录网站或破坏网站所提供的服务：　　 </p>
                                <p> 　　　　 </p>
                                <p> 　　　　9.1）以任何机器人软件、蜘蛛软件、爬虫软件、刷屏软件或其它自动方式访问或登录本网站； </p>
                                <p> 　　　　9.2）通过任何方式对本公司内部结构造成或可能造成不合理或不合比例的重大负荷的行为； </p>
                                <p> 　　　　9.3）通过任何方式干扰或试图干扰网站的正常工作或网站上进行的任何活动。 </p>
                                <p> &nbsp; &nbsp;10）用户有义务在收到中标商品后，拍摄20秒中标影片，并交付杀价王影片连结或影片档案，若违规者则帐户将封锁。 </p>
                                <p> 用户因违反本协议，或其他事由，被本网站中断、终止、 限制使用权限的；并赔偿公司因违反协议造成的损失后，可以使用其账户内剩余的杀价币数，以保价购买网站指定的商品。购买前，用户应向本网站客服询问目标商品的库存、价格等相关情况。因用户未询问目标商品情况，导致购买失败的，本网站不承担任何责任。 </p>
                                <p> <strong>三、杀价王的权利和义务</strong> </p>
                                <p> •<span class="Apple-tab-span" style="white-space: pre;"> </span>本网站不是传统意义上的“拍卖商”。本网站供用户杀价的目的是以中标价购买该产品的权利，而非该产品。用户可以通过本网站认可的方式获得点数，从而参与杀价。用户每次杀价，将消耗一定数量的点数 </p>
                                <p> •<span class="Apple-tab-span" style="white-space: pre;"> </span>用户在杀价成功后，即获得以中标价购买相关产品的权利。用户可以通过支付成交价，购买相关产品。参与杀价而没有杀价成功的用户，我们会赠送1:1的红利积分给您。赠送比例依每档商品而不同。红利积分可至兑换中心换取喜欢的商品。 </p>
                                <p> •<span class="Apple-tab-span" style="white-space: pre;"> </span>用户在中标结帐后，杀价王有权将用户帐号暂时封锁，待收到用户的中标影片，方能将帐户解锁。 </p>
                                <p> •<span class="Apple-tab-span" style="white-space: pre;"> </span>用户之中标影片，杀价王拥有使用、编辑、宣传的权利。 </p>
                                <p> •<span class="Apple-tab-span" style="white-space: pre;"> </span>本网站不公开用户的姓名、地址、电子邮箱、电话， 除以下情况外： </p>
                                <p> 1.用户授权本网站透露这些信息； </p>
                                <p> 2.法律、行政法规、规章或其他法律文件要求本网站提供用户的个人资料； </p>
                                <p> 3.司法、行政部门要求本网站提供用户的个人资料。 </p>
                                <p> •<span class="Apple-tab-span" style="white-space: pre;"> </span>本网站有权利在下列情况，取消用户以中标价购买商品的权利： </p>
                                <p> 1.用户违反了本协议规定的义务 </p>
                                <p> 2.杀价因为各种原因非正常结束，包括但不限于： </p>
                                <p> 1)不可抗力，例如：自然灾害、突发战争等； </p>
                                <p> 2)本网站遭受黑客攻击。 </p>
                                <p> •<span class="Apple-tab-span" style="white-space: pre;"> </span>用户提供的注册资料违反本协议，或未达到本协议的要求的，本网站有权对该用户采取下列措施： </p>
                                <p> 1.全部或部分限制该用户使用杀价王相关服务的权利； </p>
                                <p> 2.中断或终止该用户使用杀价王相关服务的权利。 </p>
                                <p> 3.本协议所述“使用杀价王服务的权利”，包括但不限于本协议所授予的用户权利。 </p>
                                <p> •<span class="Apple-tab-span" style="white-space: pre;"> </span>本网站有权在不通知用户的前提下删除或采取其他限制性措施处理下列信息： </p>
                                <p> 1.与网上杀价无关或不是以杀价为目的； </p>
                                <p> 2.存在恶意杀价或其他试图扰乱正常交易秩序因素； </p>
                                <p> 3.该信息违反公共利益或可能严重损害本网站和其他用户合法利益的。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <strong>四、商品相关</strong> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 本网站将尽最大努力保证用户所参与杀价和兑换中心的商品与网站的描述一致。本网站有权在发现网站上的商品及订单有明显错误或缺货的情况下，单方面撤回以及修改任何要约或承诺。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 本网站上有可能存在不准确、遗漏及排版错误，可能涉及到产品说明，定价和可用性信息。我公司有权更正任何错误，改变或更新，恕不另行通知。如果您无法接受任何关于产品信息的变更，您可根据我们退货政策返还商品。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 任何换货/退款请求需在7日内先以书面形式联系本公司（以信件或电子邮件）收到日期为准，您必须保证商品仍然包装完整并且未使用。请注意，杀价过程中费用和退货退款的费用并不列入换货/退款之内。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <strong>五、杀价和出价</strong> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal; margin-left: 18pt;"> 用户参与本网站的杀价，必须通过本网站认可的方式，先行购买、兑换或以其他本公司认可的方式取得本网站的杀价币。本网站保留修改杀价币购买价格的权利。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 用户在对某件商品进行每次杀价，将会消耗用户账户内一定额度的“杀价币”、“ S码”杀价消耗的点数将会根据商品的不同而异，并于相关杀价页面进行说明。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> · &nbsp;用户每次对某件商品进行杀价，则表示该用户同意遵守本协议权利与义务针对该商品投标。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> · &nbsp;出价方式可使用 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> &nbsp; &nbsp; &nbsp;1)&nbsp;&nbsp; 单次出价：一次可出一次价 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> &nbsp; &nbsp; &nbsp;2)&nbsp;&nbsp; 连续出价：一次最多可出100次价；只能以杀价币支付，无法使用S码；结标前10分钟，将不提供连续下标功能 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 用户需在指定时间内内行使购买权利并以及进行支付。为避免歧义，每档商品只有一个用户有权利以中标价购买此商品。对于网站指定的一些商品，其他参与用户可以至兑换中心买。（参见“兑换中心”） </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> · 本网站不提供将用户帐户内的点数的兑现功能。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <br/> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <strong>六、兑换中心</strong> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 参与杀价而没有杀价成功的用户，我们会赠送1:1的红利积分给您。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 红利积分的赠送比例依照每档商品将会有所不同，赠送比例为0%-100%以上不等。用户每花1元用于竞拍，未得拍后杀价王就会赠送1红利积分至您的账户，用户可在兑换商城使用。红利积分不能兑现，不可返还成杀币或转让。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> &nbsp; &nbsp; 1)本公司有权更改红利积分的使用方式与期限，如超过有效期限未使用的红利积分将自动失效，用户不得以任何理由要求杀价王继续提供折扣、抵用现金或恢复未使用的红利积分； </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> &nbsp; &nbsp; 2)杀价王保留随时变更、修改或终止本活动及约定条款的权利，若有异动，修改后的活动内容及约定条款将公布在杀价王网站上，不再另行作个别通知。若您于任何修改或变更后继续使用本服务，视为您已阅读、了解并同意接受该等修改或变更； </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <br/> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <strong>七、退款条件</strong> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 用户第一次购买“杀价币”且未使用的，有权申请本网站退款。本网站在根据用户的要求退款后，将收回对应的“杀价币”。用户一旦使用“杀价币”或由充值所赠送S码，即视为放弃退款的权利。用户使用“杀价币”或由充值所赠送S码后再向本网站要求退还的，本网站有权拒绝。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <br/> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <strong>八、送货及费用</strong> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 本网站将会把产品送到用户所指定的送货地址。杀价王列出的送货时间为参考时间，参考时间的计算是根据库存状况、正常的处理过程和送货时间、送货地点的基础上估计得出的。送货费用根据用户选择的配送方式的不同而异。配送时间与参考时间不同的情况。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 用户应提供真实准确的姓名、送货地址及联系方式。因如下情况造成订单延迟或无法配送等，本网站将不承担责任： </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> · &nbsp; 用户提供错误信息和不详细的地址。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> · &nbsp;货物送达无人签收，由此造成的重复配送所产生的费用及相关的后果。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> · &nbsp;不可抗力，例如：自然灾害、交通戒严、突发战争等。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 除非另有说明，送货费用不包括在竞拍成交价以及保价购买的保价里。用户需额外支付送货费用。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <br/> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <strong>九、服务条款的变更及补充</strong> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 本网站将可能不定期的修改本用户协议的有关条款，一旦条款及服务内容产生变动，本网站将会在指定页面上提示修改后的内容。用户不同意本网站对条款内容所作修改的，可以主动取消获得的网络服务。如果用户继续使用本网站的服务，则视为接受服务条款的变动。本网站保留随时修改或中断服务而不需告知用户的权利。 本网站行使修改或中断服务的权利，不需对用户或第三方负责。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 您需要理解并同意，如果您使用本协议变更日期后的服务，本公司将视为您接受更新后的服务条款。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <br/> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <strong>十、用户隐私制度</strong> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 本网站尊重用户的个人隐私。本网站不会在未经合法用户授权时公开、编辑或透露其注册资料及保存在本网站中的非公开内容，但下列情形除外： </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> · 遵守有关法律规定，遵从本网站合法服务程序。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> · 保持维护本网站的商标所有权。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> · 在紧急情况下竭力维护用户个人和社会大众的隐私安全。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> · 符合其他相关的要求。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <br/> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <strong>十一、 拒绝提供担保</strong> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 用户个人对网络服务的使用承担风险。本网站对此不作任何类型的担保，不论是明确的或隐含的，但是不对商业性的隐含担保、特定目的和不违反规定的适当担保作限制。本网站不担保服务一定能满足用户的要求，也不担保服务不会受中断，对服务的及时性，安全性，出错发生都不作担保。本网站对在本网站上得到的任 何商品购物服务或交易进程，不作担保。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <br/> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <strong>十二、 免责条款</strong> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 本网站对任何不正当使用网络服务，在网上购买商品或进行同类型服务，在网上进行交易，非法使用网络服务或用户传送的信息有所变动所引起的直接、间接、偶然、特殊及继起的损害不负责任。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 因为通讯技术/互联网网络的不确定因素，我们无法保证能够明确告知您对于任何网络情况的表述，以及我们是否能够及时收到您的杀价。因为这取决多种我们无法控制的因素，其中包括您的网络连接设备和您的ISP服务商等。您需要同意，任何因网络因素所造成的任何用户损失及索赔要求或诉讼请求，本公司有权拒绝。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <br/> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <strong>十三、 对用户信息的存储和限制</strong> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 本网站不对用户所发布信息的删除或储存失败负责。本网站有判定用户的行为是否符合本网站服务条款的要求和精神的保留权利，如果用户违背了服务条款的规定，本网站有中断对其提供网络服务的权利。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <br/> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <strong>十四、 用户管理</strong> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 用户单独承担发布内容的责任。用户对服务的使用是根据所有适用于本网站的国家法律、地方法律和国际法律标准的。用户必须遵循： </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> · 从中国境内向外传输技术性资料时必须符合中国有关法规。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> · 使用网络服务不作非法用途。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> · 不干扰或混乱网络服务。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> · &nbsp;遵守所有使用网络服务的网络协议、规定、程序和惯例。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 用户须承诺不传输任何非法的、骚扰性的、中伤他人的、辱骂性的、恐性的、伤害性的、庸俗的，淫秽等信息资料。另外，用户也不能传输何教唆他人构成犯 罪行为的资料；不能传输助长国内不利条件和涉及国家安全的资料；不能传输任何不符合当地法规、国家法律和国际法律的资料。禁止未经许可而非法进入其它电脑系统。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 若用户的行为不符合以上提到的服务条款，本网站将有权立即取消用户服务帐号。用户需对自己在网上的行为承担法律责任。用户若在本网站上散布和传播反动、色情或其他违反国家法律的信息，本网站的系统记录有可能作为用户违反法律的证据。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <br/> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <strong>十五、保障用户</strong> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 用户同意保障和维护本网站全体成员的利益，负责支付由用户使用超出业务范围引起的律师费用，违反服务条款的损害补偿费用等。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <br/> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <strong>十六、服务的终止</strong> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 用户或本网站可随时根据实际情况中断一项或多项网络服务。本网站不需对任何个人或第三方负责而随时中断服务。用户对后来的条款修改有异议，或对本网站的服务不满，可以行使如下权利： </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> · 停止使用本网站的网络服务。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> · 通告本网站停止对该用户的服务。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 结束用户服务后，用户使用本公司服务的权利马上终止。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 本网站没有义务传送任何未处理的信息或未完成的服务给用户或第三方。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 您需要理解并同意，如果您使用该条款变更日期后的服务，本公司将视为您接受本条款 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <br/> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <strong>十七、通告</strong> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 所有发给用户的通告都将通过指定页面或以公告或电子邮件或常规的信件传送。用户协议条款的修改、服务变更、或其它重要事件的通告都会以此形式进行。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <br/> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <strong>十八、参与广告策划</strong> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 用户在发表的信息中加入宣传资料或参与广告策划，或在本网站的免费服务上展示他们的产品，或其他任何促销方法，包括运输货物、付款、服务、商业条件、担保及与广告有关的描述都只是在相应的用户和广告销售商之间发生。本网站不承担任何责任，本网站没有义务为这类广告销售负任何一部分的责任。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <br/> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <strong>十九、网络服务内容的所有权</strong> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 本网站定义的网络服务内容包括：文字、软件、声音、图片、录象、图表、广告中的全部内容；电子邮件的全部内容；本网站为用户提供的其他信息。所有这些内容受版权、商标、标签和其它财产所有权法律的保护。用户只能在本网站和广告商授权下才能使用这些内容，而不能擅自复制、再造这些内容、或创造与内容有关的派生产品。本网站所有的文章版权归原文作者和本网站共同所有，任何人需要转载本网站的文章，必须征得原文作者以及本网站授权。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <br/> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <strong>二十、责任限制</strong> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 如因不可抗力或其他本网站无法控制的原因使网站服务无法正常使用导致网上交易无法完成或丢失有关的信息、记录等，本网站不承担责任。本网站将尽可能合理地协助处理善后事宜，并努力使用户免受经济损失。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 除了本网站的使用条件中规定的其它限制和除外情况之外，对于因交易而引起的或与之有关的任何直接的、间接的、特殊的、附带的、后果性的或惩罚性的损害，或任何其它性质的损害，本网站不承担责任。本网站的全部责任，不论是合同、保证、侵权(包括过失)项下的还是其它的责任，均不超过用户所购买的与该索赔有关的商品价值额。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <br/> </p> <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <strong>二十一、知识产权</strong> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 杀价王上所有的内容及资料，其著作权、专利权、商标专用权及其它知识产权，均为杀价王所有，除非事先经杀价王合法授权，任何人皆不得擅自以任何形式使用，否则杀价王有权立即终止向用户提供产品和服务，并依法追究其法律责任。此外，在用户使用本网站过程中产生并储存于杀价王服务器中的 任何数据信息（包括但不限于帐号数据信息、角色数据信息、等级物品数据信息等，但用户的姓名、身份证号、电话号码等个人身份数据信息除外）的所有权均属于杀价王，用户在按照本服务条款正常使用本网站的过程中对属于其用户帐号的数据信息享有有限使用权。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 杀价王的内容及程序的知识产权均为杀价王所有，未经杀价王授权，任何人不得复制、反编译（de-compile）、反汇编（disassemble）任何功能或程序，不得对任何功能或程序进行反向工程（reverse engineering）。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <br/> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> <strong>二十二、一般法律争议</strong> </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 本协议的订立、履行、解释、效力及争议解决均适用于中华人民共和国相关法律。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 如果任何中国具有司法裁定权的法律机构，规定本协议中部分条款无效，则本条款失效，而不影响本协议的其他部分。本协议的其余部分将继续有效并依据中国相关法律执行。 </p>
                                <p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; white-space: normal;"> 因使用本网站服务引起的任何争议，双方应友好协商解决；如存在争议，任何一方均可在本站所在地人民法院提起诉讼。 </p>
                                <p class="ue_t"> <br/> </p>
                            </blockquote>
                        </section>
                        <p> <br/> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /article -->