<div class="article">
    <div class="saja_lists_box">
        <!-- 下標商品 -->
        <div class="list-group">
            <div class="list-title-group">
                <a class="list-title-link d-flex align-items-center" href="javascript:void(0);" onClick="ReverseDisplay('faq_1',this,'blod');">
                    <div class="list-titlebox d-inlineflex align-items-center mr-auto">
                        <div class="list-title">下標商品</div>
                    </div>
                    <div class="list-rtxtbox d-inlineflex align-items-center">
                        <div class="r-arrow"></div>
                    </div>
                </a>
            </div>
            <div id="faq_1" class="linkBox" style="display: none;">
                <div class="list-collapse">
                    <div id="onlyContent">
                        <p class="list-collapse-title">下標規則</p>
                        <p>下標方式分為單次下標、包牌下標及電腦隨機產生三種，包牌下標可設定下標的金額範圍，隨機產生則可設定下標的標數由系統隨機幫您產生金額。每次下標標數不得超過100標，依造商品的不同收取下標金額或手續費，下標後系統會提示目前商品下標的情況，讓你可以更準確的下標！</p>
                        <p>如在時間截止後未得標，全部支出的手續費將轉為鯊魚點，存入你的帳戶中。</p>
                        <div class="faq-img">
                            <img src="<?PHP echo APP_DIR; ?>/static/img/faq/faq1-1.png" alt="">
                        </div>
                        <div class="faq-img">
                            <img src="<?PHP echo APP_DIR; ?>/static/img/faq/faq1-2.png" alt="">
                        </div>
                        <div class="faq-img">
                            <img src="<?PHP echo APP_DIR; ?>/static/img/faq/faq1-3.png" alt="">
                        </div>

                        <p class="list-collapse-title">結標規則</p>
                        <p>在時間截止時，下標總人數達最低下標人數（每個商品最低下標人數皆不同），由出價最低且唯一者得標，得標者需在結帳時支付結標處理費。若在時間截止時總下標人數如未達最低下標人數則為流標，會員下標時支付的金額將全數退回殺價幣。</p>
                        <div class="faq-img">
                            <img src="<?PHP echo APP_DIR; ?>/static/img/faq/faq1-4.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 殺價幣 -->
        <div class="list-group">
            <div class="list-title-group">
                <a class="list-title-link d-flex align-items-center" href="javascript:void(0);" onClick="ReverseDisplay('faq_2',this,'blod');">
                    <div class="list-titlebox d-inlineflex align-items-center mr-auto">
                        <div class="list-title">殺價幣</div>
                    </div>
                    <div class="list-rtxtbox d-inlineflex align-items-center">
                        <div class="r-arrow"></div>
                    </div>
                </a>
            </div>
            <div id="faq_2" class="linkBox" style="display: none;">
                <div class="list-collapse">
                    <div id="onlyContent">
                        <p class="list-collapse-title">什麼是殺價幣？</p>
                        <p>殺價幣為殺價王下標的代幣，須先購買殺價幣才能進行下標。</p>

                        <p class="list-collapse-title">如何購買殺價幣？</p>
                        <p>請登入殺價王後，進入【會員專區】 點選 【購買殺價幣】，選擇欲購買的額度即可購買。</p>
                        <div class="faq-img">
                            <img src="<?PHP echo APP_DIR; ?>/static/img/faq/faq2-1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 殺價券 -->
        <div class="list-group">
            <div class="list-title-group">
                <a class="list-title-link d-flex align-items-center" href="javascript:void(0);" onClick="ReverseDisplay('faq_3',this,'blod');">
                    <div class="list-titlebox d-inlineflex align-items-center mr-auto">
                        <div class="list-title">殺價券</div>
                    </div>
                    <div class="list-rtxtbox d-inlineflex align-items-center">
                        <div class="r-arrow"></div>
                    </div>
                </a>
            </div>
            <div id="faq_3" class="linkBox" style="display: none;">
                <div class="list-collapse">
                    <div id="onlyContent">
                        <p class="list-collapse-title">什麼是殺價券？</p>
                        <p>參與活動可得到商品殺價劵，拿到免費的下標次數，一張殺價券可以下標該限定商品一次，一樣的商品可以使用多張殺價劵。殺價券請在該商品結標前使用，逾期則失效不予補回，若下標商品流標，殺價券不做退還，若未得標，殺價券下標部分也不再回饋鯊魚點，亦不得換成殺價幣。</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 鯊魚點 -->
        <div class="list-group">
            <div class="list-title-group">
                <a class="list-title-link d-flex align-items-center" href="javascript:void(0);" onClick="ReverseDisplay('faq_4',this,'blod');">
                    <div class="list-titlebox d-inlineflex align-items-center mr-auto">
                        <div class="saja_list_title">鯊魚點</div>
                    </div>
                    <div class="list-rtxtbox d-inlineflex align-items-center">
                        <div class="r-arrow"></div>
                    </div>
                </a>
            </div>
            <div id="faq_4" class="linkBox" style="display: none;">
                <div class="list-collapse">
                    <div id="onlyContent">
                        <p class="list-collapse-title">什麼是鯊魚點？</p>
                        <p>使用殺價幣下標商品，如未得標，我們將贈送你與下標的殺價幣金額相同的鯊魚點，可將得到的鯊魚點至鯊魚商城和所有相關合作廠商使用。鯊魚點不可兌現、返還成殺價幣或轉讓，鯊魚點不足時，亦無法以殺價幣補足剩餘部分。</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 分享QR code拿殺價劵 -->
        <div class="list-group">
            <div class="list-title-group">
                <a class="list-title-link d-flex align-items-center" href="javascript:void(0);" onClick="ReverseDisplay('faq_5',this,'blod');">
                    <div class="list-titlebox d-inlineflex align-items-center mr-auto">
                        <div class="list-title">分享QR code拿殺價劵</div>
                    </div>
                    <div class="list-rtxtbox d-inlineflex align-items-center">
                        <div class="r-arrow"></div>
                    </div>
                </a>
            </div>
            <div id="faq_5" class="linkBox" style="display: none;">
                <div class="list-collapse">
                    <div id="onlyContent">
                        <p>成為殺價王會員後，可分享自己的專屬QR code給朋友，邀請朋友加入殺價王並驗證手機成功，並儲值指定金額後，就可以獲得免費的殺價券！禁止通過作弊手段進行虛假邀請註冊騙取獎勵，一旦被監測到，將封鎖您的賬號。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /article -->