
body {
    background-image: url("../img/looping-bg.jpg");
}
.form-signin input[type="text"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}
.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}
.form-signin .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}
.footer {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #777;
    background-color: #FFF;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 0px;
}
