.container{
	position: relative;
}
#headerWarp{
	position: fixed;
    width: 100%;
    top: 0;
	z-index: 999;
}
#headerWarp .logo{
	display: table;
	margin: auto;
}
#headerWarp .floatLogo{
	position: absolute;
	left: 10px;
	display: inline-block;
	height: 100%;
}
#headerWarp .floatLogo:before{
	content: '';
	margin-left: -1px;
	height: 100%;
	width: 1px;
	display: inline-block;
	vertical-align: middle
}
#headerWarp .floatLogo img{
	vertical-align: middle;
}
@media(max-width:768px){
	#headerWarp .floatLogo{
		display: none;
	}
}