<div class="article">
    <div class="saja_lists_box">
        <!-- 入門篇 -->
        <div class="list-group">
            <div class="list-title-group">
                <a class="list-title-link d-flex align-items-center" href="javascript:void(0);" onClick="ReverseDisplay('how',this,'blod');">
                    <div class="list-titlebox d-inlineflex align-items-center mr-auto">
    <!--
                        <div class="saja_list_icon">
                            <img class="img-fluid" src="<?php echo BASE_URL.APP_DIR;?>/static/img/lowbook.png">
                        </div>
    -->
                        <div class="list-title">入門篇</div>
                    </div>
                    <div class="list-rtxtbox d-inlineflex align-items-center">
    <!--                    <div class="saja_list_rtxt"></div>-->
                        <div class="r-arrow"></div>
                    </div>
                </a>
            </div>
            <div id="how" class="linkBox" style="display:none">
                <div class="list-collapse">
                    <div id="onlyContent">
                        <p class="list-collapse-title">1.先瞭解「殺價式購物」的規則</p>
                            <p>參與下標前，請務必先瞭解什麼是「最低且唯一」?「流標」? 「殺價幣」?「殺價券」? 如果以上問題都不知道的話，請先瞭解清楚，不要急著下標。</p>

                        <p class="list-collapse-title">2.利用流標退點來練功</p>
                            <p>剛加入的殺友，總是會因為不熟悉殺價規則與技巧，而不容易得標。由於殺價王網站有一條「流標退回」的規則，因此建議新進殺友，先利用剩餘次數較高、較容易流標的商品下手，這樣等於可以免費下標練習。又不會損失殺價幣。</p>

                        <p class="list-collapse-title">3.控制時間及練習下標速度</p>
                            <p>可利用流標退點的商品來練習下標速度，如果已經布好局，接下來就是算好截標時間、下標速度，在截標前，突然殺出，贏得最後的勝利。</p>

                        <p class="list-collapse-title">4.觀察之前的成功殺價案例</p>
                            <p>新手可以多觀察之前的得標歷史紀錄，參考該相同或相類似商品最後的得標金額，大概落在哪些區段，可以以該區段做為下目標參考。</p>

                        <p class="list-collapse-title">5.保持良好殺價心態</p>
                            <p>當您真正要成為一位殺友，請您務必要先保持一個健康而且良好的心態，殺價式購物購物，並不是比誰的錢多誰出的價格高，而是一個講求技巧的購物購物方式。因此並沒有任何人能百分之百中目標，如果得標，當然是很開心愉快的事，如果沒有搶到標，請您也不用擔心，該次下標所損失的殺價幣，殺價王網站會贈送等比例的鯊魚點給您。</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 進階篇 -->
        <div class="list-group">
            <div class="list-title-group">
                <a class="list-title-link d-flex align-items-center" href="javascript:void(0);" onClick="ReverseDisplay('lv2',this,'blod');">
                    <div class="list-titlebox d-inlineflex align-items-center mr-auto">
    <!--
                        <div class="saja_list_icon">
                            <img class="img-fluid" src="<?php echo BASE_URL.APP_DIR;?>/static/img/mediumbook.png">
                        </div>
    -->
                        <div class="list-title">進階篇</div>
                    </div>
                    <div class="list-rtxtbox d-inlineflex align-items-center">
                        <div class="r-arrow"></div>
                    </div>
                </a>
            </div>
            <div id="lv2" class="linkBox" style="display:none">
                <div class="list-collapse">
                    <div id="onlyContent">
                        <p class="list-collapse-title">1.利用商品價格與標金，估算成交金</p>
                            <p>利用商品建議售價/標金，大概可以估算得標金的落點，例如:一個商品建議售價5,000元，每次下標所需殺價幣點數是5元，那初估落點大概會是在1-1,000元以下，這樣一來就不會出3,000元這種離譜的金額。</p>

                        <p class="list-collapse-title">2.善用順位提示，調整下標金額</p>
                            <p>每次下標，系統都會提示「當下出價之順位」，多利用順位提示去推估，修正下次的下標金額。</p>

                        <p class="list-collapse-title">3.把握時機，備足殺幣</p>
                            <p>常常有殺友在最後廝殺的時候，發現殺價幣不足，到後來又來不及購買殺價幣，造成許許多多的遺憾，因此建議您提早儲存殺幣，以備不時之需。</p>

                        <p class="list-collapse-title">4.殺價券(免費下標) </p>
                            <p>「殺價券」為殺價王或是合作商家提供的免費下標次數，積極參加站內外活動賺取「殺價券」，替自己增加免費下標次數，增加下標籌碼，減少殺價幣支出。</p>
                            <p> PS:殺價券只能使用在指定殺品上，若殺品時間到沒有使用則作廢請務必在殺品結標前使用完畢。您可以到會員→殺價券→收取明細當中查詢是哪一檔殺品能夠使用殺價券免費下標。</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 高級篇 -->
        <div class="list-group">
            <div class="list-title-group">
                <a class="list-title-link d-flex align-items-center" href="javascript:void(0);" onClick="ReverseDisplay('lv3',this,'blod');">
                    <div class="list-titlebox d-inlineflex align-items-center">
    <!--
                        <div class="saja_list_icon">
                            <img class="img-fluid" src="<?php echo BASE_URL.APP_DIR;?>/static/img/highbook.png">
                        </div>
    -->
                        <div class="list-title">高級篇</div>
                    </div>
                    <div class="list-rtxtbox d-inlineflex align-items-center">
                        <div class="r-arrow"></div>
                    </div>
                </a>
            </div>
            <div id="lv3" class="linkBox" style="display:none">
                <div class="list-collapse">
                    <div id="onlyContent">
                        <p class="list-collapse-title">1.觀察潛在對手行為</p>
                            <p>所謂「知己知彼、百戰百勝」，目前站內有經驗的高手還不多，您可以至"最新成交"查詢目前站上的高手有哪些，觀察潛在對手他們的出價習慣、得標紀錄以及商品喜好類別，甚至觀察找出哪些人可能是同夥的，以便在廝殺時作為攻防之參考。</p>

                        <p class="list-collapse-title">2.欺敵戰術</p>
                            <p>提早下標、由上往下下標，默默的低調、潛伏，讓目前得標者不容易察覺到有你的存在，也比較不容易提早曝光，最後你最後再出奇不意的殺出，讓對手措手不及，或是也可以利用取相似昵稱的方式欺敵，讓其他對手以為你是另一幫人。</p>

                        <p class="list-collapse-title">3.預留伏筆、反敗為勝</p>
                            <p>可在一個區段留一些空格，雖然目前得標者都不是你，但是在截標前將空格填滿，反敗為勝，可以欺敵又能省掉不少銀彈。</p>

                        <p class="list-collapse-title">4.攻擊後，勿忘防守</p>
                            <p>當您攻下其他人，成為目前得標者後，切勿忘記!在時間還沒有結束前，隨時都有可能殺出程咬金，一定要持續下標防守。不要以為你已經得標就不繼續下標。常常可以看到最後10秒得標者被換掉的。</p>

                        <p class="list-collapse-title">5.單雙大作戰</p>
                            <p>選定一個區段下標其特定數列如1、3、5、7、9...或2、4、6、8攻擊方式，等時間快終止時，趕快從後頭往前補洞避免產生遺珠之憾，當然可以在尾段下一些連續數位當作保險區段，不僅省時又可以省下不少殺價幣喔!!</p>

                        <p class="list-collapse-title">6.機密偵察兵</p>
                            <p>殺價的過程中情報是非常重要的，可在不同時間下分別下一點標次當作浮標，觀察目前得標者，如得標者換成自己即可知道，目前得標價坐落在何處，即可省下許多不必浪費的子彈，最後集中兵馬鎖定區段，殺個片甲不留!!</p>

                        <p class="list-collapse-title">7.呼朋引伴，團結力量大</p>
                            <p>集結親朋好友手邊所有的「殺價券」、「殺價幣」資源鎖定目標商品，集中火力同時向對手開火，殺他個片甲不留，增加中目標概率。</p>

                        <p class="list-collapse-title">8.設定停損，理性進退</p>
                            <p>建議各位殺友，每檔商品要設置一個自己可接受的停損點，切勿漫無停損的搶標。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /article -->

<!--  廣告版位  -->
<div class="lModalBox"></div>
