body {
    color: #646464;
    background-color: #222;
}
#page-wrapper {
    padding: 0 15px;
}

.footer {
    padding: 8px;
    color: #999999;
}

.highlight{
    background-color: #FFFC60;
}

#data-form div.error {
    color: #a94442;
}

/* 郵遞區號套件 */
#twzipcode {
    margin-bottom: 3px;
}
#twzipcode select {
    min-width: 120px;
}

#twzipcode input {
    background-color: #eee;
    width: 60px;
    text-align: center;
}



/** media upload **/
.image-block {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 2px dashed #dcdee3;
    -webkit-border-radius: 2px;
    color: #dcdee3;
    text-align: center;
    vertical-align: middle;
    border-radius: 6px;
    cursor: pointer;
}

.image-block#coller {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 2px dashed #dcdee3;
    -webkit-border-radius: 2px;
    color: #dcdee3;
    text-align: center;
    vertical-align: middle;
    border-radius: 6px;
    cursor: pointer;
}

.image-block .close {
    position: relative;
    top: -12px;
    right: 9px;
    color: red;
    opacity: 0.4;
    width: 20px;
    height: 20px;
    margin-bottom: -20px;
    margin-right: -20px;
}
.image-block .close:hover {
    opacity: 0.7;
}
.image-block div img{
    width: 100px;
    height: 100px;
    margin-top: -8px;
    margin-left: -2px;
}
.image-block div#coller img{
    width: 50px;
    height: 50px;
    margin-top: -8px;
    margin-left: -2px;
}
.image-block div img#coller{
    width: 50px;
    height: 50px;
    margin-top: -8px;
    margin-left: -2px;
}

/**  dataTable **/
#dataTables {
    border: 1px solid #ddd;
}
#dataTables .img-rounded {
    width: 100px;
    height: 100px;
}
#dataTables.table td,
#dataTables.table th {
    /* padding: 8px; */
}

#dataTables.table tr.viewd td{
}

#dataTables.table tr.unview td{
    font-weight: 600;
    color: #555;
}
#dataTables .img-rounded{
    max-height: 60px;
}


/** jquery ui **/
.ui-datepicker-inline {
    width: 100%;
}

/** Bootstrap **/
a {
    /* color: #337ab7; */
    color: #1d9d74;
    text-decoration: none;
}

a:hover, a:active, a:focus{
    color: #107C56;
}
.nav .dropdown.open > a,
.nav .dropdown > a:hover,
.nav .dropdown > a:active,
.nav .dropdown > a:focus {
    background-color: #080808;
    color: #5BD8AC;
}
.dropdown-menu {
    margin-top: 0px;
}
.page-header .breadcrumb {
    background-color: #fff;
    display: inline;
    font-size: 11px;
}
.table td,
.table th {
    vertical-align:middle !important;
}
div.form-group.required .control-label:not(span)::before {
    color: #f00;
    content: "* ";
    font-weight: bold;
}
.panel-body .filter-group{
    margin-bottom: 15px;
}

.panel-body .buttom-group {
    margin-bottom: 15px;
    text-align: right;
}
.panel-body .datepicker-inline,
.panel-body .datepicker-inline .table-condensed{
    width: 100%;
}
.page-header {
    border: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.page-header h1{
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
}
.page-header .btn{
    margin-top: 15px;
}

.form-inline .form-group{
    margin-right: 10px;
}
/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-left > .tab-content .tab-pane,
.tabs-right > .tab-content .tab-pane{
    display: inline-block;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

/** sidebar **/
.sidebar {
  display: block;
  float: left;
  width: 250px;
  color: #aaa;
}
.sidebar ul li {
    border: 0px;
}
.sidebar ul li a.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #25EAA8;
}
.sidebar .nav-second-level li a {
}

.sidebar .nav-second-level li a:before {
    /* content: "\f101"; */
    font-weight: bold;
}
/* .sidebar .nav-second-level li a.active{ */
/*  padding-left: 35px; */
/* } */

.content {
  display: block;
  overflow: hidden;
  width: auto;
}

.sidebar-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(left, color-stop(#333333 10px), color-stop(#222222 10px));
  background-image: linear-gradient(to right, #1d9d74 10px, #222222 10px);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);
}
.sidebar-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav a,
.sidebar-nav a:hover,
.sidebar-nav a:focus,
.sidebar-nav a:active {
  outline: none;
}
.sidebar-nav ul li,
.sidebar-nav ul a {
  display: block;
}
.sidebar-nav ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.sidebar-nav ul a {
  padding: 10px 20px;
  color: #aaa;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.sidebar-nav ul a:hover,
.sidebar-nav ul a:focus,
.sidebar-nav ul a:active {
  color: #fff;
  text-decoration: none;
}
.sidebar-nav ul ul a {
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.1);
}
.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li a:active,
.sidebar-nav ul ul a:hover,
.sidebar-nav ul ul a:focus,
.sidebar-nav ul ul a:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidebar-nav-item {
  padding-left: 5px;
}
.sidebar-nav-item-icon {
  padding-right: 5px;
}


/* jquery mulitple */
.custom-header {
    background: #333 none repeat scroll 0 0;
    color: #fff;
    padding: 3px;
    text-align: center;
}

/* list start */
.form-inline .form-group{
    margin-right: 10px;
}
.form-inline .text-right .form-group{
    margin-right: 0px;
}
#filter-form{
    /* margin-bottom: 10px; */
}
#filter-form div[class="col-lg-12"],
#filter-form div[class="col-lg-6"],
#filter-form div[class="col-lg-5"],
#filter-form div[class="col-lg-4"]{
    margin-bottom: 8px;
}
#filter-form div[class="col-xs-12"],
#filter-form div[class="col-xs-6"],
#filter-form div[class="col-xs-6 text-right"],
#filter-form div[class="col-xs-5"],
#filter-form div[class="col-xs-4"]{
    margin-bottom: 8px;
}

#filter-form input,
#filter-form select{
    border-radius: 3px;
    font-size: 12px;
    height: 30px;
    line-height: 1.5;
    padding: 5px 10px;
}
#list-form .table {
    margin-bottom: 8px;
}
#list-form .table thead th.sorting{
    background: rgba(0, 0, 0, 0) url("../img/sorting.png") no-repeat scroll right center;
    cursor: pointer;
}
#list-form .table thead th.sorting_asc{
    background: rgba(0, 0, 0, 0) url("../img/sorting_asc.png") no-repeat scroll right center;
    cursor: pointer;
}
#list-form .table thead th.sorting_desc{
    background: rgba(0, 0, 0, 0) url("../img/sorting_desc.png") no-repeat scroll right center;
    cursor: pointer;
}
#list-form .table a.link{
    color: #337ab7;
    text-decoration: none;
}
#data-form input.datetimepicker{
    padding: 6px 12px;
}
a.link{
    color: #337ab7;
    text-decoration: none;
}
div.item p a{
    color: #337ab7;
    text-decoration: none;
}
#list-form .table a.link:focus,
#list-form .table a.link:hover{
    color: #23527c;
    text-decoration: underline;
}
#list-form span.label{
    font-weight: normal;
}
ul.pagination {
    margin: 0px;
}
ul.pagination li a{
    background: #f2f2f2 none repeat scroll 0 0;
    margin: 1px;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}
ul.pagination li a:hover{
    background: #e6e6e6 none repeat scroll 0 0;
    color: #EC9720;
}

/* end list */




