
<h1 class="sectionedit1" id="exchange_mall">Exchange Mall</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "Exchange Mall" [1-29] -->
<h2 class="sectionedit2" id="diagram">Diagram</h2>
<div class="level2">

<p>
<a href="/wiki/lib/exe/detail.php?id=technical_spec%3Aexchange_mall&amp;media=technical_spec:exchange_mall_system.jpg" class="media" title="technical_spec:exchange_mall_system.jpg"><img src="/wiki/lib/exe/fetch.php?media=technical_spec:exchange_mall_system.jpg" class="media" alt="" /></a>
</p>

</div>
<!-- EDIT2 SECTION "Diagram" [30-97] -->
<h2 class="sectionedit3" id="description">Description</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Exchange Product Category : 兌換商品分類.</div>
</li>
<li class="level1"><div class="li"> Exchange Product Category rt : 兌換商品可以同時存在好幾個分類也可以在同一個分類.</div>
</li>
<li class="level1"><div class="li"> Exchange Product : 兌換商品.</div>
</li>
<li class="level1"><div class="li"> Promote Rule : 活動規則.</div>
</li>
<li class="level1"><div class="li"> Promote Rule Item : 活動規則項目.</div>
</li>
<li class="level1"><div class="li"> Promote Rule Item Product RT : 活動規則項目跟兌換商品的活動關聯 , 例如 買A+B 送C 或是折扣 A 或 A+B 等等…</div>
</li>
<li class="level1"><div class="li"> order : 訂單</div>
</li>
<li class="level1"><div class="li"> Exchange Bonus : 紅利兌換記錄.</div>
</li>
<li class="level1"><div class="li"> Exchange Gift : 禮卷兌換記錄.</div>
</li>
<li class="level1"><div class="li"> Stock : 產品庫存量 , 以加減的總值去決定庫存量 , 一開始存入 +N件 , 訂購 -N 件 , 退回看是有沒有壞 , 沒壞+1 有壞還是 -1 但是標示為不良品. </div>
</li>
<li class="level1"><div class="li"> Return History : 退貨記錄 , 不良品退貨或是良品艮貨.</div>
</li>
</ul>

</div>
<!-- EDIT3 SECTION "Description" [98-906] -->
<h2 class="sectionedit4" id="database">Database</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> saja_exchange_bonus_history - 兌換紅利記錄</div>
</li>
<li class="level1"><div class="li"> saja_exchange_gift_history - 兌換禮券記錄</div>
</li>
<li class="level1"><div class="li"> saja_exchange_product - 兌換商品</div>
</li>
<li class="level1"><div class="li"> saja_exchange_product_category - 兌換商品分類</div>
</li>
<li class="level1"><div class="li"> saja_exchange_product_category_rt - 兌換商品分類關聯</div>
</li>
<li class="level1"><div class="li"> saja_order - 訂單</div>
</li>
<li class="level1"><div class="li"> saja_promote_rule - 活動規則</div>
</li>
<li class="level1"><div class="li"> saja_promote_rule_item - 活動規則項目</div>
</li>
<li class="level1"><div class="li"> saja_promote_rule_item_product_rt - 活動規則項目跟兌換商品的活動關聯</div>
</li>
<li class="level1"><div class="li"> saja_stock - 庫存</div>
</li>
</ul>

</div>
<!-- EDIT4 SECTION "Database" [907-1417] -->
<h2 class="sectionedit5" id="database_schema">Database Schema</h2>
<div class="level2">

</div>
<!-- EDIT5 SECTION "Database Schema" [1418-1445] -->
<h3 class="sectionedit6" id="saja_exchange_bonus_history">saja_exchange_bonus_history</h3>
<div class="level3">
<div class="table sectionedit7"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> ebhid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 兌換紅利記錄id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> orderid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 訂單id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> bonusid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 紅利賬目id </td>
	</tr>
	<tr class="row5">
		<td class="col0"> amount </td><td class="col1"> decimal(12,4) </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 紅利點數 </td>
	</tr>
	<tr class="row6">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT7 TABLE [1484-2082] -->
</div>
<!-- EDIT6 SECTION "saja_exchange_bonus_history" [1446-2083] -->
<h3 class="sectionedit8" id="saja_exchange_gift_history">saja_exchange_gift_history</h3>
<div class="level3">
<div class="table sectionedit9"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> eghid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 兌換禮券記錄id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> orderid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 訂單id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> giftid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 禮券賬目id </td>
	</tr>
	<tr class="row5">
		<td class="col0"> amount </td><td class="col1"> decimal(12,4) </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 禮券數量 </td>
	</tr>
	<tr class="row6">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT9 TABLE [2121-2718] -->
</div>
<!-- EDIT8 SECTION "saja_exchange_gift_history" [2084-2719] -->
<h3 class="sectionedit10" id="saja_exchange_product">saja_exchange_product</h3>
<div class="level3">
<div class="table sectionedit11"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> epid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 兌換商品id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> name </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 兌換商品名稱 </td>
	</tr>
	<tr class="row4">
		<td class="col0"> description </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 兌換商品敘述 </td>
	</tr>
	<tr class="row5">
		<td class="col0"> channelid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 經銷商id </td>
	</tr>
	<tr class="row6">
		<td class="col0"> prid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 活動規則id </td>
	</tr>
	<tr class="row7">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row10">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT11 TABLE [2752-3445] -->
</div>
<!-- EDIT10 SECTION "saja_exchange_product" [2720-3446] -->
<h3 class="sectionedit12" id="saja_exchange_product_category">saja_exchange_product_category</h3>
<div class="level3">
<div class="table sectionedit13"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> epcid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 兌換商品分類id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> name </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 兌換商品分類名稱 </td>
	</tr>
	<tr class="row4">
		<td class="col0"> description </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 兌換商品分類敘述 </td>
	</tr>
	<tr class="row5">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT13 TABLE [3488-4074] -->
</div>
<!-- EDIT12 SECTION "saja_exchange_product_category" [3447-4075] -->
<h3 class="sectionedit14" id="saja_exchange_product_category_rt">saja_exchange_product_category_rt</h3>
<div class="level3">
<div class="table sectionedit15"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> epcid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 兌換商品分類id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> epid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 兌換商品id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row5">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT15 TABLE [4120-4586] -->
</div>
<!-- EDIT14 SECTION "saja_exchange_product_category_rt" [4076-4587] -->
<h3 class="sectionedit16" id="saja_order">saja_order</h3>
<div class="level3">
<div class="table sectionedit17"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> orderid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 訂單id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> userid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 使用者id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> status </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 訂單狀態 </td>
	</tr>
	<tr class="row5">
		<td class="col0"> epid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 兌換商品id </td>
	</tr>
	<tr class="row6">
		<td class="col0"> num </td><td class="col1"> int(10) </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 商品數量 </td>
	</tr>
	<tr class="row7">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row10">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT17 TABLE [4609-5259] -->
</div>
<!-- EDIT16 SECTION "saja_order" [4588-5260] -->
<h3 class="sectionedit18" id="saja_promote_rule">saja_promote_rule</h3>
<div class="level3">
<div class="table sectionedit19"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> prid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 活動規則id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> name </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 活動規則名稱 </td>
	</tr>
	<tr class="row4">
		<td class="col0"> description </td><td class="col1"> varchar(255) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 活動規則敘述 </td>
	</tr>
	<tr class="row5">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT19 TABLE [5289-5857] -->
</div>
<!-- EDIT18 SECTION "saja_promote_rule" [5261-5858] -->
<h3 class="sectionedit20" id="saja_promote_rule_item">saja_promote_rule_item</h3>
<div class="level3">
<div class="table sectionedit21"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> priid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 活動規則項目id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> prid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 活動規則id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> name </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 活動規則項目名稱 </td>
	</tr>
	<tr class="row5">
		<td class="col0"> description </td><td class="col1"> varchar(255) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 活動規則項目敘述 </td>
	</tr>
	<tr class="row6">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT21 TABLE [5892-6541] -->
</div>
<!-- EDIT20 SECTION "saja_promote_rule_item" [5859-6542] -->
<h3 class="sectionedit22" id="saja_promote_rule_item_product_rt">saja_promote_rule_item_product_rt</h3>
<div class="level3">
<div class="table sectionedit23"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> priid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 活動規則項目id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> epid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 兌換商品id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row5">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT23 TABLE [6587-7053] -->
</div>
<!-- EDIT22 SECTION "saja_promote_rule_item_product_rt" [6543-7054] -->
<h3 class="sectionedit24" id="saja_stock">saja_stock</h3>
<div class="level3">
<div class="table sectionedit25"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> stockid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 庫存id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> behav </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 庫存行為 </td>
	</tr>
	<tr class="row4">
		<td class="col0"> epid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 兌換商品id </td>
	</tr>
	<tr class="row5">
		<td class="col0"> num </td><td class="col1"> int(10) </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 商品數量 </td>
	</tr>
	<tr class="row6">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT25 TABLE [7076-7664] -->
</div>
<!-- EDIT24 SECTION "saja_stock" [7055-] -->