{include file="page_header"}

	<body>
		<div class="con">
			<!--<div id="loading"><img src="img/loading.gif" /></div>-->
			<div class="open-two-box drp-message-header">
				<h4 class="f-">新手必读<span class="fr"><i class="iconfont icon-guanbi"></i></span></h4>
				<p class="f-03 m-top06">
					{$novice}
				</p>
			</div>
			<!--后台没有开通审核-->
			<section class="b-color-f drp-two-cont">
				<div class="dis-box drp-shop">
					<div class="drp-left-icon"><i class="iconfont icon-dianpu"></i></div>
					<div class="box-flex drp-right-cont">
						<h4>店铺信息：</h4>
						<p class="m-top08">{$shop.shop_name}</p>
						<p>{$shop.mobile}</p>
					</div>
				</div>
				<section class="dis-box  drp-btton">
					<a href="{url('drp/user/index')}" class="btn-submit br-5 min-btn box-flex ">{$custom}中心</a>
				</section>
				<!-- <div class="text-c f-06  drp-tishi">
					<a href="{url('drp/user/category')}" class="btn-tishi">店铺还没有商品，去添加</a>
				</div> -->
			</section>
			<!--后台开通了店铺审核-->
			<section class="drp-shenghe-cont" style="display:none">
				<p>请等待管理员审核！</p>
			</section>
		</div>

		<script type="text/javascript">
			$(document).ready(function() {
				$(".open-two-box i").click(function() {
					$(".open-two-box").hide();
				});
			});
		</script>
	</body>

</html>