{include file="page_header"}
	<div class="con">
		<header class="drp-user-header">
				<div class="padding-mr dis-box">
					<a href="#">
						<div class="header-img"><img src="{$drp.headimgurl}"></div>
					</a>
					<a href="#" class="box-flex">
						<div class="hesder-admin">
							<h4 class="ellipsis-one  color-whie f-06">{$drp.shop_name}</h4>
							<p class="f-03 user-reg-top color-whie">分销商等级：{$rank_info.credit_name}</p>
						</div>
					</a>
					<div class="user-right-maxbox">
						<a href="{url('drp/user/shopconfig')}">
							<div class="dis-set fr">
								<i class="iconfont icon-jianyingset text-c color-whie f-06"></i>
							</div>
						</a>
					</div>
				</div>
				<div class="dis-time o-h">
					<time class="fr color-whie f-02">开店时间:{$drp.create_time}</time>
				</div>
		</header>
		<p class="text-c f-02 padding-1 col-6">{$withdraw}</p>
		<section class="b-color-f drp-money-list">
			<div class="money-list padding-t-1  dis-box my-dingdan purse-f dis-s">
				<a href="javascript:;" onclick="transferred()" class="box-flex">
					<p class="f-02 col-8 p-t"><i class="iconfont icon-money color-red"></i>&nbsp;可提现佣金(元)<i class="iconfont icon-jiantou tf-180 p-a is-jt"></i></p>
					<h4 class="ellipsis-one color-red">{$surplus_amount}</h4>

				</a>

                                <a href="javascript:;" class="box-flex">
					<p class="f-02 col-8 p-t pt-2">今日收入(元)<span class="col-4 f-03"> {$today_total}</span></p>
					<p class="f-02 col-8">总销售额(元)<span class="col-4 f-03">  {$total_amount}</span></p>
				</a>
			</div>
			<div class="padding-t">
				<p class="f-02 col-8 dis-t-2">累计获得佣金(元)<span class="col-4 f-02"> {$totals}</span></p>
			</div>

			{if $type eq 1}
			<section class="dis-box  padding-t">
				<a href="{url('category')}" class="btn-submit min-btn br-5 box-flex ">选择{$custom}分类</a>
			</section>
			{elseif $type eq 2}
			<section class="dis-box  padding-t">
				<a href="{url('category')}" class="btn-submit min-btn br-5 box-flex ">选择{$custom}商品</a>
			</section>
			{else}
			<section class="dis-box  padding-t">

			</section>
			{/if}
		</section>
		<nav class="bg-white  dis-nav-box mb-1 m-top08">
			<ul class="box ul-4 text-c bg-white dis-nav">
				<li class="">

					<a href="{url('drp/user/order')}">
						<div class="dis-user-list"><i class="iconfont icon-dingdan col-6 is-dis-size n-dis-s"></i></div>
						<p class="col-6 f-02">{$custom}订单</p>
					</a>

				</li>
				<li>
					<a href="{url('team')}">
						<div class="dis-user-list"><i class="iconfont icon-tuandui col-6 is-dis-size n-dis-l"></i></div>
						<p class="col-6 f-02">我的团队</p>
					</a>
				</li>
				<li>
					<a href="{url('usercard')}">
						<div class="dis-user-list"><i class="iconfont  icon-qudiandianpumingpianicon col-6 is-dis-size"></i></div>
						<p class="col-6 f-02">我的名片</p>
					</a>
				</li>
				<li>
					<a href="{url('rank_list')}">
						<div class="dis-user-list"><i class="iconfont icon-shangchengxitongtubiaozitihuayuanwenjian41 col-6 is-dis-size"></i></div>
						<p class="col-6 f-02">{$custom}排行</p>
					</a>
				</li>
				<li>
					{if $type eq 1}
					<a href="{url('category')}">
						<div class="dis-user-list"><i class="iconfont icon-shopping col-6 is-dis-size n-dis-s"></i></div>
						<p class="col-6 f-02">我的{$custom}</p>
					</a>
					{elseif $type eq 2}
					<a href="{url('drpgoods')}">
						<div class="dis-user-list"><i class="iconfont icon-shopping col-6 is-dis-size n-dis-s"></i></div>
						<p class="col-6 f-02">我的{$custom}</p>
					</a>
					{else}
					<a href="{url('drpgoods')}">
						<div class="dis-user-list"><i class="iconfont icon-shopping col-6 is-dis-size n-dis-s"></i></div>
						<p class="col-6 f-02">我的{$custom}</p>
					</a>
					{/if}
				</li>

				<li>
					<a href="{$url}">
						<div class="dis-user-list"><i class="iconfont icon-dianpu col-6 is-dis-size n-dis-s"></i></div>
						<p class="col-6 f-02">查看微店</p>
					</a>
				</li>
				<li>
					<a href="{url('drplog')}">
						<div class="dis-user-list"><i class="iconfont icon-icon01	 col-6 is-dis-size"></i></div>
						<p class="col-6 f-02">佣金明细</p>
					</a>
				</li>
				<li>
					<a href="{url('new')}">
						<div class="dis-user-list"><i class="iconfont icon-tishi col-6 is-dis-size"></i></div>
						<p class="col-6 f-02">新手必看</p>
					</a>
				</li>
			</ul>
		</nav>
		{if $category}
		<section class="m-top06 b-color-f">
			<div class="dis-box padding-all my-bottom">
				<h3 class="box-flex text-all-span my-u-title-size">热门商品</h3>
			</div>
			<div class="drp-shop-box b-color-f">

				<ul class="drp-shop-list">
					{foreach $category as $list}
					<li class="dis-box">
						<a href="{$list.url}">
						<div class="left-img"><img src="{$list.goods_thumb}"/></div>
						</a>
						<div class="box-flex right-cont">
							<a href="{$list.url}">
							<h4 class="f-05 twolist-hidden">{$list.goods_name}</h4>
							</a>
							<h5 class="f-06 onelist-hidden t-first m-top08">{$list.shop_price}</h5>
							{if $list.commission ==1}
	                        <p class="f-02 col-6  m-top04 drp-commission-tag fl"><label><em class="num">{$list.dis_commission}%</em><em class="cont">佣金比例</em></label></p>
	                        {/if}
							{if $list.type == 2}
							<span id="drp{$list.goods_id}" onclick="change_drp({$list.goods_id})"  class="{if $list.is_drp == 1}hs-bg{else}red-bg{/if} color-whie f-03">{if $list.is_drp == 1}取消{$custom}{else}我要{$custom}{/if}</span>
							{/if}
						</div>
					</li>
					{/foreach}
				</ul>
			</div>
		</section>
		{/if}
<div class="footer-cont"><span><img src='{elixir('img/loading1.gif')}'>正在加载……</span></div>
		<!--快捷导航-->
	    {include file="no_search_nav"}
	                <li>
	                     <a href="{$url}">
	                         <i class="iconfont icon-dianpu"></i>
	                         <p>我的微店</p>
	                     </a>
	                </li>
	    {include file="float_nav_footer"}
	</div>
<!--引用js-->
<script>
	function change_drp(id) {
			$.ajax({
				type: "post",
				url: "{url('drp/user/ajaxeditcat')}",
				data: {cat_id: id},
				dataType: "json",
				success: function (data) {

					if($("#drp" + id).hasClass("hs-bg")){
						$("#drp" + id).removeClass("hs-bg");
						$("#drp" + id).addClass("red-bg");
						$("#drp" + id).html("我要{$custom}");
					}else{
						$("#drp" + id).removeClass("red-bg");
						$("#drp" + id).addClass("hs-bg");
						$("#drp" + id).html("取消{$custom}");
					}

				}
			});
	}
	function transferred()
	{
		var surplus_amount = {$surplus_amount};
		var draw_money_value = {$draw_money_value};
		if(parseFloat(surplus_amount) < parseFloat(draw_money_value)){
			d_messages("最少" + draw_money_value + "元可提现");
		}else{

			location.href = "{url('transferred')}";
		}
	}
	$(function(){
		//加载更多
        var loadingHeight = $(".drp-shop-list").outerHeight(true);
        //alert(loadingHeight)
        function loadimgCont(){
                if ($(document).scrollTop() >= $(window).height() <$(document).height() - $(window).height()) {
                        $(".footer-cont").html("<span><img src='{elixir('img/loading1.gif')}'>正在加载……</span>")
                }
                if ($(document).scrollTop() >= $(document).height() - $(window).height()) {
                         $(".footer-cont").html("<span>没有更多了</span>")
                }
                if(loadingHeight< $(window).height()){
                     $(".footer-cont").css("display","none");
                }else{
                     $(".footer-cont").css("display","block");
                }
        }
            loadimgCont();
        $(window).scroll(function() {
            loadimgCont()
        });
	})
</script>
</body>
</html>
