/*base.css Date:2017-01-20 09:51:00 sunle*/
@charset "UTF-8";

/* common */
*{ padding: 0;margin: 0;}
body,button,input,select,textarea{-webkit-font-smoothing: antialiased; font:12px/1.5 Microsoft YaHei,tahoma,arial,Hevetica,\\5b8b\4f53,sans-serif; color: #555;}
h2,h3,h4,h5,h6{ font-size:100%;font-family: "microsoft yahei";font-weight: normal;}
address,cite,dfn,em,var{ font-style:normal;}
ul,ol{ list-style:none;}
em, i, u { font-style: normal;}
input, select, textarea {font-family: inherit;font-size: inherit;font-weight: inherit;}
fieldset,iframe,img{ border:0;}
button,input,select,textarea{ font-size:100%;}
table{ border-collapse:collapse;border-spacing:0;}
img{ vertical-align:middle; display:inline-block;}
a{ text-decoration:none; color: #555;}
a:hover{ color: #f42424;}
a:focus{ outline:none;}

input[disabled],input[disabled="disabled"],input[readonly],input[readonly="readonly"]{ background-color:#ebebe4;}

.w{ margin:0 auto;}
.w:after,.w:before{ content: ".";display: block;height: 0;clear: both;visibility: hidden;}

/*浮动*/
.fl{ float:left !important;}
.fr{ float:right !important;}
.fn{ float:none !important;}

/*字体*/
.fs12{ font-size:12px;}
.fs14{ font-size:14px;}
.fs16{ font-size:16px;}

.txt-lh{ line-height:40px; font-size:16px;}
.txt-lh2{ line-height:40px; font-size:14px;}

/*隐藏显示*/
.hide{ display:none !important;}
.show{ display:block !important;}

.clear,.clearfix{ clear:both;}
.relative{ position:relative;}
.clearfix:after,.clearfix:before{ content: ".";display: block;height: 0;clear: both;visibility: hidden;}

.icon{ display:inline-block; background:url(../images/dsc-icon.png) no-repeat;}

.ud-right{ float:left; margin-left:20px; width:calc(100% - 70px);}

/*对齐方式*/
.tl{ text-align:left !important;}
.tc{ text-align:center !important;}
.tr{ text-align:right !important;}

.lh20{ line-height:20px !important;}
.lh25{ line-height:25px !important;}
.lh30{ line-height:30px !important;}

/*价格*/
.shop-price{ color:#f42424; font-size:18px;}
.original-price{ text-decoration: line-through; font-size:12px; color:#999;}

/* 图片加载 */
.img-lazyload{
	-webkit-animation: ks-fadeIn 350ms linear 0ms 1 normal both;
	animation: ks-fadeIn 350ms linear 0ms 1 normal both;
	opacity: 1;
}

.slide_lr_img{
	-webkit-transition: -webkit-transform .4s;
	-moz-transition: -moz-transform .4s;
	transition: -webkit-transform .4s;
	-moz-transition: transform .4s,-moz-transform .4s;
	transition: transform .4s;
	transition: transform .4s,-webkit-transform .4s,-moz-transform .4s;
}
.slide_lr_info:hover .slide_lr_img {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
}

.icon-spin{ position:absolute; top:50%; left:50%;}

.dsc-load-mask{ width:100%; height:100%; position:fixed; left:0; top:0; background-color:rgba(255,255,255,.5); z-index:100004;}
.dsc-loadding{ position: fixed;top: 50%;left: 50%;z-index: 100005;margin:-40px 0 0 -54px;}
.dsc-loadding p{ font-size:14px; text-align:center; color:#888888;}

/*三角形*/
.arrowImg{ background:url(../images/arrowImg.png) no-repeat; display:block; width:100px; height:6px;}
.arrowXt,.arrowXt:after{
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 0;
    border-left: 10px dotted transparent;
    border-right: 10px dotted transparent;
    border-bottom: 10px dashed #000;
}
.arrowSt,.arrowSt:after {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 0;
    border-left: 10px dotted transparent;
    border-right: 10px dotted transparent;
    border-bottom: 10px dashed #000;
}
.arrowSt:after {
    position: absolute;
    left: -8px; 
    top: 1px;
    content: '';
    width: 0; 
    height: 0; 
    border-top: 0; 
    border-left: 8px dotted transparent; 
    border-right: 8px dotted transparent; 
    border-bottom: 8px dashed #fff;
}

/*鼠标移动到图片透明*/
.opacity_img .p-img{ -webkit-transition: opacity .3s ease-out; -moz-transition: opacity .3s ease-out; -o-transition: opacity .3s ease-out; transition: opacity .3s ease-out;}
.opacity_img:hover .p-img{ opacity: .7; selector: alpha(opacity=70);}

/* checkbox 列表*/
.checkbox_items{ overflow:hidden;}
.checkbox_item{ float:left;}

/*左右滚动轮播 按钮*/
.prevStop .iconfont,.nextStop .iconfont{ color:#ccc !important;}

/*网友讨论圈 小图标*/
.icon-tie{ width:21px; height:20px; display:inline-block; position:absolute; top:5px; left:0;}
.icon-shai{ background-position:-66px 0;}
.icon-tao{ background-position:-96px 0;}
.icon-wen{ background-position:-126px 0;}
.icon-quan{ background-position:-158px 0;}

/* 头像图片 */
.u-ico{ width:50px; height:50px; float:left;}
.u-ico img{ border-radius: 50%; width: 100%; height: 100%;}

/*表单区域样式*/
.text{ height:28px; padding:0 10px; border:1px solid #d2d2d2; outline:0; width:300px;}
.text.error{ border-color:#f42424;}
.text-1{ width:178px;}
.text-2{ width:238px;}
.text-3{ width:600px;}
.text-4{ width:80px;}
.text-5{ width:300px;}
.textarea{ padding:10px; outline:0; border:1px solid #d2d2d2; resize:none; width:500px; height:80px; float:left;}
.textarea.error{ border-color:#f42424;}

.captcha_input{ float:left; width:320px; height:38px; line-height:38px; border:1px solid #d2d2d2;}
.captcha_input .text{ float:left; width:188px; padding:5px 10px; border:0; font-size:14px;}
.captcha_input .captcha_img{ float:left;}

/*div 仿select 效果*/
.imitate_select{ float: left; position:relative;border: 1px solid #d2d2d2;height: 28px;line-height: 28px;font-size: 12px;}
.imitate_select.error{ border-color:#f42424;}
.imitate_select .cite{ background: #fff; padding: 0 10px; cursor:pointer;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; text-align:left;}
.imitate_select .cite span{ display:block; float:left; width:calc(100% - 20px); overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.imitate_select .cite i.iconfont{ font-size:12px; height:12px; line-height:12px; float:right; margin-top:9px;}
.imitate_select ul{ position:absolute; top:28px; left:-1px; background:#fff; width:100%; border:1px solid #dbdbdb; display:none; z-index:199; max-height:280px; overflow:hidden;}
.imitate_select ul li{ cursor:pointer;}
.imitate_select ul li a{ display:block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; text-align:left; color:#707070; padding:0 10px;}
.imitate_select ul li a:hover{ background:#f0f0f0;}

.imitate_select ul li.li_not{ text-align:center;padding: 20px 10px;}
.imitate_select .upward{ top:inherit; bottom:28px;}

/*.select_w90{ width:90px;}
.select_w120{ width:120px;}
.select_w180{ width:180px;}*/

/*下来列表*/
.type-file-box{ position:relative; float:left; width:322px; margin-right:10px;}
.type-file-box .type-file-button{ width:104px; height:30px; background:url(../images/type-file.png) 0 0 no-repeat; border:0; cursor:pointer; padding:0; float:left;}
.type-file-box.hover .type-file-button{ background-position:-111px 0;}
.type-file-box input[type="file"]{ position:absolute; left:0; opacity:0;filter: alpha(opacity=0); width:104px; height:30px; cursor:pointer;}
.type-file-box .type-file-text{ float:left; height:20px; padding:4px 0; border:1px solid #fff; width:144px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; margin-left:10px; background:#fff;}
.type-file-box .show{ float:left; margin-left:10px; height:30px; line-height:30px;}


/*手机短信文本框*/
.sm-input{ width:198px; height:38px; border:1px solid #d2d2d2; float:left;}
.sm-input input[type='text']{ width:90px; border:0; height:32px; line-height:32px; outline:0; padding:3px 10px; float:left; background-color:#fff; margin:0; color:#555;}
.sm-input input.captcha_input{ width:72px;}
.sm-input .captcha_img{ float:left; margin:2.5px 3px; cursor:pointer;}

.sms-btn{ display:block; float:right; width:80px; height:32px; text-align:center; line-height:32px; background-color:#f0f0f0; margin:3px 3px 3px 0; font-size:12px;}

.account-bind .error{ color:#f42424; margin-left:18px; line-height:40px; display:block; float:left;}

/*验证提示*/
.form_prompt{ float:left; color:#f42424; font-size:14px; height:30px; line-height:30px;}
.form_prompt .error{ margin-left:15px; display:block;}

/*用于picTip.js配合图片显示*/
.trans_msg { background-color: #FFF; padding: 4px; border: solid 1px #CCC; box-shadow: 0 0 0 2px rgba(153,153,153,0.1); filter: alpha(opacity=100, enabled=1) revealTrans(duration=.2, transition=1) blendtrans(duration=.2); }
.trans_msg img { display: block; max-width: 150px; max-height: 150px; }

/* common end*/

/**************width height margin padding******************/
/* width */
.w10 { width: 10px; }
.w20 { width: 20px; }
.w30 { width: 30px; }
.w40 { width: 40px; }
.w50 { width: 50px; }
.w60 { width: 60px; }
.w65 { width: 65px; }
.w70 { width: 70px; }
.w80 { width: 80px !important; }
.w90 { width: 90px !important;}
.w100 { width: 100px; }
.w110 { width: 110px; }
.w120 { width: 120px !important; }
.w130 { width: 130px; }
.w140 { width: 140px; }
.w150 { width: 150px !important; }
.w160 { width: 160px; }
.w180 { width: 180px; }
.w190 { width: 190px; }
.w200 { width: 200px; }
.w210 { width: 210px; }
.w230 { width: 230px; }
.w240 { width: 240px; }
.w250 { width: 250px; }
.w260 { width: 260px; }
.w270 { width: 270px; }
.w290 { width: 289px; }
.w300 { width: 300px; }
.w319 { width: 319px; }
.w350 { width: 350px; }
.w340 { width: 340px; }
.w400 { width: 400px; }
.w450 { width: 450px; }
.w500 { width: 500px !important; }
.w600 { width: 600px; }
.w700 { width: 700px; }
.w780 { width: 780px; }
.w800 { width: 800px; }
.w900 { width: 900px; }
.w960 { width: 960px; }
.w970 { width: 970px; }
.w990 { width: 990px; }
.w1000 { width: 1000px; }
.w1200 { width: 1200px; }
.w1390 { width: 1390px; }

/* height */
.h10 { height: 10px; }
.h20 { height: 20px; }
.h30 { height: 30px; }
.h40 { height: 40px; }
.h50 { height: 50px; }
.h60 { height: 60px; }
.h65 { height: 65px; }
.h70 { height: 70px; }
.h80 { height: 80px; }
.h90 { height: 90px; }
.h100 { height: 100px; }
.h110 { height: 110px; }
.h120 { height: 120px; }
.h130 { height: 130px; }
.h150 { height: 150px; }
.h160 { height: 160px; }
.h180 { height: 180px; }
.h190 { height: 190px; }
.h200 { height: 200px; }
.h210 { height: 210px; }
.h230 { height: 230px; }
.h240 { height: 240px; }
.h250 { height: 250px; }
.h270 { height: 270px; }
.h300 { height: 300px; }
.h350 { height: 350px; }
.h340 { height: 340px; }
.h400 { height: 400px; }
.h450 { height: 450px; }
.h500 { height: 500px; }
.h600 { height: 600px; }
.h700 { height: 700px; }
.h780 { height: 780px; }
.h800 { height: 800px; }

/* margin */
.m0	 { margin: 0; }
.m10 { margin: 10px; }
.m15 { margin: 15px; }
.m30 { margin: 30px; }

.mt0  { margin-top: 0px;  }
.mt2  { margin-top: 2px;  }
.mt3  { margin-top: 3px;  }
.mt5  { margin-top: 5px;  }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt50 { margin-top: 50px; }
.mt100{ margin-top: 100px;}

.mr0  { margin-right: 0px !important;  }
.mr5  { margin-right: 5px;  }
.mr8  { margin-right: 8px;  }
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }
.mr30 { margin-right: 30px; }
.mr50 { margin-right: 50px; }
.mr70 { margin-right: 70px; }
.mr80 { margin-right: 80px; }
.mr100{ margin-right: 100px;}

.mb0  { margin-bottom: 0px !important;  }
.mb5  { margin-bottom: 5px;  }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.mb50 { margin-bottom: 50px; }
.mb60 { margin-bottom: 60px !important; }
.mb70{ margin-bottom: 70px;}
.mb80{ margin-bottom: 80px;}
.mb100{ margin-bottom: 100px;}

.ml0  { margin-left: 0px;  }
.ml5  { margin-left: 5px;  }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml30 { margin-left: 30px; }
.ml50 { margin-left: 50px; }
.ml60 { margin-left: 60px; }
.ml70 { margin-left: 70px; }
.ml75 { margin-left: 75px; }
.ml100{ margin-left: 100px;}
.ml200{ margin-left: 200px;}

/* padding */
.p0  { padding: 0px;  }
.p5  { padding: 5px;  }
.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p30 { padding: 30px; }

.pt5  { padding-top: 5px;  }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt30 { padding-top: 30px; }
.pt50 { padding-top: 50px; }
.pt60 { padding-top: 60px; }
.pt80 { padding-top: 80px; }
.pt100{ padding-top: 100px;}

.pr0  { padding-right: 5px !important;  }
.pr5  { padding-right: 5px;  }
.pr10 { padding-right: 10px; }
.pr15 { padding-right: 15px; }
.pr20 { padding-right: 20px; }
.pr30 { padding-right: 30px; }
.pr50 { padding-right: 50px; }
.pr100{ padding-right: 100px;}

.pb0  { padding-bottom: 0px;  }
.pb5  { padding-bottom: 5px;  }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb30 { padding-bottom: 30px; }
.pb50 { padding-bottom: 50px; }
.pb100{ padding-bottom: 100px;}

.pl0  { padding-left: 0px !important;  }
.pl3  { padding-left: 3px;  }
.pl5  { padding-left: 5px;  }
.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px; }
.pl20 { padding-left: 20px; }
.pl25 { padding-left: 25px; }
.pl30 { padding-left: 30px; }
.pl40 { padding-left: 40px; }
.pl50 { padding-left: 50px; }
.pl100{ padding-left: 100px;}
.pl180{ padding-left: 180px !important;}
.pl400{ padding-left: 400px !important;}
.pl450{ padding-left: 450px !important;}

/*上边距*/
.b-t-0{ border-top:0 !important;}
.b-b-0{ border-bottom:0 !important;}
.b-t-gary{ border-top:1px solid #d2d2d2;}

/******************************width height margin padding end******************/


/****************************** color ************************/
.white{ color:#fff;}
.red{ color:#f42828;}
.red2{ color:#f74245;}
.red3{ color:#e94973;}
.link-red{ color:#b31919;}

.yellow{ color:#eeb520;}
.yellow2{ color:#cf7216;}

.orange{ color:#f13d20;}
.orange2{ color:#f99439;}

.light-red{ color:#d93797;}
.gary{ color:#8c8c8c;}

.ftx-01{ color:#f42424 !important;}
.ftx-02{ color:#23bc17 !important;}
.ftx-03{ color:#8c8c8c;}
.ftx-04{ color:#f68a00;}
.ftx-05{ color:#438cde;}
.ftx-06{ color:#333;}
.ftx-07{ color:#555;}
.ftx-08{ color:#F60;}
.ftx-09{ color:#b31919;}
.ftx-14{ color:#0000FF;}
.ftx-15{ color:#4dcdd2;}
.ftx-16{ color:#7abd54;}

.bg-ligtGary{ background-color:#f8f8f8;}

/****************************** color end ************************/


/****************************** button ************************/
.btn{ padding:0 10px; height:23px; line-height:23px; border:1px solid #f42424; display:inline-block; color:#f42424; background-color:#fff; margin-right:5px; font-size:12px; cursor:pointer;}
.btn:hover{ background-color:#f42424; color:#fff;}
.sc-btn{ padding:0 10px; height:28px; background:#fff; line-height:28px; border:1px solid #ccc; border-radius:4px; display:inline-block; color:#666; margin-right:10px; font-size:12px; cursor:pointer;}
.sc-btn:last-child{ margin-right:0;}
.sc-btn:hover{ text-decoration:none;}

.sc-btn-disabled{ background-color:#f8f8f8; color:#8c8c8c; cursor:default;}
.sc-btn-disabled:hover{ border-color:#ccc; color:#8c8c8c;}

.btn35{ height: 33px;line-height: 33px;font-size: 14px;}
.btn30{ height: 30px;line-height: 30px;font-size: 14px;}
.btn30{ height: 32px;line-height: 32px;font-size: 14px;}
.btn25{ height: 23px;line-height: 23px;font-size: 12px;}



.sc-blue-btn{ border-color:#139ff0; color:#139ff0;}
.sc-blue-btn:hover{ background-color:#dff3ff; color:#139ff0;}
.sc-red-btn{ border-color:#f42424; color:#f42424;}
.sc-red-btn:hover{ background-color:#ef1c1c; color:#fff;}
.sc-org-btn:hover{ border-color:#f28f0e; color:#f28f0e;}

.sc-blueBg-btn{ background:#139ff0; border-color:#139ff0; color:#fff;}
.sc-blueBg-btn:hover{ background:#0e93e0; color:#fff;}

.sc-redBg-btn{ background:#f42424; border-color:#f42424; color:#fff;}
.sc-redBg-btn:hover{ background:#ec5051; color:#fff;}

.sc-orgBg-btn{ background:#f68a00; border-color:#f68a00; color:#fff;}
.sc-orgBg-btn:hover{ background:#f28f0e; color:#fff;}

.sc-cyanBg-btn{ background:#4dcdd2; border-color:#4dcdd2; color:#fff;}
.sc-cyanBg-btn:hover{ background:#4dcdd2; color:#fff;}

.btn-orange:hover{ color:#f28f0e;}
.btn-blue:hover{ color:#139ff0;}
.btn-green:hover{ color:#23bc85;}
.btn-violet:hover{ color:#ed14b8;}
.btn-red:hover{ color:#ef1c1c;}

/* form btn */
input.btn{ border-radius:3px;}
input.btn35{ height:35px; line-height:33px; font-size:14px;}
input.btn30{ height: 30px;line-height: 28px;font-size: 14px;}
input.btn32{ height: 32px;line-height: 30px;font-size: 14px;}
input.btn25{ height: 25px;line-height: 23px;}

.button-bottom{ text-align:center;}
.button_info{ margin:30px auto; display:inline-block;}
.button_info .sc-blue-btn{ margin-right:0;}
.button_info .sc-btn{ padding:0 20px;}
/* form */

/* checkbox and radio */
.ui-checkbox,.ui-radio,.ui-all-checkbox,.ui-solid-checkbox{ display:none;}
.ui-label{ padding-left:18px; background:url(../images/check/checkbox_12x12.png) 0 2px no-repeat;}
.ui-checkbox:checked + label{ background:url(../images/check/checked_12x12.png) 0 2px no-repeat; color:#f42424;}
.ui-label:hover{ background:url(../images/check/checkbox_cur_12x12.png) 0 2px no-repeat; cursor:pointer; color:#f42424;}

.ui-label-14{ padding-left:18px; background:url(../images/check/checkbox_14x14.png) 0 1px no-repeat; cursor:pointer;}
.ui-checkbox:checked + label.ui-label-14{ background:url(../images/check/checked_solid_14x14.png) 0 1px no-repeat; color:#f42424;}

.ui-solid-label{ padding-left:18px; background:url(../images/check/checkbox_12x12.png) 0 2px no-repeat;}
.ui-solid-checkbox:checked + label{ background:url(../images/check/checked_solid_12x12.png) 0 2px no-repeat;}

.ui-checkbox:disabled+label{ background: url(../images/check/input_checkbox_disabled.png) 0 2px no-repeat;}
.ui-checkbox:disabled:checked+label{ background: url(../images/check/input_checkbox_disabled.png) 0 2px no-repeat;}

.ui-radio-label{ padding-left: 20px;background: url(../images/check/radio2.png) 2px 2px no-repeat;}
.ui-radio:checked + label{background: url(../images/check/radio_checked2.png) 2px 2px no-repeat;}

.radio-item{ float:left;}
.radio-item .ui-radio-label{ padding-left:28px; background:url(../images/check/radio.png) 0 0px no-repeat; font-size:14px; height:20px; line-height:20px; display:block; margin-right:20px; cursor:pointer; color:#8c8c8c;}
.radio-item .ui-radio:checked + label{ background:url(../images/check/radio_checked.png) 0 0px no-repeat;}

.ui-all-label{ padding-left:20px; height:20px; background:url(../images/check/checkbox_all.png) no-repeat; display:inline-block; cursor:pointer;}
.ui-all-checkbox:checked + label{ background:url(../images/check/checked_all.png) no-repeat;}

.ui-b2b-radio-label{ padding-left:25px; background:url(../images/check/b2b-radio.png) 0 2px no-repeat; cursor:pointer; display:block; height:20px; line-height:20px;}
.ui-radio:checked + .ui-b2b-radio-label{ background:url(../images/check/b2b-radio-checked.png) 0 2px no-repeat;}

.ui-b2b-checkbox-label{ padding-left:25px; background:url(../images/check/b2b-checkbox.png) 0 2px no-repeat; cursor:pointer;}
.ui-checkbox:checked + .ui-b2b-checkbox-label{ background:url(../images/check/b2b-checked.png) 0 2px no-repeat;}
/* checkbox and radio */

/****************************** button end ************************/

/*page start*/
.pages{ text-align:center; margin:40px 0;}
.pages .pages_warp{ overflow:hidden; font-size:0;}

.pages .item{ display:inline-block; margin-right:4px; width:28px; height:28px; line-height:28px; border:1px solid #d2d2d2;}
.pages .item.next{ margin-right:0;}
.pages .item a{ display:block; float:left; width:28px; height:28px; text-align:center; font-size:12px; background:#f8f8f8; color:#8c8c8c;}
.pages .item a .iconfont{ font-size:12px; color:#8c8c8c;}

.page-white-bg .item a{ background-color:#fff;}

.pages .item.span,.pages .item.span:hover{ border-color:#fff;}
.pages .item span{ float:left; font-size:12px; width:28px; text-align:center; line-height:22px; height:28px;}

.pages .item.cur{ border-color:#f42424;}
.pages .item.cur a{ background-color:#f42424; color:#fff;}

.pages .item:hover{ border-color:#f42424;}
.pages .item:hover a{ color:#f42424;}

.pages .item.cur:hover a{ color:#fff;}
.pages .item.prev:hover a .iconfont,.pages .item.next:hover a .iconfont{ color:#f42424;}

.pages-18 .item,.pages-18 .item a,.pages-18 .item span{ width:18px; height:18px; line-height:18px;}
.pages-18 .item{ margin-right:7px;}
.pages-18 .item.span,.pages-18 .item.span:hover{ border-color:#d2d2d2;}
/*page end*/

/*店铺评分信息 start*/
.dsc-store-item{ display:block; position:relative; float:left;}
.s-score{ width:110px; height:18px; line-height:18px; border:1px dashed #dbdbdb; background:#fff; border-radius:9px; padding:0 5px; margin:10px 0; cursor:pointer;}
.s-score span{ float:left;}
.s-score .score-icon{ display:block; float:left; width:60px; height:12px; background:url(../images/dsc-icon.png) -298px 0 no-repeat; margin:2px 3px 0 0;}
.s-score .score-icon-bg{ float:left; height:12px; width:60px; background:url(../images/dsc-icon.png) -298px -16px no-repeat;}
.s-score .iconfont{ font-size:12px; margin-left:5px;}
.s-score-info{ position:absolute; width:150px; background-color:#fff; z-index:10; padding:0 13px; border:1px dashed #dbdbdb; border-radius:0 0 10px 10px; top:25px; left:0; display:none;}
.s-score-info .s-cover{ position:absolute; width:120px; height:2px; background:#fff; top:-1px; left:0;}
.s-score-info .g-s-parts{ margin-top:13px;}
.s-score-info .tel{ text-align:center; width:100%; overflow:hidden; padding:10px 0; border-top:1px dashed #dbdbdb; margin-top:6px; color:#8c8c8c;}
.s-score-info .store-href{ text-align:center; padding:15px 0 16px;}
.s-score-info .store-home{ float:none; width:68px; margin:0 auto;}

.s-score-info .g-s-other{ padding:10px 0 0; border-top:1px dashed #dbdbdb; margin-top:6px; color:#8c8c8c;}
.s-score-info .g-s-other .lie{ overflow:hidden; line-height:24px;}
.s-score-info .g-s-other .label{ float:left; width:40%; text-align:center;}
.s-score-info .g-s-other .value{ float:left; margin-left:5px;}
.s-score-info .g-s-other .value .licence{ margin-top:-3px; width:20px; height:21px;}

.dsc-store-item:hover .s-score-info{ display:block;}

.g-s-parts{ margin-top:0px; overflow:hidden;}
.g-s-parts .parts-tit{ overflow:hidden;}
.g-s-parts .parts-item{ float:left; width:100%;}
.g-s-parts span{ display:block; width:33%; float:left; color:#8c8c8c; text-align:center; line-height:24px;}
.g-s-parts .parts-tit .col1,.g-s-parts .parts-tit .col3{ color:#333;}
.g-s-parts .iconfont{ font-size:12px; margin-left:5px;}
.g-s-parts .icon-arrow-up{ color:#f42424;}
.g-s-parts .icon-arrow-down{ color:#23bc17;}
.g-s-parts .icon-arrow-average{ color:#f60;}
/*店铺评分信息 end*/

/*表单选择 城市区域联动 选择列表*/
.user-form{ font-size: 14px; padding: 1px 0;}
.user-form .form-row{ margin: 15px 0; }
.user-form .form-row:after{content: ""; clear: both; display: block; }
.user-form .form-label{ float: left; width: 90px; height: 22px; line-height: 22px; padding: 9px;}
.user-form .form-label .red{ margin-top: 5px; margin-right: 3px; }
.user-form .form-value{ float: left; line-height: 40px;}
.user-form .form-value .error{ margin-right:10px; color:#f42424;}
.user-form .form-value input.error,.user-form .form-value textarea.error{ border-color:#f42424; color:#555;}
.user-form .form-input{ border: 1px solid #d2d2d2; height: 38px; background: #fff; outline: none; padding: 0 10px; width: 178px; line-height: 38px; margin-right: 10px; float:left;}
/*.user-form .form-input:hover,
.user-form .form-input:focus{ border-color: #afafaf; }*/
.user-form .form-input[disabled="disabled"]{ background-color:#ebebe4;}
.user-form .form-input[disabled="disabled"]:hover,
.user-form .form-input[disabled="disabled"]:foucs{ border:1px solid #d2d2d2;}
.user-form .form-value .notic{ float:left; color:#8c8c8c;}
.user-form .form-input-long{ width: 500px; }
.user-form .mod-select{ height: 38px; width: 198px; margin-right: 10px;}
.user-form .mod-select dt{ height: 38px; line-height: 38px; padding:0;}
.user-form .mod-select dt span{ display:block; cursor:pointer; padding:0 10px;}
.user-form .mod-select dt:after{ top: 17px; }
.user-form .mod-select dd{ top: 38px; width: 198px; }
.user-form .mod-select-small,
.user-form .mod-select-small dd{ width: 118px; }
.user-form .form-btn-wp{ margin: 20px 0 20px 107px; }
.user-form .form-value-btn{ margin-top:20px;}
.user-form .form-btn{ display: inline-block; background: #f43434; color: #fff; width: 160px; border-radius: 5px; height: 40px; line-height: 40px; text-align: center; font-size: 14px; border: 0 none; -webkit-appearance: none; cursor: pointer; margin-right: 8px; outline: none;}
.user-form .form-btn:hover{ background: #EF1D1D; }
.user-form .form-btn.form-btn-gray{ width: 120px; border: 1px solid #d2d2d2; background: #fff; height: 38px; line-height: 38px; color: #999;}
.user-form .form-btn.form-btn-line{ border: 1px solid #f43434; background: #fff; color: #f43434; width: 118px;}
.user-form .form-btn.form-btn-line:hover{ background-color:#f43434; color:#fff;}
.user-form input[type=submit].form-btn.form-btn-gray,
.user-form input[type=button].form-btn.form-btn-gray,
.user-form input[type=reset].form-btn.form-btn-gray{ height: 40px;}
.user-form .form-captcha{ width: 60px; height: 38px; margin-left: 178px; position: relative; z-index: 2; float: left; margin-top: 1px; cursor: pointer;}
.user-form .form-captcha + .form-input{ margin-left: -238px; position: relative; z-index: 1; padding-right: 49px;}

.user-form .form-value .sms-btn{ margin:0; height:40px; line-height:40px; padding:0 10px;}

.mod-select{ display: inline-block; vertical-align: middle;  border: 1px solid #d3d3d3; height: 28px;-webkit-user-select:none; cursor:default; position: relative; width: 118px; background: #fff; font-size:12px;}
/*.mod-select:hover{ border-color: #afafaf; }*/
.mod-select dt{ height: 28px; line-height: 28px; position: relative;}
.mod-select dt:after{ content:""; position: absolute; right: 10px; top: 11px; width: 11px; height: 7px; background: url(../images/user/arrow.png) no-repeat 0 -7px;}
.mod-select dt .placeholder{ color: #d2d2d2; }
.mod-select dt .txt{ display:block; padding: 0 10px; cursor:pointer;}
.mod-select dd{ background: #fff; position: absolute; top: 28px; left: -1px; width: 118px; border: 1px solid #d3d3d3; border-top-width: 0; display: none; max-height: 280px; overflow: hidden; z-index:99;}
.mod-select dd .option{ display: block; padding: 0 10px; height: 28px; line-height: 28px; cursor:pointer;}
.mod-select dd .option:hover{ color: #f42424; }
.mod-select.mod-select-open{ border-color: #afafaf; }
.mod-select.mod-select-open dd{ display: block; border-color: #afafaf;}

/*时间选择*/
.text_time{ position:relative; z-index:1; float:left;}
.text_time .text{width:131px;padding:0 15px 0 0;background:#fff url(../images/common/time_gary.png) 128px 6px no-repeat;cursor:pointer;color:#999;}
.text_time input[type="text"]:focus{ background:#fff url(../images/common/time_blue.png) 128px 6px no-repeat;}

/* site-nav start */
.site-nav{ background:#eee; margin-bottom:1px;}
.site-nav .w{ height:30px; line-height:30px; color:#8c8c8c;}

.city-choice{ float:left;}

.dsc-choie{ position:relative; overflow:hidden; padding:0 7px;}
.dsc-choie .iconfont{ font-size:20px; color:#f42424; float:left; height:26px; margin-top:2px;}
.dsc-choie .ui-areamini-text{ float:left; display:block;}

.city-choice .dorpdown-layer{ left:0; right:inherit;}

.site-nav .return_home{ float:left; margin-right:10px;}
.site-nav .return_home .iconfont{ color:#aaaaaa; vertical-align:middle; margin-right:5px; display:inline-block; margin-top:-4px;}

.ui-areamini-content-wrap{ padding:20px 8px 10px 15px; width:420px;}
.ui-areamini-content-wrap .hot{ overflow:hidden;}
.ui-areamini-content-wrap .hot a{ float:left; line-height:20px; padding:0 5px; margin-right:5px;}
.ui-areamini-content-wrap .hot a:hover{ background-color:#f42424; color:#fff;}
.search-first-letter{ overflow:hidden; margin:10px 0 0 3px;}
.search-first-letter a{ font-size: 14px; color: #8c8c8c; float: left; line-height: 16px; padding: 0 3px; margin-right: 1px; font-weight:700;}
.search-first-letter a:hover{ color:#f42424;}

.scrollBody{ overflow:hidden; width:420px; margin-top:10px; position:relative; z-index:10;}
.scrollBody .all-list{ float:left; height:150px; margin-left:5px; width:400px;}
.scrollBody .all-list ul{ float:left; overflow: hidden;height: auto;position: relative;z-index: 9;}
.scrollBody .all-list li{ width:100%; float:left;}
.scrollBody .all-list li em{ width: 18px; height: 18px; line-height: 16px; border-radius:50%; display: inline-block; text-align: center; margin: 2px 10px 0 0; float: left; background-color:#eee; color:#8c8c8c; font-weight:700;}
.scrollBody .all-list li .itme-city{ float:left; width:calc(100% - 28px);}
.scrollBody .all-list li .itme-city a{ float:left; line-height:20px; padding:0 5px; margin:0 5px 5px 0;}
.scrollBody .all-list li .itme-city .city_selected,.scrollBody .all-list li .itme-city a:hover{ background-color:#eee; color:#f42424;}
.scrollBody .scrollBar{ float:left; width:7px; height:150px; position:relative; background:url(../images/change_city.png) -7px 0 repeat-y; margin-left:5px;}
.scrollBody .scrollBar p{ position:absolute; width:7px; height:30px; background:url(../images/change_city.png) 0 0 no-repeat;}

.txt-info{ float:left; margin-left:15px;}
.txt-info a.link-login{ padding-right:12px; float:left;}
.txt-info a.link-regist{ color:#8c8c8c; float:left;}
.txt-info a.link-regist:hover{ color:#e23435;}

.quick-menu li{ float:left; position:relative;}
.quick-menu li.spacer{ overflow: hidden;margin: 11px 5px 0;width: 1px;height: 10px;background-color: #ccc;}
.quick-menu li a{ color:#8c8c8c; display:block;}
.quick-menu li a:hover{ color:#e23435;}
.quick-menu li .dt{ padding-left:7px; padding-right:7px;}
.quick-menu li .dt .icon-down{ font-size:12px; padding-left:6px;}
.quick-menu li.li_dorpdown{ cursor:pointer; position:relative;}
.quick-menu li.li_dorpdown .dorpdown-layer{ padding:18px 0px; min-width:380px;}

.dsc-cm{ position:relative; border:1px solid #eee; height:28px; line-height:28px; z-index:1;}

.dorpdown-layer{ display:none; position:absolute; border:1px solid #d2d2d2; background-color:#fff; top:30px; right:0;}
.dorpdown-layer dl{ float:left; padding:0 0 0 30px; border-right:1px solid #efefef; width:85px;}
.dorpdown-layer dl:last-child{ border-right:0;}
.dorpdown-layer dl dt{font-weight: 700;color: #666;}
.dorpdown-layer dl dd{ float:left;}
.dorpdown-layer dl .item{ float:left;width:75px;}
.dorpdown-layer dl.fore2{ width:225px;}
.dorpdown-layer dl.fore3{ width:150px;}

.hover{ z-index:22; position:relative;}
.hover .dorpdown-layer{ display:block;}
.hover .dsc-cm{ padding-bottom: 2px;border-color: #ccc;border-bottom: none;background-color: #fff;}

.quick-menu li a.mobile{ position:relative; z-index:99;}
.quick-menu li.dcs-mobile:hover .mobile_pop{ display:block;}

.mobile_pop{ display:none; position:absolute; top:30px; left:-65px; width:180px; height:230px; background-color:#fff; box-shadow:0px 2px 10px rgb(204, 204, 204); z-index:20; text-align:center;}
.mobile_pop:before{ content: '';position: absolute;display: block;top: -10px;left: 50%;margin-left: -5px;width: 0;height: 0;line-height: 0;font-size: 0;border-width: 5px;border-style: solid;border-color: #eee #eee #fff;}
/* site-nav end */

/* header start */
.header{ padding-bottom:10px; background-color:#fff;}
.header .w{ height:100px; position:relative; z-index:10;}
.logo{ float:left;}
.logoImg{ float:left; height:100px; margin:0 30px 0 0; position:relative;}
.logoImg a{ display:table-cell; height:100px; vertical-align:middle;}
.logoAdv{ float:left; margin:22px 0px 0px;}

.dsc-search{ float:left; margin:30px 0 0 78px; width:546px; position:relative;}
.dsc-search .search-form{  float:left;}
.dsc-search .search-text{ width:378px; height:14px; padding:8px; border:2px solid #f42424; outline:0; font-size:12px; float:left; color:#999;}
.dsc-search .button{ border:0; width:70px; height:34px; line-height:34px; background-color:#f42424; color:#fff; font-size:14px; cursor:pointer; float:left; outline:0;}
.dsc-search .button-goods{ margin-right:8px;}
.dsc-search .button-store{ background-color:#b31919;}
.dsc-search .keyword{ float:left; width:100%;}
.dsc-search .keyword li{ float:left; height:28px; line-height:28px; margin-right:10px;}
.dsc-search .keyword li a{ display:block; color:#999;}
.dsc-search .keyword li a:hover{ color:#e23435;}

.shopCart{ float:right; margin-top:30px;}
.attached-search-container .shopCart{ margin-top:12px;}
.shopCart .shopCart-con{ width:178px; height:33px; line-height:33px; border-color:#d2d2d2;}
.attached-search-container .shopCart .shopCart-con{ width:150px; height:34px; line-height:34px; border:none;}
.shopCart .shopCart-con a{ display:block; color:#f42424;}
.shopCart .shopCart-con .icon-carts{ padding-left:30px; font-size:20px; float:left;}
.shopCart .shopCart-con span{ margin-left:8px;}
.shopCart .shopCart-con .count,.attached-search-container .shopCart-con .count{ min-width:13px; height:13px; line-height:13px; padding:1px; border-radius:50%; background:#f42424; color:#fff; position:absolute; top:6px; left:122px; text-align:center; font-size:12px;}
.attached-search-container .shopCart-con .count{left:40px;top:0px}
.shopCart .dorpdown-layer{ top:35px; width:312px;}
.shopCart .prompt{ padding:20px 20px 20px 36px;}
.shopCart .prompt .nogoods{ overflow:hidden;}
.shopCart .prompt b{ background:url(../images/cart-nogoods.png) no-repeat; display:block; width:110px; height:68px; float:left;}
.shopCart .prompt span{ float:left; display:block; font-size:12px; color:#8c8c8c; margin:6px 0 0 14px; line-height:25px; width:132px;}

.settleup-content{ position:relative; width:100%; z-index:2; background:#fff;}
.settleup-content .mc{ height:auto; max-height:334px; overflow:auto;}
.settleup-content ul{ margin-top:-1px;}
.settleup-content li{ padding:10px; border-top: 1px dashed #ccc; overflow: hidden; line-height: 18px; vertical-align: bottom;}
.settleup-content li:hover{ background-color:#f5f5f5;}
.settleup-content .p-img{ float:left; width:50px; height:50px; border:1px solid #d3d3d3; padding:0; margin-right:8px; font-size:0;}
.settleup-content .p-name{ float:left; width:100px; height:36px; overflow:hidden; margin:5px 8px 0 0;}
.settleup-content .p-number{ float:left; margin-top:9px;}
.settleup-content .p-number .num{ width:23px; height:28px; line-height:28px; border:1px solid #d6d6d6; display:block; float:left; text-align:center;}
.settleup-content .p-number .count{ float:left; height:28px; width:18px; border-top:1px solid #d6d6d6; border-bottom:1px solid #d6d6d6;}
.settleup-content .p-number .count a{ display:block; width:18px; height:14px; border-right:1px solid #d6d6d6; text-align:center;}
.settleup-content .p-number .count .count-add{ border-bottom:1px solid #d6d6d6;}
.settleup-content .p-number .count .iconfont{ font-size:12px; display:block; height:14px;}
.settleup-content .p-oper{ float:right; text-align:center; margin-top:5px;}
.settleup-content .p-oper .price{ font-weight:700;}

.settleup-content .mb{ padding:10px; background-color:#eee; overflow:hidden;}
.settleup-content .p-total{ float:left; line-height:28px; color:#999;}
.settleup-content .btn-cart{ display:block; float:right; width:96px; height:26px; line-height:26px; border:1px solid #f42424; background:#eee; text-align:center; color:#f42424;}
.settleup-content .btn-cart:hover{ background-color:#f42424; color:#fff;}

/* w1390 ping start*/
.header .w1390 .dsc-search{ margin-left:143px; width:690px;}
.header .w1390 .dsc-search .search-text{ width:520px;}
.header .w1390 .dsc-search .suggestions_box{ width:537px;}
.header .w1390 .dsc-search .suggestions_box .suggestions_list ul li .left-span{ width:420px;}
/* w1390 ping end*/

/* login-header */

.loginRegister-header{ height:130px; line-height:130px;}
.loginRegister-header .logo{ height:130px;}
.loginRegister-header .logoImg{ margin:0; height:130px;}
.loginRegister-header .logoImg a{ height:130px;}
.loginRegister-header .logo-span{ float:left; font-size:18px; color:#8c8c8c; margin-left:12px; margin-top:35px;}
.loginRegister-header .logo-span b{ width:258px; height:70px; overflow:hidden; display:block;}

.header-href{ float:right; font-size:14px; color:#8c8c8c;}
.header-href .jump{ color:#f42424;}
.header-href .jump:hover{ text-decoration:underline;}
/* login-header end */

.header-cart{ border-bottom:2px solid #f42424; margin-bottom:16px;}
.header-cart .dsc-search{ width:auto; float:right;}
.header-cart .dsc-search .search-text{ border-width:1px; padding:9px 8px; width:332px;}
.header-cart .dsc-search .button{ width:50px;}
.header-cart .dsc-search .button i{ display:inline-block; width:20px; height:20px; background:url(../images/search.png) no-repeat; margin-top:7px;}
.logo .tit{ float:left; font-size:18px; color:#8c8c8c; margin-top:36px;}
.logo .tit em{ font-size:16px; color:#f42424;}

.header-cart .cart-stepflex{ float:right; margin-top:32px;}
.header-cart .cart-step-item span{ border-color:#fff;}

.header-settled .logoImg{ margin:0 14px 0 0;}
.header-settled .logo .tit{ float:left; font-size:18px; color:#8c8c8c; height:34px; line-height:34px; padding-left:12px; border-left:1px solid #eee; margin-top:32px;}

.settled-header-right{ float:right; height:42px; line-height:42px; padding:29px 0;}
.settled-header-right .settled-nav{ float:left; margin-right:55px;}
.settled-header-right .settled-nav li{ float:left; margin-left:38px;}
.settled-header-right .settled-nav a{ font-size:16px; color:#333;}
.settled-header-right .settled-nav a:hover,.settled-header-right .settled-nav li.curr a{ color:#f42424;}
.settled-header-right .tel{ float:right; font-size:28px; color:#f42424;}

.suggestions_box{width:395px; background:white; border:1px solid #f42424; position: absolute; z-index: 99999; border-top:none; top:34px; left:0px;}
.suggestions_box .suggestions_list ul li{height:28px; line-height: 28px; clear:both; padding:0 5px;}
.suggestions_box .suggestions_list ul li .left-span{ width:306px; height:28px; overflow:hidden; float:left; text-overflow:ellipsis; white-space:nowrap;}
.suggestions_box .suggestions_list ul li .suggest_span{float: right; color:#d2d2d2;}

.catetop-food .suggestions_box{ border-color:#6CC133;}
.catetop-jiadian .suggestions_box{ border-color:#2984EB;}
/* header end */

.top-banner{ width:100%; height:80px; margin:0 auto; overflow:hidden;}
.top-banner .module{ width:1200px; position:relative; margin:0 auto; float:none;}
.top-banner .module a{ display:block;}
.top-banner .module .icon-cha{ z-index:99; cursor: pointer; position: absolute;right: 5px;top: 5px;font-size: 14px;color: #FFF;background: rgb(45,45,45);opacity: .3;filter: alpha(opacity=30);width: 20px; height:20px; text-align: center;}

/* nav start*/
.nav{ height:40px; position:relative; z-index:9; background-color:#fff;}
.nav .categorys,.attached-search-container .categorys{ float:left; width:232px; height:40px; position:relative;}
.attached-search-container .categorys{ margin-top:12px; height:34px;}
.nav .categorys .categorys-type,.attached-search-container .categorys .categorys-type{ background-color:#f42424; text-align:center; font-size:0; line-height:40px;}
.attached-search-container .categorys .categorys-type{ line-height:34px;}
.nav .categorys .categorys-type a,.attached-search-container .categorys .categorys-type a{ font-size:16px; font-weight:700; color:#fff; display:block;}


.dsc-zoom{ border-bottom: 2px solid #f42424;}
.dsc-zoom .categorys .categorys-type{ padding-bottom:2px;}

.categorys-tab-content{ height:500px; z-index:30; background-color:#000; background-color:rgba(0,0,0,0.6);}
.categorys-tab-content .categorys-items{ position:relative; height:100%;}
.categorys-tab-content .categorys-item{ cursor:pointer; height:14.29%;}
.categorys-tab-content .item-content{ padding:14.5px 16px; float:left; width:200px;}
.categorys-tab-content .item-content .icon-other{ float:left; width:18px; height:18px;}
.categorys-tab-content .item-content .icon-other img{ width:100%;}
.categorys-tab-content .selected .item-content{  background-color:rgba(0,0,0,1);}
.categorys-tab-content .iconfont{ float:left; color:#bfbfbf;}
.categorys-tab-content .categorys-title{ float:left; margin-left:10px;}
.categorys-tab-content .categorys-title strong{ display:block; font-weight:normal;}
.categorys-tab-content .categorys-title strong a{ color:#fff; font-size:14px;}
.categorys-tab-content .categorys-title span{ display:block; font-size:0;}
.categorys-tab-content .categorys-title span a{ color:#bfbfbf; margin-right:10px; font-size:14px;}
.categorys-tab-content .categorys-title span a:hover,.categorys-tab-content .categorys-title strong a:hover{ color:#e23435;}

.site-mast .categorys-tab-content{ display:none;}
.site-mast:hover .categorys-tab-content{ display:block;}

.categorys-items-layer{ display:none; position:absolute; top:0; left:232px; width:966px; min-height:498px; border:1px solid #fff; background-color: #fff;box-shadow: 0px 0px 3px 2px rgba(0,0,0,.1);-webkit-transition: top .25s ease;transition: top .25s ease;}
.cate-layer-con{ padding:20px 20px 28px 18px;}
.cate-layer-left{ float:left; width:704px;}
.cate-layer-rihgt{ float:right; width:200px;}

.cate_channel{ overflow:hidden; height:24px; width:100%;}
.cate_channel a{ float:left; margin-right:10px; padding:0 10px 0 12px; height:24px; line-height:24px; color:#fff; background-color:#5f4f4f;}
.cate_channel .iconfont{ float:none; font-size:12px; margin-left:5px;}

.cate_detail{ margin-top:20px; width:100%;}
.cate_detail dl{ padding-left:80px; position:relative;}
.cate_detail dt{ overflow:hidden; position:absolute; color:#555; left:0; top:13px; width:70px; text-align:right; font-weight:700; white-space:nowrap;text-overflow: ellipsis;}
.cate_detail dt .iconfont{ font-size:12px; color:#666; margin-left:6px; float:none;}
.cate_detail dd{ padding:8px 0; overflow:hidden; border-bottom: 1px dashed #d2d2d2; min-height:28px;}
.cate_detail dl:last-child dd{ border-bottom:0;}
.cate_detail dd a{ float: left;margin: 8px 0;padding: 0 10px;height: 12px;border-left: 1px solid #e0e0e0;line-height: 12px;white-space: nowrap;}
.cate_detail .lazy{ margin:70px 0 0 360px;}

.cate-brand{ margin:auto; font-size:0;}
.cate-brand .img{ overflow:hidden; display:inline-block; width:98px; height:48px; border:1px solid #f9f9f9; text-align:center; margin:-1px -1px 0 0;}
.cate-brand a{ display:table-cell; vertical-align:middle; width:98px; height:48px;}
.cate-brand a img{ width:100%; height:auto;}

.categorys-tab-content .categorys-item:hover .categorys-items-layer{ display:block;}

.nav .nav-main{ float:left; width:968px; overflow:hidden; height:40px; line-height:40px;}
.nav .nav-main li{ float:left; margin-left:38px;}
.nav .nav-main li a{ font-size:16px; color:#555; display:block;}
.nav .nav-main li a:hover,.nav .nav-main li a.curr{ color:#e23435;}

.categorys-tab-content .nav_cat_model{ height:6.25%;}
.categorys-tab-content .nav_cat_model .item-content{ padding:4px 16px 3px;}
/* nav end */

/* footer start */
.footer{ background-color:#eee; margin-top:80px;}
.footer .service-list{ overflow:hidden; border-bottom:1px solid #d2d2d2; padding:15px 0; text-align:center; font-size:0;}
.footer .service-list li{ display:inline-block; margin-right:50px; +float:left;}
.footer .service-list .service-tit{ float:left; width:30px; height:30px; line-height:30px; font-size:0; margin-right:12px;}
.footer .service-list .service-tit .iconfont{ font-size:30px;color:#8c8c8c;}
.footer .service-list .service-txt{ float:left; font-size:16px; line-height:16px; padding-right:50px; border-right:1px solid #d2d2d2; margin:7px 0; color:#8c8c8c;}
.footer .service-list li:last-child,.footer .service-list li.last{ margin-right:0;}
.footer .service-list li:last-child .service-txt,.footer .service-list li.last .service-txt{ border-right:0;}

.footer .dsc-help{ padding:20px 0; overflow:hidden;}
.footer .help-list{ float:left; width:850px;}
.footer .help-item{ float:left; width:170px; line-height:25px;}
.footer .help-item h3{ font-size:16px; color:#555; margin-bottom:15px;}
.footer .help-item li a{ color:#8c8c8c;}
.footer .help-item li a:hover{ color:#e23435;}
.footer .help-cover{ float:left; width:350px;}
.footer .help-ctn{ float:left; width:130px;}
.footer .help-ctn .help-ctn-mt{ margin-bottom:15px;}
.footer .help-ctn .help-ctn-mt span{ display:block; font-size:14px; color:#8c8c8c;}
.footer .help-ctn .help-ctn-mt strong{ font-size:16px; color:#ec5151; font-weight:normal;}
.footer .help-ctn .help-ctn-mb{ float:left; margin-top:6px;}
.footer .help-ctn .help-ctn-mb .btn-ctn{ display:block; width:130px; height:30px; line-height:30px; background-color:#ec5151; text-align:center; color:#fff; font-size:14px;}
.footer .help-ctn .help-ctn-mb .btn-ctn .iconfont{ display:inline-block; font-size:24px; vertical-align:middle; margin-right:5px;}
.footer .help-scan{ float:right; width:138px;background:#fff; position:relative;}
.footer .help-scan .title{ color:#323232; line-height:35px;}
.footer .help-scan .tabs{ height:25px; width:99%; background-color:#fff; border:1px solid #616161}
.footer .help-scan .tabs li{ float:left; height:25px; line-height:25px; width:50%; +width:49%; text-align:center; color:#323232; cursor:pointer;}
.footer .help-scan .tabs li.curr{ background-color:#606060; color:#fff}
.footer .help-scan .code{ width:108px; height:98px; padding:15px;}
.footer .help-scan .code img{ width:100%;}
.footer .help-scan .ico{ position:absolute; width:0; height:0; border-top:35px solid #606060; border-left:35px solid transparent; top:0; right:0; cursor:pointer;}
.footer .help-scan .ico .iconfont{ position:absolute; top:-35px; right:2px; color:#fff;}

.home_visual_body .footer,.topic_visual_body .footer,.store_visual_body .footer,.bonusBody .footer{ margin:0;}

.settled-footer{ margin:0;}

.dsc-copyright{ background-color:#4f4f4f; color:#b5b5b5; text-align:center; padding:30px 0;}
.dsc-copyright a{ color:#b5b5b5;}
.dsc-copyright a:hover{ color:#ffffff;}
.dsc-copyright .copyright_info{ padding:12px 0 16px;}

.copyright_auth{ font-size:12px;}
.copyright_auth a{ display:inline-block; margin-right:10px;}
.copyright_auth a:last-child{ margin-right:0;}
.copyright_auth_ico{ display:inline-block; margin-right:10px; width:111px; height:30px; font-size:0; background:url(../images/footer_ico.png) no-repeat;}
.copyright_auth_ico_1{ background-position:0 -148px;}
.copyright_auth_ico_2{ background-position:-132px -148px;}
.copyright_auth_ico_3{ background-position:-264px -148px;}
.copyright_auth_ico_4{ background-position:0 -189px;}
.copyright_auth_ico_5{ background-position:-132px -189px; margin-right:0;}

.footer .footer-bgimg{ position:absolute; width:375px; height:87px; background:url(../images/footer_ico.png) 0 0 no-repeat; top:-87px; right:-140px;}

.user-footer{ margin:0;}
.user-footer .dsc-copyright{ background-color:#f8f8f8;}
.user-footer .dsc-copyright a{ color:rgba(85, 85, 85, .5);}
.user-footer .dsc-copyright a:hover{ color:#f42424;}

.login .user-footer .dsc-copyright{ background-color:#fff;}

.merchants .footer{ margin-top:0;}

/* footer 最新改版 start*/
.footer-new{ background-color:#eee; margin-top:80px; overflow:hidden;}
.home_visual_body .footer-new,.topic_visual_body .footer-new,.store_visual_body .footer-new,.bonusBody .footer-new{ margin:0;}

.footer-new-con,.footer-new-bot{ background-color:#262626;}
.f-icon{ background:url(../images/footer_new_icon.png) no-repeat; display:inline-block;}
.f-icon-qi{ background-position:0 0;}
.f-icon-zheng{ background-position:-34px 0;}
.f-icon-hao{ background-position:-68px 0;}
.f-icon-shan{ background-position:-102px 0;}
.f-icon-quan{ background-position:-136px 0;}
.f-icon-tel{ background-position:-3px -103px;}
.f-icon-kefu{ background-position:-3px -138px;}

.footer-new-top{ padding:24px 0;}
.footer-new-top .service-list{ overflow:hidden; float:left; margin-right:20px;}
.footer-new-top .contact{ float:left;}

.service-list .service-item{ float:left; width:170px; height:32px; line-height:30px; overflow:hidden; padding-right:10px; }
.service-list .service-item .f-icon{ width:32px; height:32px; float:left;}
.service-list .service-item span{ float:left; font-size:18px; color:#888888; margin-left:12px;}

.contact .contact-item{ float:left; height:32px; line-height:30px;}
.contact .contact-item.contact-item-first{}
.contact .contact-item .f-icon-tel{ width:22px; height:24px; float:left; margin-top:5px;}
.contact .contact-item .f-icon-kefu{ width:27px; height:24px; float:left; margin-top:4px;}
.contact .contact-item span{ float:left; color:#262626; font-size:16px; font-weight:bold; margin-left:8px; overflow:hidden}

.contact .contact-item.contact-item-first span{ width:140px; margin-right:10px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.footer-new-con .fnc-warp{ padding:30px 0; width:1200px; margin:0 auto; border-bottom:1px solid #464646; overflow:hidden;}
.footer-new-con .help-list{ float:left; width:900px;}
.footer-new-con .help-list .help-item{ float:left; width:170px; padding-right:10px;}
.footer-new-con .help-list .help-item h3{ font-size:16px; font-weight:bold; color:#fff; margin-bottom:20px;}
.footer-new-con .help-list .help-item li{ line-height:28px;}
.footer-new-con .help-list .help-item li a{ font-size:14px; color:#cccccc;}
.footer-new-con .help-list .help-item li a:hover{ color:#f42424;}

.footer-new-con .qr-code{ float:right;}
.footer-new-con .qr-code .qr-item{ float:left; width:104px; padding:2px; background-color:#fff;}
.footer-new-con .qr-code .qr-item .code_img,.footer-new-con .qr-code .qr-item .code_img img{ width:104px; height:104px;}
.footer-new-con .qr-code .qr-item .code_txt{ width:100%; height:20px; background-color:#121212; text-align:center; color:#fff;}
.footer-new-con .qr-code .qr-item-first{ margin-right:60px;}

.footer-new-bot{ overflow:hidden; padding:30px 0 20px;}
.footer-new-bot p{ text-align:center; color:#4c4c4c;}
.footer-new-bot .copyright_links{ margin-bottom:10px;}
.footer-new-bot .copyright_links a{ color:#888; display:inline-block;}
.footer-new-bot .copyright_links a:hover{ color:#f42424;}
.footer-new-bot .copyright_links .spacer{ overflow: hidden; margin: 0 17px; width: 1px;height: 11px; background-color: #444; display:inline-block;}

.footer-new-bot .copyright_auth{ overflow:hidden; padding-top:15px;}
.footer-new-bot .copyright_auth a img{ max-height:48px;}
/* footer 最新改版 end*/

/* footer end */

/*数量加减*/
.amount-warp{ float:left;}
.amount-warp .buy-num{ border:1px solid #d2d2d2; width:28px; height:28px; float:left; outline:0; text-align:center;}
.amount-warp .a-btn{ float:left; width:22px; height:28px; border:1px solid #d2d2d2; border-left:0;}
.amount-warp .a-btn a{ float:left; width:22px; height:14px; line-height:14px; text-align:center;}
.amount-warp .a-btn .btn-reduce{ height:13px; border-top:1px solid #d2d2d2;}
.amount-warp a .iconfont{ font-size:12px;}
.amount-warp .a-btn .btn-disabled{ color:#e0e0e0;}
/*数量加减 end*/


/*没有记录信息 start*/
.no_notic{ color:#8c8c8c; height:100px; line-height:100px; text-align:center;}
.no_records{ height:104px; padding:70px 0 70px 165px; width:auto; position:relative; overflow:hidden;}
.no_records .no_icon{ width:159px; height:104px; display:block; float:left; background:url(../images/prompt/not-common-icon.png) no-repeat;}
.no_records .no_info{ float:left; margin-left:25px; line-height:104px; max-width:500px;}
.no_records .no_info_line{ line-height:normal;}
.no_records h3{ color:#8c8c8c; font-size:16px; font-weight:bold; display:block;}

.no_records .no_info_line h3{ margin-top:8px;line-height:25px;}
.no_records .no_info_line .no_btn{ display:block; margin-top:15px;}

.no_records .no_icon_two{ width:188px; height:104px; display:block; float:left; background:url(../images/prompt/not-wait-icon.png) no-repeat;}
.no_records .no_icon_three{ width:186px; height:129px; display:block; float:left; background:url(../images/prompt/not-comment.png) no-repeat;}

.no_records_tc{ padding-left:400px;}

.no_records_1200{ padding-left:330px;}

.no_comments_qt{ width:200px; height:auto; padding-left:0; margin:0 auto;}
.no_comments_qt .block{ display:block; font-size:14px; color:#8c8c8c; float:left; margin:20px 0 0 45px;}

.message_records{ padding:150px 0 100px 300px;}
.no_records_min{ padding-left:100px;}
/*没有记录信息 end*/

/*客服*/
.p-kefu{ color: #fcc217; margin-left: 5px;}

/*倒计时*/
.lefttime em{ display:inline-block; vertical-align:middle; margin-top:-5px;}

.ps-container.ps-active-y>.ps-scrollbar-y-rail{ right:0 !important;}

::-webkit-input-placeholder{ color: #999;} 
:-moz-placeholder{ color: #999;} 
::-moz-placeholder{ color: #999;} 
:-ms-input-placeholder{ color: #999;}

/*arrow*/
.arrowWarp{ position:absolute;border:1px solid #d2d2d2; border-radius:3px;box-shadow: 0px 0px 6px 0 #d3d2d2; display:none;}
.arrowWarp .arrowTop{ width: 10px;height: 10px;background-color: #fff;display: block; border:1px solid #d2d2d2; box-shadow: 0px 0px 6px 0 #d3d2d2;top: -6px;right: 35px;position: absolute;transform: rotate(45deg);}
.arrowWarp .arrowContent{ position:relative; background-color:#fff; padding:10px; border-radius:3px;}
.arrowItems{ overflow:hidden;}
.arrowItem{ width:100%; overflow:hidden; line-height:25px;}
.arrowItem .label{ float:left; width:60px; text-align:right; color:#8c8c8c;}
.arrowItem .value{ float:left; min-width:200px; text-align:left; color:#555;}

/*图片点击查看大图nyroModal*/
.nyroModal{ color:#aaa; font-size:16px;}
.nyroModalBg { position: fixed; overflow: hidden; z-index: 100009; top: 0; left: 0; height: 100%; width: 100%; background: #fff; opacity: 0.7; }
.nmReposition { position: absolute; z-index: 100011; }
.nyroModalCloseButton { top: -9px; right: -9px; width: 18px; height: 18px; text-indent: -9999em; background: url(../images/close.png); }
.nyroModalTitle { top: -26px; left: 0; margin: 0; font-size: 1.1em; line-height: 24px; color: #EEE; text-shadow: 1px 1px 1px #ccc; }
.nyroModalCont { background-color: #FFF; padding: 4px; position: absolute; z-index: 100010; border: 1px solid #eee; margin: 25px; background: #fff; box-shadow: 0 0 5px rgba(0,0,0,0.9); }
.nyroModalCont iframe { width: 600px; height: 400px; }
.nyroModalError { border: 4px solid red; color: red; width: 250px; height: 250px; }
.nyroModalError div { min-width: 0; min-height: 0; padding: 10px; }
.nyroModalLink,
.nyroModalDom,
.nyroModalForm,
.nyroModalFormFile { position: relative; padding: 10px; min-height: 250px; min-width: 250px; max-width: 1000px; }
.nyroModalImage,
.nyroModalSwf,
.nyroModalIframe,
.nyroModalIframeForm { position: relative; overflow: hidden; }
.nyroModalImage img { vertical-align: top; }
.nyroModalHidden { left: -9999em; top: -9999em; }
.nyroModalLoad { position: absolute; width: 100px; height: 100px; background: #fff url(../images/ajaxLoader.gif) no-repeat center; padding: 0; }
.nyroModalPrev,
.nyroModalNext { outline: none; position: absolute; top: 0; height: 60%; width: 150px; min-height: 50px; max-height: 300px; cursor: pointer; text-indent: -9999em; background: transparent url('data:image/gif;base64,AAAA') left 20% no-repeat; }
.nyroModalImage .nyroModalPrev,
.nyroModalImage .nyroModalNext { height: 100%; width: 40%; max-height: none; }
.nyroModalPrev { left: 0; }
.nyroModalPrev:hover { background-image: url(../images/prev.gif); }
.nyroModalNext { right: 0; background-position: right 20%; }
.nyroModalNext:hover { background-position: right 20%; background-image: url(../images/next.gif); }

@keyframes rotate {
	0% {
		transform:rotate(0deg);
		-webkit-transform: rotate(0);
	}
	100% {
		transform:rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}

@media screen and (min-width:1230px) and (max-width:1482px) {
	.footer .footer-bgimg{ right:-30px;}
}

.sc_btnt_ype{
	border: 1px solid #ccc;
    border-radius: 4px;
	padding:3px 10px;
	display:inline-block;
	font-size:12px;
}

