/*商家入驻*/
/*.s-p-cont{}
.s-p-cont .s-p-tit{ height:68px; line-height:68px; border:1px solid #f2f2f2; overflow:hidden; background-color:#fff;}
.s-p-cont .s-p-tit h1{ float:left; font-size:18px; color:#333; padding-left:25px;}*/

:root .select-checkbox+label, :root .ui-checkbox+label {
	padding-left: 20px;
	background: url(../images/check/checkbox-icon.png) 0 2px no-repeat;
}
:root .select-checkbox:checked+label, :root .ui-checkbox:checked+label {
    padding-left: 20px;
    background: url(../images/check/checked-icon.png) 0 2px no-repeat;
}
.cart-checkbox{ padding-left:0;}

.item .value-checkbox .value-item{ float:left; border:1px solid #d2d2d2; margin-right:20px; height:28px;}
.item .value-checkbox .value-item .ui-radio-label{ padding:0 15px 0 30px; background-position:10px 8px; float:left; cursor:pointer;}
.item .value-checkbox .selected{ border-color:#ec5051;}

.panel .panel-content{ float:left; margin-top:20px; width:1200px;}
.panel .panel-content .bg-top{ width:100%; height:50px; /*background:url(../images/common/item_stpes-top.png) no-repeat;*/}
.panel .panel-content .bg-warp{ height:auto; padding:0 0 35px; background-color:#fff;/* background:url(../images/common/item_stpes-warp.png) repeat-y;*/}
.panel .panel-content .bg-bottom{ width:100%; height:10px; /*background:url(../images/common/item_stpes-bottom.png) no-repeat;*/}
.panel .panel-content .title{ font-size:20px; font-weight:bold; color:#000; height:68px; line-height:68px; border-bottom:1px solid #eeeeee; margin-bottom:20px; padding-left:40px;}
.panel .panel-content .textareay{ font-size:14px;}
.panel .panel-content .agreement{ overflow-y:auto; height:auto; max-height:423px;}
.panel .panel-content .agreement .item{ margin-bottom:30px;}
.panel .panel-content .agreement .item h2{ font-size:16px; color:#333; line-height:30px;}
.panel .panel-content .agreement .item p{ line-height:28px; font-size:14px;}

.panel .panel-content .sid-frist{ padding:20px 40px 35px 45px;}
.panel .panel-content .sid-frist .title{ padding-left:0;}
.panel .panel-content .sid-frist .btn-group{ margin-top: 80px;}

.panel-body{ /*min-height:239px; padding:30px 45px 40px;*/ background-color:#fff; margin-bottom:25px; padding:0 40px;}
.panel-body .cue{ color:#ec5051; width:100%; margin-top:10px;}
.panel-body .panel-tit{ font-size:14px; font-weight:bold; color:#333; margin:0;}
.panel-body .list{ margin-top:20px;}
.merSteps .panel:after,.panel .panel-body:after,.panel-body .list:after{ content: '';display: block;clear: both;height: 0;overflow: hidden;visibility: hidden;}
.panel-body .item{ float:left; width:100%; margin-bottom:10px;}
.panel-body .item .label{ float:left; width:180px; text-align:right; height:30px; line-height:30px;}
.panel-body .item .label em,.value .value_warp .value_label em{ color:#ec5051;}
.panel-body .item .value{ line-height:30px; float:left; margin-left:10px;}
.panel-body .item .value font{ color:#ccc;}
.panel-body .item .value .value-item{ line-height:28px;}
.panel-body .item .value .text{ width: 330px;height: 22px;outline: 0;padding: 3px 0 3px 5px; float:left;}
.panel-body .item .value .text-2{ width:151px; cursor:pointer; float:none;}
.panel-body .item .value .text-3{ width:151px; padding-top:0; padding-bottom:0;}
.panel-body .item .value .jdate{ background-color:#fff;}
.panel-body .item .value .chakan{ color:#ec5051;}
.panel-body .item .value .chakan:hover{ text-decoration:underline;}
.panel-body .item .value select{ height:30px; line-height:30px; margin-left:16px; border: 1px solid #d2d2d2; width: 102px; float:left;}
.panel-body .item .value select:first-child{ margin-left:0}
.panel-body .item .value select.select2{ width:130px;}
.panel-body .item .value select.select3{ width:180px;}
.panel-body .item .value textarea{ width:335px; height:144px; resize:none; border: 1px solid #d2d2d2;}
.panel-body .item .value .org{ display:block; float:left;}
.panel-body .item .value .org font{ color:#f18b07; margin-left:10px;}
.panel-body .item .value .org span{ color:#999; margin-left:10px;}
.panel-body .item .value .tit{ color:#999;}

.panel-body .item .value .text_time .text{ width:143px;}

.shopType{ overflow:hidden; width:100%;}
.shopType .item-item{ float:left; width:100%; clear:both;}
.item-item .item-warp{ overflow:hidden; margin-top:10px;}
.item-item .item-warp a{ color:#ec5051;}
.item-item .item-warp .word{ float:left;text-align: right;width: 100px; margin-right:5px;}
.item-item .item-warp label{ margin-left:10px; cursor:pointer;}
.item-item .item-warp label input{ vertical-align:middle;}
.item-item .item-warp .item-con{ line-height:30px; float:left;}
.item-item .item-warp .item-con input{ margin-top:5px;}

.btn-group { margin-top: 30px;overflow:hidden; float:right;}
.btn-group .btn{ background-color:#ec5051; color:#fff; border-radius:5px; padding:0 20px; height:36px; line-height:36px; cursor:pointer; border:1px solid #ec5051; outline:0;filter:chroma(color=#000000); float:left; font-size:14px; margin-right:0;}
.btn-group .btn-w{ background:#fff; color:#ec5051; margin-right:20px;}
.btns{ border:0; height:30px; line-height:30px; padding:0 15px; background:#f68a00; width:auto; color:#fff; border-radius:4px; cursor:pointer;}
label.error{ color:#f42424; margin-left:10px;}
.yel-tip{ margin:10px 0; line-height:25px;}
.yel-tip a,.link-blue{ color:#3a78bf;}
.btn-add{ height:30px; line-height:30px; padding:0 14px; background:#f68a00; border-radius:4px; display:block; float:left; color:#fff;}
.orange {color: #f7a750;}
.orange2{ color:#f68a00;}
.verify{ float:left; margin-left:10px; color:#ec5051;}
.prompt{ padding:0 40px; color:#f42424; margin-bottom:10px;}
.prompt .yel-tip{ color:#555;}
.prompt .yel-tip .content{ padding-bottom:20px;}

.table{ width:915px; margin:15px 0; overflow:visible;}
.table tbody {}
.table tbody th,.table tbody td { padding: 10px;border: 1px solid #cfcfcf;}
.table thead th { height:38px; line-height:38px;font-weight: normal;background: #f2f2f2;color: #808080;font-family: "Verdana" "Simsun";border: 1px solid #e5e5e5; text-align:center}
.table tbody td{ border: 1px solid #e5e5e5; text-align:center;}
.table tbody tr:hover { background: #f7f7f7; cursor:pointer;}
.table .cart-checkbox label{ margin-left:10px;}
.brank_list .table,.zizhiTable{ width:1115px;}
.zizhiTable .text{ width: 250px;height: 22px;border: 1px solid #d2d2d2;outline: 0;padding: 3px 0 3px 5px;}
.zizhiTable .text-2{ width:180px; margin-left:30px;}

.addBrank .item{ margin-bottom:15px;}
.addBrank .item .value{ margin-left:15px;}
.addBrank .item .value .btn{ border:0; background:#f68a00; cursor:pointer;}

.btnOrg,.btnOrgBor{ height:28px; line-height:26px; border:1px solid #f68a00; background:#f68a00; padding:0 14px; border-radius:4px; color:#fff; cursor:pointer;}
.btnOrgBor{ background:#fff; color:#f68a00; margin-left:10px;}
.value .value_warp{ width:720px; background:#f6f6f6; padding:18px 0; margin-top:20px;}
.value .value_warp .value_item{ overflow:hidden; margin-bottom:15px;}
.value .value_warp .value_label{ width:150px; float:left; text-align:right;}
.value .value_warp .value_val{ float:left; margin-left:20px;}

.panel .panel-content .pannel_end{ padding-bottom:20px; overflow:hidden;}
.pannel_end .settled-state{ width:100%; height:40px; line-height:40px; text-align:center; border-bottom:1px solid #eeeeee; padding-bottom:10px;}
.pannel_end .settled-state span{ font-size:24px; color:#ec5051;}
.pannel_end h3.ordertitle{ font-size:14px; font-weight:bold; color:#666; margin:25px 0 15px;}
.pannel_end .item{ width:100%; float:left; margin-bottom:8px;}
.pannel_end .item .label{ float:left; width:182px; text-align:right;}
.pannel_end .item strong{ float:left; width:930px; letter-spacing:0.5px;}

.pannel_end .setted-footer{ text-align:center; padding-top:30px; float:left; width:100%; border-top:1px solid #eeeeee; margin-top:15px;}
.pannel_end .setted-footer a{ color:#197de4; margin-right:10px;}
.pannel_end .setted-footer a:hover{ color:#ec5051;}



/*弹出框*/
#divSCA{ position: absolute;width: 560px;font-size: 12px;background: #fff;border: 2px solid #ec5051;z-index: 10001;display: none;}
#divSCA .divTitle{ width:100%; height:35px; line-height:35px; background:#f4f4f4; position:relative;}
#divSCA .divTitle .tit{ float:left; margin-left:20px; color:#666;}
#divSCA .divTitle .setps_closeDivA{cursor: pointer;display: block;position: absolute;z-index: 100000;top: 10px;right: 16px;overflow: hidden;width: 13px;height: 13px;background: url(../images/dialog.png) no-repeat;font-size: 0;text-indent: -99999px;}
#divSCA .mod { padding:25px 40px 30px 40px; overflow:hidden;}
#divSCA .mod .mod_list{ float:left; width:100%; padding-bottom:20px; margin-bottom:15px; border-bottom:1px dashed #dcdcdc;}
#divSCA .mod .mod-label{ width:70px; text-align:left; float:left;}
#divSCA .mod .mod-value{ float:left;}
#divSCA .mod .mod-value label,#divSCA .mod .mod_span label,.table .cart-checkbox label,.cart-checkbox label{ background-position:0 2px !important; cursor:pointer;}
#divSCA .mod .mod_span{ float:left; width:410px; margin-left:70px;}
#divSCA .mod .mod_span .cart-checkbox{ float:left; margin-right:20px;}
#divSCA .mod .mod_list_btn{ width:100%; overflow:hidden; text-align:center;}
#divSCA .mod .mod_list_btn a{ height:23px; line-height:23px; border:1px solid #c9c9c9; padding:0 14px; border-radius:4px;display: inline-block;*display:inline; *zoom:1; margin-right:15px;}
#divSCA .mod .mod_list_btn a:hover{ color:#666;}
#divSCA .mod .mod_list_btn input{ height:24px; line-height:22px; border:1px solid #c9c9c9; padding:0 14px; border-radius:4px; background:#f4f4f4; cursor:pointer;}
#divSCA .mod .mod_list_btn .sub{ background:#f68a00; color:#fff; margin-right:10px; border:1px solid #f68a00; }

#saveBrandQualificationBtn:hover{ color:#fff; text-decoration:none}

.steps_orderok {padding: 27px;width: 935px;height: /*260px;*/ position:relative;}
.steps_orderok p{ border-bottom:none; font-size:16px; font-family: "微软雅黑"; line-height:30px;}
.steps_orderok .ordertitle {font-size: 18px; margin-bottom: 10px;padding-bottom: 10px;}

.checkout_goodsLista{ width:220px; padding-top:5px; display:block; float:left;}
.checkout_goodsListImg{ width:78px; height:78px; padding-left:5px; overflow:hidden; display:block; float:left;}
/**弹出框 start*****/

.setted-footer{ margin-top:10px;}
.setted-footer a{ margin-right:20px;}