
<h1 class="sectionedit1" id="architecture">Architecture</h1>
<div class="level1">

<p>
<a href="/wiki/lib/exe/detail.php?id=technical_spec%3Asystem_arc&amp;media=technical_spec:arc.jpg" class="media" title="technical_spec:arc.jpg"><img src="/wiki/lib/exe/fetch.php?media=technical_spec:arc.jpg" class="media" alt="" /></a>
</p>

</div>
<!-- EDIT1 SECTION "Architecture" [4-60] -->
<h2 class="sectionedit2" id="n-tier">N-Tier</h2>
<div class="level2">

<p>
<a href="/wiki/lib/exe/detail.php?id=technical_spec%3Asystem_arc&amp;media=technical_spec:n-tier.jpg" class="media" title="technical_spec:n-tier.jpg"><img src="/wiki/lib/exe/fetch.php?media=technical_spec:n-tier.jpg" class="media" alt="" /></a>
</p>

</div>
<!-- EDIT2 SECTION "N-Tier" [61-112] -->
<h3 class="sectionedit3" id="description">Description</h3>
<div class="level3">

</div>
<!-- EDIT3 SECTION "Description" [113-136] -->
<h2 class="sectionedit4" id="block_diagram">Block Diagram</h2>
<div class="level2">

<p>
<a href="/wiki/lib/exe/detail.php?id=technical_spec%3Asystem_arc&amp;media=technical_spec:block.jpg" class="media" title="technical_spec:block.jpg"><img src="/wiki/lib/exe/fetch.php?media=technical_spec:block.jpg" class="media" alt="" /></a>
</p>

</div>
<!-- EDIT4 SECTION "Block Diagram" [137-] -->