
<h1 class="sectionedit1" id="saja_shop_system">Saja Shop System</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "Saja Shop System" [1-32] -->
<h2 class="sectionedit2" id="diagram">Diagram</h2>
<div class="level2">

<p>
<a href="/wiki/lib/exe/detail.php?id=technical_spec%3Asaja_shop_system&amp;media=technical_spec:saja_shop_system.jpg" class="media" title="technical_spec:saja_shop_system.jpg"><img src="/wiki/lib/exe/fetch.php?media=technical_spec:saja_shop_system.jpg" class="media" alt="" /></a>
</p>

</div>
<!-- EDIT2 SECTION "Diagram" [33-99] -->
<h2 class="sectionedit3" id="description">Description</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Saja Product : 殺價商品 </div>
</li>
<li class="level1"><div class="li"> <del>Saja Product Rule : 殺價商品的設定好的群組上架規則</del></div>
</li>
<li class="level1"><div class="li"> <del>Profit sharing Rule : 拆帳回饋規則 , 商品在結算時所需的所有拆帳回饋規則.</del></div>
</li>
<li class="level1"><div class="li"> <del>Gift Rule : 回饋禮卷規則</del></div>
</li>
<li class="level1"><div class="li"> <del>Gift Item: 將配發的禮卷序號.</del></div>
</li>
<li class="level1"><div class="li"> Saja Rule : 殺價商品的下標條件</div>
</li>
<li class="level1"><div class="li"> Saja Product Category : 殺價商品分類.</div>
</li>
<li class="level1"><div class="li"> Saja Product Category RT : 殺價商品所屬的類別關聯,為多對多所以一個殺價商品可以同時存在於很多分類.</div>
</li>
<li class="level1"><div class="li"> Saja History : 殺價計錄</div>
</li>
<li class="level1"><div class="li"> Pay Get Product : 得標的取得商品所付的金額記錄</div>
</li>
<li class="level1"><div class="li"> Profit Sharing History : 拆帳回饋計錄 , 結算的所有回饋和分帳計算的記錄</div>
</li>
<li class="level1"><div class="li"> Profit Sharing : 經銷商 , SAJA , 產品提共者 , 得標與未得標使用者 , 的 回饋及拆帳 獲利的實際金額 以正負加減取得總數來結算每隔一段時間該付的現金.</div>
</li>
<li class="level1"><div class="li"> Profit Sharing History : 拆分回饋的結算分類項目 , 例如 得標金 , 未得標金 , 產品的銷售佣金 等等…</div>
</li>
</ul>

</div>
<!-- EDIT3 SECTION "Description" [100-1212] -->
<h2 class="sectionedit4" id="database">Database</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> saja_gift - 禮券</div>
</li>
<li class="level1"><div class="li"> saja_gift_rule - 回饋禮券規則</div>
</li>
<li class="level1"><div class="li"> saja_history - 殺價記錄</div>
</li>
<li class="level1"><div class="li"> saja_pay_get_product - 商品得標記錄</div>
</li>
<li class="level1"><div class="li"> saja_product - 競標商品</div>
</li>
<li class="level1"><div class="li"> saja_product_category - 商品分類</div>
</li>
<li class="level1"><div class="li"> saja_product_category_rt - 商品分類關聯</div>
</li>
<li class="level1"><div class="li"> saja_product_rule - 常用競標商品設定</div>
</li>
<li class="level1"><div class="li"> saja_profit_sharing - 拆帳回饋帳目</div>
</li>
<li class="level1"><div class="li"> saja_profit_sharing_category - 拆帳回饋分類</div>
</li>
<li class="level1"><div class="li"> saja_profit_sharing_history - 拆帳回饋記錄</div>
</li>
<li class="level1"><div class="li"> saja_profit_sharing_rule - 拆帳回饋規則</div>
</li>
</ul>

</div>
<!-- EDIT4 SECTION "Database" [1213-1749] -->
<h2 class="sectionedit5" id="database_schema">Database Schema</h2>
<div class="level2">

</div>
<!-- EDIT5 SECTION "Database Schema" [1750-1777] -->
<h3 class="sectionedit6" id="saja_gift">saja_gift</h3>
<div class="level3">
<div class="table sectionedit7"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> giftid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 禮券id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> grid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 禮券規則id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> serial </td><td class="col1"> varchar(64) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 禮券序號 </td>
	</tr>
	<tr class="row5">
		<td class="col0"> num </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 禮券數量 </td>
	</tr>
	<tr class="row6">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT7 TABLE [1798-2395] -->
</div>
<!-- EDIT6 SECTION "saja_gift" [1778-2396] -->
<h3 class="sectionedit8" id="saja_gift_rule">saja_gift_rule</h3>
<div class="level3">
<div class="table sectionedit9"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> grid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 回饋禮券規則id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> type </td><td class="col1"> enum(&#039;gift&#039;,&#039;sgift&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> gift廠商禮券，sgift殺價禮券 </td>
	</tr>
	<tr class="row4">
		<td class="col0"> name </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 回饋禮券規則名稱 </td>
	</tr>
	<tr class="row5">
		<td class="col0"> description </td><td class="col1"> varchar(255) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 回饋禮券規則敘述 </td>
	</tr>
	<tr class="row6">
		<td class="col0"> effective </td><td class="col1"> timestamp </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> 0000-00-00 00:00:00 </td><td class="col6 leftalign">  </td><td class="col7"> 規則生效時間 </td>
	</tr>
	<tr class="row7">
		<td class="col0"> expire </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 有效時間(秒) </td>
	</tr>
	<tr class="row8">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row10">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row11">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT9 TABLE [2422-3261] -->
</div>
<!-- EDIT8 SECTION "saja_gift_rule" [2397-3262] -->
<h3 class="sectionedit10" id="saja_history">saja_history</h3>
<div class="level3">
<div class="table sectionedit11"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> MUL </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> shid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 殺價記錄id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> productid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 競標商品id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> userid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 使用者id </td>
	</tr>
	<tr class="row5">
		<td class="col0"> spointid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 殺幣帳目id </td>
	</tr>
	<tr class="row6">
		<td class="col0"> price </td><td class="col1"> decimal(12,2) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 競標價格 </td>
	</tr>
	<tr class="row7">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row10">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT11 TABLE [3286-3955] -->
</div>
<!-- EDIT10 SECTION "saja_history" [3263-3956] -->
<h3 class="sectionedit12" id="saja_pay_get_product">saja_pay_get_product</h3>
<div class="level3">
<div class="table sectionedit13"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> pgpid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 商品得標記錄id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> productid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 競標商品id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> userid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 使用者id </td>
	</tr>
	<tr class="row5">
		<td class="col0"> price </td><td class="col1"> decimal(12,2) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 得標價格 </td>
	</tr>
	<tr class="row6">
		<td class="col0"> fee </td><td class="col1"> decimal(12,2) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 得標手續費 </td>
	</tr>
	<tr class="row7">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row10">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT13 TABLE [3988-4666] -->
</div>
<!-- EDIT12 SECTION "saja_pay_get_product" [3957-4667] -->
<h3 class="sectionedit14" id="saja_product">saja_product</h3>
<div class="level3">
<div class="table sectionedit15"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> productid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 競標商品id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> psrid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 拆帳回饋規則id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> name </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 競標商品名稱 </td>
	</tr>
	<tr class="row5">
		<td class="col0"> description </td><td class="col1"> text </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 競標商品敘述 </td>
	</tr>
	<tr class="row6">
		<td class="col0"> retail_price </td><td class="col1"> decimal(12,3) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 商品市價 </td>
	</tr>
	<tr class="row7">
		<td class="col0"> thumbnail </td><td class="col1"> varchar(255) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 商品主圖 </td>
	</tr>
	<tr class="row8">
		<td class="col0"> ontime </td><td class="col1"> timestamp </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> 0000-00-00 00:00:00 </td><td class="col6 leftalign">  </td><td class="col7"> 上架時間 </td>
	</tr>
	<tr class="row9">
		<td class="col0"> offtime </td><td class="col1"> timestamp </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> 0000-00-00 00:00:00 </td><td class="col6 leftalign">  </td><td class="col7"> 下架時間 </td>
	</tr>
	<tr class="row10">
		<td class="col0"> saja_limit </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 最低標數限制 </td>
	</tr>
	<tr class="row11">
		<td class="col0"> quantity </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 兌換數量 </td>
	</tr>
	<tr class="row12">
		<td class="col0"> spoint </td><td class="col1"> decimal(12,3) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 兌換金額(殺幣) </td>
	</tr>
	<tr class="row13">
		<td class="col0"> vendorid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 供應商代碼 </td>
	</tr>
	<tr class="row14">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row15">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row16">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row17">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT15 TABLE [4691-5903] -->
</div>
<!-- EDIT14 SECTION "saja_product" [4668-5904] -->
<h3 class="sectionedit16" id="saja_product_category">saja_product_category</h3>
<div class="level3">
<div class="table sectionedit17"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> pcid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 商品分類id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> name </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 商品分類名稱 </td>
	</tr>
	<tr class="row4">
		<td class="col0"> description </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 商品分類敘述 </td>
	</tr>
	<tr class="row5">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT17 TABLE [5937-6504] -->
</div>
<!-- EDIT16 SECTION "saja_product_category" [5905-6505] -->
<h3 class="sectionedit18" id="saja_product_category_rt">saja_product_category_rt</h3>
<div class="level3">
<div class="table sectionedit19"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> pcid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 商品分類id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> productid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 競標商品id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row5">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT19 TABLE [6541-7005] -->
</div>
<!-- EDIT18 SECTION "saja_product_category_rt" [6506-7006] -->
<h3 class="sectionedit20" id="saja_product_rule">saja_product_rule</h3>
<div class="level3">
<div class="table sectionedit21"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> prid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 常用競標商品設定id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> name </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 常用競標商品設定名稱 </td>
	</tr>
	<tr class="row4">
		<td class="col0"> description </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 常用競標商品設定敘述 </td>
	</tr>
	<tr class="row5">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT21 TABLE [7035-7638] -->
</div>
<!-- EDIT20 SECTION "saja_product_rule" [7007-7639] -->
<h3 class="sectionedit22" id="saja_profit_sharing">saja_profit_sharing</h3>
<div class="level3">
<div class="table sectionedit23"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> psid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 拆帳回饋帳目id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> pscid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 拆帳回饋分類id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> userid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 使用者id </td>
	</tr>
	<tr class="row5">
		<td class="col0"> channelid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 經銷商id </td>
	</tr>
	<tr class="row6">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT23 TABLE [7670-8278] -->
</div>
<!-- EDIT22 SECTION "saja_profit_sharing" [7640-8279] -->
<h3 class="sectionedit24" id="saja_profit_sharing_category">saja_profit_sharing_category</h3>
<div class="level3">
<div class="table sectionedit25"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> pscid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 拆帳回饋分類id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> name </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 拆帳回饋分類名稱 </td>
	</tr>
	<tr class="row4">
		<td class="col0"> description </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 拆帳回饋分類敘述 </td>
	</tr>
	<tr class="row5">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT25 TABLE [8319-8905] -->
</div>
<!-- EDIT24 SECTION "saja_profit_sharing_category" [8280-8906] -->
<h3 class="sectionedit26" id="saja_profit_sharing_history">saja_profit_sharing_history</h3>
<div class="level3">
<div class="table sectionedit27"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> pshid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 拆帳回饋記錄id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> productid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 競標商品id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> psid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 拆帳回饋帳目id </td>
	</tr>
	<tr class="row5">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT27 TABLE [8945-9495] -->
</div>
<!-- EDIT26 SECTION "saja_profit_sharing_history" [8907-9496] -->
<h3 class="sectionedit28" id="saja_profit_sharing_rule">saja_profit_sharing_rule</h3>
<div class="level3">
<div class="table sectionedit29"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> psrid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 拆帳回饋規則id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> name </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 拆帳回饋規則名稱 </td>
	</tr>
	<tr class="row4">
		<td class="col0"> description </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 拆帳回饋規則敘述 </td>
	</tr>
	<tr class="row5">
		<td class="col0"> grid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 回饋禮券規則id </td>
	</tr>
	<tr class="row6">
		<td class="col0"> channel </td><td class="col1"> decimal(6,3) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 經銷商拆分比例 </td>
	</tr>
	<tr class="row7">
		<td class="col0"> vendor </td><td class="col1"> decimal(6,3) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 供貨商拆分比例 </td>
	</tr>
	<tr class="row8">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row10">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row11">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT29 TABLE [9532-10339] -->
</div>
<!-- EDIT28 SECTION "saja_profit_sharing_rule" [9497-] -->