
<h1 class="sectionedit1" id="api_document">API Document</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "API Document" [1-27] -->
<h2 class="sectionedit2" id="spec">Spec</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Name : Sgift List <abbr title="Application Programming Interface">API</abbr></div>
</li>
<li class="level1"><div class="li"> Description : 殺價禮券 <abbr title="Application Programming Interface">API</abbr></div>
</li>
<li class="level1"><div class="li"> Url : <a href="http://210.61.12.136/site/mobile/sgift_list" class="urlextern" title="http://210.61.12.136/site/mobile/sgift_list"  rel="nofollow">http://210.61.12.136/site/mobile/sgift_list</a></div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Spec" [28-164] -->
<h2 class="sectionedit3" id="paramater">Paramater</h2>
<div class="level2">
<div class="table sectionedit4"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Type </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> p </td><td class="col1"> int </td><td class="col2"> 列表頁數，預設為1 </td>
	</tr>
</table></div>
<!-- EDIT4 TABLE [187-250] -->
</div>
<!-- EDIT3 SECTION "Paramater" [165-251] -->
<h2 class="sectionedit5" id="example">Example</h2>
<div class="level2">

<p>
<a href="http://210.61.12.136/site/mobile/sgift_list/p=2" class="urlextern" title="http://210.61.12.136/site/mobile/sgift_list/p=2"  rel="nofollow">http://210.61.12.136/site/mobile/sgift_list/p=2</a>
</p>

</div>
<!-- EDIT5 SECTION "Example" [252-324] -->
<h2 class="sectionedit6" id="return_value">Return Value</h2>
<div class="level2">

</div>
<!-- EDIT6 SECTION "Return Value" [325-349] -->
<h3 class="sectionedit7" id="record">Record</h3>
<div class="level3">
<div class="table sectionedit8"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Description </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> sgift </td><td class="col1"> 殺價禮券ID </td><td class="col2"> </td>
	</tr>
	<tr class="row2">
		<td class="col0"> amount </td><td class="col1"> 總數 </td><td class="col2"> </td>
	</tr>
	<tr class="row3">
		<td class="col0"> insertt </td><td class="col1"> 獲得時間 </td><td class="col2"> </td>
	</tr>
</table></div>
<!-- EDIT8 TABLE [367-477] -->
</div>
<!-- EDIT7 SECTION "Record" [350-478] -->
<h3 class="sectionedit9" id="relation">Relation</h3>
<div class="level3">

</div>

<h4 id="sgift_rule">sgift_rule</h4>
<div class="level4">
<div class="table sectionedit10"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Description </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> productid </td><td class="col1"> 商品ID </td><td class="col2"> </td>
	</tr>
	<tr class="row2">
		<td class="col0"> sgift </td><td class="col1"> 殺價禮券ID </td><td class="col2"> </td>
	</tr>
	<tr class="row3">
		<td class="col0"> name </td><td class="col1"> 禮券名稱 </td><td class="col2"> </td>
	</tr>
</table></div>
<!-- EDIT10 TABLE [517-629] -->
</div>
<!-- EDIT9 SECTION "Relation" [479-] -->