
<h1 class="sectionedit1" id="saja_cash_flow">Saja Cash Flow</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "Saja Cash Flow" [1-30] -->
<h2 class="sectionedit2" id="diagram">Diagram</h2>
<div class="level2">

<p>
<a href="/wiki/lib/exe/detail.php?id=technical_spec%3Asaja_cash_flow&amp;media=technical_spec:saja_cash_flow.jpg" class="media" title="technical_spec:saja_cash_flow.jpg"><img src="/wiki/lib/exe/fetch.php?media=technical_spec:saja_cash_flow.jpg" class="media" alt="" /></a>
</p>

</div>
<!-- EDIT2 SECTION "Diagram" [31-91] -->
<h2 class="sectionedit3" id="description">Description</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Saja Product : 殺價商品</div>
</li>
<li class="level1"><div class="li"> Saja History : 殺價記錄</div>
</li>
<li class="level1"><div class="li"> User : 使用者帳號</div>
</li>
<li class="level1"><div class="li"> Role User : 角色使用者關聯</div>
</li>
<li class="level1"><div class="li"> Role : 角色</div>
</li>
<li class="level1"><div class="li"> SPoint : 使用者的殺幣金額 , 包含了加和減的總合即為使用者目前所有的殺價點數 , 與真實貨幣為一比一 (殺價點數)</div>
</li>
<li class="level1"><div class="li"> Deposit : 使用者的儲值金額 , 包含了加和減的總合即為使用者過往所有的實際儲值金額.</div>
</li>
<li class="level1"><div class="li"> Deposit Rule : 儲值規則 , 信用卡 , 小額付費等各所儲值規則</div>
</li>
<li class="level1"><div class="li"> Deposit Item : 儲值細項 , 每個儲值規則下可以儲值的項目 , 一般條件多為單選.</div>
</li>
<li class="level1"><div class="li"> Bonus Point : 使用者的回饋紅利點數 , 包含了加和減的總合即為使用者過往所有的獲得及使用的紅利點數目前的總合.</div>
</li>
<li class="level1"><div class="li"> Gift : 使用者身上的商品卷.</div>
</li>
<li class="level1"><div class="li"> Settlement History : 結算記錄會去記錄 回饋了多少紅利和禮卷.</div>
</li>
<li class="level1"><div class="li"> Country : 所有的殺幣/紅利/儲值 都可以從語系做切割 , 讓金流只能在同一個國家內流通.</div>
</li>
</ul>

</div>
<!-- EDIT3 SECTION "Description" [92-1117] -->
<h2 class="sectionedit4" id="database">Database</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> saja_bonus - 紅利帳戶</div>
</li>
<li class="level1"><div class="li"> saja_deposit - 儲值帳戶</div>
</li>
<li class="level1"><div class="li"> saja_deposit_rule - 儲值規則</div>
</li>
<li class="level1"><div class="li"> saja_deposit_rule_item - 儲值規則項目</div>
</li>
<li class="level1"><div class="li"> saja_gift - 禮券帳戶</div>
</li>
<li class="level1"><div class="li"> saja_sgift - 殺價禮券帳戶</div>
</li>
<li class="level1"><div class="li"> saja_sgift_rule - 殺價禮券使用產品規則</div>
</li>
<li class="level1"><div class="li"> saja_spoint - 殺幣帳戶</div>
</li>
</ul>

</div>
<!-- EDIT4 SECTION "Database" [1118-1435] -->
<h2 class="sectionedit5" id="database_schema">Database Schema</h2>
<div class="level2">

</div>
<!-- EDIT5 SECTION "Database Schema" [1436-1463] -->
<h3 class="sectionedit6" id="saja_bonus">saja_bonus</h3>
<div class="level3">
<div class="table sectionedit7"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> bonusid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 紅利帳目id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> userid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 會員id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> countryid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 國家id </td>
	</tr>
	<tr class="row5">
		<td class="col0"> behav </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 紅利行為 </td>
	</tr>
	<tr class="row6">
		<td class="col0"> amount </td><td class="col1"> decimal(12,4) </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 紅利數量 </td>
	</tr>
	<tr class="row7">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row10">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT7 TABLE [1485-2145] -->
</div>
<!-- EDIT6 SECTION "saja_bonus" [1464-2146] -->
<h3 class="sectionedit8" id="saja_deposit">saja_deposit</h3>
<div class="level3">
<div class="table sectionedit9"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> depositid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 儲值帳目id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> userid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 會員id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> countryid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 國家id </td>
	</tr>
	<tr class="row5">
		<td class="col0"> behav </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 儲值行為 </td>
	</tr>
	<tr class="row6">
		<td class="col0"> currency </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 幣別 </td>
	</tr>
	<tr class="row7">
		<td class="col0"> amount </td><td class="col1"> decimal(12,4) </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 儲值數量 </td>
	</tr>
	<tr class="row8">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row10">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row11">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT9 TABLE [2170-2900] -->
</div>
<!-- EDIT8 SECTION "saja_deposit" [2147-2901] -->
<h3 class="sectionedit10" id="saja_deposit_rule">saja_deposit_rule</h3>
<div class="level3">
<div class="table sectionedit11"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> drid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 儲值規則id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> name </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 儲值規則名稱 </td>
	</tr>
	<tr class="row4">
		<td class="col0"> description </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 儲值規則敘述 </td>
	</tr>
	<tr class="row5">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT11 TABLE [2930-3497] -->
</div>
<!-- EDIT10 SECTION "saja_deposit_rule" [2902-3498] -->
<h3 class="sectionedit12" id="saja_deposit_rule_item">saja_deposit_rule_item</h3>
<div class="level3">
<div class="table sectionedit13"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> driid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 儲值規則項目id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> drid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 儲值規則id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> countryid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 國家id </td>
	</tr>
	<tr class="row5">
		<td class="col0"> name </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 儲值規則項目名稱 </td>
	</tr>
	<tr class="row6">
		<td class="col0"> description </td><td class="col1"> varchar(255) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 儲值規則項目敘述 </td>
	</tr>
	<tr class="row7">
		<td class="col0"> amount </td><td class="col1"> decimal(12,4) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 儲值項目價格 </td>
	</tr>
	<tr class="row8">
		<td class="col0"> spoint </td><td class="col1"> decimal(12,4) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 儲值殺幣點數 </td>
	</tr>
	<tr class="row9">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row10">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row11">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row12">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT13 TABLE [3532-4390] -->
</div>
<!-- EDIT12 SECTION "saja_deposit_rule_item" [3499-4391] -->
<h3 class="sectionedit14" id="saja_gift">saja_gift</h3>
<div class="level3">
<div class="table sectionedit15"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> giftid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 禮券帳目id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> userid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 會員id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> countryid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 國家id </td>
	</tr>
	<tr class="row5">
		<td class="col0"> behav </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 禮券行為 </td>
	</tr>
	<tr class="row6">
		<td class="col0"> amount </td><td class="col1"> decimal(12,4) </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 禮券數量 </td>
	</tr>
	<tr class="row7">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row10">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT15 TABLE [4412-5071] -->
</div>
<!-- EDIT14 SECTION "saja_gift" [4392-5072] -->
<h3 class="sectionedit16" id="saja_sgift">saja_sgift</h3>
<div class="level3">
<div class="table sectionedit17"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> sgiftid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 殺價禮券帳目id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> userid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 會員id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> countryid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 國家id </td>
	</tr>
	<tr class="row5">
		<td class="col0"> behav </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 殺價禮券行為 </td>
	</tr>
	<tr class="row6">
		<td class="col0"> amount </td><td class="col1"> decimal(12,4) </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 殺價禮券數量 </td>
	</tr>
	<tr class="row7">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row10">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT17 TABLE [5094-5772] -->
</div>
<!-- EDIT16 SECTION "saja_sgift" [5073-5773] -->
<h3 class="sectionedit18" id="saja_sgift_rule">saja_sgift_rule</h3>
<div class="level3">
<div class="table sectionedit19"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> sgiftid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 殺價禮券帳目id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> productid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 產品id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row5">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT19 TABLE [5800-6267] -->
</div>
<!-- EDIT18 SECTION "saja_sgift_rule" [5774-6268] -->
<h3 class="sectionedit20" id="saja_spoint">saja_spoint</h3>
<div class="level3">
<div class="table sectionedit21"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> spointid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 殺幣帳目id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> userid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 會員id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> countryid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 國家id </td>
	</tr>
	<tr class="row5">
		<td class="col0"> behav </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 殺幣行為 </td>
	</tr>
	<tr class="row6">
		<td class="col0"> amount </td><td class="col1"> decimal(12,4) </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 殺幣數量 </td>
	</tr>
	<tr class="row7">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row10">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT21 TABLE [6291-6952] -->
</div>
<!-- EDIT20 SECTION "saja_spoint" [6269-] -->