
<h1 class="sectionedit1" id="api_document">API Document</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "API Document" [1-27] -->
<h2 class="sectionedit2" id="spec">Spec</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Name : Bid <abbr title="Application Programming Interface">API</abbr></div>
</li>
<li class="level1"><div class="li"> Description : 下標 <abbr title="Application Programming Interface">API</abbr></div>
</li>
<li class="level1"><div class="li"> Url : <a href="http://210.61.12.136/site/mobile/bid" class="urlextern" title="http://210.61.12.136/site/mobile/bid"  rel="nofollow">http://210.61.12.136/site/mobile/bid</a></div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Spec" [28-144] -->
<h2 class="sectionedit3" id="paramater">Paramater</h2>
<div class="level2">
<div class="table sectionedit4"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Type </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> productid </td><td class="col1"> String </td><td class="col2"> 競標商品id </td>
	</tr>
	<tr class="row2">
		<td class="col0"> price </td><td class="col1"> float </td><td class="col2"> 單一下標價格 </td>
	</tr>
	<tr class="row3">
		<td class="col0"> price_start </td><td class="col1"> float </td><td class="col2"> 範圍下標起始價格 </td>
	</tr>
	<tr class="row4">
		<td class="col0"> price_stop </td><td class="col1"> float </td><td class="col2"> 範圍下標結束價格 </td>
	</tr>
</table></div>
<!-- EDIT4 TABLE [167-370] -->
</div>
<!-- EDIT3 SECTION "Paramater" [145-371] -->
<h2 class="sectionedit5" id="example">Example</h2>
<div class="level2">

<p>
<a href="http://210.61.12.136/site/mobile/bid/productid=1&amp;price=10.31" class="urlextern" title="http://210.61.12.136/site/mobile/bid/productid=1&amp;price=10.31"  rel="nofollow">http://210.61.12.136/site/mobile/bid/productid=1&amp;price=10.31</a>
</p>

</div>
<!-- EDIT5 SECTION "Example" [372-457] -->
<h2 class="sectionedit6" id="return_value">Return Value</h2>
<div class="level2">

</div>
<!-- EDIT6 SECTION "Return Value" [458-482] -->
<h3 class="sectionedit7" id="record">Record</h3>
<div class="level3">
<div class="table sectionedit8"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Description </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> rank </td><td class="col1"> 順位提示 </td><td class="col2"> 若為空值則不顯示順位提示 </td>
	</tr>
</table></div>
<!-- EDIT8 TABLE [500-594] -->
</div>
<!-- EDIT7 SECTION "Record" [483-] -->