/*!
 * jquery-confirm v2.0.0 (http://craftpip.github.io/jquery-confirm/)
 * Author: boniface pereira
 * Website: www.craftpip.com
 * Contact: hey@craftpip.com
 *
 * Copyright 2013-2015 jquery-confirm
 * Licensed under MIT (https://github.com/craftpip/jquery-confirm/blob/master/LICENSE)
 */body.jconfirm-noscroll {
 overflow:hidden !important
}
@keyframes jconfirm-rotate {
 from {
  -moz-transform:rotate(0deg);
  -ms-transform:rotate(0deg);
  -webkit-transform:rotate(0deg);
  transform:rotate(0deg)
 }
 to {
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  transform:rotate(360deg)
 }
}
.jconfirm {
 position:fixed;
 top:0;
 left:0;
 right:0;
 bottom:0;
 z-index:100000000;
 font-family:inherit;
 overflow:hidden
}
.jconfirm .jconfirm-bg {
 position:fixed;
 top:0;
 left:0;
 right:0;
 bottom:0;
 background-color:rgba(0,0,0,0.8);
 filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
 opacity:0;
 -moz-transition:all .4s;
 -o-transition:all .4s;
 -webkit-transition:all .4s;
 transition:all .4s
}
.jconfirm .jconfirm-bg.seen {
 filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
 opacity:1
}
.jconfirm .jconfirm-scrollpane {
 position:fixed;
 top:0;
 left:0;
 right:0;
 bottom:0;
 overflow-y:auto
}
.jconfirm .jconfirm-box {
 background:white;
 -moz-border-radius:3px;
 -webkit-border-radius:3px;
 border-radius:3px;
 position:relative;
 outline:none
}
.jconfirm .jconfirm-box .closeIcon {
 height:20px;
 width:20px;
 position:absolute;
 top:12px;
 right:12px;
 cursor:pointer;
 filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
 opacity:.6;
 text-align:center;
 display:none
}
.jconfirm .jconfirm-box .closeIcon:hover {
 filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
 opacity:1
}
.jconfirm .jconfirm-box .title {
 font-size:24px;
 font-weight:bold;
 font-family:inherit;
 padding:10px 15px 5px
}
.jconfirm .jconfirm-box .content {
 padding-top:10px;
 padding:10px 15px 10px
}
.jconfirm .jconfirm-box .content:empty {
 height:40px;
 position:relative;
 opacity:0.6
}
.jconfirm .jconfirm-box .content:empty:before {
 content:'';
 height:20px;
 width:20px;
 border:solid 2px #aaa;
 position:absolute;
 left:50%;
 margin-left:-45px;
 -moz-border-radius:20%;
 -webkit-border-radius:20%;
 border-radius:20%;
 -webkit-animation:jconfirm-rotate 1s infinite;
 -moz-animation:jconfirm-rotate 1s infinite;
 -o-animation:jconfirm-rotate 1s infinite;
 animation:jconfirm-rotate 1s infinite
}
.jconfirm .jconfirm-box .content:empty:after {
 content:'loading..';
 position:absolute;
 left:50%;
 margin-left:-15px
}
.jconfirm .jconfirm-box .buttons {
 padding:10px 15px
}
.jconfirm .jconfirm-box .buttons button+button {
 margin-left:5px
}
.jconfirm .jquery-clear {
 clear:both
}
.jconfirm.rtl {
 direction:rtl
}
.jconfirm.rtl div.closeIcon {
 left:12px;
 right:auto
}
.jconfirm .jconfirm-box.hilight {
 -webkit-animation:hilight 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
 -moz-animation:hilight 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
 -o-animation:hilight 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
 animation:hilight 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
 -moz-transform:translate3d(0, 0, 0);
 -ms-transform:translate3d(0, 0, 0);
 -webkit-transform:translate3d(0, 0, 0);
 transform:translate3d(0, 0, 0)
}
.jconfirm.waca_confirm .jconfirm-box {
 -moz-box-shadow:0 2px 6px rgba(0,0,0,0.2);
 -webkit-box-shadow:0 2px 6px rgba(0,0,0,0.2);
 box-shadow:0 2px 6px rgba(0,0,0,0.2);
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border-radius:5px
}
.jconfirm.waca_confirm .jconfirm-box .title {
 font-size:40px;
 font-weight:normal;
 float:left;
 padding:10px
}
.jconfirm.waca_confirm .jconfirm-box .title i {
 float:left
}
.jconfirm.waca_confirm .jconfirm-box .title .icon-notice {
 color:#e4644b
}
.jconfirm.waca_confirm .jconfirm-box .title .icon-checkmark {
 color:#27ae61
}
.themeswhite_style .jconfirm.waca_confirm .jconfirm-box .title .icon-notice {
 color:#f27474
}
.themeswhite_style .jconfirm.waca_confirm .jconfirm-box .title .icon-checkmark {
 color:#2dcc70
}
.jconfirm.waca_confirm .jconfirm-box .content {
 color:#333;
 display:block;
 font-size:14px;
 overflow:hidden;
 padding:0;
 text-align:justify
}
.jconfirm.waca_confirm .jconfirm-box .content .content_confirm_inner,.jconfirm.waca_confirm .jconfirm-box .content .content_dialog_inner,.jconfirm.waca_confirm .jconfirm-box .content .content_info_inner {
 display:block
}
.jconfirm.waca_confirm .jconfirm-box .content .content_confirm_inner {
 margin:20px 10px 0 0
}
.jconfirm.waca_confirm .jconfirm-box .content .content_confirm_inner.welcome_content {
 margin:20px 15px 20px 0px
}
.jconfirm.waca_confirm .jconfirm-box .content .content_confirm_inner.welcome_content p {
 margin:10px 0;
 font-size:16px
}
.jconfirm.waca_confirm .jconfirm-box .content .content_confirm_inner.welcome_content b {
 color:#f00;
 margin-left:5px;
 margin-right:5px
}
.jconfirm.waca_confirm .jconfirm-box .content .content_confirm_inner a {
 color:#007fc5
}
.jconfirm.waca_confirm .jconfirm-box .content .content_dialog_inner {
 margin:20px 15px 20px 0px
}
.jconfirm.waca_confirm .jconfirm-box .content .content_info_inner {
 margin:20px 20px 0
}
.jconfirm.waca_confirm .jconfirm-box .buttons {
 clear:both;
 float:none;
 padding:10px;
 text-align:right
}
.jconfirm.waca_confirm .jconfirm-box .buttons button {
 text-transform:uppercase;
 -moz-transition:background .1s;
 -o-transition:background .1s;
 -webkit-transition:background .1s;
 transition:background .1s;
 width:25%
}
.jconfirm.waca_confirm .jconfirm-box .buttons button+button {
 margin-left:10px
}
@media screen and (max-width: 480px) {
 .jconfirm.waca_confirm .jconfirm-box .buttons button {
  width:30%
 }
}
.jconfirm.waca_confirm .member_recipient_box .title {
 display:none
}
.jconfirm.waca_confirm .member_recipient_box .jconfirm-box {
 padding:15px
}
.jconfirm.waca_confirm .member_recipient_box .jconfirm-box .content_dialog_inner {
 margin:0
}
.jconfirm.waca_confirm .member_recipient_box .recipient_list {
 max-height:200px;
 overflow-y:auto
}
.jconfirm.waca_confirm .member_recipient_box .recipient_list.nope {
 margin-bottom:10px;
 padding:20px 20px 10px;
 background:#f1f1f1;
 -moz-border-radius:3px;
 -webkit-border-radius:3px;
 border-radius:3px;
 text-align:center;
 font-size:14px
}
@media screen and (max-width: 480px) {
 .jconfirm.waca_confirm .member_recipient_box .recipient_list.nope {
  font-size:16px
 }
}
.jconfirm.waca_confirm .member_recipient_box .form_group {
 margin-left:0;
 margin-right:0;
 margin-bottom:15px;
 padding:0;
 background:#e6e6e6;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border-radius:5px;
 list-style-type:none;
 font-size:14px;
 line-height:20px;
 color:#b3b3b3;
 cursor:pointer
}
.themeswhite_style .jconfirm.waca_confirm .member_recipient_box .form_group {
 background:#f1f5f6;
 color:#ccc
}
.themeswhite_style .jconfirm.waca_confirm .member_recipient_box .form_group:hover {
 color:#999
}
.themeswhite_style .jconfirm.waca_confirm .member_recipient_box .form_group.active {
 background:#9ca4a9;
 color:#ccc
}
@media screen and (max-width: 480px) {
 .jconfirm.waca_confirm .member_recipient_box .form_group {
  line-height:1.3em;
  font-size:16px
 }
}
.jconfirm.waca_confirm .member_recipient_box .form_group:hover {
 color:#666
}
.jconfirm.waca_confirm .member_recipient_box .form_group.active {
 background:#333;
 color:#fff;
 cursor:default
}
.jconfirm.waca_confirm .member_recipient_box .form_group li {
 padding:10px 20px
}
.jconfirm.waca_confirm .member_recipient_box .form_group li+li {
 padding-left:0
}
@media screen and (max-width: 480px) {
 .jconfirm.waca_confirm .member_recipient_box .form_group li {
  padding:5px 10px
 }
}
.jconfirm.waca_confirm .member_recipient_box .buttons {
 padding:0;
 text-align:right
}
.jconfirm.waca_confirm .member_recipient_box .buttons button {
 width:30%
}
@media screen and (min-width: 481px) and (max-width: 991px) {
 .jconfirm.waca_confirm .member_recipient_box .jconfirm-box {
  padding:15px 25px
 }
 .jconfirm.waca_confirm .member_recipient_box .buttons {
  margin-top:10px
 }
 .jconfirm.waca_confirm .member_recipient_box .buttons button {
  width:30%
 }
}
.jconfirm.waca_popup_edm {
 z-index:99999999
}
.jconfirm.waca_popup_edm .jconfirm-box {
 -moz-border-radius:4px;
 -webkit-border-radius:4px;
 border-radius:4px
}
.jconfirm.waca_popup_edm .jconfirm-box .title {
 background:#333;
 -moz-border-radius:3px 3px 0 0;
 -webkit-border-radius:3px;
 border-radius:3px 3px 0 0;
 color:#fff;
 font-size:18px;
 font-weight:normal;
 padding:10px;
 text-align:center
}
.themeswhite_style .jconfirm.waca_popup_edm .jconfirm-box .title {
 background:#bdc3c7
}
.jconfirm.waca_popup_edm .jconfirm-box .content {
 padding:15px 15px 0
}
.jconfirm.waca_popup_edm .jconfirm-box .form_group {
 margin-bottom:0
}
.jconfirm.waca_popup_edm .jconfirm-box .edm_content {
 font-size:14px
}
.jconfirm.waca_popup_edm .jconfirm-box .buttons {
 margin-top:0;
 padding:15px
}
.jconfirm.waca_popup_edm .jconfirm-box .btn_confirm {
 font-size:16px;
 letter-spacing:2px;
 padding:10px;
 width:100%
}
.jconfirm.waca_popup_img {
 z-index:99999999
}
.jconfirm.waca_popup_img .jconfirm-box {
 background:transparent;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 border-radius:0;
 max-width:500px;
 margin:auto
}
.jconfirm.waca_popup_img .jconfirm-box .closeIcon {
 color:#fff;
 font-size:40px;
 top:-40px;
 right:-10px;
 height:40px;
 width:40px
}
@media screen and (max-width: 480px) {
 .jconfirm.waca_popup_img .jconfirm-box .closeIcon {
  right:0
 }
}
.jconfirm.waca_popup_img .jconfirm-box .content {
 padding:0
}
@media screen and (max-width: 480px) {
 .jconfirm.waca_popup_img .jconfirm-box .content {
  margin:0 10px
 }
}
.jconfirm.waca_popup_img .jconfirm-box .content img {
 max-width:100%;
 vertical-align:middle;
 width:500px
}
@media screen and (max-width: 480px) {
 .jconfirm.waca_popup_img .jconfirm-box .content img {
  width:100%
 }
}
.jconfirm.waca_popup_cart .jconfirm-box {
 -moz-box-shadow:0 2px 6px rgba(0,0,0,0.2);
 -webkit-box-shadow:0 2px 6px rgba(0,0,0,0.2);
 box-shadow:0 2px 6px rgba(0,0,0,0.2);
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border-radius:5px
}
.jconfirm.waca_popup_cart .jconfirm-box .product_promotion {
 list-style:none;
 padding-left:0
}
.jconfirm.waca_popup_cart .jconfirm-box .form_group {
 min-height:30px;
 max-height:150px;
 overflow-x:hidden;
 overflow-y:auto
}
@media screen and (max-width: 767px) {
 .jconfirm.waca_popup_cart .jconfirm-box .form_group {
  max-height:100px
 }
}
@media screen and (max-width: 480px) {
 .jconfirm.waca_popup_cart .jconfirm-box .form_group {
  max-height:80px
 }
}
.jconfirm.waca_popup_cart .jconfirm-box .product_collection h4 {
 margin:5px 0;
 width:97%;
 overflow:hidden;
 -webkit-line-clamp:2;
 line-height:21px;
 font-size:16px
}
.jconfirm.waca_popup_cart .jconfirm-box .item_tags .item_tags_icon {
 line-height:20px;
 font-size:13px;
 color:#fff;
 display:inline-block;
 padding:0 2px 0 3px;
 height:20px;
 -moz-border-radius:3px;
 -webkit-border-radius:3px;
 border-radius:3px
}
.jconfirm.waca_popup_cart .jconfirm-box .item_tags .item_tags_icon.product_preorder_tags {
 background:#78c5bf
}
.jconfirm.waca_popup_cart .jconfirm-box .item_tags .item_tags_icon.product_ticket_tags {
 background:#fe9a14
}
.jconfirm.waca_popup_cart .jconfirm-box .item_tags .item_tags_icon.product_gift_tags {
 background:#e2644b
}
.jconfirm.waca_popup_cart .jconfirm-box .item_tags .tags_preorder_info {
 margin:3px 0;
 font-size:12px;
 color:#666
}
.jconfirm.waca_popup_cart .jconfirm-box .item_tags .tags_preorder_info i {
 vertical-align:middle;
 font-size:14px;
 color:#666
}
.jconfirm.waca_popup_cart .jconfirm-box .form_collection {
 margin:0;
 padding:0
}
.jconfirm.waca_popup_cart .jconfirm-box .form_collection li {
 float:left;
 min-height:27px;
 margin-right:8px;
 margin-bottom:8px;
 list-style:none
}
.jconfirm.waca_popup_cart .jconfirm-box .error_text {
 margin-top:5px;
 text-align:center
}
@media screen and (max-width: 480px) {
 .jconfirm.waca_popup_cart .jconfirm-box .product_btn button {
  font-size:14px
 }
}
.jconfirm.soldout_mail .title {
 background:#333;
 border-radius:3px 3px 0 0;
 padding:15px 10px;
 font-size:18px;
 font-weight:normal;
 color:#fff
}
.themeswhite_style .jconfirm.soldout_mail .title {
 background-color:#bdc3c7
}
.jconfirm.soldout_mail .content {
 padding:10px;
 padding-bottom:0
}
.jconfirm.soldout_mail .help_block {
 margin-top:0
}
.jconfirm.soldout_mail .help_block i {
 margin-left:0
}
.jconfirm.soldout_mail h5 {
 line-height:22px;
 font-size:14px;
 color:#808080;
 margin:0
}
.jconfirm.soldout_mail h5>.text_overflow {
 line-height:1.5;
 -webkit-line-clamp:2;
 font-size:13px;
 color:#333;
 text-align:justify
}
.jconfirm.soldout_mail .buttons {
 float:right;
 padding:10px;
 width:70%
}
@media screen and (max-width: 480px) {
 .jconfirm.soldout_mail .buttons {
  width:100%
 }
}
.jconfirm.soldout_mail .buttons button+button {
 float:right
}
.jconfirm.soldout_mail .buttons .btn_confirm,.jconfirm.soldout_mail .buttons .btn_cancel {
 width:48.5%
}
.jconfirm.waca_popup_tips .jconfirm-box {
 -moz-box-shadow:0 2px 6px rgba(0,0,0,0.2);
 -webkit-box-shadow:0 2px 6px rgba(0,0,0,0.2);
 box-shadow:0 2px 6px rgba(0,0,0,0.2);
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border-radius:5px
}
.jconfirm.waca_popup_tips .jconfirm-box .title {
 font-size:40px;
 font-weight:normal;
 float:left;
 padding:10px
}
.jconfirm.waca_popup_tips .jconfirm-box .title i {
 float:left
}
.jconfirm.waca_popup_tips .jconfirm-box .title .icon-notice {
 color:#e4644b
}
.jconfirm.waca_popup_tips .jconfirm-box .title .icon-checkmark {
 color:#27ae61
}
.themeswhite_style .jconfirm.waca_popup_tips .jconfirm-box .title .icon-notice {
 color:#f27474
}
.themeswhite_style .jconfirm.waca_popup_tips .jconfirm-box .title .icon-checkmark {
 color:#2dcc70
}
.jconfirm.waca_popup_tips .jconfirm-box .content {
 color:#333;
 display:block;
 font-size:14px;
 overflow:hidden;
 padding:0;
 text-align:justify
}
.jconfirm.waca_popup_tips .jconfirm-box .content .content_confirm_inner {
 display:block;
 margin:20px 10px 0 0
}
.jconfirm.waca_popup_tips .jconfirm-box .content .popup_tips_inner .form_label {
 font-size:16px
}
@media screen and (max-width: 480px) {
 .jconfirm.waca_popup_tips .jconfirm-box .content .popup_tips_inner .form_label {
  font-size:14px;
  text-align:left
 }
}
.jconfirm.waca_popup_tips .jconfirm-box .buttons {
 clear:both;
 float:none;
 padding:10px;
 text-align:right
}
.jconfirm.waca_popup_tips .jconfirm-box .buttons button {
 text-transform:uppercase;
 -moz-transition:background .1s;
 -o-transition:background .1s;
 -webkit-transition:background .1s;
 transition:background .1s;
 width:25%
}
.jconfirm.waca_popup_tips .jconfirm-box .buttons button+button {
 margin-left:10px
}
@media screen and (max-width: 480px) {
 .jconfirm.waca_popup_tips .jconfirm-box .buttons button {
  width:48%
 }
}
.jconfirm.waca_popup_tips .jconfirm-box .buttons .btn_confirm {
 background-color:#8c8c8c
}
.themeswhite_style .jconfirm.waca_popup_tips .jconfirm-box .buttons .btn_confirm {
 background-color:#78c7e6
}
.jconfirm.waca_popup_tips .jconfirm-box .buttons .btn_cancel {
 background-color:#333
}
.themeswhite_style .jconfirm.waca_popup_tips .jconfirm-box .buttons .btn_cancel {
 background-color:#37acda
}
.jconfirm.waca_popup_tips .member_recipient_box .title {
 display:none
}
.jconfirm.waca_popup_tips .member_recipient_box .jconfirm-box {
 padding:15px
}
.jconfirm.waca_popup_tips .member_recipient_box .jconfirm-box .content_dialog_inner {
 margin:0
}
.jconfirm.waca_popup_tips .member_recipient_box .recipient_list {
 max-height:200px;
 overflow-y:auto
}
.jconfirm.waca_popup_tips .member_recipient_box .recipient_list.nope {
 margin-bottom:10px;
 padding:20px 20px 10px;
 background:#f1f1f1;
 -moz-border-radius:3px;
 -webkit-border-radius:3px;
 border-radius:3px;
 text-align:center;
 font-size:14px
}
@media screen and (max-width: 480px) {
 .jconfirm.waca_popup_tips .member_recipient_box .recipient_list.nope {
  font-size:16px
 }
}
.jconfirm.waca_popup_tips .member_recipient_box .form_group {
 margin-left:0;
 margin-right:0;
 margin-bottom:15px;
 padding:0;
 background:#e6e6e6;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border-radius:5px;
 list-style-type:none;
 font-size:14px;
 line-height:20px;
 color:#b3b3b3;
 cursor:pointer
}
.themeswhite_style .jconfirm.waca_popup_tips .member_recipient_box .form_group {
 background:#f1f5f6;
 color:#ccc
}
.themeswhite_style .jconfirm.waca_popup_tips .member_recipient_box .form_group:hover {
 color:#999
}
.themeswhite_style .jconfirm.waca_popup_tips .member_recipient_box .form_group.active {
 background:#9ca4a9;
 color:#ccc
}
@media screen and (max-width: 480px) {
 .jconfirm.waca_popup_tips .member_recipient_box .form_group {
  line-height:1.3em;
  font-size:16px
 }
}
.jconfirm.waca_popup_tips .member_recipient_box .form_group:hover {
 color:#666
}
.jconfirm.waca_popup_tips .member_recipient_box .form_group.active {
 background:#333;
 color:#fff;
 cursor:default
}
.jconfirm.waca_popup_tips .member_recipient_box .form_group li {
 padding:10px 20px
}
.jconfirm.waca_popup_tips .member_recipient_box .form_group li+li {
 padding-left:0
}
@media screen and (max-width: 480px) {
 .jconfirm.waca_popup_tips .member_recipient_box .form_group li {
  padding:5px 10px
 }
}
.jconfirm.waca_popup_tips .member_recipient_box .buttons {
 padding:0;
 text-align:right
}
.jconfirm.waca_popup_tips .member_recipient_box .buttons button {
 width:30%
}
@media screen and (min-width: 481px) and (max-width: 991px) {
 .jconfirm.waca_popup_tips .member_recipient_box .jconfirm-box {
  padding:15px 25px
 }
 .jconfirm.waca_popup_tips .member_recipient_box .buttons {
  margin-top:10px
 }
 .jconfirm.waca_popup_tips .member_recipient_box .buttons button {
  width:30%
 }
}
@keyframes hilight {
 10%, 90% {
  -moz-transform:translate3d(-2px, 0, 0);
  -ms-transform:translate3d(-2px, 0, 0);
  -webkit-transform:translate3d(-2px, 0, 0);
  transform:translate3d(-2px, 0, 0)
 }
 20%, 80% {
  -moz-transform:translate3d(4px, 0, 0);
  -ms-transform:translate3d(4px, 0, 0);
  -webkit-transform:translate3d(4px, 0, 0);
  transform:translate3d(4px, 0, 0)
 }
 30%, 50%, 70% {
  -moz-transform:translate3d(-8px, 0, 0);
  -ms-transform:translate3d(-8px, 0, 0);
  -webkit-transform:translate3d(-8px, 0, 0);
  transform:translate3d(-8px, 0, 0)
 }
 40%, 60% {
  -moz-transform:translate3d(8px, 0, 0);
  -ms-transform:translate3d(8px, 0, 0);
  -webkit-transform:translate3d(8px, 0, 0);
  transform:translate3d(8px, 0, 0)
 }
}
.jconfirm {
 perspective:400px
}
.jconfirm .jconfirm-box {
 opacity:1;
 transition-property:transform, opacity, box-shadow
}
.jconfirm .jconfirm-box.anim-top,.jconfirm .jconfirm-box.anim-left,.jconfirm .jconfirm-box.anim-right,.jconfirm .jconfirm-box.anim-bottom,.jconfirm .jconfirm-box.anim-opacity,.jconfirm .jconfirm-box.anim-zoom,.jconfirm .jconfirm-box.anim-scale,.jconfirm .jconfirm-box.anim-none,.jconfirm .jconfirm-box.anim-rotate,.jconfirm .jconfirm-box.anim-rotatex,.jconfirm .jconfirm-box.anim-rotatey,.jconfirm .jconfirm-box.anim-scaley,.jconfirm .jconfirm-box.anim-scalex {
 filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
 opacity:0
}
.jconfirm .jconfirm-box.anim-rotate {
 -moz-transform:rotate(90deg);
 -ms-transform:rotate(90deg);
 -webkit-transform:rotate(90deg);
 transform:rotate(90deg)
}
.jconfirm .jconfirm-box.anim-rotatex {
 -moz-transform:rotateX(90deg);
 -ms-transform:rotateX(90deg);
 -webkit-transform:rotateX(90deg);
 transform:rotateX(90deg);
 transform-origin:center
}
.jconfirm .jconfirm-box.anim-rotatey {
 -moz-transform:rotatey(90deg);
 -ms-transform:rotatey(90deg);
 -webkit-transform:rotatey(90deg);
 transform:rotatey(90deg);
 transform-origin:center
}
.jconfirm .jconfirm-box.anim-scaley {
 -moz-transform:scaley(1.5);
 -ms-transform:scaley(1.5);
 -webkit-transform:scaley(1.5);
 transform:scaley(1.5);
 transform-origin:center
}
.jconfirm .jconfirm-box.anim-scalex {
 -moz-transform:scalex(1.5);
 -ms-transform:scalex(1.5);
 -webkit-transform:scalex(1.5);
 transform:scalex(1.5);
 transform-origin:center
}
.jconfirm .jconfirm-box.anim-top {
 -moz-transform:translate(0px, -100px);
 -ms-transform:translate(0px, -100px);
 -webkit-transform:translate(0px, -100px);
 transform:translate(0px, -100px)
}
.jconfirm .jconfirm-box.anim-left {
 -moz-transform:translate(-100px, 0px);
 -ms-transform:translate(-100px, 0px);
 -webkit-transform:translate(-100px, 0px);
 transform:translate(-100px, 0px)
}
.jconfirm .jconfirm-box.anim-right {
 -moz-transform:translate(100px, 0px);
 -ms-transform:translate(100px, 0px);
 -webkit-transform:translate(100px, 0px);
 transform:translate(100px, 0px)
}
.jconfirm .jconfirm-box.anim-bottom {
 -moz-transform:translate(0px, 100px);
 -ms-transform:translate(0px, 100px);
 -webkit-transform:translate(0px, 100px);
 transform:translate(0px, 100px)
}
.jconfirm .jconfirm-box.anim-zoom {
 -moz-transform:scale(1.2);
 -ms-transform:scale(1.2);
 -webkit-transform:scale(1.2);
 transform:scale(1.2)
}
.jconfirm .jconfirm-box.anim-scale {
 -moz-transform:scale(0.5);
 -ms-transform:scale(0.5);
 -webkit-transform:scale(0.5);
 transform:scale(0.5)
}
.jconfirm .jconfirm-box.anim-none {
 display:none
}
.jconfirm.supervan .jconfirm-bg {
 background-color:rgba(54,70,93,0.95)
}
.jconfirm.supervan .jconfirm-box {
 background-color:transparent
}
.jconfirm.supervan .jconfirm-box .closeIcon {
 color:white
}
.jconfirm.supervan .jconfirm-box .title {
 text-align:center;
 color:white;
 font-size:28px;
 font-weight:normal
}
.jconfirm.supervan .jconfirm-box .content {
 text-align:center;
 color:white
}
.jconfirm.supervan .jconfirm-box .buttons {
 text-align:center
}
.jconfirm.supervan .jconfirm-box .buttons button {
 font-size:16px;
 border-radius:2px;
 background:#303f53;
 text-shadow:none;
 border:none;
 color:white;
 width:25%;
 padding:10px
}
