.overview {
    width: 100%;
}

.overview .stock th.big{
    text-align: right;
}

.overview .small{
    width: 28px;
    padding: 3px;
    text-align: center;
}
.overview .small .commissions{
    width: 100%;
    border: none;
    text-align: center;
}
.overview td.pointer {
    cursor: pointer;
}
