
<h1 class="sectionedit1" id="api_document">API Document</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "API Document" [1-27] -->
<h2 class="sectionedit2" id="spec">Spec</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Name : Login <abbr title="Application Programming Interface">API</abbr></div>
</li>
<li class="level1"><div class="li"> Description : 登入 <abbr title="Application Programming Interface">API</abbr></div>
</li>
<li class="level1"><div class="li"> Url : <a href="http://210.61.12.136/site/mobile/login" class="urlextern" title="http://210.61.12.136/site/mobile/login"  rel="nofollow">http://210.61.12.136/site/mobile/login</a></div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Spec" [28-148] -->
<h2 class="sectionedit3" id="paramater">Paramater</h2>
<div class="level2">
<div class="table sectionedit4"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Type </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> name </td><td class="col1"> String </td><td class="col2"> 使用者名稱 </td>
	</tr>
	<tr class="row2">
		<td class="col0"> passwd </td><td class="col1"> String </td><td class="col2"> 登入密碼 </td>
	</tr>
	<tr class="row3">
		<td class="col0"> user </td><td class="col1"> String </td><td class="col2"> 經過AES 128bit加密後的帳號密碼字串 </td>
	</tr>
	<tr class="row4">
		<td class="col0"> key(測試用) </td><td class="col1"> String </td><td class="col2"> D44F8682DA386 </td>
	</tr>
</table></div>
<!-- EDIT4 TABLE [171-376] -->
</div>
<!-- EDIT3 SECTION "Paramater" [149-376] -->
<h2 class="sectionedit5" id="example">Example</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> 將使用者帳號密碼組合成 name=xxx&amp;passwd=yyyyyyyy 的URL字串</div>
</li>
<li class="level1"><div class="li"> 將此字串透過AES 128bit加密</div>
</li>
<li class="level1"><div class="li"> 將加密過後的字串經過urlencode轉換後，帶入user參數傳給API</div>
</li>
</ul>
<pre class="code PHP"><span class="re0">$str</span> <span class="sy0">=</span> <span class="st0">&quot;name=tester&amp;passwd=10qpw93nd7&quot;</span><span class="sy0">;</span>
<span class="re0">$encrypted</span> <span class="sy0">=</span> encryptAES128<span class="br0">&#40;</span><span class="st0">&quot;D44F8682DA386&quot;</span><span class="sy0">,</span> <span class="re0">$str</span><span class="br0">&#41;</span><span class="sy0">;</span>
<span class="re0">$user</span> <span class="sy0">=</span> <a href="http://www.php.net/urlencode"><span class="kw3">urlencode</span></a><span class="br0">&#40;</span><span class="re0">$encrpyted</span><span class="br0">&#41;</span><span class="sy0">;</span></pre>

<p>
<a href="http://210.61.12.136/site/mobile/login/user=YpX%FE%F0D%25%EE%D97SwN%8Axj%15%7D%888%C6%DC%E7%3C%8E%B1%9El%5D%1Cmy" class="urlextern" title="http://210.61.12.136/site/mobile/login/user=YpX%FE%F0D%25%EE%D97SwN%8Axj%15%7D%888%C6%DC%E7%3C%8E%B1%9El%5D%1Cmy"  rel="nofollow">http://210.61.12.136/site/mobile/login/user=YpX%FE%F0D%25%EE%D97SwN%8Axj%15%7D%888%C6%DC%E7%3C%8E%B1%9El%5D%1Cmy</a>
</p>

</div>
<!-- EDIT5 SECTION "Example" [377-850] -->
<h2 class="sectionedit6" id="return_value">Return Value</h2>
<div class="level2">

</div>
<!-- EDIT6 SECTION "Return Value" [851-875] -->
<h3 class="sectionedit7" id="record">Record</h3>
<div class="level3">
<div class="table sectionedit8"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Description </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> userid </td><td class="col1"> 使用者ID </td><td class="col2"> </td>
	</tr>
</table></div>
<!-- EDIT8 TABLE [893-951] -->
</div>
<!-- EDIT7 SECTION "Record" [876-] -->