.fold-vertical {
	background-image: url(../images/admin/folding_vertical.png);
}
.fold-all {
	height: 11px;
	width: 11px;
	margin: 7px 0 0 3px;
	background-image: url(../images/admin/folding_all.png);
}
.fold-horizontal {
	background-image: url(../images/admin/folding_horizontal.png);
}
.icons {
	background-image: url(../images/admin/icons.png);
}
.sort {
	background-image: url(../images/admin/sort.png);
}