input:disabled,
input[readonly] {
	background-color: #ECECEC;
}

.left-control {
	position: fixed;
	top: 50%;
	left: 0;
	width: 6px;
	height: 30px;
	background-position-y: top;
}
.left-control:hover {
	background-position-y: bottom;
}
.expanded {
	background-position-x: -6px;
}
.collapsed {
	background-position-x: 0;
}
.header-style {
	border-top: 1px solid #d5eabc;
	border-bottom : 1px solid #67982d;
	background-color: #aad479;
	color: #4b6d23;
}
.breadcrumb {
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
}
.breadcrumb a {
	line-height: 25px;
	margin: 0 5px;
	color: #4b6d23;
	text-decoration: none;
}
.breadcrumb a:hover {
	text-decoration: underline;
}
.searchbar {
	height: 46px;
	line-height: 23px;
	padding-top: 2px;
}
.searchbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.search-field {
	height: 23px;
	margin-left: 15px;
	float: left;
}
.search-field .label {
	line-height: 23px;
}
.search-field select,
.search-field input {
	height: 18px;
	padding: 0;
	margin: 0;
}
.searchbar .button {
	float: left;
	margin: 0 1em;
}

.button input.submit {
	min-height: 21px;
}
.button input.submit,
.button a {
	height: 17px;
	line-height: 17px;
	color: white;
	display: block;
	cursor: pointer;
	text-decoration: none;
	padding: 1px 5px;
	border: 1px solid #406d0c;
	background: #679c28;
	background: -moz-linear-gradient(top,  #679c28 0%, #4b7d0f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#679c28), color-stop(100%,#4b7d0f));
	background: -webkit-linear-gradient(top,  #679c28 0%,#4b7d0f 100%);
	background: -o-linear-gradient(top,  #679c28 0%,#4b7d0f 100%);
	background: -ms-linear-gradient(top,  #679c28 0%,#4b7d0f 100%);
	background: linear-gradient(top,  #679c28 0%,#4b7d0f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#679c28', endColorstr='#4b7d0f',GradientType=0 );
}

.table-wrapper {
    padding: 16px 0;
}
.table {
    margin: 0 23px;
    list-style: none;
    padding: 0;
}
.table .header {
	height: 30px;
	border: 1px solid #67982d;
	border-bottom: 0;
	background: #d4e6c9;
	background: -moz-linear-gradient(top,  #d4e6c9 0%, #acce95 50%, #98c37b 50%, #9ec682 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4e6c9), color-stop(50%,#acce95), color-stop(50%,#98c37b), color-stop(100%,#9ec682));
	background: -webkit-linear-gradient(top,  #d4e6c9 0%,#acce95 50%,#98c37b 50%,#9ec682 100%);
	background: -o-linear-gradient(top,  #d4e6c9 0%,#acce95 50%,#98c37b 50%,#9ec682 100%);
	background: -ms-linear-gradient(top,  #d4e6c9 0%,#acce95 50%,#98c37b 50%,#9ec682 100%);
	background: linear-gradient(top,  #d4e6c9 0%,#acce95 50%,#98c37b 50%,#9ec682 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e6c9', endColorstr='#9ec682',GradientType=0 );
}
.table .body table {
	border-top: 1px solid #67982d;
	border-left: 1px solid #67982d;
	margin: 0;
}
.table .body th,
.table .body td {
	border-bottom: 1px solid #67982d;
	border-right: 1px solid #67982d;
	text-align: center;
}
.table .body th {
	padding: 0;
	height: 25px;
	color: #4b6d23;
	line-height: 25px;
	background: #c4e2a1;
	background: -moz-linear-gradient(top,  #c4e2a1 0%, #def1c7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4e2a1), color-stop(100%,#def1c7));
	background: -webkit-linear-gradient(top,  #c4e2a1 0%,#def1c7 100%);
	background: -o-linear-gradient(top,  #c4e2a1 0%,#def1c7 100%);
	background: -ms-linear-gradient(top,  #c4e2a1 0%,#def1c7 100%);
	background: linear-gradient(top,  #c4e2a1 0%,#def1c7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4e2a1', endColorstr='#def1c7',GradientType=0 );
	-webkit-user-select : none;
	-moz-user-select : none;
	user-select : none;
}
.table .body td {
	height: 20px;
	line-height: 20px;
    padding: 0 10px;
    background-color: #edf2ea;
    text-align: left;
}
.table .body tr:hover td {
	background-color: #d6e2f5;
}
.table .sortable {
	cursor: pointer;
	text-decoration: underline;
}
.table .sortable a {
	display: block;
	height: 100%;
	text-align: center;
	line-height: 26px;
	position: relative;
	text-decoration: none;
	padding: 0 14px;
}
.table .sortable span {
	position: absolute;
	display: block;
	width: 11px;
	height: 22px;
	margin: 0;
	padding: 0;
	right: 2px;
	top: 2px;
}
.table .sortable .init {
	background-position: 0 0;
}
.table .sortable .asc {
	background-position: -11px 0;
}
.table .sortable .desc {
	background-position: -22px 0;
}
.table .list-checkbox {
	width: 10px;
}
.table .icon {
	width: 3em;
	text-align: center;
}
.table .icon a {
	display: block;
	width: 18px;
	height: 18px;
	cursor: pointer;
	margin: 0 auto;
}
.table .icon-edit {
	background-position: -18px top;
}
.table .icon-delete {
	background-position: 0 top;
}
.table .icon-edit:hover {
	background-position: -18px bottom;
}
.table .icon-delete:hover {
	background-position: 0 bottom;
}
.table .column.center {
	text-align: center;
}
.table .column.left {
	text-align: left;
}
.table .column.right {
	text-align: right;
}

.table .functions {
	/*margin-top: 5px;*/
	display: inline-block;
	float: left;
}
.table .functions .button {
	display: inline-block;
	margin-left: 10px; /*margin-right: 10px;*/
	margin-top: 5px;
}
.table .footer {
	text-align: center;
	padding: 5px 0;
}
.table .footer ul {
	padding: 0;
	list-style: none;
	float: right;
}
.table .footer li {
	height: 25px;
	float: left;
	color: #4b6d23;
}
.table .footer .splitter {
	height: 10px;
	margin: 3px;
	border-right: 1px solid #4b6d23;
}
.table .footer a {
	text-decoration: none;
	color: #4b6d23;
}
.table .footer a:hover {
	text-decoration: underline;
}

.form {
	margin: 23px;
	background-color: #edf2ea;
	border: 1px solid #85b151;
	padding: 10px;
	color: #4b6d23;
}
.form .form-label {
	font-weight: bold;
	margin-bottom: 5px;
}
.form .field {
	height: 30px;
}
.form .field input {
	height: 19px;
}
.form .field label {
	font-weight: normal;
}
.form .functions {
	padding-top: 10px;
	clear: both;
}
.form .button {
	float: left;
	margin-right: 10px;
}
.form .description {
	max-width: 300px;
	height: 100px;
}
.form .form-table {
	width: auto;
	float: left;
}
.form .form-table td {
	line-height: 24px;
	font-size: 12px;
}
.form .form-table td:first-child {
	max-width: 170px;
}
.form .form-table td label {
	line-height: 24px;
}
.form .form-table td input,
.form .form-table td select {
	height: 20px;
	font-size: 14px;
}
.form .form-table td textarea {
	max-height: 100px;
}
.form .form-table td {
	background: none;
}
.form .form-table .numeric {
	width: 60px;
}
.form .comment {
	font-weight: normal;
	font-size: 11px;
	color: #333333;
	max-width: 100px;
}
.form .relation-list {
	margin: 0;
	padding: 0 20px 0 7px;
	list-style: none;
	/*max-height: 96px;*/
	min-height: 24px;
	overflow-y: scroll;
	border: 1px solid #BBB;
}
.form .relation-list .relation-item {
	height: 14px;
}
.form .relation-list .relation-item-name {
	line-height: 20px;
	vertical-align: baseline;
}