/*------------------------------ 彈窗 影音廣告 ------------------------------*/

.flexA-btn {
    position: fixed;
    right: 0;
    top: calc((100% - 75px) / 2 );
    width: 75px;
    height: auto;
}

#Amodal-v {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: 1070;
    background: #000;
    border: 8px solid #efefef;
    box-shadow: 0 1px 10px -1px #000;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    font-size: 20px;
    border-radius: 5px;
    overflow: hidden;
}

#Wrapper-v {
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    display: block;
    position: relative;
    top: -1.5px;
    left: -1.5px;
}

.videoAdUiLearnMore {
    font-size: 12px;
}

.AmodalBg-v {
    display: none;
    position: fixed;
    z-index: 1060;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.modal-open {
    overflow: hidden;
}


/*領券完成視窗*/
#receiveModal {
    display: none; 
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    width: 68vmin;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    z-index: 1070;
    background: #FFF;
    box-shadow: 0 1px 10px -1px #000;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    font-size: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.rmodal-header {
    background: #f9a823;
    text-align: center;
    color: #FFFf;
    padding: 1rem;
}

.rmodal-body {
    margin: 2.5rem 1rem;
}

.rmodal-img {
    margin: 0 3rem;
}
.rmodal-text-box {
    margin-top: 1.334rem;
    font-size: 1.25rem;
    color: #2A2A2A;
    line-height: 1.75rem;
    font-weight: 600;
}
.rmodal-name {
    
}
.rmodal-num {
    margin: 0 .25rem;
}

.rmodal-btn {
    background: #f9a823;
    color: #FFF;
    margin: 1.667rem 3.084rem 0;
    padding: .625rem;
    font-size: 1.25rem;
    border-radius: 100vh;
    box-sizing: border-box;
}

.rmodal-bg {
    display: none;
    position: fixed;
    z-index: 1060;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}


/*------------------------------ 靜態廣告 ------------------------------*/
[class$='ModalBox'] {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.cModalBox {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 999;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

.cModalBox .cModal-close {
    position: absolute;
    top: 0rem;
    right: 0rem;
    background: rgba(0, 0, 0, 0.8);
    /* border-radius: 50%; */
    box-shadow: 0 1px 1px rgba(78, 78, 78, 0.8);
    color: #dfdfdf;
    font-size: 2rem;
    padding: .5rem 1.2rem .97rem;
}
.cModalBox .cModal-bg {
    display: none;
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.sModalBox {
    display: none;
    width: 100%;
    /*        max-width: 350px;*/
    margin: 0 auto;
}

.mModalBox {
    display: none;
    width: 100%;
    max-width: 500px;
    margin: .5rem auto;
}

.lModalBox {
    width: 100%;
    max-width: 350px;
    margin: 2rem auto;
}
