/*----------------------------------------  共用類  ----------------------------------------*/
.esfas {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.esfas.graycolor {
    background-color: #aaa;
}
.esfas.lightcolor {
    background-color: #ccc;
}
.esfas.ycolor {
    background-color: #f9a823;
}
.eye-slash {
    -webkit-mask-image: url(../img/fontawesome/eye-slash-solid.svg);
    mask-image: url(../img/fontawesome/eye-slash-solid.svg);
}
.eye {
    -webkit-mask-image: url(../img/fontawesome/eye-solid.svg);
    mask-image: url(../img/fontawesome/eye-solid.svg);
}

/*明暗碼*/
.password-btn {
    display: inline-block;
    color: #bbb;
}
.password-btn i {
    font-size: .8rem;
}

/*li開闔手風琴*/
.user-list-link {
    cursor: pointer;
}
.user-lists-box .user-list ~ .user-list {
    border-top: 1px solid rgb(242,242,242);
}
.switch-box {
    padding: 1rem 0;
    background: #f5f5f5;
}
.switch-body {
    padding: .815rem;
}
.input_group {
    padding: 0 1.084rem;
    font-size: 1.25rem;
}
.required .label:before {
    content: '*';
    color: #F00;
}
.switch-body .label {
    margin-right: .5rem;
}
.input_group input.infotxt {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
.input_group input[readonly] {
    border: none;
    background: unset;
}

.small {
    color: #aaa;
}
a.link {
    color: #2196F3;
    text-decoration: underline;
}
.switch-btn {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.switch-btn button {
    background: #F9A823;
    color: #FFF;
    font-weight: normal;
    border: none;
    width: 80%;
    margin: 0 auto;
    font-size: 1.417rem;
    outline: none;
    border-radius: 100vh;
    font-family: -apple-system-font, arial,"Microsoft JhengHei";
}
.switch-body .infobox {
/*
    margin-left: .5rem;
    box-sizing: border-box;
*/
    font-size: 1.2rem;
    letter-spacing: .5px;
}
.switch-body .infobox + .infobox {
    margin-top: .5rem;
}
.switch-body .title {
    margin-right: .5rem;
    color: #999;
}
.switch-body .title::after {
    content: ' : '
}
.switch-body .infotxt {
    line-height: 1.6rem;
}
.switch-body input.infotxt {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

/*li開闔手風琴--表格*/
.switch-table {
    font-size: 1.1rem;
    color: #555;
}
.switch-td {
    flex: 1;
    text-align: center;
    padding: .5rem;
}
.switch-td + .switch-td {
    border-left: 1px solid #e1e1e1;
}

/*文字顏色*/
.t-rcolor {
    color: #F00;
}
.t-gcolor {
    color: #4caf50;
}



/*----------------------------------------  登入頁面  ----------------------------------------*/
.enterprise-login-content {

}
.enterprise-content {
    background: #F9F9F9;
    padding-top: 3.50rem;
    padding-bottom: 4.584rem;
    min-height: calc(100vh - 3.75rem - 4.584rem);
    position: relative;
    box-sizing: border-box;
}

.enterprise-login {
    width: 100%;
    min-height: 100vmax;
    background-color: #FFF;
}
.enterprise-login .login-logo {
    width: 100%;
    text-align: center;
    padding-top: 5rem;
}
.enterprise-login .login-logo img {
    width: 50%;
    display: block;
    margin: 0 auto;
}
.enterprise-login .login-content {
    margin-top: 2rem;
}
.enterprise-login .login-account,
.enterprise-login .login-password {
    padding: 0 1rem 0 .5rem;
    box-sizing: border-box;
    height: 2.8rem;
}
.login-account img,
.login-password img {
    margin: 0;
    width: 1.6rem;
    display: inline-block;
}
.login-account input,
.login-password input {
    position: inherit;
    width: 100%;
    font-size: 1.2rem;
    padding: 0 .5rem;
    box-sizing: border-box;
    margin: 0;
    height: 90%;
    border: 0px solid #FFFFFF;
    color: #f9a823;
    display: inline-block;
}

.login-btn-login {
    height: auto;
    line-height: unset;
    padding: .8rem 0;
    font-size: 1.6rem;
    letter-spacing: .4rem;
    border-radius: 100vh;
    margin: 1.334rem auto 0;
    width: 80%;
    background-color: #f9a823;
    text-align: center;
    color: #FFF;
}

.login-forgotpassword {
    margin: 1.3rem 0rem;
    font-size: .9rem;
    text-align: center;
    text-decoration: underline;
    color: darkgray;
}
.login-footer {
    font-size: .8rem;
    padding-bottom: 3rem;
    text-align: center;
    margin-top: 0.5rem;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
}
.login-footer .login-footer-txt {
    color: #a9a9a9;
    text-decoration: none;
    margin-right: .5rem;
    margin-left: 5px;
}
.login-footer a {
    color: #6495ed;
    text-decoration: underline;
}

/*----------------------------------------  商戶資料首頁列表  ----------------------------------------*/
