.es-load-select {

}
.es-load-select .horscroll {
    background-color: #fefefe;
    overflow: auto;
    white-space: nowrap;
    flex: 1;
    position: relative;
    height: 3.5rem;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
.horscroll .menu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}
.horscroll .menu-wrapper a.menu-a {
    display: block;
    color: #D0D0D0;
    text-align: center;
    padding: 1.126rem 0;
    font-size: 1.25rem;
    font-weight: unset;
    text-decoration: none;
}
.horscroll .menu-wrapper a.menu-a.on-active {
    color: #F9A823;
    font-weight: 600;
}
.menu-wrapper .sideline {
    display: block;
    position: absolute;
    border: 0;
    height: 2px;
    background-color: rgb(249,168,35);
    left: 0;
    bottom: 0;
    pointer-events: none;
}
.esWrapper-show-box {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 3.75rem - 4.584rem);
}
.esWrapper-show-box.hasfootbar {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 3.75rem - 4.584rem - 3.334rem);
}
/*多了廣告*/
.esWrapper-show-box.hasfootbar.hasad {
     height: calc(100vh - 3.75rem - 4.584rem - 3.334rem - 4.834rem); 
}
.esWrapper-boxscroll {
    height: inherit;
    position: absolute;
}
.show-item {
    float: left;
    display: inline;
    overflow: auto;
    height: inherit;
    box-sizing: border-box;
    padding: .834rem 0;
}
.eslist-wrapper {
    width: 100%;
    margin: 0 0 .834rem;
    padding: 0 .75rem;
    box-sizing: border-box;
}
.esloading {
    padding: .5rem;
    font-size: 1rem;
    color: #AAA;
    letter-spacing: .167rem;
    text-align: center;
}
.esloading img {
    width: 2.084rem;
    margin-right: .5rem;
}