/** BS通用CSS **/
.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 300;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
.clearfix::after,
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.d-inline-block {
    display: inline-block;
}
.align-baseline {
    vertical-align: baseline;
}
.align-top {
    vertical-align: top;
}
.align-middle {
    vertical-align: middle;
}
.align-bottom {
    vertical-align: bottom;
}
.align-text-top {
    vertical-align: text-top;
}
.align-text-bottom {
    vertical-align: text-bottom;
}

.ml-auto, .mx-auto {
    margin-left: auto;
}
.mr-auto, .mx-auto {
    margin-right: auto;
}
.mt-auto, .my-auto {
    margin-top: auto;
}
.mb-auto, .my-auto {
    margin-bottom: auto;
}

.w-25 {
    width: 25%!important;
}
.w-50 {
    width: 50%!important;
}
.w-75 {
    width: 75%!important;
}
.w-100 {
    width: 100%!important;
}

/** flexBox **/
/* 父層 */
.d-flex{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.d-inlineflex {
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;
}
/*排列方式*/
.flex-row{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.flex-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.flex-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}
/*水平對齊*/
.justify-content-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.justify-content-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.justify-content-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.justify-content-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.justify-content-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
/*垂直對齊*/
.align-items-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.align-items-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.align-items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.align-items-baseline {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.align-items-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
/*自身對齊*/
.align-self-start {
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.align-self-end {
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.align-self-center {
    -ms-flex-item-align: center;
    align-self: center;
}
.align-self-baseline {
    -ms-flex-item-align: baseline;
    align-self: baseline;
}
.align-self-stretch {
    -ms-flex-item-align: stretch;
    align-self: stretch;
}
/*多行對齊 配合flex-wrap*/
.align-content-start {
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
.align-content-end {
    -ms-flex-line-pack: end;
    align-content: flex-end;
}
.align-content-center {
    -ms-flex-line-pack: center;
    align-content: center;
}
.align-content-between {
    -ms-flex-line-pack: justify;
    align-content: space-between;
}
.align-content-around {
    -ms-flex-line-pack: distribute;
    align-content: space-around;
}
.align-content-stretch {
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}
/*換行wrap*/
.flex-nowrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}
/*排序*/
.order-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
}
.order-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.order-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
.order-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}
.order-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
}
.order-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
}
.order-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
}
.order-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
}
.order-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
}
.order-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
}
.order-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
}
.order-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11;
}
.order-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
}
/*display其他*/
.d-none {
    display: none;
}
.d-inline-block {
    display: inline-block;
}
.d-block {
    display: block;
}