/*------------------------------------------- 共用部分 -------------------------------------------*/
#instant-box {
    width: 100vw;
    min-height: 100vh;
}
.instant-content {
        
}

/* 暫無資料樣式 */
#instant-box .nohistory-box {
    padding: 0;
    position: fixed;
    top: calc((100% - 40vmin) / 2);
    left: 0;
    right: 0;
    width: 40vmin;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    z-index: 1070;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    font-size: 20px;
    border-radius: 10px;
    overflow: hidden;
}
#instant-box .nohistory-box .nohistory-img {
    width: 100%;
}

/* 訊息彈跳視窗 (含連結按鈕) */
.feedback-modal {
    position: fixed;
    top: calc((100% - 20rem) / 2);
    left: 0;
    right: 0;
    width: 70vmin;
    /* min-height: 10rem; */
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    z-index: 1070;
    background: #FFF;
    box-shadow: 0 1px 10px -1px #000;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    font-size: 20px;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;
    box-sizing: border-box;
}
.feedback-modal .feedback-txt {
    padding: 0;
}
.feedback-modal .feedback-btn {
    display: block;
    font-size: 1rem;
    color: #FFF;
    background: #FF9800;
    width: 90%;
    margin: 1.5rem auto 0;
    padding: .5rem 0rem;
    border-radius: 100vh;
    border: none;
    font-family: -apple-system-font, arial,"Microsoft JhengHei";
    outline: none;
    cursor: pointer;
}

.feedback-modal .feedback-btn:hover {
    background: #ffb548;
}
.feedback-modal .feedback-btn:active {
    background: #ffc775;
}

.feedback-bg {
    position: fixed;
    z-index: 1060;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/*------------------------------------------- 閃殺場次選擇頁 -------------------------------------------*/
#instant-box.choice {
    background: #fefefe;
}
#instant-box.choice .container {
    padding: 1.667rem 1.7rem;
}

#instant-box .title {
    font-size: 1.3rem;
    margin: 1rem 0;
    color: #a5a5a5;
    font-weight: 600;
}
.instant-select-box {

}
.instant-select-box .select-item,
.instant-select-box .select-item:active,
.instant-select-box .select-item:visited,
.instant-select-box .select-item:focus {
    display: block;
    background: #ffe6b1;
    padding: 1.25rem;
    font-size: 1.584rem;
    border-radius: 1rem;
    /* box-shadow: 0 1px 10px #e0a901, inset 0 -5px 10px #fae198, inset 0 5px 10px #ffffff; */
    text-align: center;
    color: #F9A823;
    cursor: pointer;
}
.instant-select-box .select-item:hover {
    background: #fdd175;
    box-shadow: 0 0 10px #ff8d6a;
}
.instant-select-box .select-item + .select-item {
    margin-top: 1.25rem;
}
.instant-select-box .select-item small {
    font-size: 1.2rem;
    margin-left: 1rem;
}


/*------------------------------------------- 閃殺主畫面 -------------------------------------------*/
#instant-box.show {
    background: #dbdbdb;
}
#instant-box.show .container {
    padding: 3rem 2rem;
}
#instant-box.show .instant-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin: 0 0 2rem;
    background: #f6339f;
    background: -moz-linear-gradient(top, #FF9800 0%,#ff2100 50%,#FF5722 99%);
    background: -webkit-linear-gradient(top, #FF9800 0%,#ff2100 50%,#FF5722 99%);
    background: linear-gradient(to bottom, #FF9800 0%,#ff2100 50%,#FF5722 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6339f', endColorstr='#ff973c',GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#instant-box.show .instant-header {
    background: #eee;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
}
    .instant-header .winner-box {
        position: absolute;
        right: 1rem;
        text-align: right;
        font-size: 1rem;
    }
        .instant-header .winner-box .win-title {
            font-size: .8rem;
            color: #a9a9a9;
        }
        .instant-header .winner-box .winner {
            margin-top: .5rem;
        }
            .instant-header .winner-box .winner .winner-img {
                width: 2.5rem;
                overflow: hidden;
                border-radius: 100vh;
            }
            .instant-header .winner-box .winner .winner-name-box {
                margin-left: .5rem;
                text-align: left;
            }
            .instant-header .winner-box .winner .winner-name-box .winner-name {
            }
            .winner .winner-name-box .winner-id {
                display: none;
                font-size: .8rem;
                margin-top: .3rem;
                color: #aaa;
            }
            .instant-header .winner-box .winner .winner-name-box .winner-id .id{
                margin: 0 .1rem;
            }

    .instant-header .countdown-box {
        text-align: center;
    }
        .countdown-box .count-title{
            font-size: 2rem;
            margin: 1rem;
            color: #646464;
        }
        .countdown-box .countdown-num {
            font-size: 3rem;
            margin: 1rem;
        }
    .instant-header .header-box {
        margin-bottom: 1rem;
    }
    
        .header-box .instant-product {
            max-width: 50%;
        }
        .header-box .instant-qrcode {
            max-width: 35%;
            padding: 1rem;
            background: #FFF;
            border-radius: 1rem;
        }
    
#instant-box .instant-footer {
    margin: 1rem auto;
}
    .instant-footer .product-info {
        font-size: 1.5rem;
        text-align: center;
    }
        .product-info .product-name {

        }
        .product-info .market-price-box {
/*                margin-top: .5rem;*/
        }
    .instant-footer .footer-btn {
        width: 50%;
    }
        .footer-btn .instant-go-btn {
            font-family: -apple-system-font, arial,"Microsoft JhengHei";
            border: none;
            width: 100%;
            text-align: center;
            background: #FFC107;
            padding: 1rem;
            border-radius: 1rem;
            font-size: 1.5rem;
            box-shadow: 0 1px 10px #414141, inset 2px 2px 20px #fff, inset -2px -2px 20px #909090;
            box-sizing: border-box;
            font-weight: bold;
            color: #000;
            text-shadow: -1px -1px 1px #FFF, 1px 1px 1px #7a7a7a;
        }
        .footer-btn .instant-go-btn:hover {
            width: 100%;
            text-align: center;
            background: #FFC107;
            padding: 1rem;
            border-radius: 1rem;
            font-size: 1.5rem;
            box-shadow: 0 1px 10px #414141, inset 2px 2px 20px #fff, inset -2px -2px 20px #909090;
            box-sizing: border-box;
            font-weight: bold;
            color: #000;
            text-shadow: -1px -1px 1px #FFF, 1px 1px 1px #7a7a7a;
        }

.timeController .esfas {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.esfas.gcolor {
    background-color: #4caf50;
}
.esfas.pcolor {
    background-color: #e91e63;
}
    
.esfas.play.disabled,
.esfas.pause.disabled {
    background-color: #ccc;
}
.play {
    -webkit-mask-image: url(../img/fontawesome/play-circle-solid.svg);
    mask-image: url(../img/fontawesome/play-circle-solid.svg);
}
.pause {
    -webkit-mask-image: url(../img/fontawesome/pause-circle-solid.svg);
    mask-image: url(../img/fontawesome/pause-circle-solid.svg);
}
.timeController .paly-btn {

}
.timeController .pause-btn {
    margin-left: 1rem;
}
.end-btn {
    background: #FFC107;
    color: #000;
    padding: 1rem;
    font-weight: 600;
    letter-spacing: 1rem;
    text-indent: 1rem;
    margin-left: 1rem;
    border-radius: 100vh;
    cursor: pointer;
}
    
.timeController .paly-btn,
.timeController .pause-btn {
    cursor: pointer;
}
.timeController .paly-btn:hover,
.timeController .pause-btn:hover,
.timeController .end-btn:hover {
    opacity: .5;
}

/* QRcode 放大功能 */
.zoomQRcode-modal {
    position: relative;
}
.zoomQRcode-modal .zoomQRcode-img { 
    position: fixed;
    top: calc((100% - 80vmin) / 2);
    left: 0;
    right: 0;
    width: 80vmin;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    z-index: 1070;
    background: #FFF;
    box-shadow: 0 1px 10px -1px #000;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    font-size: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.zoomQRcode-modal .zoomQRcode-img img {
    width: 100%;
    height: auto;
}
.zoomQRcode-modal .zoomQRcode-bg {
    position: fixed;
    z-index: 1060;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

/*------------------------------------------- 閃殺恭喜得標者頁面 -------------------------------------------*/
#instant-box.final {
    background: #dbdbdb;
}
#instant-box.final .container {
    padding: 5rem 0;
}
    
.winner-imgBox {
    width: 30vmin;
    height: 30vmin;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.winner-imgBox .winner-img {
    width: 100%;
    height: auto;
}

.winner-txt {
    margin: 2rem auto 0;
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
}
.winner-txt .winner-name {
    margin-left: 1rem;
    font-weight: 600;
    color: #E91E63;
}
.winner-txt .winner-name + .winner-id {
    margin-left: 1rem;
    font-size: 1.3rem;
    color: #767676;
}
.winner-txt .winner-price {
    margin: 0 1rem;
    font-weight: 600;
    color: #E91E63;
}

.final .footer-btn {
    margin: 2rem auto;
    text-align: center;
    font-size: 2rem;
}
.final .footer-btn .next-btn {
    display: block;
    font-size: 1.5rem;
    color: #FFF;
    background: #FF9800;
    width: 40vmin;
    margin: 0 auto;
    padding: 1rem 0rem;
    border-radius: 10rem;
}
.final .footer-btn .next-btn:hover {
    background: #ffb548;
}
.final .footer-btn .next-btn:active {
    background: #ffc775;
}

/*------------------------------------------- 使用者閃殺頁面 -------------------------------------------*/
#instant-box.userbid {
    width: 100vw;
    min-height: auto;
    background: #fefefe;
}
    #instant-box.userbid .container {
        padding: 0;
    }
    #instant-box.userbid .sajaprod-img ul.slides li {
         min-height: unset; 
    }
    .sajaprod-img .noproductImg {
        position: absolute;
        left: calc((100% - 4rem) / 2);
    }
    #instant-box.userbid .productSaja-imgbox .sajaprod-name {
        padding: .917rem 5.5rem .5rem;
        color: rgb(42,42,42);
    }
    #instant-box.userbid .productSaja-imgbox .market-price-box {
        padding: 0 5.5rem 1rem;
        color: #9b9b9b;
    }

    .bind-container {
        margin: 0 3rem;
    }
    .user-bind-history {
        
    }
    .user-bind-history .bind-history-title {
        font-size: 1.5rem;
        font-weight: 600;
        padding-bottom: .5rem;
        border-bottom: 1px solid #d9d9d9;
    }
    .user-bind-history .bind-history-table {
        border: 1px solid #ededed;
        max-height: 5.5rem;
        margin: .8rem;
        overflow: auto;
    }
    .bind-history-table .bind-history-tr {
        font-size: 1.2rem;
        padding: .5rem;
    }
    .bind-history-table .bind-history-tr:nth-child(2n) {
        background: #e5e5e5;
    }
    .bind-history-tr .bind-time {
        flex: 1
    }
    .bind-history-tr .bind-price {
        max-width: 10rem;
        white-space: nowrap;
        text-align: right;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .user-bind-title {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        margin: 1.5rem 0;
    }
    
    .bind-inputBox {
        margin: 1rem;
        text-align: center;
    }
    .bind-inputBox input {
        font-size: 3rem;
    }
    .bind-inputBox .bind-unit {
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    /* 控制按鈕 */
    .userbid .footer-btn {
        margin: 2rem 0;
    }
    .userbid .btn-item {
        
    }
    .userbid .btn-item + .btn-item {
        margin-top: 1rem;
    }
    .userbid .btn-item-a {
        background: #f9a823;
        color: #FFF;
        font-size: 1.5rem;
        letter-spacing: .2rem;
        text-indent: .5rem;
        margin: .5rem;
        padding: 1rem;
        text-align: center;
        border-radius: 100vh;
        display: block;
        font-family: -apple-system-font, arial,"Microsoft JhengHei";
        border: none;
        outline: none;
    }
    .userbid .btn-item-a:active {
        background: #fed38d;
    }
    .userbid .footer-btn .bind-btn .btn-item-a.disabled,
    .userbid .footer-btn .bind-btn .btn-item-a:disabled {
        background: #ddd;
        pointer-events: none;
    }
    /* 驗證訊息 */
    .feedback {
       text-align: center;
        color: #FF0000;
        font-size: 1.2rem; 
    }
    
    /* 確定下標彈跳視窗 */
    .check-modal {
        
    }
    .check-modal .check-body {
        position: fixed;
        top: calc((100% - 80vmin) / 2);
        left: 0;
        right: 0;
        width: 80vmin;
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        z-index: 1070;
        background: #FFF;
        box-shadow: 0 1px 10px -1px #000;
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        font-size: 20px;
        border-radius: 10px;
        overflow: hidden;
    }
    .check-body .check-title {
        color: #959595;
        padding: 3rem 0 .5rem;
    }
    .check-body .check-price {
        margin: .5rem 0 3rem;
        font-size: 2rem;
    }
    .check-body .check-btn-group {
        margin: 0;
    }
    .check-btn-group .close-btn,
    .check-btn-group .ok-btn {
        flex: 1;
        background: #f9a823;
        color: #FFF;
        font-size: 1.3rem;
        border: none;
        padding: 1rem;
        margin: 0;
        box-sizing: border-box;
        font-family: -apple-system-font, arial,"Microsoft JhengHei";
        letter-spacing: .5rem;
        text-indent: .5rem;
    }
    .check-btn-group .close-btn:active,
    .check-btn-group .ok-btn:active {
        background: #ffd185;
    }
    .check-btn-group .close-btn {
/*        background: #fd5d5d;*/
    }
    .check-btn-group .ok-btn {
        border-left: 1px solid #FFF;
/*        background: #57d2c4;*/
    }
    .check-modal .check-bg {
        position: fixed;
        z-index: 1060;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }
