/* modal 設定*/
.fade {
    transition: opacity .1s ease-in-out;
}
.modal.fade .modal-dialog {
/*
    transition: -webkit-transform .1s ease-in-out;
    transition: transform .1s ease-in-out;
    transition: transform .1s ease-in-out,-webkit-transform .1s ease-in-out;
    -webkit-transform: translate(0,-25%);
    transform: translate(0,-25%);
*/
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
}
.modal.show .modal-dialog {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}
.modal-open {
    overflow: hidden;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2050;
    display: none;
    overflow: hidden;
    outline: 0;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2040;
    background-color: #000;
}
.modal-backdrop.fade {
    opacity: 0;
}

.modal.show.noShowBg ~ .modal-backdrop.show {
	opacity: 0;
}
.modal.show:not(.noShowBg) ~ .modal-backdrop.show {
	opacity: .2;
}
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #bbb;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    outline: 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc((100% - 4px) / 3);
    flex: 0 0 calc((100% - 4px) / 3);
    max-width: calc((100% - 4px) / 3);
}
.col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(((100% - 1px) / 3) * 2);
    flex: 0 0 calc(((100% - 1px) / 3) * 2);
    max-width: calc(((100% - 1px) / 3) * 2);
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.numberkeyboard-box {
    padding: .5rem;
    border: none;
    box-sizing: border-box;
    background: #e3e6ec;
}
.modal-dialog {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
}
#passport {
    text-align: right;
    width: calc(100% - 1.5rem);
    margin: .2rem auto;
    padding: .5rem;
    background: #eee;
}
.number-style {
    text-align: center;
    margin: 0;
    color: #2A2A2A;
    font-size: 2.167rem;
    padding: .823rem;
    font-weight: 300;
    background: #FFF;
    border-radius: .417rem;
}
.number-style:not(.gray) {
    border-bottom: .05rem solid #aaa;
}
.number-style#sure{
    font-size: 1.5rem;
    padding-top: 1.167rem;
    font-weight: 400;
    background: #e3e6ec;
    border-radius: 0;
    color: #2A2A2A;
    line-height: 1.8rem;
}
.number-style#sure.sure-btn {
    border-bottom: 1px solid #d7d7d7;
    color: #a2a7b2;
    padding: 0;
    line-height: 0;
}
.number-style#sure.sure-btn .esfas {
    background-color: #4c4c4c;
    margin: .2rem;
}
.number-style#x img{
    height: 1.5rem;
    width: auto;
}

.number-style + .number-style {
    margin-left: .3rem;
}
.row + .row {
    margin-top: .3rem;
}

.number-style.gray {
    background: transparent;
}
.number-style:active {
    background: #eee;
}
.number-style.disabled {
    opacity: 0;
}
.hide {
    display: none;
}
.modal-dialog.animated {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/*閃爍的文字游標*/
@keyframes caret {
    50% {
        background: transparent;
    }
    100% {
        background: rgb(163,43,40);
    }
}
span.pic{
    content:"";
    width: 2px;
    height: 24px;
    margin: 10px auto;
    background: rgb(163,43,40);
    animation: caret 1s steps(1) infinite;
}

/*解決IOS 在readonly仍能點選*/
.readonlyIOS {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
}