html, body {
    font-size: calc(12px + (18 - 12) * ((100vmin - 375px) / (1600 - 375)));
    background: #000;
    max-width: 568px;
    margin: 0 auto;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
.sajaNavBar {
    max-width: 568px;
}
.sajaFooterNavBar {
    max-width: 568px;
    margin: 0 auto;
    padding-top: 1rem;
    overflow: hidden;
}

.ui-panel {
    position: absolute;
    top: 0;
    display: block;
    width: 10rem;
    max-height: none;
    min-height: 100%;
    border-width: 0;
}
.ui-panel-display-overlay {
    z-index: 1001;
}
.ui-panel-animate {
    -webkit-transition: -webkit-transform .3s ease;
    -moz-transition: -moz-transform .3s ease;
    transition: transform .3s ease;
    -webkit-transition-duration: .3s;
}
.ui-panel-position-right {
    right: -17em;
}
.ui-panel-animate.ui-panel:not(.ui-panel-display-reveal) {
    -webkit-transform:translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}
.ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay {
    right: 0;
    -webkit-transform: translate3d(17em,0,0);
    -moz-transform: translate3d(17em,0,0);
    transform: translate3d(17em,0,0);
}
.ui-panel-animate.ui-panel-open.ui-panel-position-right.ui-panel-display-overlay {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.ui-panel-position-right.ui-panel-display-reveal, .ui-panel-position-right.ui-panel-open {
    right: 0;
}
.ui-panel-display-overlay {
    -webkit-box-shadow: 5px 0 5px rgba(0,0,0,.15);
    -moz-box-shadow: 5px 0 5px rgba(0,0,0,.15);
    box-shadow: 5px 0 5px rgba(0,0,0,.15);
}
.ui-panel-position-right.ui-panel-display-overlay {
    -webkit-box-shadow: -5px 0 5px rgba(0,0,0,.15);
    -moz-box-shadow: -5px 0 5px rgba(0,0,0,.15);
    box-shadow: -5px 0 5px rgba(0,0,0,.15);
}



.ui-panel-dismiss-open.ui-panel-dismiss-position-right {
    max-width: calc(568px / 2);
}