.sajalist-wrapper .sajalist-overtime{width:100%;padding:8px 0px;border-radius:15px;background:linear-gradient(90deg, #F9A823 28%, #FFBF56 65%);background:-moz-linear-gradient(90deg, #F9A823 28%, #FFBF56 65%);background:-webkit-linear-gradient(90deg, #F9A823 28%, #FFBF56 65%);background:-o-linear-gradient(90deg, #F9A823 28%, #FFBF56 65%)}.sajalist-img{position:relative}.sajalist-img:hover{opacity:0.6}.overtime{font-size:1.4rem}.limit_name{position:absolute;top:0px;right:0px;z-index:3;font-size:0.3rem;color:#fff;padding:5px;box-sizing:border-box}
/*# sourceMappingURL=producthome.css.map */
