.btn_time{background:linear-gradient(0deg, #F9A823 42%, #FFBF56 69%);background:-moz-linear-gradient(0deg, #F9A823 42%, #FFBF56 69%);background:-webkit-linear-gradient(0deg, #F9A823 42%, #FFBF56 69%);background:-o-linear-gradient(0deg, #F9A823 42%, #FFBF56 69%)}
/*# sourceMappingURL=product_home.css.map */
