.sajalist-item {
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8
}

.sajalist-home {
    background-color: #fff
}

.bgw {
    background-color: #fff;
    width: 100%;
    padding: 15px 0px;
    box-sizing: border-box
}

.bg_newking {
    background-image: url(../img/hdpi_phone.png);
    background-color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: calc(43.88% - 20vmin)
}

.th_hotproduct {
    background-color: #FEF8EB
}

.th_hotproduct .sajalist-home {
    background-color: #FEF8EB
}

.th_hotproduct .subtitle-box .subtitle {
    padding-top: 25px;
    padding-bottom: 10px
}

.th_adproduct {
    width: 100%;
    padding: 0 2.5vmin;
    box-sizing: border-box;
    margin-bottom: 50px
}

.md_adproduct {
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px #ddd;
    border: 1px solid #D8D8D8;
    background-color: #fff
}

.md_adproduct>header {
    width: 100%
}

.md_adproduct>header p {
    width: calc(100% - 150px);
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle
}

.timeoff {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
    margin-left: -5px;
    text-align: right
}

.timeoff>span {
    width: 100%;
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 5px 5px;
    background: #2A2A2A;
    border-radius: 20px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    max-width: 190px;
    text-align: center
}

.md_adproduct>div>p {
    width: 100%;
    color: #505050;
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-top: 10px
}

.more_txt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.th_publicwelfare {
    width: 100%;
    background-color: #FFEAEA;
    padding-top: 15px;
    margin-top: 30px
}

.seemore {
    width: 165px;
    text-align: center;
    float: right
}

.subtitle-box .subtitle>.seemore>span {
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #2A2A2A
}

.subtitle-box .subtitle>.seemore>span::after {
    content: "";
    background-image: url(../img/icon_rtarrow.png);
    width: 15px;
    height: 15px;
    background-size: contain;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    background-repeat: no-repeat;
    margin-left: 5px
}

/*# sourceMappingURL=sajahome.css.map */