.warn_txt {
    width: 100%;
    background-color: #6A6969;
    color: #fff;
    padding: 8px 10px;
    box-sizing: border-box;
    padding-right: 5px;
}

.warn_txt img {
    width: 1.3rem;
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px
}

.warn_txt>span {
    font-size: 1rem;
    line-height: 1.5rem;
    /* width: calc(100% - 2.5rem); */
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px
}

.under_chip {
    border: 1px solid #eeeeee;
    border-radius: 10px;
    overflow: hidden
}

.warn_directions {
    margin-top: 20px
}

.warn_directions:before {
    content: "";
    width: calc(100% - 70px);
    background-color: #2a2a2a;
    height: 1px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto
}

.warn_directions>div>span {
    font-size: 1rem;
    display: inline-block;
    background-color: #f9f9f9;
    position: relative;
    z-index: 2;
    padding: 5px 10px
}

.warn_directions .txt_red {
    color: #E32A00;
    font-weight: bold;
    display: inline-block;
}

.warn_directions .txtfw {
    font-weight: bold
}

.warn_directions .fee {
    font-weight: normal;
}

.bidtab {
    border-radius: 10px 10px 0 0;
    border-right: 1.5px solid #D8D8D8;
    border-bottom: 3px solid #D8D8D8;
    background-image: linear-gradient(-90deg, #F0F0F0 0%, #fff 100%);
    background: -webkit-linear-gradient(-90deg, #F0F0F0 0%, #fff 100%);
    background: -o-linear-gradient(-90deg, #F0F0F0 0%, #fff 100%)
}

.bidtab+.bidtab {
    border-left: 1.5px solid #D8D8D8;
    border-right: none
}

.bidtab>span {
    color: #B4B4B4
}

.th_ecords {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1035;
    text-align: center;
    /* overflow: auto; */
}

.th_ecords>header {
    width: 100%;
    background-color: #F9A823;
    position: relative;
    text-align: center;
    padding: .917rem 1.25rem .917rem .75rem;
    box-sizing: border-box
}

.th_ecords>header>span {
    font-size: 1.5rem;
    color: #fff;
    line-height: 2rem;
    font-weight: bold
}

.th_ecords .icon_back {
    width: 1.917rem;
    height: 1.917rem;
    position: absolute;
    left: 5px;
    top: 0px;
    bottom: 0px;
    margin: auto
}

.th_ecords .icon_back a,
.th_ecords .icon_back img {
    width: 100%
}

.frequency {
    width: calc(100% - 65px);
    padding: 25px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 0 9px 0 0;
    margin: 20px auto 0px;
    transition: 0.5s all ease;
    /* overflow-y: scroll; */
    /* height: 100%; */
}

.frequency>header {
    width: 40vw;
    max-width: 350px;
    display: block;
    margin: 10px auto
}

.frequency>header img {
    width: 100%
}

.frequency>div {
    width: 100%;
    display: block;
    margin: 30px auto 0px;
    border-bottom: 3px solid #E5E5E5
}

.frequency table,
.frequency tr {
    width: 100%
}

.frequency th,
.frequency td {
    width: 50%;
    font-size: 1.4rem;
    padding: 10px
}

.frequency tr {
    border-bottom: 1px solid #E5E5E5
}

.frequency tr+tr {
    border-top: 1px solid #E5E5E5
}


/*# sourceMappingURL=sajabid.css.map */