.md_title {
    width: 100%;
    background-color: #F9A823;
    position: relative;
    text-align: center;
    padding: .917rem 1.25rem .917rem .75rem;
    box-sizing: border-box
}

.md_title>span {
    font-size: 1.5rem;
    color: #fff;
    line-height: 2rem;
}

.md_title .icon_back {
    width: 1.917rem;
    height: 1.917rem;
    position: absolute;
    left: 5px;
    top: 0px;
    bottom: 0px;
    margin: auto
}

.md_title .icon_back a,
.md_title .icon_back img {
    width: 100%
}

.th_recordbet {
    display: none
}

.th_pay {
    width: 11.4rem;
    height: 11.4rem;
    border-radius: 100%;
    border: 1px solid #F9A823;
    overflow: hidden;
    margin: 20px auto;
    box-sizing: border-box;
    background-color: #F9A823
}

.th_pay>header {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 1.5rem;
    padding: 7px 15px 0px;
    box-sizing: border-box;
    line-height: 3rem;
    color: #fff
}

.th_pay>div {
    width: 100%;
    float: left;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff
}

.th_pay>div span {
    font-size: 2rem;
    line-height: 2.4rem
}

.th_pay>footer {
    width: 100%;
    text-align: center;
    float: left;
    padding: 0 15px;
    box-sizing: border-box
}

.th_pay>footer>span {
    font-size: 1.2rem;
    line-height: 3rem;
    color: #fff
}

.sajatopay-box,
.sajatopay-select {
    margin: 18px 25px;
    border-radius: 10px;
    border: 1px solid #EEEEEE;
    overflow: hidden
}

.payw100 {
    width: 100%;
    display: inline-block;
    text-align: left
}

.pay_price {
    /* width: calc(100% - 9.5rem); */
    display: inline-block;
    /* vertical-align: middle; */
    box-sizing: border-box;
    text-align: center
}

.pay_price>span {
    width: 100%;
    display: inline-block;
    text-align: left
}

.free_price {
    /* width: 3.8rem; */
    float: right;
    display: inline-block;
    vertical-align: middle
}

.free_price .pay_price {
    width: 100%;
    display: inline-block
}

.free_price .pay_price>span {
    text-align: right
}

.free_price .small {
    width: 100%;
    display: inline-block;
    background-color: #FF7877;
    color: #fff;
    font-size: 0.1rem;
    text-align: center;
    line-height: 1.2rem;
    padding: 5px 15px;
    box-sizing: border-box;
    color: #fff !important;
    font-size: 0.1rem;
    line-height: 1.2rem
}

.sajatopay-payinfo .payinfo-item .free_price .small {
    font-size: 1rem;
    line-height: 1.2rem
}

.pay_count {
    display: inline-block;
    vertical-align: middle
}

.th_accounts {
    width: 1.5rem
}

.th_accounts>a {
    width: 100%;
    display: inline-block
}

.th_accounts img {
    width: 100%
}

.sajatopay-select .sele-items {
    margin-top: 0px
}

.select_discount {
    width: 100%;
    background-color: #fff;
    cursor: pointer
}

.select_discount .s_discount,
.select_discount .s_much {
    font-size: 1.2rem;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5rem;
    width: 50%;
    margin-left: -4px;
    box-sizing: border-box
}

.select_discount .s_discount {
    text-align: left;
    padding: 10px 20px
}

.select_discount .s_much {
    text-align: right;
    padding: 10px 5px 10px 10px;
    font-size: 14px;
}

.select_discount .s_much:after {
    content: "";
    width: 10px;
    height: 10px;
    background-image: url(../img/arrowright.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-top: -3px
}

.total_price {
    /* width: 100% */
    padding-right: 1.084rem;
}

.total_price>header {
    width: 6rem;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: #eee;
    padding: 25px 10px;
    box-sizing: border-box;
    font-size: 1.2rem
}

.total_price>div {
    width: calc(100% - 6.3rem);
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    color: #E32A00;
    font-size: 1.5rem;
    /* padding: 0 20px; */
    box-sizing: border-box
}

.btn_nextpage {
    width: 100%;
    display: inline-block;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 1030;
    background: rgba(246, 246, 246, 0.8);
    padding: 1.5rem 0
}

.btn_nextpage>a {
    background: #F9A823;
    color: #FFF;
    font-weight: normal;
    border: none;
    width: 80%;
    margin: 0 auto;
    font-size: 1.417rem;
    text-align: center;
    outline: none;
    border-radius: 100vh;
    display: inline-block;
    padding: 1rem 1.417rem;
    box-sizing: border-box
}

.th_ticket {
    position: fixed;
    left: 100%;
    top: 0px;
    width: 100%;
    height: 100vh;
    background: #F9F9F9;
    z-index: 1035;
    transition: ease-out 0.2s;
}

.th_ticket.on {
    left: 0;
    transition: ease-out 0.2s;
}

.th_ticket>div {
    width: 100%;
    padding: 25px;
    box-sizing: border-box
}

.th_ticket .opt_ticket {
    position: relative
}

.th_ticket .opt_ticket:before {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
    border-bottom: 0;
    border-color: red red transparent transparent;
    border-style: solid solid solid solid;
    border-width: 2.2rem;
    border-top-right-radius: 10px;
}

.th_ticket .opt_ticket.on:before {
    opacity: 1
}

.th_ticket .select_ticket {
    /* border: 1px solid #eee; */
    background: #fff;
    border-radius: 10px;
    padding: 15px 10px;
    margin-bottom: 25px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box
}

.th_ticket .select_ticket>figure {
    width: 6rem;
    max-width: 207px;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
    margin-bottom: -23px
}

.th_ticket .select_ticket>figure img {
    width: 100%
}

.th_ticket .select_ticket figcaption {
    width: calc(100% - 6rem);
    padding-left: 15px;
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    box-sizing: border-box
}

.th_ticket .select_ticket figcaption>span {
    width: 100%;
    display: block;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 5px
}

.th_ticket .select_ticket figcaption>p {
    width: 100%;
    font-size: 1rem;
    line-height: 1rem;
    color: #d0d0d0
}

.th_ticket .select_ticket .Txt {
    width: 100%;
    display: block;
    text-align: right;
    font-size: 1.3rem;
    font-weight: 600;
}

.red {
    color: #FF5722
}

.disabled {
    display: none !important
}

.no_ticket {
    width: 100%;
    padding: 0;
}

.no_ticket>figure {
    width: 10.4rem;
    display: block;
    margin: 3.16rem auto;
}

.no_ticket>figure img {
    width: 100%
}

.no_ticket>div {
    width: 100%;
    text-align: center
}

.no_ticket>div>span {
    font-size: 18px;
    font-weight: bold
}

.no_ticket>div>p {
    color: #B4B4B4;
    font-size: 12px;
    margin-top: 8px
}

.check_pay {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: #f6f6f6;
    z-index: 1035
}

.check_pay.on {
    display: block
}

.check_pay>div {
    width: 100%;
    display: inline-block;
    /* margin-top: 5rem */
}

.check_pay>div>span,
.check_pay>div p {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px
}

.check_pay>div p.cost_pay {
    display: none;
}

.check_pay>div>span {
    color: #2A2A2A;
    font-size: 18px
}

.check_pay .hasHeader {
    margin-top: 5rem
}

.sum_payment {
    font-size: 42px;
    line-height: 45px;
    color: #2A2A2A
}

.cost_pay {
    text-decoration: line-through;
    font-size: 16px;
    line-height: 25px;
    color: #D8D8D8;
}

.coin {
    width: 80%;
    margin: 20px auto;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    padding: 10px;
    box-sizing: border-box
}

.coin>figure {
    width: 2.5rem;
    display: inline-block;
    vertical-align: middle
}

.coin>figure img {
    width: 100%
}

.coin figcaption {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 2.5rem - 30px);
    font-size: 1.23rem;
    padding-left: 10px;
    box-sizing: border-box
}

.coin>footer {
    display: inline-block;
    vertical-align: middle;
    width: 20px
}

.coin>footer img {
    width: 100%
}

.depositModal .d-close {
    position: absolute;
    top: -2.4rem;
    width: 1.8rem;
    right: -2.5rem;
}

.depositModal .d-coin {
    position: absolute;
    top: -2.3rem;
    border: 0.3rem solid #F0F0F0;
    border-radius: 50%;
    right: 50%;
    transform: translateX(50%);
}

.sajatopay .depositModal.msgModalBox .modal-content {
    padding-top: 4.8rem;
}

.sajatopay .depositModal.msgModalBox .modal-footer .footer-btn {
    font-size: 1.2rem;
    background: rgba(249, 168, 35, 0.30);
    border-radius: 5px;
    width: 80%;
    max-width: 15.5rem;
    margin: 0 auto;
    padding: 1.5rem;
    color: rgba(249, 168, 35, 1);
    border: 1px solid #F9A823;
    line-height: 1.7rem;
}

.depositModal {}


/*# sourceMappingURL=sajatopay.css.map */