@charset "utf-8";
/* CSS Document */

.ui-listview > li .ui-collapsible-heading {
  margin: 0;
}
.ui-collapsible.ui-li-static {
  padding: 0;
  border: none !important;
}
.ui-collapsible + .ui-collapsible > .ui-collapsible-heading > .ui-btn {
  border-top: none !important;
}
[data-role=page] .ui-panel-display-reveal {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
[data-role=page] .ui-panel-page-content-position-left {
    -webkit-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
    -moz-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
    box-shadow: -5px 0px 5px rgba(0,0,0,.15);
}

.ui-content2 {
border-width:0;
overflow:visible;
overflow-x:hidden;
padding-top:0;
padding-left:0.5em;
padding-right:0.5em;
padding-bottom:0
}

.autowrap {
   text-overflow:clip !important; 
   white-space:normal !important;
}

/*--------------------------------------------------------------------*/

.ui-block-a {
    width: 50% !important;
}
.ui-block-b {
    width: 50% !important;
}

/*--------------------------------------------------------------------*/

#tagBox {
	position: relative;
}
#tagBox img{
	width:100%
}
#tagBoxPlus {
	position:absolute;
}
#tagBoxPlus div {
	color: #FFF;
	padding: 3px;
	margin: 3px;
	float: left;
	font-size: 8pt;
	border-radius: 3px;
	text-shadow: 0 0px 0 #000;
	font-family: "Microsoft YaHei", sans-serif;
}
#tagBox_bonus {
	background-color: #FF0000;
}
#tagBox_store {
	background-color: #E4A68B;
}
#tagBox_qualifications {
	background-color: #A9E969;
}
#tagBox_area {
	background-color: #258BFF;
}
#tagBox_free {
	background-color: #FF00FF;
}

/*--------------------------------------------------------------------*/

.ui-li-thumb {
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}

/*--------------------------------------------------------------------*/

.dable-list thead th,
.dable-list tbody tr:last-child {
    border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.dable-list tbody th,
.dable-list tbody td {
    border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.dable-list tbody tr:last-child th,
.dable-list tbody tr:last-child td {
    border-bottom: 0;
}
.dable-list tbody tr:nth-child(odd) td,
.dable-list tbody tr:nth-child(odd) th {
    background-color: #eeeeee; /* non-RGBA fallback  */
    background-color: rgba(0,0,0,.04);
}

/*-- ------------------------------------------------------------------*/

#onlyContent img {
 width: 100%;
}

.flash_img {
  border:1px solid #999;
  padding:2px;
  background:#FF0000;
}

.ui-icon-flash:after {
	background-image: url("images/icon_flash.png");
	background-size: 18px 18px;
}

/*-- INDEX ------------------------------------------------------------------*/

.banner {
	margin-bottom: 10px;
	/*padding: 2% 0px 0px 0px;*/
	position: relative;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	/*background-color: #3388cc;*/
	text-align: center;
	vertical-align: bottom;
	/*top: -51px;*/
}
.navigate-column {
	float: left;
	width: 50%;
	box-sizing: border-box;
	/*height: 85px;*/
	position: relative;
	-webkit-transform: translateZ(0);
	margin-bottom: 10px;
	font-family: "Microsoft YaHei", sans-serif;
	text-shadow: 0 0px 0 #f3f3f3;
}
.navigate-column a {
	text-decoration: none;
}
.navigate-column:nth-child(odd) {
	padding: 0 5px 0 9px
}
.navigate-column:nth-child(even) {
	padding: 0 9px 0 5px
}
.navigate-column .wrapper {
	height: 100%;
	border-radius: 3px
}
.navigate-column .title, .navigate-column .sub-title {
	text-align: center;
	font-weight: bold
}
.navigate-column .title {
	margin-top: 21px;
	font-size: 24px;
	line-height: 24px;
	color: white;
	letter-spacing: 3px
}
.navigate-column .sub-title {
	margin-top: 9px;
	font-size: 9px;
	line-height: 9px;
	color: #E8E8E8
}
.navigate-column .red {
	background-color: rgba(255,102,102,.9);
	box-shadow: 0 2px 2px rgba(0,0,0,.1), inset 0 -4px rgba(222,55,55,.7);
	border: solid 1px #c82626
}
.navigate-column .yellow {
	background-color: rgba(255,184,0,.9);
	box-shadow: 0 2px 2px rgba(0,0,0,.1), inset 0 -4px rgba(221,136,36,.7);
	border: solid 1px #9d6b1a
}
.navigate-column .cyan {
	background-color: rgba(6,175,143,.9);
	box-shadow: 0 2px 2px rgba(0,0,0,.1), inset 0 -4px rgba(9,133,94,.7);
	border: solid 1px #0f7258
}
.navigate-column .blue {
	background-color: rgba(1,116,213,.9);
	box-shadow: 0 2px 2px rgba(0,0,0,.1), inset 0 -4px rgba(16,94,160,.7);
	border: solid 1px #103e80
}
.navigate-column .flash {
	/*background-color: rgba(254,149,12,.9);
	box-shadow: 0 2px 2px rgba(0,0,0,.1), inset 0 -4px rgba(218,129,14,.7);
	border: solid 1px #BA8132*/
}
.navigate-column .flash-img {
	float:left;
}
.navigate-column .flash-img img {
	width:80px;
	height:80px;
	margin:7px;
	border-radius:5px;
}
.navigate-column .flash-sub {
	margin-top: 9px;
	font-size: 12pt;
	line-height: 26px;
	color: #ffffff;
}

/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/

.ctripPage {
	min-width: 280px;
	font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
	color: #000;
	background: #f5f5f5;
	overflow-x: hidden;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: none;
	-moz-user-select: none;
	text-shadow: 0 0px 0 #f3f3f3;
}
.ctripPage ul, li, h2, h3 {
	padding: 0px;
	margin: 0px;
}
img {
	border: none
}
a {
	color: #000;
	text-decoration: none;
}
li {
	list-style-type: none;
}
.jsmodule {
	position: relative;
	width: 100%;
	min-height: 50px;
	overflow: hidden;
	background: #e4f2fc;
	margin-bottom:5px;
}

.box {
       /* 
	padding: 10px;
	overflow: hidden;
	*/
        -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.box li {
	position: relative;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.box h2 {
	position: absolute;
	left: 10px;
	top: 10px;
	font: 500 14px/1 "Microsoft Yahei";
	color: #fff;
}
h2 a:link, h2 a:visited {
	color: #3388CC;
}
h3 a:link, h3 a:visited {
	color: #3388CC;
}
.f, .t, .c {
	height: 79px;
	margin-bottom: 5px;
}
.h, .m, .tuan {
	height: 112px;
	margin-bottom: 5px;
}
.c, .tuan, .gift, .r, .m, .t {
	border-left: 5px solid #f5f5f5;
}
.r, .gift {
	height: 117px;
}
.trip, .p {
	height: 117px;
}
.f {
	width: 40%;
	background: #368FF4;
}
.t {
	width: 30%;
	background: #747AE8;
}
.c {
	width: 30%;
	background: #9556F3;
}
.h {
	width: 40%;
	background: #0FC4D9;
}
.m {
	width: 30%;
}
.m h2 {
	color: #FE9B19;
	top: 75px;
	left: 50%;
	margin-left: -28px;
}
.tuan {
	width: 30%;
	background: #FF6779;
}
.gift {
	width: 30%;
	background: #F3B613;
}
.trip {
	width: 40%;
	background: #84D018;
}
.p {
	width: 40%;
	background: #22AC38;
	top: -56px;
}
.r {
	width: 30%;
	background: #FF864A;
}


.figure {
	position: absolute;
	z-index: 9;
	background: url(images/icon_home_5.4.png) no-repeat;
	width: 32px;
	height: 32px;
	right:5px;
	bottom:5px;
}
.f_icon {
	background-position: 0px 0px;
}
.t_icon {
	background-position: -32px 0px;
}
.c_icon {
	background-position: -64px 0px;
}
.h_icon {
	background-position: 0px -32px;
}
.m_icon {
	background-position: -32px -32px;
	left:27px;
	top:40px;
}
.tuan_icon {
	background-position: -64px -32px;
	/*left:27px;
	top:40px;*/
}
.trip_icon {
	background-position: 0px -64px;
}
.gift_icon {
	background-position: -32px -64px;
	/*left:27px;
	top:40px;*/
}
.r_icon {
	background-position: -64px -64px;
	/*left:27px;
	top:40px;*/
}
.p_icon {
	background-position: 0px -96px;
}


.cui-slide-img-item {
	height: 100%;
	overflow: hidden;
	float: left;
	/*float: center;*/
}
.cui-slide-img-item img {
    padding-top: 3px;
	width: 100%;
}
