/*------------------------------------------ 共用部分 ------------------------------------------*/

body {
    background: #000;
    font-family: -apple-system-font, arial,"Microsoft JhengHei";
    -webkit-text-size-adjust: 100%;
}
html, body {
    font-size: calc(12px + (16 - 12) * ((100vw - 375px) / (2400 - 375)));
}
input, select, option, textarea {   
    /* Remove First */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;  
    font-family: -apple-system, arial,"Microsoft JhengHei";
}

#shareoscode-activityhome,
#shareoscode-home,
#shareoscode-endpage {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    min-height: 100%;
    box-sizing: border-box;
    background: rgb(249,249,249);
}

.sajaNavBar {
    background: #F9A823;
    color: #FFF;
    padding: .8rem;
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    z-index: 999;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.sajaNavBar .sajaNavBarIcon.back {
    width: 1.917rem;
    height: 1.917rem;
    position: absolute;
}
.sajaNavBar .sajaNavBarIcon a {
    display: block;
}
.sajaNavBar .sajaNavBarIcon img {
    width: 100%;
    height: auto;
}
.sajaNavBar .share-title {
    font-size: 1.6rem;
    text-align: center;
    line-height: 2rem;
}

.share-flexbox {
    width: 100%;
    min-height: calc(100vh - 3.183rem);
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    z-index: 10;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    font-size: 1.25rem;
}

/*loading*/
.esloadingBox {
    
}
.esloadingImgBox {
    position: fixed;
    z-index: 1070;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.esloadingImgBox .esloadingImg {
    width: 5rem;
    position: absolute;
    top: calc((100% - 5rem) / 2);
    left: calc((100% - 5rem) / 2 );
}
.esloadingBg {
    position: fixed;
    z-index: 1060;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/*------------------------------------------ 分享領券 list總列表頁 ------------------------------------------*/
#shareoscode-activityhome {
    background: #f9f9f9;
}

#shareoscode-activityhome .activityhome-solgan-box {
    position: relative;
}
.activityhome-solgan-box .header-info-box {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.activityhome-solgan-box .header-rule-btn {
    width: 40%;
    max-width: 13rem;
    margin: 0 auto;
    cursor: pointer;
}
.activityhome-solgan-box .header-txt {
    margin: 0 auto;
    width: 75%;
    max-width: 31rem;
}
.activityhome-solgan-box .header-fb-bar {
    width: 80%;
    max-width: 31rem;
    margin: 0 auto;
}
.activityhome-solgan-box .header-fb-btn,
.activityhome-solgan-box .header-gofb-btn {
    max-width: 12rem;
    padding: 5%;
    margin: 0 auto;
    cursor: pointer;
}
.activityhome-solgan-box .header-rule-btn:active ,
.activityhome-solgan-box .header-fb-btn:active {
    background: transparent;
}
#shareoscode-activityhome .activityhome-box {
    padding: .834rem 0;
}
#shareoscode-activityhome .activityhome-ul {
    background: #fff;
}
#shareoscode-activityhome .activityhome-li {
    padding: .834rem;
    box-sizing: border-box;
}
#shareoscode-activityhome .activityhome-li + .activityhome-li {
    border-top: .417rem solid #f9f9f9;
}
.activityhome-li .activityhome-img {
    width: 6.83rem;
    margin-right: 1rem;
    cursor: pointer;
}
.activityhome-li .activityhome-infobox {
    flex: 1;
}
.activityhome-li .activityhome-infobox .product-name {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-right: 3rem;
}
.activityhome-li .activityhome-infobox .overtime {
    color: #fb8662;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-top: .5rem;
}
.activityhome-li .activityhome-infobox .btn-box {
    margin-top: .5rem;
}
.activityhome-li .activityhome-infobox .btn-box .btn-item {
    margin: .25rem 0;
    padding: .7rem 1rem;
    border-radius: .5rem;
    font-size: 1.25rem;
    border-radius: 100vh;
    cursor: pointer;
}
.activityhome-li .activityhome-infobox .btn-box .btn-item:not(:last-child) {
    margin-right: 1rem;
}
.activityhome-li .activityhome-infobox .btn-box .description-btn {
    background: #FF9800;
    color: #FFF;
}
.activityhome-li .activityhome-infobox .btn-box .rule-btn {
    background: #FF9800;
    color: #FFF;
}
.activityhome-li .activityhome-infobox .btn-box .getoscode-btn {
    background: #f76b1c;
    color: #FFF;
}
.activityhome-li .activityhome-infobox .btn-box .gosaja-btn {
    background: #FF9800;
    color: #FFF;
}
.activityhome-li .activityhome-infobox .btn-box .fbshare-btn {
    background: #3b5998;
    color: #FFF;
}
.activityhome-li .cover {
    display: none;
}

/*已過領券時效*/
#shareoscode-activityhome .activityhome-li.isover,
#shareoscode-activityhome .activityhome-li.isgot {
    position: relative;
}
.activityhome-li.isover .activityhome-img {
    -webkit-filter: grayscale(80%);
    filter: grayscale(100%);
    pointer-events: none;
    opacity: .4;
}
.activityhome-li.isgot .activityhome-img {
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    opacity: .7;
}
.activityhome-li.isover .activityhome-infobox {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    pointer-events: none;
    opacity: .4;
}
.activityhome-li.isgot .activityhome-infobox .product-name,
.activityhome-li.isgot .activityhome-infobox .overtime {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    pointer-events: none;
/*    opacity: .7;*/
}
.activityhome-li.isgot .activityhome-infobox .btn-box .getoscode-btn {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    pointer-events: none;
    opacity: .4;
}
.activityhome-li.isover .activityhome-infobox .product-name {
    
}

.activityhome-li.isover .activityhome-infobox .overtime {
    
}
.activityhome-li.isover .activityhome-infobox .btn-box {
    
}
.activityhome-li.isover .activityhome-infobox .btn-box .btn-item {
    
}
.activityhome-li.isover .activityhome-infobox .btn-box .description-btn {
    
}
.activityhome-li.isover .activityhome-infobox .btn-box .rule-btn {
    
}
.activityhome-li.isover .activityhome-infobox .btn-box .getoscode-btn {
    
}
.activityhome-li.isover .activityhome-infobox .btn-box .gosaja-btn {
    
}
.activityhome-li.isover .cover {
    display: block;
    position: absolute;
    background: #333;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    opacity: .8;
    z-index: 999;
    color: #FFF;
    border-radius: .5rem;
    line-height: 8.5rem;
}
.activityhome-li.isover::after {
    display: block;
    content: '';
    background: transparent url(../img/timeisover.png) no-repeat;
    background-size: 14rem;
    background-position: center;
    position: absolute;
    width: calc(100% - (.834rem * 2));
    height: calc(100% - (.834rem * 2));
}
/*
.activityhome-li.isgot::after {
    display: block;
    content: '';
    background: transparent url(../img/isgot.png) no-repeat;
    background-size: 14rem;
    background-position: center;
    position: absolute;
    width: calc(100% - (.834rem * 2));
    height: calc(100% - (.834rem * 2));
}
*/


/*彈窗共用*/
.modal-open {
    overflow: hidden;
    position: relative;
    height: 100vh;
}
#shareoscode-activityhome .headerRuleModal {
    position: fixed;
    z-index: 1060;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
    .headerRuleModal .img-box {
        width: 90vmin;
        position: fixed;
        top: calc((100% - 60%) / 2);
        left: 0;
        right: 0;
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
        z-index: 1070;
        box-shadow: 0 1px 10px -1px #000;
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
    }
    .headerRuleModal .headerRuleModal-cover {
        position: fixed;
        z-index: 1060;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .8);
    }
    .headerRuleModal-close {
        color: #FFF;
        font-size: 1.5rem;
        position: absolute;
        bottom: -2rem;
        right: 3rem;
        text-decoration: underline;
        cursor: pointer;
    }
    .headerRuleModal-close:hover,
    .headerRuleModal-close:active {
        color: #f9a823;
    }

#shareoscode-activityhome .modalstyle {
    position: fixed;
    top: calc((100% - 70%) / 2);
    left: 0;
    right: 0;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    z-index: 1070;
    background: #FFF;
    box-shadow: 0 1px 10px -1px #000;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
}

#shareoscode-activityhome .modalcover {
    position: fixed;
    z-index: 1060;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}
    
/*領券彈窗*/
#shareoscode-activityhome .getOscodeModal {
}
#shareoscode-activityhome .modal-overtime {
    padding: .834rem;
    font-size: 1.584rem;
    line-height: 2.5rem;
    color: #f76b1c;
}
#shareoscode-activityhome .modal-pro-box {
    margin: 0 .834rem;
}
#shareoscode-activityhome .modal-pro-box .pro-img-box {
    width: 11.67rem;
    margin: 1.334rem auto 0;
}
#shareoscode-activityhome .modal-pro-box .pro-title {
    margin-top: 1.334rem; 
    font-size: 1.584rem;
    color: #2a2a2a;
    line-height: 2rem;
}
#shareoscode-activityhome .modal-pro-box .oscode-info {
    font-size: 1.25rem;
    color: #6f6f6f;
    margin-top: 1rem;
}
#shareoscode-activityhome .modal-btn-box {
    padding: 2.25rem 0 .834rem;
}
#shareoscode-activityhome .modal-btn-box .then-btn {
    flex: 1;
    padding: 1rem;
    border-radius: .5rem;
    box-sizing: border-box;
    margin: 0 .834rem;
    border-radius: 100vh;
    cursor: pointer;
}
#shareoscode-activityhome .modal-btn-box .then-btn.get-btn {
    background: #FFF;
    border: 1px solid #f76b1c;
    color: #f76b1c;
}
#shareoscode-activityhome .modal-btn-box .then-btn.go-btn {
    color: #FFF;
    background: #f76b1c;
}
#shareoscode-activityhome .modal-btn-box .then-btn:only-of-type {
    width: 70%;
    flex: unset;
    color: #FFF;
    background: #f76b1c;
    border: none;
}

/*商品資訊彈窗*/
#shareoscode-activityhome .getProductModal {
}
.getProductModal .modal-proinfo-box {
    padding: 1.917rem;
    box-sizing: border-box;
}
.getProductModal .modal-proinfo-close {
    position: absolute;
    top: -2.5rem;
    right: -.5rem;
    width: 1.92rem;
    cursor: pointer;
}
.modal-proinfo-box .proinfo-img-box {
    margin: 0 auto;
    width: 11.667rem;
}
.modal-proinfo-box .proinfo-title {
    margin-top: .667rem;
    font-size: 1.584rem;
    line-height: 2rem;
}
.modal-proinfo-box .proinfo-info {
    margin-top: .834rem;
    color: #6f6f6f;
    font-size: 1.25rem;
    line-height: 1.75rem;
    max-height: 20vh;
    overflow-y: scroll;
    text-align: left;
    word-break: break-all;            /* 強制換行 */
}

/*無商品時顯示*/
.nopro {
    padding: 1rem 0;
}
.nopro .nopro-img {
    margin: 0 auto;
    width: 12rem;
}
.nopro .nopro-text {
    font-size: 1.4rem;
    margin-top: .5rem;
}

/*登入提醒彈窗*/
#shareoscode-activityhome .loginModal {
    padding: 2rem 1rem 3rem;
    box-sizing: border-box;
}
.loginModal .login-modalTitle {
    padding: .834rem;
    font-size: 1.75rem;
    font-weight: 600;
    color: #f76b1c;
}
.loginModal .login-modalBody {
    
}
.login-modalBody .login-info {
    font-size: 1.25rem;
    color: #5e5e5e;
    margin: 1rem;
}
.loginModal .login-modalFooter {
    
}
    .login-modalFooter .login-btn {
        background: #F9A823;
        color: #FFF;
        font-size: 1.25rem;
        display: inline-block;
        padding: 1rem 4rem;
        margin: 1rem .5rem 0;
        border-radius: 100vh;
        cursor: pointer;
    }

/*------------------------------------------ 分享領券頁 ------------------------------------------*/


#shareoscode-home .pro-head {
    background: #FFF;
}
    .share-flexbox .pro-img {
        margin: 1rem 2rem;
        box-sizing: border-box;
    }
    .share-flexbox .pro-name {
        font-size: 1.3rem;
        padding: 1rem;
        color: #000;
    }
        .share-flexbox .pro-name .title {
            color: #000000;
            font-size: 1.6rem;
        }
#shareoscode-home .pro-list {
    background: #FFF;
    margin-top: .834rem;
}
#shareoscode-home .pro-list .list-item {
    padding: 1.5rem;
}
#shareoscode-home .pro-list .list-item .icon{
    width: 1rem;
    margin-right: 1rem;
}
#shareoscode-home .pro-list .list-item .icon img{
    width: 100%;
}
#shareoscode-home .pro-list .title {
    font-size: 1.25rem;
}
#shareoscode-home .pro-list .txt {
    font-size: 1.167rem;
    margin-top: .5rem;
    color: rgb(111,111,111);
}
    .share-flexbox .oscode {
        font-size: 1.5rem;
        margin: 1rem;
        color: #000;
    }
        .share-flexbox .oscode .title {
            color: #795548;
        }

    .share-flexbox .details-box {
        border-top: 1px solid #db8800;
        padding: 1rem;
        text-align: left;
        color: #9c6100;
    }
    .share-flexbox .details-box .detail-title {

    }
    .share-flexbox .details-box .detail-info {
        margin-top: .5rem;
        line-height: 1.5rem;
    }

    .share-flexbox .ps-box {
        border-top: 1px solid #db8800;
        padding: 1rem;
        text-align: left;
        color: #9c6100;
    }
        .share-flexbox .ps-box .ps-info p + p {
            margin-top: .5rem;
        }

        #shareoscode-home .getoscode-btn { 
            background: rgb(249,168,35);
            padding: 1rem;
            margin: 2rem 5rem;
            font-size: 1.417rem;
            border-radius: 100vh;
            color: #ffffff;
            text-indent: .5rem;
            cursor: pointer;
        }
        #shareoscode-home .getoscode-btn:active {
            opacity: .8;
        }

/*查無商品樣式*/
#shareoscode-home .nohistory-box {
    padding-top: calc((100vh - 3.183rem - 14rem - 4rem) / 2);     /* header 3.183rem , nohistory 14rem , 微調 4rem */
    text-align: center;
    width: 100%;
}
#shareoscode-home .nohistory-box .nohistory-img {
    margin: 0 auto;
    width: 40%;
}
#shareoscode-home .nohistory-box .nohistory-txt {
    font-size: 1.25rem;
    color: #2A2A2A;
    font-weight: bold;
}

/*------------------------------------------ 領券成功訊息通知頁 ------------------------------------------*/
#shareoscode-endpage .shareend-flexbox {
    width: 100vw;
    min-height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    z-index: 10;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    font-size: 1.25rem;
    border-radius: 1rem;
    overflow: hidden;
}
    #shareoscode-endpage .title-box {
        width: 100%;
        box-sizing: border-box;
        margin: 1.5rem auto 0;
        font-size: 1.5rem;
        text-align: center;
        padding: 0;
        color: #000;
    }

    #shareoscode-endpage .sharetxt-box {
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        font-size: 1.584rem;
        line-height: 2.5rem;
        text-align: center;
        padding: 0;
        font-weight: 600;
    }
    #shareoscode-endpage .title-box.top5r {
        margin-top: 5rem;
    }
        #shareoscode-endpage .title-box p {

        }
        #shareoscode-endpage .title-box p + p {
            margin-top: 1rem;
        }
.sharetxt-box .info-box {
    position: relative;
    padding-bottom: 4rem;
}
.sharetxt-box .info-box .text-box {
    margin: 0 5rem;
}
.sharetxt-box .info-img {
    position: absolute;
    bottom: 0;
    height: 5.167rem;
    width: 100%;
}
.sharetxt-box .info-img .info-img-left {
    height: 100%;
    float: left;
}
.sharetxt-box .info-img .info-img-right {
    height: 100%;
    float: right;
}
    .sharetxt-box .proName {
        margin-left: 1rem;
/*        font-size: 2.5rem;*/
    }
    .sharetxt-box .num {
        margin: 1rem;
/*        font-size: 4.3rem;*/
    }
#shareoscode-endpage .footer-btn-box {
    margin-top: 3rem;
}
        #shareoscode-endpage .gosaja-btn,
        #shareoscode-endpage .getmoreoscode-btn,
        #shareoscode-endpage .gohome,
        #shareoscode-endpage .gomore,
        #shareoscode-endpage .fbfan-btn {
            background: rgb(249,168,35);
            padding: 1rem;
            margin: 0rem 3.5rem;
            font-size: 1.417rem;
            border-radius: 100vh;
            color: #ffffff;
            text-indent: .5rem;
            cursor: pointer;
        }
        #shareoscode-endpage .gosaja-btn:active,
        #shareoscode-endpage .getmoreoscode-btn:active,
        #shareoscode-endpage .gohome:active,
        #shareoscode-endpage .gomore:active,
        #shareoscode-endpage .fbfan-btn:active {
            opacity: .8;
        }

        #shareoscode-endpage .gosaja-btn,
        #shareoscode-endpage .getmoreoscode-btn {
            margin-top: 2rem;
        }
#shareoscode-endpage .list-item {
    margin: 1rem 3rem;
    font-size: 1.25rem;
}
#shareoscode-endpage .list-item .icon {
    width: 2rem;
    margin-right: .6rem;
}
#shareoscode-endpage .list-item .icon-box {
    line-height: 1.5rem;
}

#shareoscode-endpage .pro-img {
    margin: 1rem 2rem;
    box-sizing: border-box;
}


/* 無法領取頁樣式 */
.no-oscode {

}
.no-oscode .img-box {
    width: 50%;
    padding-left: 1rem;
    margin: 2rem auto 0;
}
.no-oscode .msgbox {
    margin-top: 2rem;
    color: #795548;
    font-size: 1.5rem;
    line-height: 2rem;
    text-shadow: 0 0 10px #FFF, 0 0 30px rgba(255, 255, 255, .2);
    font-weight: 600;
}
.no-oscode .msgbox .msg {

}

/* 活動結束樣式 */
#shareoscode-endpage .info {
    background: #FFF;
    border-radius: 1rem;
    margin: 1.5rem 2rem 2rem;
    padding: 0rem;
    font-size: 1.5rem;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
#shareoscode-endpage .info .d1 {
    font-size: 1.8rem;
    line-height: 2.3rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #E91E63;
    text-align: center;
}
#shareoscode-endpage .info div[class^="d"]:not(.d1) .title {
    color: #795548;
    font-weight: 600;
}
#shareoscode-endpage .info div[class^="d"]:not(.d1) p[class^="p"] {
    color: #636363;
    text-indent: 2rem;
    margin-top: 1rem;
    font-size: 1.3rem;
}
#shareoscode-endpage .info div[class^="d"]:not(.d1) p[class^="p"]:not(.p1) {
    margin-top: 1rem;
}
#shareoscode-endpage .info .d2 {
    margin-top: 1.3rem;
}
#shareoscode-endpage .info .d3 {
    margin-top: 1.3rem;
}
#shareoscode-endpage .info .ps {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 3rem;
    color: #686868;
    line-height: 1.8rem;
}
#shareoscode-endpage .info .gofanpage img {
    margin-top: 1rem;
    cursor: pointer;
    outline: none;
}
