@charset "utf-8";.ui-listview > li .ui-collapsible-heading{margin:0;}
.ui-collapsible.ui-li-static{padding:0;border:none !important;}
.ui-collapsible + .ui-collapsible > .ui-collapsible-heading > .ui-btn{border-top:none !important;}
[data-role=page] .ui-panel-display-reveal{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
[data-role=page] .ui-panel-page-content-position-left{-webkit-box-shadow:-5px 0px 5px rgba(0,0,0,.15);-moz-box-shadow:-5px 0px 5px rgba(0,0,0,.15);box-shadow:-5px 0px 5px rgba(0,0,0,.15);}
.ui-content2{min-height:100%;}
.autowrap{text-overflow:clip !important;white-space:normal !important;}
.ui-block-a{width:50% !important;}
.ui-block-b{width:50% !important;}
#tagBox{position:relative;}
#tagBox img{width:100%}
#tagBoxPlus{position:absolute;}
#tagBoxPlus div{color:#FFF;padding:3px;margin:3px;float:left;font-size:8pt;border-radius:3px;text-shadow:0 0px 0 #000;font-family:"Microsoft YaHei", sans-serif;}
#tagBox_bonus{background-color:#FFFFFF;}
#tagBox_store{background-color:#E4A68B;}
#tagBox_qualifications{background-color:#A9E969;}
#tagBox_area{background-color:#258BFF;}
#tagBox_free{background-color:#FF00FF;}
.ui-li-thumb{position:absolute;top:0;bottom:0;margin:auto;}
.dable-list thead th,
.dable-list tbody tr:last-child{border-bottom:1px solid #d6d6d6;border-bottom:1px solid rgba(0,0,0,.1);}
.dable-list tbody th,
.dable-list tbody td{border-bottom:1px solid #e6e6e6;border-bottom:1px solid rgba(0,0,0,.05);}
.dable-list tbody tr:last-child th,
.dable-list tbody tr:last-child td{border-bottom:0;}
.dable-list tbody tr:nth-child(odd) td,
.dable-list tbody tr:nth-child(odd) th{background-color:#eeeeee;background-color:rgba(0,0,0,.04);}
#onlyContent img{width:100%;}
.flash_img{border:1px solid #999;padding:2px;background:#FFFFFF;}
.ui-icon-flash:after{background-image:url("images/icon_flash.png");background-size:18px 18px;}
.banner{margin-bottom:10px;position:relative;box-shadow:0 2px 2px rgba(0,0,0,0.2);text-align:center;vertical-align:bottom;}
.navigate-column{float:left;width:50%;box-sizing:border-box;position:relative;-webkit-transform:translateZ(0);margin-bottom:10px;font-family:"Microsoft YaHei", sans-serif;text-shadow:0 0px 0 #f3f3f3;}
.navigate-column a{text-decoration:none;}
.navigate-column:nth-child(odd){padding:0 5px 0 9px}
.navigate-column:nth-child(even){padding:0 9px 0 5px}
.navigate-column .wrapper{height:100%;border-radius:3px}
.navigate-column .title, .navigate-column .sub-title{text-align:center;font-weight:bold}
.navigate-column .title{margin-top:21px;font-size:24px;line-height:24px;color:white;letter-spacing:3px}
.navigate-column .sub-title{margin-top:9px;font-size:9px;line-height:9px;color:#E8E8E8}
.navigate-column .red{background-color:rgba(255,102,102,.9);box-shadow:0 2px 2px rgba(0,0,0,.1), inset 0 -4px rgba(222,55,55,.7);border:solid 1px #c82626}
.navigate-column .yellow{background-color:rgba(255,184,0,.9);box-shadow:0 2px 2px rgba(0,0,0,.1), inset 0 -4px rgba(221,136,36,.7);border:solid 1px #9d6b1a}
.navigate-column .cyan{background-color:rgba(6,175,143,.9);box-shadow:0 2px 2px rgba(0,0,0,.1), inset 0 -4px rgba(9,133,94,.7);border:solid 1px #0f7258}
.navigate-column .blue{background-color:rgba(1,116,213,.9);box-shadow:0 2px 2px rgba(0,0,0,.1), inset 0 -4px rgba(16,94,160,.7);border:solid 1px #103e80}
.navigate-column .flash{}
.navigate-column .flash-img{float:left;}
.navigate-column .flash-img img{width:80px;height:80px;margin:7px;border-radius:5px;}
.navigate-column .flash-sub{margin-top:9px;font-size:12pt;line-height:26px;color:#ffffff;}
.ctripPage{min-width:280px;font:normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;color:#000;background:#f5f5f5;overflow-x:hidden;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);-webkit-text-size-adjust:none;-moz-user-select:none;text-shadow:0 0px 0 #f3f3f3;}
.ctripPage ul, li, h2, h3{padding:0px;margin:0px;}
img{border:none}
a{color:#000;text-decoration:none;}
li{list-style-type:none;}
.jsmodule{position:relative;width:100%;min-height:50px;overflow:hidden;background:#e4f2fc;margin-bottom:5px;}
.box{padding:10px;overflow:hidden;}
.box li{position:relative;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
.box h2{position:absolute;left:10px;top:10px;font:500 14px/1 "Microsoft Yahei";color:#fff;}
h2 a:link, h2 a:visited{color:#3388CC;}
h3 a:link, h3 a:visited{color:#3388CC;}
.f, .t, .c{height:140px;margin-bottom:5px;}
.h, .m, .tuan{height:140px;margin-bottom:5px;}
.c, .tuan, .gift, .r, .m, .t{border-left:5px solid #f5f5f5;}
.r, .gift{height:140px;}
.trip, .p{height:140px;}
.f{width:34%;background:#368FF4;}
.t{width:33%;background:#747AE8;}
.c{width:33%;background:#9556F3;}
.h{width:34%;background:#0FC4D9;}
.m{width:33%;}
.m h2{color:#FE9B19;top:75px;left:50%;margin-left:-28px;}
.tuan{width:33%;background:#FF6779;}
.gift{width:33%;background:#F3B613;}
.trip{width:34%;background:#84D018;}
.p{width:34%;background:#22AC38;top:-56px;}
.r{width:33%;background:#FF864A;}
.figure{position:absolute;z-index:9;background:url(images/icon_home_5.4.png) no-repeat;width:32px;height:32px;right:5px;bottom:5px;}
.f_icon{background-position:0px 0px;}
.t_icon{background-position:-32px 0px;}
.c_icon{background-position:-64px 0px;}
.h_icon{background-position:0px -32px;}
.m_icon{background-position:-32px -32px;left:27px;top:40px;}
.tuan_icon{background-position:-64px -32px;}
.trip_icon{background-position:0px -64px;}
.gift_icon{background-position:-32px -64px;}
.r_icon{background-position:-64px -64px;}
.p_icon{background-position:0px -96px;}
.sajabid-topfont{text-align:center;color:#7C8495;font-size:0.8rem;display:block;font-weight:bold;}
.sajabid-inputfont{text-align:center;color:#7C8495;display:block;padding-top:0.3rem;font-size:60%;}
.sajabid-font2{font:500 17px/1;color:#FF0000;text-align:center;}
.sajabid-font3{color:#969696;font-size:80%;}
.sajabid-font4{font-size:100%;color:#FF0000;text-align:center;}
.sajabid-button{background-color:#FF0000;color:#FFFFFF;font-weight:normal;text-shadow:0 0px 0;}
.sajabid-tabfont{font:500 18px/1 "Microsoft Yahei";}
.sajabid-text{text-align:center;vertical-align:middle;padding:1rem 1.5rem;}
.sajapay-content{width:100%;background-color:#FFFFFF;margin:0px auto;border-radius:0px;border:0px solid #828282;}
.sajapay-input{top:50%;margin:0;outline:0!important;z-index:1;padding-bottom:2px;}
.sajapay-line{width:90%;position:relative;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;content:" ";position:absolute;height:1px;border-top:3px solid #B0B0B0;color:#D9D9D9;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(0.5);transform:scaleY(0.5);}
.all-radio{margin:0.5rem;}
.all-radio input[type="radio"]{position:absolute;opacity:0;}
.all-radio input[type="radio"] + .radio-label:before{content:'';background:#FFFFFF;border-radius:100%;border:1px solid #E5E5E5;display:inline-block;width:0.8rem;height:0.8rem;position:relative;top:-0.1rem;margin-right:0rem;vertical-align:top;cursor:pointer;text-align:center;-webkit-transition:all 250ms ease;transition:all 250ms ease;}
.all-radio input[type="radio"]:checked + .radio-label:before{background-color:#FFFFFF;border:1px solid #4A90E2;box-shadow:inset 0 0 0 5px #4A90E2;}
.all-radio input[type="radio"]:focus + .radio-label:before{outline:none;border-color:#3197EE;}
.all-radio input[type="radio"]:disabled + .radio-label:before{box-shadow:inset 0 0 0 4px #f4f4f4;border-color:#b4b4b4;background:#b4b4b4;}
.sajapay-radio input[type="radio"] + .radio-label:empty:before{margin-right:0;}
.all-radio2{margin:0.5rem;}
.all-radio2 input[type="radio"]{position:absolute;opacity:0;}
.all-radio2 input[type="radio"] + .radio-label:before{content:'';background:#FFFFFF;border-radius:100%;border:1px solid #E5E5E5;display:inline-block;width:0.8rem;height:0.8rem;position:relative;top:0.25rem;margin-right:0rem;vertical-align:top;cursor:pointer;text-align:center;-webkit-transition:all 250ms ease;transition:all 250ms ease;}
.all-radio2 input[type="radio"]:checked + .radio-label:before{background-color:#FFFFFF;border:1px solid #4A90E2;box-shadow:inset 0 0 0 5px #4A90E2;}
.all-radio2 input[type="radio"]:focus + .radio-label:before{outline:none;border-color:#3197EE;}
.all-radio2 input[type="radio"]:disabled + .radio-label:before{box-shadow:inset 0 0 0 4px #f4f4f4;border-color:#b4b4b4;background:#b4b4b4;}
.saja-image{height:7rem;background-color:#FFFFFF;text-align:center;vertical-align:middle;}
.sajaindex-image{height:8.6rem;display:table-cell;background-color:#FFFFFF;text-align:center;vertical-align:middle;}
.mall-font1{font-size:140%;color:#F9A823;text-align:center;}
.mall-font2{font-size:130%;color:#D8D8D8;text-align:center;}
.mall-prod{font-size:120%;font-weight:bolder;color:#595F6B;text-align:center;}
.mall-item{font-size:80%;font-weight:bold;color:#7C8495;vertical-align:middle;}
.member-sqrcode{height:3rem;font-size:120%;color:#7C8495;text-align:center;}
.member-sqrcode-show{width:90%;position:relative;margin:5rem 1rem;padding:0;background-color:#FFFFFF;}
.deposit-item{padding:1rem 1.5rem;}
.deposit-drid{font-size:0.8em;width:50% !important;float:left;}
.deposit-driid{font-size:0.8em;width:50% !important;float:left;}
.codeBox{border-radius:.50px;background-color:#ffffff;padding-top:8%;padding-left:5%;padding-bottom:8%;padding-right:5%;}
.enterprise-font1{font-size:80%;color:#696969;}
.enterprise-font2{font-size:100%;color:#FF0000;}
.enterprise-font3{font-size:100%;color:#09bb07;}
.enterprise-font4{font-size:90%;}
.register{width:100%;height:100%;text-align:center;font-size:0.6rem;color:#828282;}
.register input{width:0.8rem;height:0.8rem;padding:0rem;margin:0rem;vertical-align:middle;position:relative;}
.register label{font-size:0.6rem;}
.register a{font-weight:lighter;font-size:0.6rem;text-decoration:underline;}
.register-text{font-size:0.6rem;}
.register-input{border-width:0px;border-style:none;border-color:#FFFFFF;}
.allinput-type1{outline:none;border-width:0px;border-style:none;border-color:#FFFFFF;width:100%;height:2rem;}
.allinput-type2{outline:none;text-shadow:0 0px 0;border-top:0px;border-left:0px;border-right:0px;color:#7C8495;font-size:3rem;width:100%;height:4rem;text-align:center;}
.login-container{position:absolute;width:100%;height:100%;background-color:white;}
.login-logo{width:100%;padding:0.5rem auto;text-align:center;}
.login-logo img{width:40%;display:block;margin:10% auto 0;}
.login-content{margin-top:2rem;}
.login-account,.login-password{position:relative;margin:0.5rem auto;width:80%;height:1.8rem;border:0.5px solid #f9a823;border-radius:50px;line-height:2.5rem;}
.login-account img,.login-password img{width:1.2rem;display:inline-block;margin:auto 0 0 0.5rem;}
.login-account input,.login-password input{display:inline-block;position:absolute;width:70%;height:1.5rem;border:0px solid #FFFFFF;color:#f9a823;margin:0.1rem 0 0.1rem 0.5rem;}
.login-account input,.login-password input:focus{outline:none;text-align:left;}
.login-btn-login{margin:1rem auto 0;width:80%;height:2rem;background-color:#f9a823;border-radius:10px;text-align:center;line-height:2rem;color:white;font-size:1rem;letter-spacing:0.5rem;}
.login-forgotpassword{text-align:center;margin:0.7rem 0rem 2rem;text-decoration:underline;color:darkgray;font-size:0.5rem;}
.login-other{width:100%;font-size:.5rem;color:#a9a9a9;position:relative;top:auto;left:0;right:0;bottom:0px;}
.login-login{width:100%;text-align:center;display:block;position:relative;}
.login-login:before,.login-login:after{content:'';position:absolute;top:52%;background:#ececec;width:20%;height:1px;}
.login-login:before{left:5%;}
.login-login:after{right:5%;}
.login-kind{margin:1rem 0rem;width:100%;text-align:center;}
.login-kind img{width:17%;display:inline-block;margin:0.5rem 1rem;}
.login-footer{font-size:0.5rem;text-align:center;margin-top:0.5rem;top:auto;left:0;right:0;bottom:0px;}
.login-footer span{color:cornflowerblue;text-decoration:underline;margin-left:5px;}
.sajapanel-item{padding-left:10px;font-size:.9rem;font-weight:bold;color:#FFFFFF;text-align:left;vertical-align:middle;letter-spacing:1px;}
hr{padding:0;border:none;border-top:1px solid #8c8c8c;color:#8c8c8c;text-align:center;}
hr:after{content:"如已绑定  可从以下方式登入";display:inline-block;position:relative;top:-0.9em;font-size:1em;padding:0 0.25em;background:#fff;}