{include file="seller_pageheader"}

{include file="seller_nave_header"}

<div class="ecsc-layout">
    <div class="site wrapper">
        {include file="seller_menu_left"}

        <div class="ecsc-layout-right">
            <div class="main-content" id="mainContent">
            {include file="seller_nave_header_title"}
            <div class="wrapper-right of">
                <div class="tabmenu">
                    <ul class="tab">
                        <li class="active"><a href="{url('mass_message')}">群发消息</a></li>
                        <li ><a href="{url('mass_list')}">发送记录</a></li>
                    </ul>
                </div>
                <div class="explanation" id="explanation">
                <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4></div>
                    <ul>
                        <li>该接口暂时仅提供给已微信认证的服务号</li>
                        <li>用户每月只能接收4条群发消息，多于4条的群发将对该用户发送失败。</li>
                        <li>群发图文消息的标题上限为64个字节,群发内容字数上限为1200个字符、或600个汉字。</li>
                        <li>在返回成功时，意味着群发任务提交成功，并不意味着此时群发已经结束，所以，仍有可能在后续的发送过程中出现异常情况导致用户未收到消息，如消息有时会进行审核、服务器不稳定等。此外，群发任务一般需要较长的时间才能全部发送完毕，请耐心等待。</li>
                    </ul>
                </div>

                <form action="{url('mass_message')}" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
                <div class="wrapper-list border1 mt20 ecsc-form-goods" >
                    <dl>
                        <dt>选择标签组：</dt>
                        <dd>
                            <div class="txtline selection">
                            <select class="input-sm select">
                                {foreach $tags as $val}
                                <option value="{$val['tag_id']}">{$val['name']}</option>
                                {/foreach}
                            </select>
                            </div>
                            <div class="notic">* 每次群发前，需要先更新粉丝管理</div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>选择图文信息：</dt>
                        <dd>
                            <div class="w299 pull-left">
                                <a class="sc-btn sc-blueBg-btn btn30 fancybox fancybox.iframe" href="{url('auto_reply', array('type'=>'news'))}">选择图文信息</a>
                            </div>
                            <div class="form_prompt"></div>
                            <div class="notic">* 一个图文消息支持1到8条图文，多于8条会发送失败</div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>图文信息：</dt>
                        <dd>
                            <div class="col-md-3 content picture-list"></div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>&nbsp;</dt>
                        <dd class="button_info">
                            <input type="submit" name="submit" value="{$lang['button_submit']}" class="sc-btn sc-blueBg-btn btn35">
                            <input type="reset" value="{$lang['button_reset']}" class="sc-btn btn35 sc-blue-btn">
                        </dd>
                    </dl>
                </div>
                </form>
            </div>
            </div>
        </div>

    </div>
</div>

{include file="seller_pagefooter"}