{include file="seller_pageheader"}

{include file="seller_nave_header"}

<div class="ecsc-layout">
    <div class="site wrapper">
        {include file="seller_menu_left"}

        <div class="ecsc-layout-right">
            <div class="main-content" id="mainContent">
            {include file="seller_nave_header_title"}
                <div class="wrapper-right of" >
                    <div class="tabmenu">
                        <ul class="tab ">
                            <li><a href="{url('article')}">图文消息</a></li>
                            <li><a href="{url('picture')}">图片</a></li>
                            <li><a href="{url('voice')}">语音</a></li>
                            <li class="active"><a href="{url('video')}">视频</a></li>
                        </ul>
                    </div>
                    <div class="explanation" id="explanation">
                        <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4></div>
                        <ul>
                            <li>视频素材大小: 建议2MB以下，格式：MP4</li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="common-head mt20">
                                <div class="fl mb20">
                                    <a href="{url('video_edit')}" class="sc-btn sc-blue-btn" ><span><i class="fa fa-plus"></i>视频添加</span></a>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="wrapper-content" style="overflow:hidden">
                                <ul>
                                    {foreach $list as $v}
                                    <li class="picture-add" style="">
                                        <div class="picture-add-top">
                                            <img alt="{$v['file_name']}" src="{elixir('img/video.png')}" class="img-rounded" style="height:220px" />
                                            <p class="text-muted" style="word-wrap:break-word;word-break:normal;">{$v['file_name']}</p>
                                            <p class="text-muted">{$v['size']}</p>
                                        </div>
                                        <div class="operate threebtn">
                                            <a href="{url('download', array('id'=>$v['id']))}" title="下载" class="ectouch-fs18"><span class="glyphicon glyphicon-download-alt"></span></a>
                                            <a href="{url('video_edit', array('id'=>$v['id']))}" title="编辑" class="ectouch-fs18 fancybox"><span class="glyphicon glyphicon-pencil"></span></a>
                                            <a href="javascript:;" title="删除" data-href="{url('media_del', array('id'=>$v['id']))}'}" class="ectouch-fs18 delete_confirm"><span class="glyphicon glyphicon-trash"></span></a>
                                        </div>
                                    </li>
                                    {/foreach}
                                </ul>
                            </div>
                            {include file="seller_pageview"}

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

{include file="seller_pagefooter"}
</body>
</html>