{include file="seller_pageheader"}

{include file="seller_nave_header"}

<div class="ecsc-layout">
    <div class="site wrapper">
        {include file="seller_menu_left"}

        <div class="ecsc-layout-right">
            <div class="main-content" id="mainContent">
            {include file="seller_nave_header_title"}
                <div class="wrapper-right of" >
                    <div class="tabmenu">
                        <ul class="tab">
                            <li class="active"><a href="#">{if $article['id']} 图文编辑 {else} 图文添加 {/if}</a></li>
                        </ul>
                    </div>

                    <div class="wrapper-list mt20" >
                    	<form action="{url('article_edit')}" method="post" enctype="multipart/form-data" role="form">
						<div class="account-setting ecsc-form-goods">
                            <dl>
                                <dt>标题：</dt>
                                <dd>
                                    <input type='text' name='data[title]' value="{$article['title']}" class="text" />
                                </dd>
                            </dl>
                            <dl>
                                <dt>作者(选填)：</dt>
                                <dd>
                                    <input type='text' name='data[author]' value="{$article['author']}" class="text" />
                                </dd>
                            </dl>
                            <dl>
                                <dt>封面：</dt>
                                <dd>
                                    <div class="type-file-box ">
                                        <div class="input">
                                        <input type="button" id="button" class="type-file-button" value="上传...">
                                        <input type="file" class="type-file-file" name="pic" size="30" data-state="imgfile" hidefocus="true" >
                                        <span class="show">
                                            <a href="#inline" class="nyroModal fancybox" title="预览">
                                                <i class="fa fa-picture-o" ></i>
                                            </a>
                                        </span>
                                        <input type="text" name="file_path" class="type-file-text" value="{$article['file']}" id="textfield" readonly="" style="display:none">
                                        </div>
                                    </div>
                                    <div class="form_prompt"></div>
                                    <div class="notic">* 规则名最多60个字</div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>显示封面：</dt>
                                <dd>
                                    <div class="checkbox_items">
                                        <div class="checkbox_item">
                                            <input type="radio" name="data[is_show]" class="ui-radio evnet_show" id="value_119_0" value="1" checked="true" {if $article['is_show'] == 1}checked{/if}>
                                            <label for="value_119_0" class="ui-radio-label {if $article['is_show'] == 1}active{/if}">{$lang['yes']}</label>
                                        </div>
                                        <div class="checkbox_item">
                                            <input type="radio" name="data[is_show]" class="ui-radio evnet_show" id="value_119_1" value="0" {if $article['is_show'] == 0}checked{/if}>
                                            <label for="value_119_1" class="ui-radio-label {if $article['is_show'] == 0}active{/if}">{$lang['no']}</label>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>摘要：</dt>
                                <dd>
                                    <textarea class="textarea" name="data[digest]">{$article['digest']}</textarea>
                                </dd>
                            </dl>
                            <dl>
                                <dt>正文：</dt>
                                <dd>
                                    <div class="label_value" style="float:left;line-height:0px;">{create_editor('content', $article['content'])}</div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>原文链接：</dt>
                                <dd>
                                    <input type='text' name='data[link]' placeholder="http://" value="{$article['link']}" class="text" />
                                    <div class="form_prompt"></div>
                                    <div class="notic">默认为空，则为当前素材链接，填写即可用作外链。链接前请带上http或https</div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>排序：</dt>
                                <dd>
                                    <input type='text' name='data[sort]' value="{$article['sort']}" class="text" />
                                </dd>
                            </dl>
                            <dl>
                                <dt>&nbsp;</dt>
                                <dd class="button_info">
                                    <input type="hidden" name="id" value="{$article['id']}" />
                                    <input type="submit" value="{$lang['button_submit']}" class="sc-btn sc-blueBg-btn btn35" />
                                    <input type="reset" value="{$lang['button_reset']}" class="sc-btn sc-blue-btn btn35" />
                                </dd>
                            </dl>
						</div>
						</form>
			    	</div>

                </div>
            </div>
        </div>

    </div>
</div>
<div class="panel panel-default" style="display: none;" id="inline">
  <div class="panel-body">
     <img src="{$article['file']}" class="img-responsive" />
  </div>
</div>
<script>
    //file移动上去的js
    $(".type-file-box").hover(function(){
        $(this).addClass("hover");
    },function(){
        $(this).removeClass("hover");
    });
</script>

{include file="seller_pagefooter"}
</body>
</html>