{include file="seller_pageheader"}

{include file="seller_nave_header"}

<div class="ecsc-layout">
    <div class="site wrapper">
        {include file="seller_menu_left"}

        <div class="ecsc-layout-right">
            <div class="main-content" id="mainContent">
            {include file="seller_nave_header_title"}
                <div class="wrapper-right of" >
                    <div class="tabmenu">
                        <ul class="tab ">
                            <li><a href="{url('article')}">图文消息</a></li>
                            <li><a href="{url('picture')}">图片</a></li>
                            <li class="active"><a href="{url('voice')}">语音</a></li>
                            <li><a href="{url('video')}">视频</a></li>
                        </ul>
                    </div>
                    <div class="explanation" id="explanation">
                        <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4></div>
                        <ul>
                            <li>语音素材大小: 不超过2M, 长度: 不超过60s, 格式: mp3, amr</li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="common-head mt20">
                                <form action="{url('voice')}" method="post" enctype="multipart/form-data" id="voiceForm">
                                <div class="fl mb20">
                                    <div class="type-file-box">
                                        <div class="input">
                                        <input type="button" id="button" class="type-file-button updata_pic" value="上传" onclick="$('input[name=voice]').click();">
                                        <!-- <a href="javascript:;" class="type-file-button" style="margin-right:20px;" onclick="$('input[name=voice]').click();"></a> -->
                                        <input type="file" name="voice" style="display: none;" onchange="$('#voiceForm').submit();">
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                            <div class="clear"></div>
                            <div class="wrapper-content" style="overflow:hidden">
                                <ul>
                                    {foreach $list as $v}
                                    <li class="picture-add" style="">
                                        <div class="picture-add-top">
                                            <img alt="{$v['file_name']}" src="{elixir('img/voice.png')}" class="img-rounded" style="height:220px" />
                                            <p class="text-muted" style="word-wrap:break-word;word-break:normal;">{$v['file_name']}</p>
                                            <p class="text-muted">{$v['size']}</p>
                                        </div>
                                        <div class="operate threebtn">
                                            <a href="{url('download', array('id'=>$v['id']))}" title="下载" class="ectouch-fs18"><span class="glyphicon glyphicon-download-alt"></span></a>
                                            <a href="{url('media_edit', array('id'=>$v['id']))}" title="编辑" class="ectouch-fs18 fancybox fancybox.iframe"><span class="glyphicon glyphicon-pencil"></span></a>
                                            <a href="javascript:;" title="删除" data-href="{url('media_del', array('id'=>$v['id']))}'}" class="ectouch-fs18 delete_confirm"><span class="glyphicon glyphicon-trash"></span></a>
                                        </div>
                                    </li>
                                    {/foreach}
                                </ul>
                            </div>
                            {include file="seller_pageview"}

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

{include file="seller_pagefooter"}
</body>
</html>