{include file="seller_pageheader"}

{include file="seller_nave_header"}

<div class="ecsc-layout">
    <div class="site wrapper">
        {include file="seller_menu_left"}

        <div class="ecsc-layout-right">
            <div class="main-content" id="mainContent">
            {include file="seller_nave_header_title"}
                <div class="wrapper-right of" >
                    <div class="tabmenu">
                        <ul class="tab">
                            <li><a href="{url('reply_subscribe')}">关注自动回复</a></li>
                             <li class="active"><a href="{url('reply_msg')}">消息自动回复</a></li>
                            <li><a href="{url('reply_keywords')}">关键词自动回复</a></li>
                        </ul>
                    </div>
                    <div class="explanation" id="explanation">
                        <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4></div>
                        <ul>
                            <li>自动回复的类型 共分三种：关注自动回复、消息自动回复、关键词自动回复。回复内容可以设置为文字，图片，语音，视频。文本消息回复内容可以直接填写，长度限制1024字节（大约200字，含标点以及其他特殊字符），其他素材需要先在素材管理中添加。</li>
                            <li>二、消息自动回复：当用户输入任意消息，匹配不到功能扩展即系统已有关键词时或者没有在关键词自动回复里的规则关键词，则默认回复一条 消息提示。（可以为空）例如：对不起！你输入的关键词不存在，建议你咨询相关客服。</li>
                            <li>★ 消息自动回复，可以配合关键词自动回复灵活使用。回复提示用户输入系统已有关键词。</li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="wrapper-list mt20">
                                <form action="{url('reply_msg')}" method="post">
                                <div class="account-setting">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <ul class="nav nav-pills" role="tablist">
                                                <li role="presentation"><a href="javascript:;" title="文字" class="f-14"><i class="fa fa-pencil"></i><span>文字</span></a></li>
                                                <li role="presentation"><a href="{url('auto_reply', array('type'=>'image'))}" class="fancybox fancybox.iframe f-14" title="图片"><i class="fa fa-file-image-o"></i><span>图片</span></a></li>
                                                <li role="presentation"><a href="{url('auto_reply', array('type'=>'voice'))}" class="fancybox fancybox.iframe f-14" title="语音"><i class="fa fa-volume-up"></i><span>语音</span></a></li>
                                                <li role="presentation"><a href="{url('auto_reply', array('type'=>'video'))}" class="f-14 fancybox fancybox.iframe" title="视频"><i class="fa fa-film"></i><span>视频</span></a></li>
                                            </ul>
                                        </div>
                                        <div class="panel-body" >
                                            <div {if $msg['media_id']} class="hidden"{/if}>
                                                <textarea name="content" class="form-control" placeholder="文本内容" rows="6" style="border:none;">{if $msg['content']}{$msg['content']}{/if}</textarea>
                                            </div>
                                            <div class="{if empty($msg) || $msg['content']}hidden{/if} col-xs-6 col-md-3 thumbnail content" style="border:none;">
                                                {if $msg['media']}
                                                    {if $msg['media']['type'] == 'voice'}
                                                        <input type='hidden' name='media_id' value="{$msg['media_id']}"><img src='{elixir("img/voice.png")}' class='img-rounded' /><span class='help-block'>{$msg['media']['file_name']}</span>
                                                    {elseif $msg['media']['type'] == 'video'}
                                                        <input type='hidden' name='media_id' value="{$msg['media_id']}"><img src='{elixir("img/video.png")}' class='img-rounded' /><span class='help-block'>{$msg['media']['file_name']}</span>
                                                    {else}
                                                        <input type='hidden' name='media_id' value="{$msg['media_id']}"><img src="{$msg['media']['file']}" class='img-rounded' />
                                                    {/if}
                                                {/if}
                                            </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="bottom mt20">
                                    <input type="hidden" name="content_type" value="text" />
                                    <input type="submit" class="sc-btn sc-blueBg-btn btn35" name="submit" value="保存" />
                                    <input type="reset" class="sc-btn sc-blue-btn btn35" name="reset" value="清除内容" />
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
$(function(){
    $(".nav-pills li").click(function(){
        var index = $(this).index();
        var tab = $(this).parent().parent(".panel-heading").siblings(".panel-body");
        if(index == 0){
            tab.find("div").addClass("hidden");
            tab.find("div").eq(index).removeClass("hidden");
            $("input[name=content_type]").val("text");
        }
    });
})
</script>

{include file="seller_pagefooter"}
</body>
</html>