
<h1 class="sectionedit1" id="saja_system">Saja System</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "Saja System" [1-27] -->
<h2 class="sectionedit2" id="結標">結標</h2>
<div class="level2">

</div>
<!-- EDIT2 SECTION "結標" [28-46] -->
<h3 class="sectionedit3" id="diagram">Diagram</h3>
<div class="level3">

<p>
<a href="/wiki/lib/exe/detail.php?id=prd%3Asaja_system&amp;media=prd:%E7%B5%90%E6%A8%99.jpg" class="media" title="prd:結標.jpg"><img src="/wiki/lib/exe/fetch.php?media=prd:%E7%B5%90%E6%A8%99.jpg" class="media" alt="" /></a>
</p>

</div>
<!-- EDIT3 SECTION "Diagram" [47-86] -->
<h3 class="sectionedit4" id="description">Description</h3>
<div class="level3">

</div>

<h4 id="role">Role</h4>
<div class="level4">
<ul>
<li class="level1"><div class="li"> User : 使用者</div>
</li>
<li class="level1"><div class="li"> Dealer : 經銷商</div>
</li>
<li class="level1"><div class="li"> Saja System : 殺價王系統</div>
</li>
<li class="level1"><div class="li"> Saja : 殺價王管理人員</div>
</li>
<li class="level1"><div class="li"> Product Owner : 產品的賣主</div>
</li>
</ul>

</div>

<h4 id="behavior">Behavior</h4>
<div class="level4">
<ul>
<li class="level1"><div class="li"> 殺價 : 殺價行為</div>
</li>
<li class="level1"><div class="li"> 結標 : 殺價完結標.</div>
</li>
<li class="level1"><div class="li"> 重覆殺價的人不能得標 : 殺價規則為重覆殺價的人不能得標 , 會在結標時統一計算.</div>
</li>
<li class="level1"><div class="li"> 或是獲得禮卷或是折價卷 : 沒有得標的人會因為上架時的設定決定獲得禮卷或是折價卷.</div>
</li>
<li class="level1"><div class="li"> 未獲得紅利點數(回饋0~100%) : 未得標的人會因為上架時的設定決定可以獲得一定比例的紅利點數.</div>
</li>
<li class="level1"><div class="li"> Charge fee : 未得標的人，在取得點數和折價卷後，剩餘的費用為　平台商與經銷商將要拆帳的費用。</div>
</li>
<li class="level1"><div class="li"> 單一殺價而且價格最低可得標：單一出價而且沒有重覆的人可以得標。</div>
</li>
<li class="level1"><div class="li"> 實收所有手續費：得標者的手續費由平台商與經銷商直接全部拆分。</div>
</li>
<li class="level1"><div class="li"> 可取TopN : 得標者，可以有多個但是不違反只有單一出價的原則。</div>
</li>
</ul>

</div>
<!-- EDIT4 SECTION "Description" [87-1134] -->
<h2 class="sectionedit5" id="上架">上架</h2>
<div class="level2">

</div>
<!-- EDIT5 SECTION "上架" [1135-1153] -->
<h3 class="sectionedit6" id="diagram1">Diagram</h3>
<div class="level3">

<p>
<a href="/wiki/lib/exe/detail.php?id=prd%3Asaja_system&amp;media=prd:%E4%B8%8A%E6%9E%B6.jpg" class="media" title="prd:上架.jpg"><img src="/wiki/lib/exe/fetch.php?media=prd:%E4%B8%8A%E6%9E%B6.jpg" class="media" alt="" /></a>
</p>

</div>
<!-- EDIT6 SECTION "Diagram" [1154-1193] -->
<h3 class="sectionedit7" id="description1">Description</h3>
<div class="level3">

</div>

<h4 id="role1">Role</h4>
<div class="level4">
<ul>
<li class="level1"><div class="li"> User : 使用者</div>
</li>
<li class="level1"><div class="li"> Dealer : 經銷商</div>
</li>
<li class="level1"><div class="li"> Saja System : 殺價王系統</div>
</li>
<li class="level1"><div class="li"> Saja : 殺價王管理人員</div>
</li>
<li class="level1"><div class="li"> Product Owner : 產品的賣主</div>
</li>
</ul>

</div>

<h4 id="behavior1">Behavior</h4>
<div class="level4">
<ul>
<li class="level1"><div class="li"> 上架 : 殺價商品上架</div>
</li>
<li class="level1"><div class="li"> 定義上架下架時間 : 可從後台設定可自動上下架殺價商品的時間</div>
</li>
<li class="level1"><div class="li"> 出價底價 : 可從後台設定可以出價的底價 , 若未達底價則不可投標.</div>
</li>
<li class="level1"><div class="li"> 每個人的可殺價次數 : 可在後台預設單一商品的整場活動 某一帳號的下標次數 , 保留 可以定義某一時段 , 某些商品 的殺價次數限制.</div>
</li>
<li class="level1"><div class="li"> 定義結標次數 : 可在後台設定下標人次達到一個數量時才可以結標, 時間到若是標次不足則流標,  可定義下標人次若達下標人次量則停止下標 , 若不填則無限大 直到活動結束為止. ( 若是沒有任何一個單一出價則也是流標處理 )</div>
</li>
<li class="level1"><div class="li"> 定義殺價下限 : 可在後台設定 殺價的出價金額下限 , 不得低於設定的出價值.</div>
</li>
<li class="level1"><div class="li"> 得標手續費(填金額不得超過 10%) : 經銷商可以設定得標後的得標者在確定得標後, 得標者要再額外支付一筆手續費才會出貨給得標者.</div>
</li>
<li class="level1"><div class="li"> 定義未得標的紅利或折價卷 : 可在後台設定 未得標者可獲得多少紅利及折價卷.</div>
</li>
<li class="level1"><div class="li"> 拆帳比例 : 可設定產品的Owner 與經銷商之間的拆帳比例.</div>
</li>
<li class="level1"><div class="li"> 使用者下標條件 : </div>
<ul>
<li class="level2"><div class="li"> 註冊時間</div>
</li>
<li class="level2"><div class="li"> 得標次數</div>
</li>
<li class="level2"><div class="li"> 做過公益活動</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 審核 : 經銷商或SAJA 可以審核要上架的商品 .</div>
</li>
<li class="level1"><div class="li"> Accept Verify : 同意審核的上架商品.</div>
</li>
<li class="level1"><div class="li"> Preview Page : 可以預覽要上架的商品.</div>
</li>
</ul>

</div>
<!-- EDIT7 SECTION "Description" [1194-2846] -->
<h2 class="sectionedit8" id="拆帳">拆帳</h2>
<div class="level2">

</div>
<!-- EDIT8 SECTION "拆帳" [2847-2866] -->
<h3 class="sectionedit9" id="diagram2">Diagram</h3>
<div class="level3">

<p>
<a href="/wiki/lib/exe/detail.php?id=prd%3Asaja_system&amp;media=prd:%E6%8B%86%E5%B8%B3.jpg" class="media" title="prd:拆帳.jpg"><img src="/wiki/lib/exe/fetch.php?media=prd:%E6%8B%86%E5%B8%B3.jpg" class="media" alt="" /></a>
</p>

</div>

<h4 id="role2">Role</h4>
<div class="level4">
<ul>
<li class="level1"><div class="li"> User : 使用者</div>
</li>
<li class="level1"><div class="li"> Dealer : 經銷商</div>
</li>
<li class="level1"><div class="li"> Saja System : 殺價王系統</div>
</li>
<li class="level1"><div class="li"> Saja : 殺價王管理人員</div>
</li>
<li class="level1"><div class="li"> Product Owner : 產品的賣主</div>
</li>
</ul>

</div>

<h4 id="behavior2">Behavior</h4>
<div class="level4">
<ul>
<li class="level1"><div class="li"> 結標 : 殺價競標活動結束 , 系統自動結算結標結果 , 並且將內容丟到公告 LIST 頁.</div>
</li>
<li class="level1"><div class="li"> 得標收入拆帳 : 得標者得標後 的獲利金額拆帳計算. ( 折帳比例通常為 0 , 保留擴充性未來可以設定 )</div>
<ul>
<li class="level3"><div class="li"> 得標者付的所有投標費 : 得標者若得一標則之前的所有投入標金也計算在得標收入拆帳裡.</div>
</li>
<li class="level3"><div class="li"> 得標處理費 : 跟得標者收取的得標處理費.</div>
</li>
<li class="level3"><div class="li"> 得標商品金額 : 得標者下標的商品金額 , 取貨時需付的費用.</div>
</li>
<li class="level3"><div class="li"> 得標收入與產品提供者的拆帳 : 得標的總收入有三個項目 可以按比例決定與產品提供者的拆帳方式 , 也可以設零純做廣告.</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 未得標收入拆帳 : 未得標者的下標金的拆帳計算.</div>
<ul>
<li class="level3"><div class="li">  未得標收入與產品提供者拆帳 : 未得標者扣除 紅利及回饋禮卷後 , 與產品提供者的拆帳方式 , 也可以設零純做廣告.</div>
</li>
<li class="level3"><div class="li"> 回饋禮卷 : 未得標者當初投入的現金 , 以一定比例但是有比例上限 回饋給未得標者 , 而且可以設定禮卷限定給某些商品使用 , 可以直接兌換某個商品也可以直接折抵現金.</div>
</li>
<li class="level3"><div class="li"> 回饋紅利 : 未得標者當初投入的現金 , 以一定比例但是有比例上限 回饋紅利給未得標者 , 可以使用紅利點數至兌換商城折底現金.</div>
</li>
<li class="level3"><div class="li"> 注 : 紅利和禮卷在兌換商城不能同時使用.</div>
</li>
</ul>
</li>
</ul>

</div>
<!-- EDIT9 SECTION "Diagram" [2867-4498] -->
<h3 class="sectionedit10" id="description2">Description</h3>
<div class="level3">

</div>
<!-- EDIT10 SECTION "Description" [4499-] -->