
<h1 class="sectionedit1" id="api_document">API Document</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "API Document" [1-27] -->
<h2 class="sectionedit2" id="spec">Spec</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Name : Product <abbr title="Application Programming Interface">API</abbr></div>
</li>
<li class="level1"><div class="li"> Description : 好康商品 <abbr title="Application Programming Interface">API</abbr></div>
</li>
<li class="level1"><div class="li"> Url : <a href="http://210.61.12.136/site/mobile/product" class="urlextern" title="http://210.61.12.136/site/mobile/product"  rel="nofollow">http://210.61.12.136/site/mobile/product</a></div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Spec" [28-158] -->
<h2 class="sectionedit3" id="paramater">Paramater</h2>
<div class="level2">
<div class="table sectionedit4"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Type </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> productid </td><td class="col1"> int </td><td class="col2"> 好康商品id </td>
	</tr>
</table></div>
<!-- EDIT4 TABLE [181-241] -->
</div>
<!-- EDIT3 SECTION "Paramater" [159-242] -->
<h2 class="sectionedit5" id="example">Example</h2>
<div class="level2">

<p>
<a href="http://210.61.12.136/site/mobile/product/productid=1" class="urlextern" title="http://210.61.12.136/site/mobile/product/productid=1"  rel="nofollow">http://210.61.12.136/site/mobile/product/productid=1</a>
</p>

</div>
<!-- EDIT5 SECTION "Example" [243-320] -->
<h2 class="sectionedit6" id="return_value">Return Value</h2>
<div class="level2">

</div>
<!-- EDIT6 SECTION "Return Value" [321-345] -->
<h3 class="sectionedit7" id="record">Record</h3>
<div class="level3">
<div class="table sectionedit8"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Description </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> productid </td><td class="col1"> 商品ID </td><td class="col2"> </td>
	</tr>
	<tr class="row2">
		<td class="col0"> type </td><td class="col1"> 競標種類 </td><td class="col2"> complex:綜合標，time:時間標，saja:次數標 </td>
	</tr>
	<tr class="row3">
		<td class="col0"> retail_price </td><td class="col1"> 建議售價 </td><td class="col2"> </td>
	</tr>
	<tr class="row4">
		<td class="col0"> spoint </td><td class="col1"> 所需殺幣 </td><td class="col2"> </td>
	</tr>
	<tr class="row5">
		<td class="col0"> thumbnail </td><td class="col1"> 產品主圖 </td><td class="col2"> </td>
	</tr>
	<tr class="row6">
		<td class="col0"> limit_price </td><td class="col1"> 殺價底價 </td><td class="col2"> </td>
	</tr>
	<tr class="row7">
		<td class="col0"> offtime </td><td class="col1"> 結標時間 </td><td class="col2"> </td>
	</tr>
</table></div>
<!-- EDIT8 TABLE [363-656] -->
</div>
<!-- EDIT7 SECTION "Record" [346-657] -->
<h3 class="sectionedit9" id="relation">Relation</h3>
<div class="level3">

</div>

<h4 id="product_category_rt">product_category_rt</h4>
<div class="level4">
<div class="table sectionedit10"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Description </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> pcid </td><td class="col1"> 商品分類ID </td><td class="col2"> </td>
	</tr>
	<tr class="row2">
		<td class="col0"> name </td><td class="col1"> 商品分類名稱 </td><td class="col2"> </td>
	</tr>
</table></div>
<!-- EDIT10 TABLE [705-795] -->
</div>

<h4 id="history">history</h4>
<div class="level4">
<div class="table sectionedit11"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Description </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> userid </td><td class="col1"> 得標使用者ID </td><td class="col2"> </td>
	</tr>
	<tr class="row2">
		<td class="col0"> name </td><td class="col1"> 得標使用者名稱 </td><td class="col2"> </td>
	</tr>
</table></div>
<!-- EDIT11 TABLE [813-911] -->
</div>
<!-- EDIT9 SECTION "Relation" [658-] -->