
<h1 class="sectionedit1" id="architecture">Architecture</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "Architecture" [1-28] -->
<h2 class="sectionedit2" id="block">Block</h2>
<div class="level2">

<p>
<a href="/wiki/lib/exe/detail.php?id=architecture&amp;media=arc.jpg" class="media" title="arc.jpg"><img src="/wiki/lib/exe/fetch.php?media=arc.jpg" class="media" alt="" /></a>
</p>

</div>
<!-- EDIT2 SECTION "Block" [29-] -->