{include file="page_header"}
{if $list}
{foreach $list as $k=>$v}
<section class="goods-shop  b-color-f no-shopping-title {if $k > 0}m-top04{/if}">
    <div class="goods-shop-pic of-hidden padding-all wallet-bt">
        <div class="g-s-p-con product-one-list of-hidden scrollbar-none j-g-s-p-con swiper-container-horizontal">
            <div class="swiper-wrapper">
                {foreach $v.goods_list as $key=>$goods}
                <li class="swiper-slide {if $key == 0}swiper-slide-active{elseif $key == 1}swiper-slide-next{/if}">
                <div class="product-div">
                    <a class="product-div-link" href="{$goods.url}"></a>
                    <img class="product-list-img" src="{$goods.goods_thumb}">
                    <div class="product-text index-product-text m-top06">
                        <h4>{$goods.goods_name}</h4>
                        <p><span class="p-price t-first ">{$goods.rank_price}</span></p>
                    </div>
                </div>
                </li>
                {/foreach}
            </div>
        </div>
    </div>
</section>
<section class="padding-all b-color-f">
    <ul class="int-nav-box my-new-m">
        <li class="int-max-tit">{$v.act_name} (<span>{$v.package_number}件</span>)<span class="t-jiantou fr"><i class="iconfont icon-jiantou tf-180 jian-top int-jt-box"></i></span></li>
        <li class="int-title">原价：<del>{$v.subtotal}</del></li>
        <li class="int-title">套餐价：<span class="int-nav-box">{$v.package_price}</span>(已优惠 {$v.saving})</li>
    </ul>
    <ul class="int-cont" style="display:none">
        <li>起止时间：{$v.start_time}～{$v.end_time}</li>
        <li>简单描述：{$v.act_desc}</li>
    </ul>
    <section class="dis-box int-but-top">
        <a class="btn-submit box-flex br-5 min-btn" onclick="javascript:addPackageToCart({$v.act_id}, {$area_id}, {$region_id})">立即购买</a>
    </section>
</section>
<input name="confirm_type" id="confirm_type" type="hidden" value="3" />
{/foreach}
{else}
   <div class="no-div-message">
                        <i class="iconfont icon-biaoqingleiben"></i>
                        <p>亲，此处没有内容～！</p>
   </div>
{/if}
     <!--快捷导航-->
    {include file="float_nav"} 
    {include file="float_nav_footer"}
<script>
$(function($) {
    $(".int-nav-box").click(function() {
        $(this).find(".int-jt-box").toggleClass("current");					
        $(".int-cont").toggle();			
    });
    $(".int-nav-box-1").click(function() {
        $(this).find(".int-jt-box").toggleClass("current");					
        $(".int-cont-1").toggle();
    });
});
/*商品详情相册切换*/
var swiper = new Swiper('.goods-photo', {
paginationClickable: true,
onInit: function(swiper) {
document.getElementById("g-active-num").innerHTML = swiper.activeIndex + 1;
document.getElementById("g-all-num").innerHTML = swiper.slides.length;
},
onSlideChangeStart: function(swiper) {
document.getElementById("g-active-num").innerHTML = swiper.activeIndex + 1;
}
});
/*店铺信息商品滚动*/
var swiper = new Swiper('.j-g-s-p-con', {
scrollbarHide: true,
slidesPerView: 'auto',
centeredSlides: false,
grabCursor: true
});
</script>
</body>
</html>
