
<h1 class="sectionedit1" id="api_document">API Document</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "API Document" [1-27] -->
<h2 class="sectionedit2" id="spec">Spec</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Name : View <abbr title="Application Programming Interface">API</abbr></div>
</li>
<li class="level1"><div class="li"> Description : 首頁 <abbr title="Application Programming Interface">API</abbr></div>
</li>
<li class="level1"><div class="li"> Url : <a href="http://210.61.12.136/site/mobile/view" class="urlextern" title="http://210.61.12.136/site/mobile/view"  rel="nofollow">http://210.61.12.136/site/mobile/view</a></div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Spec" [28-146] -->
<h2 class="sectionedit3" id="paramater">Paramater</h2>
<div class="level2">
<div class="table sectionedit4"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Type </th><th class="col2"> Value </th>
	</tr>
</table></div>
<!-- EDIT4 TABLE [169-192] -->
</div>
<!-- EDIT3 SECTION "Paramater" [147-193] -->
<h2 class="sectionedit5" id="example">Example</h2>
<div class="level2">

<p>
<a href="http://210.61.12.136/site/mobile/view" class="urlextern" title="http://210.61.12.136/site/mobile/view"  rel="nofollow">http://210.61.12.136/site/mobile/view</a>
</p>

</div>
<!-- EDIT5 SECTION "Example" [194-256] -->
<h2 class="sectionedit6" id="return_value">Return Value</h2>
<div class="level2">

</div>
<!-- EDIT6 SECTION "Return Value" [257-281] -->
<h3 class="sectionedit7" id="record">Record</h3>
<div class="level3">
<div class="table sectionedit8"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Description </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> productid </td><td class="col1"> 商品ID </td><td class="col2"> </td>
	</tr>
	<tr class="row2">
		<td class="col0"> name </td><td class="col1"> 商品名稱 </td><td class="col2"> </td>
	</tr>
	<tr class="row3">
		<td class="col0"> description </td><td class="col1"> 商品敘述 </td><td class="col2"> </td>
	</tr>
	<tr class="row4">
		<td class="col0"> type </td><td class="col1"> 競標種類 </td><td class="col2"> complex:綜合標，time:時間標，saja:次數標 </td>
	</tr>
	<tr class="row5">
		<td class="col0"> retail_price </td><td class="col1"> 建議售價 </td><td class="col2"> </td>
	</tr>
	<tr class="row6">
		<td class="col0"> spoint </td><td class="col1"> 所需殺幣 </td><td class="col2"> </td>
	</tr>
	<tr class="row7">
		<td class="col0"> thumbnail </td><td class="col1"> 產品主圖 </td><td class="col2"> </td>
	</tr>
	<tr class="row8">
		<td class="col0"> limit_price </td><td class="col1"> 殺價底價 </td><td class="col2"> </td>
	</tr>
	<tr class="row9">
		<td class="col0"> offtime </td><td class="col1"> 下架時間 </td><td class="col2"> </td>
	</tr>
</table></div>
<!-- EDIT8 TABLE [299-651] -->
</div>
<!-- EDIT7 SECTION "Record" [282-652] -->
<h3 class="sectionedit9" id="relation">Relation</h3>
<div class="level3">

</div>

<h4 id="banner_強檔廣告">banner （強檔廣告）</h4>
<div class="level4">
<div class="table sectionedit10"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Description </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> productid </td><td class="col1"> 商品ID </td><td class="col2"> </td>
	</tr>
	<tr class="row2">
		<td class="col0"> name </td><td class="col1"> 商品名稱 </td><td class="col2"> </td>
	</tr>
	<tr class="row3">
		<td class="col0"> description </td><td class="col1"> 商品敘述 </td><td class="col2"> </td>
	</tr>
	<tr class="row4">
		<td class="col0"> type </td><td class="col1"> 競標種類 </td><td class="col2"> complex:綜合標，time:時間標，saja:次數標 </td>
	</tr>
	<tr class="row5">
		<td class="col0"> retail_price </td><td class="col1"> 建議售價 </td><td class="col2"> </td>
	</tr>
	<tr class="row6">
		<td class="col0"> spoint </td><td class="col1"> 所需殺幣 </td><td class="col2"> </td>
	</tr>
	<tr class="row7">
		<td class="col0"> thumbnail </td><td class="col1"> 產品主圖 </td><td class="col2"> </td>
	</tr>
	<tr class="row8">
		<td class="col0"> limit_price </td><td class="col1"> 殺價底價 </td><td class="col2"> </td>
	</tr>
	<tr class="row9">
		<td class="col0"> offtime </td><td class="col1"> 下架時間 </td><td class="col2"> </td>
	</tr>
</table></div>
<!-- EDIT10 TABLE [706-1058] -->
</div>
<!-- EDIT9 SECTION "Relation" [653-] -->