
<h1 class="sectionedit1" id="api_document">API Document</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "API Document" [1-27] -->
<h2 class="sectionedit2" id="spec">Spec</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Name : Exchange <abbr title="Application Programming Interface">API</abbr></div>
</li>
<li class="level1"><div class="li"> Description : 兌換中心 <abbr title="Application Programming Interface">API</abbr></div>
</li>
<li class="level1"><div class="li"> Url : <a href="http://210.61.12.136/site/mobile/exchange" class="urlextern" title="http://210.61.12.136/site/mobile/exchange"  rel="nofollow">http://210.61.12.136/site/mobile/exchange</a></div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Spec" [28-160] -->
<h2 class="sectionedit3" id="paramater">Paramater</h2>
<div class="level2">
<div class="table sectionedit4"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Type </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> epcid </td><td class="col1"> int </td><td class="col2"> 兌換商品分類ID </td>
	</tr>
</table></div>
<!-- EDIT4 TABLE [183-245] -->
</div>
<!-- EDIT3 SECTION "Paramater" [161-246] -->
<h2 class="sectionedit5" id="example">Example</h2>
<div class="level2">

<p>
<a href="http://210.61.12.136/site/mobile/exchange/epcid=2" class="urlextern" title="http://210.61.12.136/site/mobile/exchange/epcid=2"  rel="nofollow">http://210.61.12.136/site/mobile/exchange/epcid=2</a>
</p>

</div>
<!-- EDIT5 SECTION "Example" [247-321] -->
<h2 class="sectionedit6" id="return_value">Return Value</h2>
<div class="level2">

</div>
<!-- EDIT6 SECTION "Return Value" [322-346] -->
<h3 class="sectionedit7" id="record">Record</h3>
<div class="level3">
<div class="table sectionedit8"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Description </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> epid </td><td class="col1"> 兌換商品ID </td><td class="col2"> </td>
	</tr>
	<tr class="row2">
		<td class="col0"> name </td><td class="col1"> 產品名稱 </td><td class="col2"> </td>
	</tr>
	<tr class="row3">
		<td class="col0"> fee </td><td class="col1"> 兌換處理費 </td><td class="col2"> </td>
	</tr>
	<tr class="row4">
		<td class="col0"> retail_price </td><td class="col1"> 建議售價 </td><td class="col2"> </td>
	</tr>
	<tr class="row5">
		<td class="col0"> point_price </td><td class="col1"> 所需殺幣 </td><td class="col2"> </td>
	</tr>
	<tr class="row6">
		<td class="col0"> thumbnail </td><td class="col1"> 產品主圖 </td><td class="col2"> </td>
	</tr>
</table></div>
<!-- EDIT8 TABLE [364-577] -->
</div>
<!-- EDIT7 SECTION "Record" [347-578] -->
<h3 class="sectionedit9" id="relation">Relation</h3>
<div class="level3">

</div>

<h4 id="exchange_product_category_rt">exchange_product_category_rt</h4>
<div class="level4">
<div class="table sectionedit10"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Description </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> epcid </td><td class="col1"> 兌換商品分類ID </td><td class="col2"> </td>
	</tr>
	<tr class="row2">
		<td class="col0"> name </td><td class="col1"> 兌換商品分類名稱 </td><td class="col2"> </td>
	</tr>
</table></div>
<!-- EDIT10 TABLE [635-738] -->
</div>

<h4 id="bonus">bonus</h4>
<div class="level4">
<div class="table sectionedit11"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Description </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> userid </td><td class="col1"> 使用者ID </td><td class="col2"> </td>
	</tr>
	<tr class="row2">
		<td class="col0"> amount </td><td class="col1"> 總紅利積點 </td><td class="col2"> </td>
	</tr>
</table></div>
<!-- EDIT11 TABLE [754-842] -->
</div>

<h4 id="stock">stock</h4>
<div class="level4">
<div class="table sectionedit12"><table class="inline">
	<tr class="row0">
		<th class="col0"> Name </th><th class="col1"> Description </th><th class="col2"> Value </th>
	</tr>
	<tr class="row1">
		<td class="col0"> epid </td><td class="col1"> 兌換商品ID </td><td class="col2"> </td>
	</tr>
	<tr class="row2">
		<td class="col0"> num </td><td class="col1"> 兌換商品庫存數量 </td><td class="col2"> </td>
	</tr>
</table></div>
<!-- EDIT12 TABLE [858-954] -->
</div>
<!-- EDIT9 SECTION "Relation" [579-] -->