<ul>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=task_manager:daily_task:2013-11-28" class="wikilink1" title="task_manager:daily_task:2013-11-28">2013-11-28</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=task_manager:daily_task:2013-11-29" class="wikilink1" title="task_manager:daily_task:2013-11-29">2013-11-29</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=task_manager:daily_task:2013-12-02" class="wikilink1" title="task_manager:daily_task:2013-12-02">2013-12-02</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=task_manager:daily_task:2013-12-03" class="wikilink1" title="task_manager:daily_task:2013-12-03">2013-12-03</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=task_manager:daily_task:2013-12-04" class="wikilink1" title="task_manager:daily_task:2013-12-04">2013-12-04</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=task_manager:daily_task:2013-12-05" class="wikilink1" title="task_manager:daily_task:2013-12-05">2013-12-05</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=task_manager:daily_task:2013-12-06" class="wikilink1" title="task_manager:daily_task:2013-12-06">2013-12-06</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=task_manager:daily_task:2013-12-09" class="wikilink2" title="task_manager:daily_task:2013-12-09" rel="nofollow">2013-12-09</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=task_manager:daily_task:2013-12-10" class="wikilink2" title="task_manager:daily_task:2013-12-10" rel="nofollow">2013-12-10</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=task_manager:daily_task:2013-12-11" class="wikilink2" title="task_manager:daily_task:2013-12-11" rel="nofollow">2013-12-11</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=task_manager:daily_task:2013-12-12" class="wikilink1" title="task_manager:daily_task:2013-12-12">2013-12-12</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=task_manager:daily_task:2013-12-13" class="wikilink1" title="task_manager:daily_task:2013-12-13">2013-12-13</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=task_manager:daily_task:2013-12-16" class="wikilink1" title="task_manager:daily_task:2013-12-16">2013-12-16</a></div>
</li>
</ul>
