
<h1 class="sectionedit1" id="muti_channel">Muti Channel</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "Muti Channel" [1-28] -->
<h2 class="sectionedit2" id="diagram">Diagram</h2>
<div class="level2">

<p>
<a href="/wiki/lib/exe/detail.php?id=technical_spec%3Amulti_channel_system&amp;media=technical_spec:muti_channel.jpg" class="media" title="technical_spec:muti_channel.jpg"><img src="/wiki/lib/exe/fetch.php?media=technical_spec:muti_channel.jpg" class="media" alt="" /></a>
</p>

</div>
<!-- EDIT2 SECTION "Diagram" [29-87] -->
<h2 class="sectionedit3" id="description">Description</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Channel : 頻道</div>
</li>
<li class="level1"><div class="li"> Country : 國家</div>
</li>
<li class="level1"><div class="li"> Language : 使用語系 , 會因為國家而有所不同.</div>
</li>
<li class="level1"><div class="li"> Channel AD : 頻道廣告系統 , 一套廣告系統可以同時存在多個頻道也可以只在某一個頻道.</div>
</li>
<li class="level1"><div class="li"> Channel News : 頻道新聞系統 , 一套新聞系統可以同時存在多個頻道也可以只在某一個頻道.</div>
</li>
<li class="level1"><div class="li"> Channel Saja Store : 頻道殺價系統 , 一個商店可以同時存在多個頻道也可以只在一個頻道</div>
</li>
<li class="level1"><div class="li"> Channel Exchange Mall : 頻道兌換商城 , 一個兌換商城可以同時存在多個頻道也可以只在一個頻道.</div>
</li>
<li class="level1"><div class="li"> Saja Store : 殺價商店.</div>
</li>
<li class="level1"><div class="li"> Exchange Mall : 兌換商城.</div>
</li>
</ul>

</div>
<!-- EDIT3 SECTION "Description" [88-770] -->
<h2 class="sectionedit4" id="database">Database</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> saja_channel - 經銷商</div>
</li>
<li class="level1"><div class="li"> saja_channel_exchange_mall_rt - 經銷商兌換中心關聯</div>
</li>
<li class="level1"><div class="li"> saja_channel_store_rt - 經銷商分館關聯</div>
</li>
<li class="level1"><div class="li"> saja_country - 國家</div>
</li>
<li class="level1"><div class="li"> saja_country_language_rt - 國家語言關聯</div>
</li>
<li class="level1"><div class="li"> saja_exchange_mall - 兌換中心</div>
</li>
<li class="level1"><div class="li"> saja_exchange_product - 兌換商品</div>
</li>
<li class="level1"><div class="li"> saja_language - 語言</div>
</li>
<li class="level1"><div class="li"> saja_store - 分館</div>
</li>
<li class="level1"><div class="li"> saja_store_product_rt - 競標商品</div>
</li>
</ul>

</div>
<!-- EDIT4 SECTION "Database" [771-1182] -->
<h2 class="sectionedit5" id="database_schema">Database Schema</h2>
<div class="level2">

</div>
<!-- EDIT5 SECTION "Database Schema" [1183-1210] -->
<h3 class="sectionedit6" id="saja_channel">saja_channel</h3>
<div class="level3">
<div class="table sectionedit7"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> channelid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 經銷商id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> countryid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 國家id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> name </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 經銷商名稱（英文） </td>
	</tr>
	<tr class="row5">
		<td class="col0"> description </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 經銷商敘述（中文） </td>
	</tr>
	<tr class="row6">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT7 TABLE [1234-1891] -->
</div>
<!-- EDIT6 SECTION "saja_channel" [1211-1892] -->
<h3 class="sectionedit8" id="saja_channel_exchange_mall_rt">saja_channel_exchange_mall_rt</h3>
<div class="level3">
<div class="table sectionedit9"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> channelid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 經銷商id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> emid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 兌換中心id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row5">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT9 TABLE [1933-2394] -->
</div>
<!-- EDIT8 SECTION "saja_channel_exchange_mall_rt" [1893-2395] -->
<h3 class="sectionedit10" id="saja_channel_store_rt">saja_channel_store_rt</h3>
<div class="level3">
<div class="table sectionedit11"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> channelid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 經銷商id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> storeid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 分館id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row5">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT11 TABLE [2428-2886] -->
</div>
<!-- EDIT10 SECTION "saja_channel_store_rt" [2396-2887] -->
<h3 class="sectionedit12" id="saja_country">saja_country</h3>
<div class="level3">
<div class="table sectionedit13"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> countryid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 國家id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> name </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 國家名稱（英文） </td>
	</tr>
	<tr class="row4">
		<td class="col0"> description </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 國家敘述（中文） </td>
	</tr>
	<tr class="row5">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT13 TABLE [2911-3484] -->
</div>
<!-- EDIT12 SECTION "saja_country" [2888-3485] -->
<h3 class="sectionedit14" id="saja_country_language_rt">saja_country_language_rt</h3>
<div class="level3">
<div class="table sectionedit15"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> countryid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 國家id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> langid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 語言id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row5">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT15 TABLE [3521-3993] -->
</div>
<!-- EDIT14 SECTION "saja_country_language_rt" [3486-3994] -->
<h3 class="sectionedit16" id="saja_exchange_mall">saja_exchange_mall</h3>
<div class="level3">
<div class="table sectionedit17"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> emid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 兌換中心id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> name </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 兌換中心名稱 </td>
	</tr>
	<tr class="row4">
		<td class="col0"> description </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 兌換中心敘述 </td>
	</tr>
	<tr class="row5">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT17 TABLE [4024-4591] -->
</div>
<!-- EDIT16 SECTION "saja_exchange_mall" [3995-4592] -->
<h3 class="sectionedit18" id="saja_exchange_product">saja_exchange_product</h3>
<div class="level3">
<div class="table sectionedit19"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> epid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 兌換商品id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> emid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 兌換中心id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> name </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 兌換商品名稱 </td>
	</tr>
	<tr class="row5">
		<td class="col0"> description </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 兌換商品敘述 </td>
	</tr>
	<tr class="row6">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT19 TABLE [4625-5254] -->
</div>
<!-- EDIT18 SECTION "saja_exchange_product" [4593-5255] -->
<h3 class="sectionedit20" id="saja_language">saja_language</h3>
<div class="level3">
<div class="table sectionedit21"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> langid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 語言id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> name </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 語言名稱 </td>
	</tr>
	<tr class="row4">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row5">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT21 TABLE [5280-5739] -->
</div>
<!-- EDIT20 SECTION "saja_language" [5256-5740] -->
<h3 class="sectionedit22" id="saja_store">saja_store</h3>
<div class="level3">
<div class="table sectionedit23"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> storeid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> 分館id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> name </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 分館名稱（英文） </td>
	</tr>
	<tr class="row4">
		<td class="col0"> description </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 分館敘述（中文） </td>
	</tr>
	<tr class="row5">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT23 TABLE [5762-6338] -->
</div>
<!-- EDIT22 SECTION "saja_store" [5741-6339] -->
<h3 class="sectionedit24" id="saja_store_product_rt">saja_store_product_rt</h3>
<div class="level3">
<div class="table sectionedit25"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> storeid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 分館id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> productid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 競標商品id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> name </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 競標商品名稱 </td>
	</tr>
	<tr class="row5">
		<td class="col0"> description </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 競標商品敘述 </td>
	</tr>
	<tr class="row6">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT25 TABLE [6372-6992] -->
</div>
<!-- EDIT24 SECTION "saja_store_product_rt" [6340-] -->