
<h1 class="sectionedit1" id="user_system">User System</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "User System" [1-26] -->
<h2 class="sectionedit2" id="description">Description</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Login套件 : <a href="http://hybridauth.sourceforge.net/" class="urlextern" title="http://hybridauth.sourceforge.net/"  rel="nofollow">http://hybridauth.sourceforge.net/</a></div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Description" [27-108] -->
<h2 class="sectionedit3" id="er_model">ER Model</h2>
<div class="level2">

</div>
<!-- EDIT3 SECTION "ER Model" [109-129] -->
<h3 class="sectionedit4" id="diagram">Diagram</h3>
<div class="level3">

<p>
<a href="/wiki/lib/exe/detail.php?id=technical_spec%3Auser_system&amp;media=technical_spec:er_diagram_-_user.jpg" class="media" title="technical_spec:er_diagram_-_user.jpg"><img src="/wiki/lib/exe/fetch.php?media=technical_spec:er_diagram_-_user.jpg" class="media" alt="" /></a>
</p>

</div>
<!-- EDIT4 SECTION "Diagram" [130-190] -->
<h3 class="sectionedit5" id="description1">Description</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> user : 會員帳號</div>
</li>
<li class="level1"><div class="li"> user sms auth : 會員簡訊認證</div>
</li>
<li class="level1"><div class="li"> user sso rt : 會員單一登入帳號關連</div>
</li>
<li class="level1"><div class="li"> sso : 單一登入帳號</div>
</li>
<li class="level1"><div class="li"> role : 會員群組</div>
</li>
<li class="level1"><div class="li"> user role rt : 會員群組關連</div>
</li>
<li class="level1"><div class="li"> profile : 會員資料</div>
</li>
</ul>

</div>
<!-- EDIT5 SECTION "Description" [191-443] -->
<h2 class="sectionedit6" id="database">Database</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> saja_sso - 第三方登入ID表</div>
</li>
<li class="level1"><div class="li"> saja_user - 會員</div>
</li>
<li class="level1"><div class="li"> saja_user_profile - 會員詳細資料</div>
</li>
<li class="level1"><div class="li"> saja_user_sms_auth - 會員手機驗證記錄</div>
</li>
<li class="level1"><div class="li"> saja_user_sso_rt - 會員第三方登入ID關聯</div>
</li>
</ul>

</div>
<!-- EDIT6 SECTION "Database" [444-670] -->
<h2 class="sectionedit7" id="database_schema">Database Schema</h2>
<div class="level2">

</div>
<!-- EDIT7 SECTION "Database Schema" [671-698] -->
<h3 class="sectionedit8" id="saja_sso">saja_sso</h3>
<div class="level3">
<div class="table sectionedit9"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> ssoid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> sso id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> name </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> Provider name </td>
	</tr>
	<tr class="row4">
		<td class="col0"> uid </td><td class="col1"> varchar(128) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> Provider uid </td>
	</tr>
	<tr class="row5">
		<td class="col0"> email </td><td class="col1"> varchar(255) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT9 TABLE [718-1320] -->
</div>
<!-- EDIT8 SECTION "saja_sso" [699-1321] -->
<h3 class="sectionedit10" id="saja_user">saja_user</h3>
<div class="level3">
<div class="table sectionedit11"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> userid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row3">
		<td class="col0"> passwd </td><td class="col1"> varchar(128) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row4">
		<td class="col0"> passwd_tmp </td><td class="col1"> varchar(128) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row5">
		<td class="col0"> email </td><td class="col1"> varchar(255) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> nickname </td><td class="col1"> varchar(64) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> sex </td><td class="col1"> enum(&#039;male&#039;,&#039;female&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> birthday </td><td class="col1"> date </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> city </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row10">
		<td class="col0"> area </td><td class="col1"> varchar(64) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row11">
		<td class="col0"> address </td><td class="col1"> varchar(128) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row12">
		<td class="col0"> mobile </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row13">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row14">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row15">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row16">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT11 TABLE [1342-2330] -->
</div>
<!-- EDIT10 SECTION "saja_user" [1322-2331] -->
<h3 class="sectionedit12" id="saja_user_profile">saja_user_profile</h3>
<div class="level3">
<div class="table sectionedit13"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> userid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row3">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row4">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row5">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT13 TABLE [2360-2742] -->
</div>
<!-- EDIT12 SECTION "saja_user_profile" [2332-2743] -->
<h3 class="sectionedit14" id="saja_user_sms_auth">saja_user_sms_auth</h3>
<div class="level3">
<div class="table sectionedit15"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> authid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6"> auto_increment </td><td class="col7"> auth id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> userid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> user id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> code </td><td class="col1"> varchar(16) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> 手機驗證碼 </td>
	</tr>
	<tr class="row5">
		<td class="col0"> verified </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> N </td><td class="col6 leftalign">  </td><td class="col7"> 通過驗證 </td>
	</tr>
	<tr class="row6">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row8">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row9">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT15 TABLE [2773-3383] -->
</div>
<!-- EDIT14 SECTION "saja_user_sms_auth" [2744-3384] -->
<h3 class="sectionedit16" id="saja_user_sso_rt">saja_user_sso_rt</h3>
<div class="level3">
<div class="table sectionedit17"><table class="inline">
	<tr class="row0">
		<th class="col0"> Field </th><th class="col1"> Type </th><th class="col2"> Collation </th><th class="col3"> Null </th><th class="col4"> Key </th><th class="col5"> Default </th><th class="col6"> Extra </th><th class="col7"> Comment </th>
	</tr>
	<tr class="row1">
		<td class="col0"> prefixid </td><td class="col1"> varchar(8) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row2">
		<td class="col0"> userid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> user id </td>
	</tr>
	<tr class="row3">
		<td class="col0"> ssoid </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4"> PRI </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7"> sso id </td>
	</tr>
	<tr class="row4">
		<td class="col0"> seq </td><td class="col1"> int(10) unsigned </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row5">
		<td class="col0"> switch </td><td class="col1"> enum(&#039;Y&#039;,&#039;N&#039;) </td><td class="col2"> utf8_general_ci </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5"> Y </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row6">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
	<tr class="row7">
		<td class="col0"> insertt </td><td class="col1"> datetime </td><td class="col2 leftalign">  </td><td class="col3"> NO </td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6 leftalign">  </td><td class="col7 leftalign">  </td>
	</tr>
</table></div>
<!-- EDIT17 TABLE [3412-3859] -->
</div>
<!-- EDIT16 SECTION "saja_user_sso_rt" [3385-] -->