
<h2 class="sectionedit1" id="daily_task_list">Daily Task List</h2>
<div class="level2">

</div>
<!-- EDIT1 SECTION "Daily Task List" [1-28] -->
<h3 class="sectionedit2" id="debbie_task">Debbie Task</h3>
<div class="level3">
<div class="table sectionedit3"><table class="inline">
	<tr class="row0">
		<th class="col0"> No </th><th class="col1"> Layer </th><th class="col2"> Task </th><th class="col3"> Owner </th><th class="col4"> 預估工時 </th><th class="col5"> 誤差工時 </th><th class="col6"> 實際工時 </th><th class="col7"> Description </th>
	</tr>
</table></div>
<!-- EDIT3 TABLE [51-139] -->
</div>
<!-- EDIT2 SECTION "Debbie Task" [29-142] -->
<h3 class="sectionedit4" id="howard_task">Howard Task</h3>
<div class="level3">
<div class="table sectionedit5"><table class="inline">
	<tr class="row0">
		<th class="col0"> No </th><th class="col1"> Layer </th><th class="col2"> Task </th><th class="col3"> Owner </th><th class="col4"> 預估工時 </th><th class="col5"> 誤差工時 </th><th class="col6"> 實際工時 </th><th class="col7"> Description </th>
	</tr>
</table></div>
<!-- EDIT5 TABLE [165-253] -->
</div>
<!-- EDIT4 SECTION "Howard Task" [143-255] -->
<h3 class="sectionedit6" id="yumin_task">Yumin Task</h3>
<div class="level3">
<div class="table sectionedit7"><table class="inline">
	<tr class="row0">
		<th class="col0"> No </th><th class="col1"> Layer </th><th class="col2"> Task </th><th class="col3"> Owner </th><th class="col4"> 預估工時 </th><th class="col5"> 誤差工時 </th><th class="col6"> 實際工時 </th><th class="col7"> Description </th>
	</tr>
	<tr class="row1">
		<td class="col0">1</td><td class="col1 leftalign">  </td><td class="col2">saja_country 國別管理</td><td class="col3"> YuMin</td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6">1.5</td><td class="col7"></td>
	</tr>
	<tr class="row2">
		<td class="col0">2</td><td class="col1 leftalign">  </td><td class="col2">saja_language 語系管理</td><td class="col3"> YuMin</td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6">1.5</td><td class="col7"></td>
	</tr>
	<tr class="row3">
		<td class="col0">3</td><td class="col1 leftalign">  </td><td class="col2">saja_deposit 儲值帳戶</td><td class="col3"> YuMin</td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6">2</td><td class="col7"></td>
	</tr>
	<tr class="row4">
		<td class="col0">4</td><td class="col1 leftalign">  </td><td class="col2">saja_deposit_rule 儲值規則</td><td class="col3"> YuMin</td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6">1</td><td class="col7"></td>
	</tr>
	<tr class="row5">
		<td class="col0">5</td><td class="col1 leftalign">  </td><td class="col2">saja_deposit_rule_item 儲值規則項目</td><td class="col3"> YuMin</td><td class="col4 leftalign">  </td><td class="col5 leftalign">  </td><td class="col6">2</td><td class="col7"></td>
	</tr>
</table></div>
<!-- EDIT7 TABLE [277-640] -->
</div>
<!-- EDIT6 SECTION "Yumin Task" [256-642] -->
<h2 class="sectionedit8" id="example">Example</h2>
<div class="level2">

</div>
<!-- EDIT8 SECTION "Example" [643-662] -->
<h3 class="sectionedit9" id="howard_task1">Howard Task</h3>
<div class="level3">
<div class="table sectionedit10"><table class="inline">
	<tr class="row0">
		<th class="col0"> No </th><th class="col1"> Layer </th><th class="col2"> Task </th><th class="col3"> Owner </th><th class="col4"> 預估工時 </th><th class="col5"> 誤差工時 </th><th class="col6"> 實際工時 </th><th class="col7"> Description </th>
	</tr>
	<tr class="row1">
		<td class="col0"> </td><td class="col1"> </td><td class="col2"> 經銷商分館功能 </td><td class="col3"> Howard </td><td class="col4 centeralign">    4     </td><td class="col5 centeralign">   1       </td><td class="col6 centeralign">    3.5     </td><td class="col7 leftalign">             </td>
	</tr>
</table></div>
<!-- EDIT10 TABLE [685-862] -->
</div>
<!-- EDIT9 SECTION "Howard Task" [663-] -->