
<h1 class="sectionedit1" id="mobile_api_document">Mobile API Document</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "Mobile API Document" [1-34] -->
<h2 class="sectionedit2" id="api_list">API List</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=technical_spec:mobile_api:exchange" class="wikilink1" title="technical_spec:mobile_api:exchange">exchange</a> - 兌換中心API</div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=technical_spec:mobile_api:member" class="wikilink1" title="technical_spec:mobile_api:member">member</a> - 會員中心API</div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=technical_spec:mobile_api:product" class="wikilink1" title="technical_spec:mobile_api:product">product</a> - 好康商品API</div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=technical_spec:mobile_api:product_list" class="wikilink1" title="technical_spec:mobile_api:product_list">product_list</a> - 好康列表API</div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=technical_spec:mobile_api:saja_history" class="wikilink1" title="technical_spec:mobile_api:saja_history">saja_history</a> - 過往好康API</div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=technical_spec:mobile_api:sgift_list" class="wikilink1" title="technical_spec:mobile_api:sgift_list">sgift_list</a> - 殺價禮券API</div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=technical_spec:mobile_api:tutorial" class="wikilink1" title="technical_spec:mobile_api:tutorial">tutorial</a> - 新手教室API</div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=technical_spec:mobile_api:view" class="wikilink1" title="technical_spec:mobile_api:view">view</a> - 首頁API</div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=technical_spec:mobile_api:login" class="wikilink1" title="technical_spec:mobile_api:login">login</a> - 登入API</div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=technical_spec:mobile_api:bid" class="wikilink1" title="technical_spec:mobile_api:bid">bid</a> - 下標API</div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "API List" [35-] -->