html, body {
	height: 100%;
}
.canvas {
	min-height: 99.5%;
	width: 198px;
	border-left : 1px solid #67982d;
	border-right : 1px solid #67982d;
    background-color: #edf2ea;
}
.canvas ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.header {
	height: 25px;
	width: 198px;
	border-top: 1px solid #d5eabc;
	border-bottom : 1px solid #67982d;
	background-color: #aad479;
}
.header .button {
	width: 98px;
	float: left;
	cursor: pointer;
}
.header .button li {float: left;}
.header .button .text {
	height: 25px;
	line-height: 25px;
	margin-left: 20px;
}
.header .splitter {
	height: 16px;
	width: 0;
	float: left;
	margin: 3px 0 6px 0;
	border: 1px solid #67982d;
}
.header .button.collapse .icon {
	background-position: -33px top;
}
.header .button.expand .icon {
	background-position: 0 top;
}
.header .button.collapse:hover .icon {
	background-position: -33px bottom;
}
.header .button.expand:hover .icon {
	background-position: 0 bottom;
}
.canvas ul.block {
	margin: 4px 4px 0 4px;
	border: 1px solid #69992e;
}
.block .title {
	font-size: 1.2em;
	height: 26px;
	line-height: 26px;
	color: white;
	padding-left: 10px;
	background: #d1e796;
	background: -moz-linear-gradient(top,  #d1e796 0%, #6aa720 50%, #458407 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1e796), color-stop(50%,#6aa720), color-stop(100%,#458407));
	background: -webkit-linear-gradient(top,  #d1e796 0%,#6aa720 50%,#458407 100%);
	background: -o-linear-gradient(top,  #d1e796 0%,#6aa720 50%,#458407 100%);
	background: -ms-linear-gradient(top,  #d1e796 0%,#6aa720 50%,#458407 100%);
	background: linear-gradient(top,  #d1e796 0%,#6aa720 50%,#458407 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1e796', endColorstr='#458407',GradientType=0 );
}
.block .folder {
	cursor: pointer;
}
.block .folder .icon {
	width: 7px;
	height: 7px;
	float: left;
	margin: 9px 4px 0 12px;
}
.block .folder .icon.expanded {
	background-position: 0 top;
}
.block .folder .icon.collapsed {
	background-position: -7px top;
}
.block .folder:hover .icon.expanded {
	background-position: 0 bottom;
}
.block .folder:hover .icon.collapsed {
	background-position: -7px bottom;
}
.block .folder .label {
	font-size: 1em;
	height: 25px;
	line-height: 25px;
	color: white;
	border-top: 1px solid #d5eabc;
	border-bottom: 1px solid #67982d;
	background: #99c666;
	background: -moz-linear-gradient(top,  #99c666 1%, #87b651 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#99c666), color-stop(100%,#87b651));
	background: -webkit-linear-gradient(top,  #99c666 1%,#87b651 100%);
	background: -o-linear-gradient(top,  #99c666 1%,#87b651 100%);
	background: -ms-linear-gradient(top,  #99c666 1%,#87b651 100%);
	background: linear-gradient(top,  #99c666 1%,#87b651 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99c666', endColorstr='#87b651',GradientType=0 );
}
.block .items ul {
	display: none;
}
.block .items .item {
	height: 25px;
	line-height: 25px;
	font-size: 1em;
	padding-left: 23px;
	background-color: #c4e2a1;
	border-top: 1px solid #c2dfa0;
	border-bottom: 1px solid #67982d;
	cursor: pointer;
}
.block .items .item a {
	color: #4b6d23;
	text-decoration: none;
}
.button .text,
.block .title,
.block .folder .label,
.block .items .item a {
	-webkit-user-select : none;
	-moz-user-select : none;
	user-select : none;
}