/*　=================================================================================================== */
/* Mobile Site CSS */
* {
	padding: 0;
	margin: 0;
	outline: 0;
	border: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none
}
body {
	font-family: "Microsoft YaHei", sans-serif
}
input, textarea {
	-webkit-user-select: text;
	-ms-user-select: text;
	-moz-user-select: text
}
table {
	border-spacing: 0
}
@font-face {
	font-family: 'icomoon';
	src: url("/Apps/Web7.Scripts/Styles/fonts/icomoon.eot");
	src: url("/Apps/Web7.Scripts/Styles/fonts/icomoon.eot?") format('embedded-opentype'), url("/Apps/Web7.Scripts/Styles/fonts/icomoon.ttf") format('truetype'), url("/Apps/Web7.Scripts/Styles/fonts/icomoon.woff") format('woff'), url("/Apps/Web7.Scripts/Styles/fonts/icomoon.svg") format('svg');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: "Ionicons";
	src: url("/Apps/Web7.Scripts/Styles/fonts/ionicons.eot?v=1.3.7");
	src: url("/Apps/Web7.Scripts/Styles/fonts/ionicons.eot?v=1.3.7") format("embedded-opentype"), url("/Apps/Web7.Scripts/Styles/fonts/ionicons.ttf?v=1.3.7") format("truetype"), url("/Apps/Web7.Scripts/Styles/fonts/ionicons.woff?v=1.3.7") format("woff"), url("/Apps/Web7.Scripts/Styles/fonts/ionicons.svg?v=1.3.7") format("svg");
	font-weight: normal;
	font-style: normal
}
@-webkit-keyframes spin {
0% {
-webkit-transform:rotateZ(0)
}
100% {
-webkit-transform:rotateZ(360deg)
}
}
@keyframes spin {
0% {
transform:rotateZ(0)
}
100% {
transform:rotateZ(360deg)
}
}

.ellipsis {
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.button-load-more {
	line-height: 40px;
	font-size: 15px;
	text-align: center;
	border-radius: 5px
}
.loading-image {
	font-size: 17px;
	line-height: 17px;
	margin-right: 8px;
	font-family: "Ionicons", sans-serif;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.loading-image:before {
	content: "\f21c"
}
.button-load-more>.loading-image {
	display: none
}
.button-load-more.loading>.loading-image {
	display: inline-block;
	-webkit-animation-name: 'spin';
	-webkit-animation-duration: 1.3s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite
}
.loading-tips {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -18px;
	margin-left: -63px;
	width: 126px;
	font-size: 15px;
	line-height: 36px;
	text-align: center;
	border-radius: 5px;
	background-color: #000;
	color: white
}
.loading-tips .loading-image {
	display: inline-block;
	-webkit-animation-name: 'spin';
	-webkit-animation-duration: 1.3s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	color: white
}
#layout {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0
}
.slide-page {
	position: absolute;
	z-index: 49;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0
}
.map-page .content {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0
}
.page-content {
	position: relative
}
.text {
	line-height: 27px;
	font-size: 17px
}
.text h1, .text h2, .text h3, .text h4, text h5, .text h6 {
	line-height: 27px;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 14px;
	text-align: center
}
.text>p {
	margin-bottom: 12px
}
.text img {
	width: 100%
}
a {
	text-decoration: none
}
.not-found-page .wrapper {
	position: absolute;
	top: 50%;
	margin-top: -150px;
	width: 200px;
	margin-left: -100px;
	left: 50%
}
.not-found-page .wrapper span {
	display: block;
	margin-left: 35px;
	width: 130px;
	height: 166px;
	margin-bottom: 40px;
	background: url("/Apps/Web7.Scripts/Styles/cloud7.png") no-repeat 0 0;
	background-size: 200px auto
}
.not-found-page .wrapper div {
	font-size: 13px;
	line-height: 13px;
	margin: 6px 0;
	color: #CACAD8;
	text-align: center
}
.hide {
	display: none!important
}
.clear {
	clear: both
}
.wall {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 40
}
.cloud7-img-wrapper {
	position: relative;
	overflow: hidden
}
.cloud7-img-wrapper.loading {
	background: #EEE
}
.cloud7-img-wrapper.loading:after {
	position: absolute;
	content: "";
	display: block;
	background: url("/Apps/Web7.Scripts/Styles/cloud7.png") no-repeat -140px 0;
	background-size: 200px auto;
	width: 59px;
	height: 42px;
	top: 50%;
	left: 50%;
	margin-top: -21px;
	margin-left: -30px
}
.button-load-more {
	color: #000;
	margin: 12px
}
.button-load-more, .button-load-more.tap.loading {
	background-color: #fafafa;
	box-shadow: 0 0 2px rgba(0,0,0,.45)
}
.button-load-more.tap {
	background-color: #d5d5d5;
	box-shadow: inset 2px 2px 3px rgba(0,0,0,.3)
}
.button-load-more>.loading-image {
	color: #00BFFF
}
.loading-tips {
	background-color: #000;
	color: white
}
.loading-tips .loading-image {
	color: white
}
.map-page .content {
	top: 46px
}
.text {
	color: #3F3F3F
}
.text h1, .text h2, .text h3, .text h4, text h5, .text h6 {
	color: #000
}
.not-found-page .wrapper {
	color: #CACAD8
}
.main-page, .sub-page, .slide-page {
	background-color: #EEE
}
.sub-page {
	box-shadow: 3px 0 3px rgba(0,0,0,.3)
}
.header-bar {
 background-color: #ffab0b;
 box-shadow: 0 3px 3px rgba(0,0,0,.1), inset 0 -3px #EA9C0A;
 position: absolute;
 width: 100%;
 height: 46px;
 z-index: 10
}
.page-title {
	line-height: 46px;
	font-size: 21px;
	color: white;
	text-align: center;
	margin: 0 46px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
.header-bar .button, .search-bar .button {
	position: absolute;
	height: 100%;
	top: 0;
	width: 46px;
	background-image: url("../images/site/xianmatou.png");
	background-size: 200px auto;
	z-index: 1
}
.header-bar .content {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center
}
.header-bar .button.tap, .search-bar .button.tap {
	background-color: rgba(0,0,0,0.3)
}
.left {
	left: 0
}
.right {
	right: 0
}
.button.back {
	background-position: 0 -60px
}
.button.drawer {
	background-position: 0 -100px
}
.button.search {
	background-position: 0 -140px
}
.button.map {
	background-position: 0 -220px
}
#category-list-panel .button.search {
	background-position: 0 -180px
}
#main-page .column:after {
	content: "";
	display: block;
	clear: both
}
.navigate-column {
	float: left;
	width: 50%;
	box-sizing: border-box;
	height: 85px;
	position: relative;
	-webkit-transform: translateZ(0);
	margin-bottom: 10px
}
.navigate-column:nth-child(odd) {
	padding: 0 5px 0 9px
}
.navigate-column:nth-child(even) {
	padding: 0 9px 0 5px
}
.navigate-column .wrapper {
	height: 100%;
	border-radius: 3px
}
.navigate-column .title, .navigate-column .sub-title {
	text-align: center;
	font-weight: bold
}
.navigate-column .title {
	margin-top: 21px;
	font-size: 24px;
	line-height: 24px;
	color: white;
	letter-spacing: 3px
}
.navigate-column .sub-title {
	margin-top: 9px;
	font-size: 9px;
	line-height: 9px;
	color: #E8E8E8
}
.navigate-column .red {
	background-color: rgba(255,102,102,.9);
	box-shadow: 0 2px 2px rgba(0,0,0,.1), inset 0 -4px rgba(222,55,55,.7);
	border: solid 1px #c82626
}
.navigate-column .red.tap {
	background-color: rgba(218,77,77,.9);
	box-shadow: 0 2px 2px rgba(0,0,0,.1), inset 0 -4px rgba(192,43,43,.7)
}
.navigate-column .yellow {
	background-color: rgba(255,184,0,.9);
	box-shadow: 0 2px 2px rgba(0,0,0,.1), inset 0 -4px rgba(221,136,36,.7);
	border: solid 1px #9d6b1a
}
.navigate-column .yellow.tap {
	background-color: rgba(218,157,0,.9);
	box-shadow: 0 2px 2px rgba(0,0,0,.1), inset 0 -4px rgba(163,123,19,.7)
}
.navigate-column .cyan {
	background-color: rgba(6,175,143,.9);
	box-shadow: 0 2px 2px rgba(0,0,0,.1), inset 0 -4px rgba(9,133,94,.7);
	border: solid 1px #0f7258
}
.navigate-column .cyan.tap {
	background-color: rgba(4,152,124,.9);
	box-shadow: 0 2px 2px rgba(0,0,0,.1), inset 0 -4px rgba(17,108,90,.7)
}
.navigate-column .blue {
	background-color: rgba(1,116,213,.9);
	box-shadow: 0 2px 2px rgba(0,0,0,.1), inset 0 -4px rgba(16,94,160,.7);
	border: solid 1px #103e80
}
.navigate-column .blue.tap {
	background-color: rgba(2,96,175,.9);
	box-shadow: 0 2px 2px rgba(0,0,0,.1), inset 0 -4px rgba(14,84,142,.7)
}
#main-page .banner {
	margin-bottom: 10px;
	position: relative;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2)
}
#main-page .banner .red-point span {
	display: inline-block;
	width: 4px;
	height: 4px;
	border-radius: 4px;
	border: #EEE 1px solid;
	background-color: rgba(238,238,238,0);
	float: left;
	margin: 0 4px;
	cursor: pointer
}
#main-page .banner .red-point span.active {
	background-color: rgba(238,238,238,1)
}
#main-page .banner .wrapper {
	display: inline-block;
	margin-bottom: 5px
}
#main-page .banner .red-point {
	position: absolute;
	bottom: 2px;
	height: 15px;
	width: 100%;
	text-align: center
}
.price-banner {
	position: absolute;
	box-shadow: 2px 1px 1px rgba(0,0,0,0.4);
	background: #FF3BAA
}
.price-banner:after, .price-banner:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	height: 0;
	width: 0
}
.price-banner:after {
	left: 2px;
	border-left: 10px solid #EC2969
}
.price-banner:before {
	left: 0;
	border-left: 10px solid #F9F9F9;
	z-index: 1
}
.search-bar {
	z-index: -1;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0
}
.search-bar form {
	position: relative;
	text-align: center;
	padding-top: 9px
}
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
color:#ABABAB
}
.search-box {
	box-sizing: border-box;
	height: 26px;
	padding-left: 25px;
	-webkit-appearance: none;
	border-radius: 13px;
	background-color: #fff;
	font-size: 12px;
	box-shadow: 1px 1px rgba(255,255,255,.45), inset 1px 2px rgba(36,36,36,.3);
	background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,.59) 50%, rgba(236,236,236,.59));
	background-image: -moz-linear-gradient(bottom, rgba(255,255,255,.59) 50%, rgba(236,236,236,.59));
	background-image: -o-linear-gradient(bottom, rgba(255,255,255,.59) 50%, rgba(236,236,236,.59));
	background-image: linear-gradient(to top, rgba(255,255,255,.59) 50%, rgba(236,236,236,.59))
}
.drawer-panel-main .search-box {
	width: 206px
}
.search-box:focus+.icon {
	display: none
}
.search-box:focus {
	padding-left: 10px
}
.page-good-list .search-bar .icon {
	position: absolute;
	left: 50%;
	margin-left: -96px;
	top: 15px;
	width: 15px;
	height: 15px;
	background: url("../images/site/xianmatou.png") no-repeat -60px -40px;
	background-size: 200px auto
}
.page-good-list.focus .back, .page-good-list.focus .drawer, .page-good-list .search {
	display: none
}
.page-good-list.focus .search {
	display: block
}
#category-list-panel.focus .category-list:after, .page-good-list.focus:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9
}
.page-good-list .list-content {
	padding: 13px 13px 0
}
.good-list-item, .subject-list-item {
	border-radius: 4px;
	box-shadow: 0 0 2px rgba(0,0,0,.45);
	margin-bottom: 19px;
	background: #F9F9F9;
	overflow: hidden
}
.subject-list-item:last-child {
	margin-bottom: 0
}
.good-list-item .img {
	position: relative;
	padding: 10px;
	border-bottom: #CACACA 1px solid
}
.good-list-item .info {
	height: 48px;
	position: relative;
	background: #F9F9F9;
	padding: 6px 110px 0 9px;
	box-sizing: border-box
}
.good-list-item .name {
	line-height: 17px;
	font-size: 15px;
	height: 36px;
	overflow: hidden;
	vertical-align: middle;
	display: table-cell;
	color:#000;
}
.good-list-item .price-banner {
	top: 7px;
	right: 0;
	height: 34px;
	padding: 0 10px 0 18px
}
.good-list-item .price-banner:after, .good-list-item .price-banner:before {
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent
}
.good-list-item .price-value {
	font-size: 18px;
	line-height: 34px;
	color: white;
	text-align: center;
	min-width: 45px
}
.good-list-item .price-value:before {
	/*content: "￥";*/
	font-size: 12px;
	display: inline-block;
	vertical-align: top
}
.good-detail .price {
	position: absolute;
	left: 18px;
	top: 0;
	height: 78px;
	z-index: 2
}
.good-detail .price-banner-img {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%
}
.good-detail .price-value {
	font-size: 18px;
	font-weight: bold;
	line-height: 18px;
	min-width: 47px;
	text-align: center;
	margin: 24px 15px 0 12px;
	color: white
}
.good-detail .price-value:before {
	content: "￥";
	font-size: 12px;
	vertical-align: top
}
.good-detail .text {
	padding: 0 14px 10px 14px
}
.good-detail .img-wrapper {
	position: relative
}
.good-detail .name-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 0 10px 8px;
	background: rgba(0,0,0,0.5)
}
.good-detail .name {
	font-size: 14px;
	color: white;
	width: 226px
}
.good-detail:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: -1;
	border-top: #FF3BAA 3px solid
}
.good-detail .info {
	position: relative;
	height: 83px
}
.good-detail .info>*, .subbranch-detail>* {
	-webkit-transform: translateZ(0)
}
.good-detail .button-buy-now {
	position: absolute;
	top: 23px;
	font-size: 16px;
	color: #fff;
	text-shadow: 0 1px rgba(0,109,161,.5);
	width: 120px;
	height: 35px;
	line-height: 31px;
	left: 65%;
	margin-left: -68px;
	border-radius: 4px;
	background-color: #00bcfb;
	box-shadow: 0 2px 2px rgba(0,31,46,.1), inset 0 -3px rgba(0,153,204,.7);
	border: solid 1px #0083af;
	text-align: center
}
.good-detail .button-buy-now.sold-out, .subject-list-item .button-buy-inner.sold-out {
	background-color: #b8b8b8;
	box-shadow: 0 2px 2px rgba(65,65,65,.1), inset 0 -3px rgba(158,158,158,.7);
	border: solid 1px #9e9e9e;
	color: #7e7e7e;
	text-shadow: none
}
.good-detail .button-buy-now.tap {
	background-color: #0097c9
}
.good-detail .button-more-detail {
	position: relative;
	height: 30px;
	border-left: 3px solid #ED2597;
	background: #DBDBDB;
	margin-bottom: 15px
}
.good-detail .button-more-detail .banner {
	line-height: 30px;
	font-size: 14px;
	background: #C4C4C4;
	width: 92px;
	text-align: center;
	position: relative;
	padding-right: 10px
}
.good-detail .button-more-detail .banner:after {
	position: absolute;
	content: "";
	display: block;
	top: 0;
	right: 0;
	border-right: 12px #DBDBDB solid;
	border-top: 15px transparent solid;
	border-bottom: 15px transparent solid
}
.good-detail .button-more-detail.tap .banner:after {
	border-right: 12px #d5d5d5 solid
}
.good-detail .button-more-detail .icon {
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0
}
.good-detail .button-more-detail .icon:before, .good-detail .button-more-detail .icon:after {
	display: block;
	content: "";
	width: 13px;
	height: 6px;
	background: url("../images/site/xianmatou.png") no-repeat -60px -200px;
	background-size: 200px auto
}
.good-detail .button-more-detail .icon:before {
	margin-top: 10px
}
.good-detail .button-more-detail.tap {
	background-color: #d5d5d5
}
#category-list-panel {
	width: 85%;
	background-color: white
}
#category-list-panel .search-bar {
	height: 46px;
	position: relative;
	background-color: #4d4d4d;
	box-shadow: 0 1px 2px rgba(0,0,0,.8), inset 0 -3px rgba(0,0,0,.2)
}
#category-list-panel .search-box-wrapper {
	position: relative;
	margin-left: 25px;
	margin-right: 55px
}
#category-list-panel .search-bar .icon {
	position: absolute;
	left: 7px;
	top: 6px;
	width: 15px;
	height: 15px;
	background: url("../images/site/xianmatou.png") no-repeat -60px -60px;
	background-size: 200px auto
}
#category-list-panel .search-box {
	width: 100%;
	background-color: #000;
	box-shadow: 1px 1px rgba(255,255,255,0), inset 1px 2px 1px #242424;
	background-image: -webkit-linear-gradient(bottom, rgba(228,228,228,.59) 50%, rgba(210,210,210,.59));
	background-image: -moz-linear-gradient(bottom, rgba(228,228,228,.59) 50%, rgba(210,210,210,.59));
	background-image: -o-linear-gradient(bottom, rgba(228,228,228,.59) 50%, rgba(210,210,210,.59));
	background-image: linear-gradient(to top, rgba(228,228,228,.59) 50%, rgba(210,210,210,.59))
}
#category-list-panel .search-bar form {
	text-align: left
}
#category-list-panel .category-list {
	position: absolute;
	top: 46px;
	bottom: 0;
	left: 0;
	right: 0;
	background: #878787
}
.category-item {
	height: 60px;
	position: relative
}
.category-item .title, .category-item .sub-title {
	position: absolute;
	left: 14px;
	right: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: white
}
.category-item .title {
	top: 12px;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	letter-spacing: 2px
}
.category-item .sub-title {
	top: 37px;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 1px
}
.category-item.red {
	background-color: rgba(255,102,102,.9);
	box-shadow: inset 0 -3px rgba(222,55,55,.75)
}
.category-item.red.tap {
	background-color: rgba(218,77,77,.9);
	box-shadow: inset 0 -3px rgba(192,43,43,.75)
}
.category-item.yellow {
	background-color: rgba(255,184,0,.9);
	box-shadow: inset 0 -3px rgba(221,136,36,.75)
}
.category-item.yellow.tap {
	background-color: rgba(218,157,0,.9);
	box-shadow: inset 0 -3px rgba(221,136,36,.75)
}
.category-item.cyan {
	background-color: rgba(6,175,143,.9);
	box-shadow: inset 0 -3px rgba(9,133,94,.75)
}
.category-item.cyan.tap {
	background-color: rgba(4,152,124,.9);
	box-shadow: inset 0 -3px rgba(17,108,90,.75)
}
.category-item.blue {
	background-color: rgba(1,116,213,.9);
	box-shadow: inset 0 -3px rgba(16,94,160,.75)
}
.category-item.blue.tap {
	background-color: rgba(2,96,175,.9);
	box-shadow: inset 0 -3px rgba(14,84,142,.75)
}
.category-item.purple {
	background-color: rgba(162,96,200,.9);
	box-shadow: inset 0 -3px rgba(114,43,156,.75)
}
.category-item.purple.tap {
	background-color: rgba(132,67,169,.9);
	box-shadow: inset 0 -3px rgba(98,32,137,.75)
}
.page-subbranch-list .page-title .icon {
	display: inline-block;
	height: 6px;
	width: 7px;
	vertical-align: top;
	margin-left: 4px;
	background: url("../images/site/xianmatou.png") no-repeat -60px -190px;
	background-size: 200px auto;
	margin-top: 21px
}
.page-subbranch-list .button-city {
	display: inline-block;
	height: 100%;
	padding: 0 10px
}
.page-subbranch-list .button-city.tap {
	background-color: rgba(0,0,0,0.3)
}
.subbranch-list-item {
	height: 135px;
	position: relative;
	border-bottom: 1px solid #BEBEBE
}
.subbranch-list-item .img-wrapper {
	position: absolute;
	left: 10px;
	top: 15px;
	border: 3px solid white;
	height: 99px;
	width: 169px
}
.subbranch-list-item .info {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 198px;
	right: 14px
}
.subbranch-list-item a {
	position: absolute;
	display: block;
	width: 100%;
	height: 30px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #f6f6f6;
	box-shadow: 0 2px 2px rgba(0,0,0,.05), inset 0 -3px rgba(209,209,209,.7);
	border: solid 1px rgba(181,181,181,.7);
	font-size: 12px;
	line-height: 28px;
	color: black
}
.subbranch-list-item .telephone {
	top: 46px
}
.subbranch-list-item .telephone .icon {
	position: absolute;
	top: 8px;
	width: 14px;
	height: 14px;
	left: 45%;
	margin-left: -17px;
	background: url("../images/site/xianmatou.png") no-repeat -60px -90px;
	background-size: 200px auto
}
.subbranch-list-item .address .icon {
	position: absolute;
	top: 7px;
	width: 10px;
	height: 15px;
	left: 45%;
	margin-left: -16px;
	background: url("../images/site/xianmatou.png") no-repeat -60px -110px;
	background-size: 200px auto
}
.subbranch-list-item .address {
	bottom: 15px
}
.subbranch-list-item a.tap {
	background-color: #e3e3e3
}
.subbranch-list-item .name {
	position: absolute;
	font-size: 14px;
	line-height: 14px;
	top: 18px;
	left: 0;
	right: 0;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
.subbranch-list-item .caption {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 45%
}
.map-info-window .name {
	color: #0085EA;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	padding-bottom: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 220px;
	margin-bottom: 0
}
.map-info-window .info div {
	font-size: 12px;
	line-height: 16px;
	color: #52525F;
	vertical-align: top
}
.map-info-window span {
	margin-left: 5px;
	display: inline-block;
	width: 184px
}
.sub-window {
	background: white;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0
}
.sub-window .content {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0
}
.page-good-subject .page-content>.info {
	padding: 19px 22px 3px 22px;
	font-size: 14px;
	line-height: 21px
}
.page-good-subject .subject-img {
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	display: none
}
.page-good-subject .subject-img.load-done {
	display: block
}
.subject-list-item .info {
	background: #F9F9F9;
	position: relative;
	padding-bottom: 10px
}
.page-good-subject .page-content>.list-content {
	padding: 12px
}
.subject-list-item .img {
	padding: 11px;
	border-bottom: #CACACA 1px solid
}
.subject-list-item .img-wrapper {
	position: relative
}
.subject-list-item .title {
	margin-top: 9px;
	margin-bottom: 9px;
	font-size: 15px;
	line-height: 15px;
	font-weight: bold;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
.subject-list-item .detail-price {
	position: relative
}
.subject-list-item .detail {
	margin-left: 17px;
	margin-right: 110px;
	font-size: 12px;
	line-height: 18px;
	height: 52px;
	overflow: hidden
}
.subject-list-item .price-banner {
	min-width: 68px;
	top: 2px;
	height: 50px;
	right: 0;
	padding: 0 10px 0 15px
}
.subject-list-item .price-banner:after, .subject-list-item .price-banner:before {
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent
}
.subject-list-item .price-banner .price-value {
	margin-top: 8px;
	text-align: center;
	font-size: 18px;
	line-height: 18px;
	color: white
}
.subject-list-item .price-banner .price-value:before {
	content: "￥";
	font-size: 12px;
	display: inline-block;
	vertical-align: top
}
.subject-list-item .old-price {
	margin-top: 5px;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	font-weight: bold;
	text-decoration: line-through
}
.subject-list-item .button-buy {
	margin: 10px 10px 0 10px;
	padding: 4px;
	border-radius: 6px;
	background-color: rgba(193,193,193,.5);
	box-shadow: inset 0 0 2px rgba(0,0,0,.2)
}
.subject-list-item .button-buy-inner {
	background-color: #00bcfb;
	border-radius: 6px;
	box-shadow: 0 2px 2px rgba(0,31,46,.1), inset 0 -3px rgba(0,153,204,.7);
	border: solid 1px #0083af;
	font-size: 20px;
	line-height: 34px;
	height: 37px;
	text-align: center;
	color: white
}
.subject-list-item .button-buy-inner.tap {
	background: #06a4d9;
	-webkit-box-shadow: inset 0 -3px rgba(0,0,0,.1);
	box-shadow: inset 0 -3px rgba(0,0,0,.1)
}
.subbranch-detail .img-area {
	padding: 4px;
	background-color: white
}
.subbranch-detail .name {
	margin: 10px 0;
	text-align: center;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 1px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
.subbranch-detail a {
	display: block;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #f6f6f6;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.05), inset 0 -3px rgba(209,209,209,.7);
	box-shadow: 0 2px 2px rgba(0,0,0,.05), inset 0 -3px rgba(209,209,209,.7);
	border: solid 1px rgba(181,181,181,.7);
	margin: 0 12px 10px 12px;
	position: relative;
	vertical-align: middle;
	font-size: 12px;
	line-height: 14px;
	color: black;
	height: 38px
}
.subbranch-detail a.tap {
	background-color: #d5d5d5
}
.subbranch-detail .content-wrapper {
	display: table-cell;
	padding: 0 10px 0 29px;
	height: 35px;
	vertical-align: middle
}
.subbranch-detail .telephone .icon {
	position: absolute;
	top: 9px;
	left: 8px;
	width: 17px;
	height: 18px;
	background: url("../images/site/xianmatou.png") no-repeat -60px -135px;
	background-size: 200px auto
}
.subbranch-detail .address .icon {
	position: absolute;
	top: 8px;
	left: 9px;
	width: 13px;
	height: 20px;
	background: url("../images/site/xianmatou.png") no-repeat -60px -160px;
	background-size: 200px auto
}
.subbranch-detail .title {
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	padding-top: 2px;
	margin-bottom: 12px
}
.subbranch-detail .description {
	padding: 0 17px
}
.empty-search {
	width: 200px;
	margin: 80px auto
}
.empty-search .icon {
	display: block;
	width: 102px;
	height: 102px;
	margin-left: 49px;
	margin-bottom: 40px;
	background: url("../images/site/xianmatou.png") no-repeat -85px -135px;
	background-size: 200px auto
}
.empty-search div {
	font-size: 13px;
	line-height: 13px;
	margin: 6px 0;
	color: #6E6E6E;
	text-align: center
}
.search-result {
	padding-left: 19px;
	height: 26px;
	background-color: #585858;
	font-size: 12px;
	line-height: 26px;
	color: white
}
.city-list {
	position: absolute;
	top: 46px;
	max-height: 264px;
	left: 0;
	right: 0;
	z-index: 9;
	background-color: rgba(58,58,58,0.8);
	overflow-y: scroll
}
.city-list>div {
	padding: 0 12px;
	text-align: center;
	border-bottom: #d0d0d0 1px solid;
	font-size: 21px;
	line-height: 45px;
	color: white;
	letter-spacing: 2px
}
.city-list>div:last-child {
	border-bottom: 0
}
.city-list>div.tap {
	background-color: #00bfff
}
.blog-list-item {
	position: relative;
	border-bottom: white 1px solid;
	padding: 12px 14px
}
.blog-list-item:after {
	content: "";
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	display: block;
	border-bottom: #B5B5B5 1px solid
}
.blog-list-item .title {
	display: block;
	color: black;
	font-size: 16px;
	line-height: 17px;
	margin-bottom: 6px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
.blog-list-item .info {
	position: relative;
	height: 51px
}
.blog-list-item .img-wrapper {
	width: 70px;
	height: 50px;
	overflow: hidden
}
.blog-list-item .intro {
	height: 48px;
	font-size: 14px;
	line-height: 24px;
	overflow: hidden;
	color: #8B8B8B
}
.blog-list-item.with-img .intro {
	position: absolute;
	top: 0;
	left: 79px;
	right: 0
}
.page-blog-post .page-content {
	padding: 18px 14px 6px 14px
}
.page-blog-post .page-content>header {
	overflow: hidden;
	line-height: 24px;
	font-size: 18px;
	color: black;
	margin-bottom: 10px
}
.link-cloud7 {
	display: block;
	height: 40px;
	color: #7d7d7d;
	text-shadow: 0 1px #FFF;
	font-size: 12px;
	line-height: 30px;
	text-align: center
}

div[data-scroll] > * {
 -webkit-transform: translateZ(o);
}
div[data-scroll] {
 overflow-y: scroll;
 -webkit-overflow-scrolling: touch;
}
div[data-scroll]:before {
 content: "";
 position: absolute;
 width: 100%;
 height: 2px;
 z-index: -1;
 top: 100%;
}

/*　=================================================================================================== */
.page {
	position:relative; 
	width:100%;
	height:auto;
	text-align: center;
	padding: 5px 0;
}
.page ul {
	padding: 0;
	list-style: none;
	float: right;
}
.page li {
	height: 25px;
	float: left;
	color: #4b6d23;
}
.page {
	height: 10px;
	margin: 3px;
	border-right: 1px solid #4b6d23;
}
.page a {
	text-decoration: none;
	color: #4b6d23;
}
.page a:hover {
	text-decoration: underline;
}

