.item-icon {
	width: 45px;
	height: 45px;
	display: block;
}
.dialog,
.dialogs {
	display: none;
}
.dialog td {
	background: none !Important;
	padding: 0;
}
.dialog .grid-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.dialog .grid-list li {
	float: left;
	width: 45px;
	min-height: 45px;
	margin: 5px;
}
.item-icon,
.dialog .grid-list .icon {
	width: 45px;
	height: 45px;
	display: block;
}
.dialog .grid-list .name {
	height: 20px;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.dialog .button-block {
	text-align: center;
	width: 100%;
}

.rt-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.rt-list li {
	margin: 5px 0px;
}

.rt-list li label {
	border-radius: 5px;
	width: 100%;
}
.rt-list li .ui-button-text {
	padding: 0.3em 0.7em;
}