html {
    height: 100%;
}

body {
    font-family: -apple-system-font, arial, "Microsoft JhengHei";
    -webkit-text-size-adjust: 100%;
    /*強制瀏覽器不要縮放文字*/
    margin: 0;
}

html,body {
   font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1600 - 320)));
}

button {
    font-family: -apple-system-font, arial, "Microsoft JhengHei";
}

.iframeheader {
    background: #009688;
    background: -moz-linear-gradient(left, #009688 0%, #007d71 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #009688), color-stop(100%, #007d71));
    background: -webkit-linear-gradient(left, #009688 0%, #007d71 100%);
    background: -o-linear-gradient(left, #009688 0%, #007d71 100%);
    background: -ms-linear-gradient(left, #009688 0%, #007d71 100%);
    background: linear-gradient(left, #009688 0%, #007d71 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009688', endColorstr='#538e0e', GradientType=1);
    width: 100%;
    border: 1px solid #005d54;
    box-sizing: border-box;
    height: -webkit-fill-available;
    font-size: 1.5rem;
    color: #FFF;
    padding-left: 2rem;
    letter-spacing: .1rem;
}
.iframeheader .head_logo {
    width: 7rem;
    margin-right: 1rem;
}

.iframefooter {
    color: white;
    height: 20px;
    line-height: 20px;
    text-align: right;
    background: #009688;
    background: -moz-linear-gradient(left, #009688 0%, #007d71 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #009688), color-stop(100%, #007d71));
    background: -webkit-linear-gradient(left, #009688 0%, #007d71 100%);
    background: -o-linear-gradient(left, #009688 0%, #007d71 100%);
    background: -ms-linear-gradient(left, #009688 0%, #007d71 100%);
    background: linear-gradient(left, #009688 0%, #007d71 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009688', endColorstr='#007d71', GradientType=1);
}