body {
    height: 100%;
}
.canvas {
	width: 100%;
	height: 100%;
	border-left : 1px solid #005d54;
	border-right : 1px solid #005d54;
    background-color: #edf2ea;
}
.canvas ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.canvas .left-body {
	overflow-y: scroll;
	width: 100%;
	height: 95.5%;
}
.canvas .left-body::-webkit-scrollbar {
    width: 8px;
}
.canvas .left-body::-webkit-scrollbar-track {
    border-radius: 4px;
    box-shadow: inset 0 0 6px 0 #888;
}
.canvas .left-body::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .3);
    border-radius: 4px;
}
.canvas .left-body::-webkit-scrollbar-thumb:hover {
    background-color: #009688;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
    border-radius: 4px;
}
.canvas .left-body::-webkit-scrollbar-button {
    display:none;
}
.canvas .left-body::-webkit-scrollbar-corner {
    background-color: black;
}

.left-header {
	height: 25px;
	width: 198px;
    border-top: 1px solid #baede9;
    border-bottom: 1px solid #2d998f;
    background-color: #77d1c8;
}
.left-header .button {
	width: 98px;
	float: left;
	cursor: pointer;
}
.left-header .button li {float: left;}
.left-header .button .text {
	height: 25px;
	line-height: 25px;
	margin-left: 20px;
}
.left-header .splitter {
	height: 16px;
	width: 0;
	float: left;
	margin: 3px 0 6px 0;
	border: 1px solid #005d54;
}
.left-header .button.left-collapse .icon {
	background-position: -33px top;
}
.left-header .button:not(.left-collapse) .icon {
	background-position: 0 top;
}
.left-header .button.left-collapse:hover .icon {
	background-position: -33px bottom;
}
.left-header .button:not(.left-collapse):hover .icon {
	background-position: 0 bottom;
}
.canvas ul.block {
	margin: 4px 4px 0 4px;
	border: 1px solid #298d83;
}
.block .title {
	font-size: 1.2em;
	height: 26px;
	line-height: 26px;
	color: white;
	padding-left: 10px;
	background: #90E1D9;
	background: -moz-linear-gradient(top,  #90E1D9 0%, #21A398 50%, #078277 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90E1D9), color-stop(50%,#21A398), color-stop(100%,#078277));
	background: -webkit-linear-gradient(top,  #90E1D9 0%,#21A398 50%,#078277 100%);
	background: -o-linear-gradient(top,  #90E1D9 0%,#21A398 50%,#078277 100%);
	background: -ms-linear-gradient(top,  #90E1D9 0%,#21A398 50%,#078277 100%);
	background: linear-gradient(top,  #90E1D9 0%,#21A398 50%,#078277 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90E1D9', endColorstr='#078277',GradientType=0 );
}
.block .folder {
	cursor: pointer;
}
.block .folder .icon {
	width: 7px;
	height: 7px;
	float: left;
	margin: 9px 4px 0 12px;
}
.block .folder .icon:not(.collapsed) {
	background-position: 0 top;
}
.block .folder .icon.collapsed {
	background-position: -7px top;
}
.block .folder:hover .icon:not(.collapsed) {
	background-position: 0 bottom;
}
.block .folder:hover .icon.collapsed {
	background-position: -7px bottom;
}
.block .folder:hover .label {
    color: #003a35;
    font-weight: 600;
}
.block .folder .label {
	font-size: 1em;
	height: 25px;
	line-height: 25px;
	color: white;
	border-top: 1px solid #baede9;
	border-bottom: 1px solid #005d54;
	background: #6ED1C8;
	background: -moz-linear-gradient(top,  #6ED1C8 1%, #54B8AF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#6ED1C8), color-stop(100%,#54B8AF));
	background: -webkit-linear-gradient(top,  #6ED1C8 1%,#54B8AF 100%);
	background: -o-linear-gradient(top,  #6ED1C8 1%,#54B8AF 100%);
	background: -ms-linear-gradient(top,  #6ED1C8 1%,#54B8AF 100%);
	background: linear-gradient(top,  #6ED1C8 1%,#54B8AF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ED1C8', endColorstr='#54B8AF',GradientType=0 );
}
.block .items ul {
	display: none;
}
.block .items .item {
	height: 25px;
	line-height: 25px;
	font-size: 1em;
	padding-left: 23px;
	background-color: #baede9;
	border-top: 1px solid #baede9;
	border-bottom: 1px solid #005d54;
	cursor: pointer;
}
.block .items .item a {
	color: #206760;
	text-decoration: none;
}
.button .text,
.block .title,
.block .folder .label,
.block .items .item a {
	-webkit-user-select : none;
	-moz-user-select : none;
	user-select : none;
}