/* default 樣式*/
.es-menu-iconboxs {
    padding: 1.5rem;
    background: #fff;
}
.es-menu-item {
    font-size: 1.5rem;
    color: #878787;
    cursor: pointer;
}
.es-menu-item:hover {
    color: #2ab4a9;
}
.es-menu-item:active {
    color: #208981;
}
.es-menu-item.active {
    color: #008377;
}
.es-menu-item.active .title {
    color: #008377;
    font-weight: 600;
}
.es-menu-item .title {
    color: #666;
    font-size: 1.2rem;
}

.es-first-boxs {
    background: #eee;
}
.es-first-boxs .es-first-item-box {
    display: none;
    padding: 0 1rem 1rem;
    border-top: 1px solid #ccc;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}
.es-first-boxs .es-first-item-box.active {
	display: block;
}
.es-first-boxs .es-first-item-box .first_btn {
    display: inline-block;
    margin: 1rem .5rem 0;
}
.es-first-boxs .es-first-item-box .first_btn a {
    display: block;
    background: #37bfb3;
    color: #ffffff;
    font-size: 1.2rem;
    padding: .5rem 2rem;
    box-sizing: border-box;
    border-radius: .5rem;
    border: 2px solid rgba(1, 123, 111, 0.3);
    box-shadow: 0 0 5px 0px rgba(0, 76, 69, .5);
    letter-spacing: .1rem;
    text-decoration: none;
}
.es-first-boxs .es-first-item-box .first_btn a:hover {
    background: #30a49a;
}
.es-first-boxs .es-first-item-box .first_btn a:active {
    background: #298b83;
}
.es-first-boxs .es-first-item-box .first_btn.active a {
    background: #298b83;
}

.es-second-boxs {
    background: #eee;
}
.es-second-boxs .es-second-item-box {
    display: none;
    padding: 0 1rem 1rem;
    border-top: 1px solid #ccc;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}
.es-second-boxs .es-second-item-box.active {
	display: block;
}
.es-second-boxs .es-second-item-box .second_btn {
    display: inline-block;
    margin: 1rem .5rem 0;
}
.es-second-boxs .es-second-item-box .second_btn a {
    display: block;
    background: #8ba6b2;
    color: #ffffff;
    font-size: 1.2rem;
    padding: .5rem 2rem;
    box-sizing: border-box;
    border-radius: .5rem;
    border: 2px solid rgba(96, 125, 139, .5);
    box-shadow: 0 0 5px 0px #607D8B;
    letter-spacing: .1rem;
    text-decoration: none;
}
.es-second-boxs .es-second-item-box .second_btn a:hover {
    background: #6b94a6;
}
.es-second-boxs .es-second-item-box .second_btn a:active {
    background: #557e8f;
}

.searchbar .button button {
    background: #1fb3a5;
    border: 1px solid #044841;
    border-radius: .254rem;
    color: #FFF;
    padding: .334rem 1.5rem;
    line-height: 1rem;
    cursor: pointer;
    margin: .25rem;
}
.searchbar .button button:hover {
    background: #1a9b8f;
}
.searchbar .button button:active {
    background: #197e75;
}

input:disabled,
input[readonly] {
	background-color: #ECECEC;
}

.left-control {
	position: fixed;
	top: 50%;
	left: 0;
	width: 6px;
	height: 30px;
	background-position-y: top;
}
.left-control:hover {
	background-position-y: bottom;
}
.expanded {
	background-position-x: -6px;
}
.collapsed {
	background-position-x: 0;
}
.header-style {
    border-top: 1px solid #b4e0dc;
    border-bottom: 1px solid #005d54;
    background-color: #b0e6e1;
    color: #29736c;
}
.breadcrumb {
    height: auto;
    line-height: initial;
    padding: 0 .834rem;
}
.breadcrumb a {
    line-height: 25px;
    margin: 0 5px;
    color: #29736c;
    text-decoration: none;
}
.breadcrumb a:hover {
	text-decoration: none;
}
.breadcrumb a[href]:hover {
    text-decoration: underline;
}
.searchbar {
    height: auto;
    line-height: initial;
    padding: .417rem;
}
.searchbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.search-field {
    display: inline-block;
    margin: .25rem .834rem;
}
.search-field .label {
	line-height: 23px;
}
.search-field select,
.search-field input {
    padding: .25rem;
    border-radius: .25rem;
}
.searchbar .button {
    display: inline-block;
	margin: 0 1em;
}

.button input.submit {
	min-height: 21px;
}
.button input.submit,
.button button[type='button'],
.button a {
    color: #29736c;
    display: block;
    cursor: pointer;
    text-decoration: none;
    padding: .334rem 1.5rem;
    border: 1px solid #044841;
    background: #a1dad5;
    border-radius: .254rem;
    font-size: 1.1rem;
    line-height: 1.75rem;
}
.button input.submit:hover,
.button button[type='button']:hover,
.button a:hover {
    background: #b7ece7;
}
.button input.submit:active,
.button button[type='button']:active
.button a:active {
    background: #d6f8f5;
}

.table-wrapper {
    padding: 1.334rem 0;
}
.table {
    margin: 0 1.917rem;
    list-style: none;
    padding: 0;
}
.table .header {
	border: 1px solid #005d54;
    border-bottom: 0;
    background: #90E1D9;
    background: -moz-linear-gradient(top, #90E1D9 0%, #21A398 50%, #078277 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90E1D9), color-stop(50%,#21A398), color-stop(100%,#078277));
    background: -webkit-linear-gradient(top, #90E1D9 0%,#21A398 50%,#078277 100%);
    background: -o-linear-gradient(top, #90E1D9 0%,#21A398 50%,#078277 100%);
    background: -ms-linear-gradient(top, #90E1D9 0%,#21A398 50%,#078277 100%);
    background: linear-gradient(top, #90E1D9 0%,#21A398 50%,#078277 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90E1D9', endColorstr='#078277',GradientType=0 );
}
/*
.table .functions {
	margin-top: 5px;
	display: inline-block;
	float: left;
}
*/
.table .functions .button {
	display: inline-block;
	margin: .5rem 1rem;
}
.table .body table {
	border-top: 1px solid #005d54;
	border-left: 1px solid #005d54;
	margin: 0;
}
.table .body th,
.table .body td {
	border-bottom: 1px solid #005d54;
	border-right: 1px solid #005d54;
	text-align: center;
}
.table .body th {
	padding: 0;
	color: #29736c;
	background: #b0e6e1;
	background: -moz-linear-gradient(top, #b0e6e1 1%, #8dc8c3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#b0e6e1), color-stop(100%,#8dc8c3));
    background: -webkit-linear-gradient(top, #b0e6e1 1%,#8dc8c3 100%);
    background: -o-linear-gradient(top, #b0e6e1 1%,#8dc8c3 100%);
    background: -ms-linear-gradient(top, #b0e6e1 1%,#8dc8c3 100%);
    background: linear-gradient(top, #b0e6e1 1%,#8dc8c3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0e6e1', endColorstr='#8dc8c3',GradientType=0 );
	-webkit-user-select : none;
	-moz-user-select : none;
	user-select : none;
}

.table .body td {
	height: 1.667rem;
	line-height: 1.667rem;
    padding: .25rem .834rem;
    background-color: #ecf8f7;
    text-align: left;
}
.table .body .column .table_td_button {
    background: #1fb3a5;
    border: 1px solid #044841;
    border-radius: .254rem;
    color: #FFF;
    padding: .334rem .5rem;
    line-height: 1rem;
    cursor: pointer;
}
.table .body .column .table_td_button:hover {
    background: #1a9b8f;
}
.table .body .column .table_td_button:active {
    background: #197e75;
}
.table .body tr:hover td {
	background-color: #cadfdd;
}
.table .sortable {
	cursor: pointer;
/*	text-decoration: underline;*/
}
.table .sortable a {
	display: block;
	height: 100%;
	text-align: center;
	position: relative;
	text-decoration: none;
    padding: .3rem 1.167rem;
    color: #29736c;
}
.table .sortable a:hover {
    color: #f44336;
}

.table .sortable span {
	position: absolute;
	display: block;
	width: 11px;
	height: 22px;
	margin: 0;
	padding: 0;
	right: .2rem;
	top: .2rem;
}
.table .sortable .init {
	background-position: 0 0;
}
.table .sortable .asc {
	background-position: -11px 0;
}
.table .sortable .desc {
	background-position: -22px 0;
}
.table .list-checkbox {
	width: 10px;
}
.table .icon {
	width: 3em;
	text-align: center;
}
.table .icon a {
	display: block;
	width: 18px;
	height: 18px;
	cursor: pointer;
	margin: 0 auto;
}
.table .icon-edit {
	background-position: -18px top;
}
.table .icon-delete {
	background-position: 0 top;
}
.table .icon-edit:hover {
	background-position: -18px bottom;
}
.table .icon-delete:hover {
	background-position: 0 bottom;
}
.table .column.center {
	text-align: center;
}
.table .column.left {
	text-align: left;
}
.table .column.right {
	text-align: right;
}



.table .footer {
	text-align: right;
	padding: .417rem 0;
}
.table .footer ul {
	padding: 0;
	list-style: none;
}
.table .footer li {
	display: inline-block;
	color: #00554d;
}
.table .footer .totalPage {
    color: #aaa;
}
.table .footer .splitter {
    height: .834rem;
    margin: 0 .5rem;
    border-right: 1px solid #99acaa;
}
.table .footer a {
	text-decoration: none;
	color: #00554d;
}
.table .footer a:not(.active):hover {
    text-decoration: underline;
    color: #F44336;
}
.table .footer a.pageNum.active {
    color: #F44336;
    font-weight: 600;
    pointer-events: none;
    cursor: none;
}

.form {
    margin: 1.917rem;
    background-color: #e3edec;
    border: 1px solid #32625d;
    padding: .834rem;
    color: #236e67;
    border-radius: .5rem;
}
.form .form-label {
    font-weight: bold;
    margin: .667rem;
    padding-bottom: .5rem;
    font-size: 1.5rem;
    color: #02574f;
    border-bottom: 1px solid #aaa;
}
.form .field {
	height: 30px;
}
.form .field input {
	height: 19px;
}
.form .field label {
	font-weight: normal;
}
.form .functions {
	padding-top: 10px;
	clear: both;
}
.form .button {
	float: left;
	margin-right: 10px;
}
.form .description {
	max-width: 300px;
	height: 100px;
}
.form .form-table {
	width: auto;
	float: left;
}
.form .form-table td {
	line-height: 24px;
	font-size: 12px;
}
.form .form-table td:first-child {
	max-width: 170px;
}
.form .form-table td label {
	line-height: 24px;
}
.form .form-table td input,
.form .form-table td select {
	font-size: 1.167rem;
    padding: .25rem;
    border-radius: .25rem;
}
.form .form-table td textarea {
	max-height: 100px;
}
.form .form-table td {
	background: none;
}
.form .form-table .numeric {
	width: 60px;
}
.form .comment {
	font-weight: normal;
	font-size: 11px;
	color: #333333;
	max-width: 100px;
}
.form .relation-list {
	margin: 0;
	padding: 0 20px 0 7px;
	list-style: none;
	/*max-height: 96px;*/
	min-height: 24px;
	overflow-y: scroll;
	border: 1px solid #BBB;
    background: #FFF
}
.form .relation-list .relation-item {
	height: 14px;
}
.form .relation-list .relation-item-name {
	line-height: 20px;
	vertical-align: baseline;
}
