<div class="article"><ul data-role="listview" data-inset="true" data-icon="false"><li><div id="tagBox"><img src="" ></div><h3></h3><h2>商品市价：RMB  元</h2><h2>中标金额：RMB  元</h2><h2>中标者：无</h2></li></ul></div><!-- /article -->