/*!
 * =====================================================
 * CY v1.0.0 (Email:g1079832313@163.com)
 * =====================================================
 */

/*! bass.css v1.0.0 | gjb */
@charset "utf-8"; 
/*1 重定义浏览器默认样式*/
*{word-wrap:break-word}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
ul,ol,dl{list-style-type:none}
html,body{*position:static}
html{font-family: sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button{overflow: visible;vertical-align:middle;outline:none}
body,th,td,button,input,select,textarea{font-family:"Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53";color: #333;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased}
input,select,textarea{color:#555;background-color:#fff; border:solid 1px #ddd;}
body{line-height:1.6;}
h1,h2,h3,h4,h5,h6{font-size:100%}
a,area{outline:none;blr:expression(this.onFocus=this.blur())}
a{text-decoration:none;cursor: pointer;}
a:hover{text-decoration:underline;}
a.ie6:hover{zoom:1}
a,
a:focus,
a:hover,
a:active{ outline:none; color: #333; text-decoration:none;}
a.btn,
a.btn:hover,
a.btn:active{ color: #fff; }
sub,sup{vertical-align:baseline}
textarea { resize: none;}
.fl{ float: left; }
.fr{ float: right; }
/*img*/
img{border:0;vertical-align:middle}
a img,img{-ms-interpolation-mode:bicubic}
.img-responsive{max-width: 100%;height: auto}

/*IE下a:hover 背景闪烁*/
*html{overflow:-moz-scrollbars-vertical;zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this))}

/*HTML5 reset*/
header,footer,section,aside,details,menu,article,section,nav,address,hgroup,figure,figcaption,legend{display:block;margin:0;padding:0}time{display:inline}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
legend{width:100%;margin-bottom:20px;font-size:21px;line-height:40px;border:0;border-bottom:1px solid #e5e5e5}
legend small{font-size:15px;color:#999}
svg:not(:root) {overflow: hidden}
fieldset {border-width:0;padding: 0.35em 0.625em 0.75em;margin: 0 2px;border: 1px solid #c0c0c0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto}
input[type="search"] {-webkit-appearance: textfield; /* 1 */-moz-box-sizing: content-box;-webkit-box-sizing: content-box; /* 2 */box-sizing: content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none}

/*清楚浮动
*/
.cl:after,.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.cl,.clearfix{zoom:1}

/* header */
header{position: fixed;left: 0;top: 0;width: 100%;z-index: 10;}
header .header{min-height: 2.5rem;line-height: 2.5rem;background-color: #ee394a ;position: relative; z-index: 999;}
header h1{color: #fff; text-align: center; font-size: 1rem; font-weight: normal;}
header h1 i{font-size: 1.5rem; position: absolute; left: .2rem; top: 0px; color: rgba(255,255,230,1);}

.return{position: absolute;height: 2.5rem; line-height: 2.5rem; left: 0;top: 0;cursor: pointer;padding: 0 .4rem;color: rgba(255,255,255,1);background: transparent;font-size: 1.2rem; }
.return:active{ color: #fff; }

/*-- 默认Android -------------------------------------------*/
html{font-size: 20px;}

@media only screen and (max-width:320px){
	html{font-size: 17.5px !important;}
}

/*-- 兼容iphone4/4s -------------------------------------------*/
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){
	html{font-size: 18px;}
	header .header{top: initial !important;}
}


/*-- 兼容iphone5 -----------------------------------------*/
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){
	html{font-size: 20px;}
	header .header{top: initial !important;}
}


/*-- 兼容iphone 6 --------------------------------------------*/
@media (device-width:375px) and (-webkit-min-device-pixel-ratio:2){
	html{font-size: 20px;}
	header .header{top: initial !important;}
	.D-BuyNum input{top: 0 !important;}
	.cartContentList .D-BuyNum button{line-height: 1.15rem;}
}


/*-- 兼容iphone6 plus --------------------------------------------*/
@media (device-width:414px) and (-webkit-min-device-pixel-ratio:3.0){
	html{font-size: 23px;}
	header .header{top: initial !important;}
}


/*-- 兼容 iPad 3 & 4 ------------------------------------------*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
	html{font-size: 30px;}
	header .header{top: initial !important;}
	.order-Address dl dt i{font-size: .8rem;}
	menu i.icon-cart span{right: 23%;}
}






