
<link rel="stylesheet" type="text/css" href="../js/calendar/calendar.min.css" />
<script src="../js/calendar/calendar.min.js"></script>
<style>
/*.dates_box {width: 300px;}*/
.dates_box_top {height: 32px;}
.dates_bottom {height: auto;}
.dates_hms {width: auto;}
.dates_btn {width: auto;}
.dates_mm_list span {width: auto;}
</style>
<div class="wrapper">
	<div class="title"><a href="{url('index')}" class="s-back">返回</a>功能扩展 - 大转盘</div>
	<div class="content_tips">
		<div class="flexilist">
			<div class="main-info">
				<form action="{url('edit', array('ks'=>$config['command']))}" method="post" class="form-horizontal" role="form" onsubmit="if($('.prize_list tr').length > 7 ){alert('奖项不能超过6项');return false;}">
				<div class="switch_info">
				    <div class="item">
				        <div class="label-t">功能名称：</div>
				        <div class="label_value">{$config['name']}</div>
				    </div>
				    <div class="item">
				        <div class="label-t">关键词：</div>
				        <div class="label_value">{$config['command']}</div>
				    </div>
				    <div class="item">
				        <div class="label-t">扩展词：</div>
			            <div class="label_value">
			                <input type="text" name="data[keywords]" class="form-control text" readonly value="{$config['keywords']}" />
			                <div class="notic"></div>
			            </div>
				    </div>
				    <div style="display:none">
					    <div class="item">
					        <div class="label-t">积分赠送：</div>
					            <div class="label_value">
					            	<div class="checkbox_items">
			                            <div class="checkbox_item">
						                    <input type="radio" name="cfg_value[point_status]" class="ui-radio event_zhuangtai" id="value_121_0" value="1" checked="true" {if $config['config']['point_status']}checked{/if}>
						                    <label for="value_121_0" class="ui-radio-label {if $config['config']['point_status']}active{/if}">{$lang['wechat_open']}</label>
						                </div>
						                <div class="checkbox_item">
						                    <input type="radio" name="cfg_value[point_status]" class="ui-radio event_zhuangtai" id="value_121_1" value="0" {if empty($config['config']['point_status'])}checked{/if}>
						                    <label for="value_121_1" class="ui-radio-label {if empty($config['config']['point_status'])}active{/if}">{$lang['wechat_close']}</label>
						                </div>
	                               </div>
					           </div>
					    </div>
					    <div class="item">
					        <div class="label-t">积分值：</div>
					            <div class="label_value">
					                <input type="text" name="cfg_value[point_value]" class="text" value="{$config['config']['point_value']}" />
					           </div>
					    </div>
					    <div class="item">
					        <div class="label-t">有效次数：</div>
				            <div class="label_value">
				                <input type="text" name="cfg_value[point_num]" class="text" value="{$config['config']['point_num']}" />
				                <div class="notic">时间间隔内的有效次数</div>
				           </div>
					    </div>
					    <div class="item">
					        <div class="label-t">时间间隔：</div>
				            <div class="label_value">
				            	<div class="select_w320">
					                <select name="cfg_value[point_interval]" class="form-control">
					                        <option value="86400" {if $config['config']['point_interval'] == 86400}selected{/if}>24小时</option>
					                        <option value="3600" {if $config['config']['point_interval'] == 3600}selected{/if}>1小时</option>
					                        <option value="60" {if $config['config']['point_interval'] == 60}selected{/if}>1分钟</option>
					                </select>
				            	</div>
				           </div>
					    </div>
				    </div>
				    <div class="item">
				        <div class="label-t">参与人数：</div>
			            <div class="label_value">
			                <input type="text" name="cfg_value[people_num]" value="{if $config['config']['people_num']}{$config['config']['people_num']}{else}0{/if}" class="form-control text" readonly />
			                <div class="notic">统计所有参与过此活动的微信用户数量（包含未中奖和已中奖用户）</div>
			           </div>
				    </div>
				    <div class="item">
				        <div class="label-t">起止时间：</div>
			            <div class="label_value">
			            	<div class="text_time" id="text_time1">
			                <input type="text" name="cfg_value[starttime]" class="text" id="promote_start_date" value="{$config['config']['starttime']}" />
			                </div>
			                <span class="bolang">~&nbsp;&nbsp;</span>
			                <div class="text_time" id="text_time2">
			                <input type="text" name="cfg_value[endtime]" class="text" id="promote_end_date" value="{$config['config']['endtime']}" />
			                </div>
			          </div>
				    </div>
<!-- 				    <div class="item">
				        <div class="label-t">结束时间：</div>
			            <div class="label_value">
			            	<div class="text_time" id="text_time2">
			                <input type="text" name="cfg_value[endtime]" class="text" id="promote_end_date" value="{$config['config']['endtime']}" />
			                </div>
			           </div>
				    </div> -->
				    <div class="item">
				        <div class="label-t">抽奖次数：</div>
				        <div class="label_value">
				            <input type="text" name="cfg_value[prize_num]" class="text" value="{$config['config']['prize_num']}" />
				            <div class="notic">即起止时间段内，用户总共可抽奖的次数</div>
				        </div>
				    </div>
				    <div class="item">
				        <div class="label-t">奖品列表：</div>
			            <div class="label_value">
				                <table class="table ectouch-table prize_list">
				                    <tr>
				                        <th class="text-center" width="10%"><a href="javascript:;" class="glyphicon glyphicon-plus" onClick="addprize(this)"></a></th>
				                        <th class="text-center"  width="20%">奖项</th>
				                        <th class="text-center" width="20%">奖品</th>
				                        <th class="text-center" width="20%">数量</th>
				                        <th class="text-center" width="20%">概率(总数为100%)</th>
				                    </tr>
				                    {foreach $config['config']['prize'] as $v}
				                    <tr>
				                        <td class="text-center"><a href="javascript:;" class="glyphicon glyphicon-minus" onClick="delprize(this)"></a></td>
				                        <td class="text-center"><input type="text" name="cfg_value[prize_level][]" class="form-control" placeholder="例如：一等奖" value="{$v['prize_level']}"></td>
				                        <td class="text-center"><input type="text" name="cfg_value[prize_name][]" class="form-control" placeholder="例如：法拉利跑车" value="{$v['prize_name']}"></td>
				                        <td class="text-center"><input type="text" name="cfg_value[prize_count][]" class="form-control" placeholder="例如：3" value="{$v['prize_count']}"></td>
				                        <td class="text-center">
				                            <div class="input-group">
				                                <input type="text" name="cfg_value[prize_prob][]"  class="form-control" placeholder="例如：1%" value="{$v['prize_prob']}">
				                                <span class="input-group-addon">%</span>
				                            </div>
				                        </td>
				                   </tr>
				                   {/foreach}
				                </table>
			            <div class="notic">注意：建议最多添加6项，概率总和小于100%</div>
			        </div>
				    <div class="item">
				        <div class="label-t">活动规则：</div>
				            <div class="label_value">
				                <textarea name="cfg_value[description]" class="textarea" rows="3">{$config['config']['description']}</textarea>
				          </div>
				    </div>
				    <div class="item">
				        <div class="label-t">素材信息：</div>
				        <div class="label_value">
				                <input type="text" name="cfg_value[media_id]" class="form-control text" value="{$config['config']['media_id']}" readonly />
				                <span class="notic">对应素材管理中的素材id，请注意不要删除</span>
				        </div>
				    </div>
				    <div class="item">
				        <div class="label-t">&nbsp;</div>
				        <div class="label_value info_btn">
				                <input type="hidden" name="data[command]" value="{$config['command']}" />
				                <input type="hidden" name="data[name]" value="{$config['name']}" />
				                <input type="hidden" name="data[author]" value="{$config['author']}">
				                <input type="hidden" name="data[website]" value="{$config['website']}">
				                <input type="hidden" name="cfg_value[haslist]" value="1">
				                <input type="hidden" name="handler" value="{$config['handler']}">
				                <input type="submit" name="submit" class="button btn-danger bg-red" value="确认" />
				                <input type="reset" name="reset" class="button button_reset" value="重置" />
				        </div>
				    </div>
				</div>
				</form>
	        </div>
		</div>
	</div>
</div>

<script type="text/javascript">
    //添加奖项
    var num = $('.prize_list tr').length > 0 ? $('.prize_list tr').length : 1;
    function addprize(obj){
        switch(num)
        {
            case 1:
              prize_level = "一等奖";
              break;
            case 2:
              prize_level = "二等奖";
              break;
            case 3:
              prize_level = "三等奖";
              break;
            case 4:
              prize_level = "四等奖";
              break;
            case 5:
              prize_level = "五等奖";
              break;
            case 6:
              prize_level = "六等奖";
              break;
            default:
              prize_level = "";
        }

    	var html = '<tr><td class="text-center"><a href="javascript:;" class="glyphicon glyphicon-minus" onClick="delprize(this)"></a></td><td class="text-center"><input type="text" name="cfg_value[prize_level][]" class="form-control" placeholder="例如：一等奖" value="'+prize_level+'"></td><td class="text-center"><input type="text" name="cfg_value[prize_name][]" class="form-control" placeholder="例如：法拉利跑车"></td><td class="text-center"><input type="text" name="cfg_value[prize_count][]" class="form-control" placeholder="例如：3"></td><td class="text-center"><div class="input-group"><input type="text" name="cfg_value[prize_prob][]"  class="form-control" placeholder="例如：1"><span class="input-group-addon">%</span></div></td></tr>';
        if(num <= 6){
            $(obj).parent().parent().parent().append(html);
        }else{
            layer.msg('奖项不能超过6项');
            return false;
        }
        num++;
    }
    //删除奖项
    function delprize(obj){
        $(obj).parent().parent().remove();
    }

    // 大商创PC日历插件
	var opts1 = {
		'targetId':'promote_start_date',
		'triggerId':['promote_start_date'],
		'alignId':'text_time1',
		'format':'-',
		'hms':'off'
	},opts2 = {
		'targetId':'promote_end_date',
		'triggerId':['promote_end_date'],
		'alignId':'text_time2',
		'format':'-',
		'hms':'off'
	}

	xvDate(opts1);
	xvDate(opts2);

</script>
