{include file="page_header"}
<body>
	<div class="con">
		<div class="open-two-box drp-message-header">
				<h4 class="f-">温馨提示<span class="fr"><i class="iconfont icon-guanbi"></i></span></h4>
				<p class="f-03 m-top08">
					{$notice}
				</p>
		</div>
	<form action="{url('drp/index/register')}" method="post" id="formSub" onsubmit="return check()">
			<div class=" user-open open-box of-hidden b-color-f">
				<section class="drp-one-cont">
					<div class="text-all dis-box j-text-all">
						<label>店铺名称</label>
						<div class="box-flex input-text">
							<input class="j-input-text" name="shop_name" id="shop_name" placeholder="请输入您的店名" type="text"/>
							<i class="iconfont icon-guanbi1 close-common j-is-null"></i>
						</div>
					</div>
					<div class="text-all dis-box j-text-all">
						<label>真实姓名</label>
						<div class="box-flex input-text">
							<input class="j-input-text" type="text" name="real_name" id="real_name" placeholder="姓名(必填)" />
							<i class="iconfont icon-guanbi1 close-common j-is-null"></i>
					</div>
					</div>
					<div class="text-all dis-box j-text-all">
						<label>手机号</label>
						<div class="box-flex input-text">
							<input class="j-input-text" type="text" name="mobile" id="shop_mobile" placeholder="手机号码(必填)" />
							<i class="iconfont icon-guanbi1 close-common j-is-null"></i>
						</div>
					</div>
                    <div class="text-all dis-box j-text-all">
						<label>QQ</label>
						<div class="box-flex input-text">
							<input class="j-input-text" type="text" name="qq" id="real_name" placeholder="QQ(选填)" />
							<i class="iconfont icon-guanbi1 close-common j-is-null"></i>
					</div>
				</section>
				<section class="dis-box  padding-t">
                         <button type="submit" class="btn-submit box-flex min-btn br-5">提交</button>
				</section>
			</div>
        </form>
		</div>
		<!--引用js-->
		<script>
			$(document).ready(function() {
				$(".drp-message-header i").click(function() {
						$(".drp-message-header").hide();
				});
			});
			/*切换*/
			var tabsSwiper = new Swiper('#j-tab-con', {
				speed: 0,
				noSwiping: true,
				autoHeight: true
			})
			$(".j-tab-title li").on('touchstart mousedown', function(e) {
				e.preventDefault()
				$(".j-tab-title .active").removeClass('active')
				$(this).addClass('active')
				tabsSwiper.slideTo($(this).index())
			})
			$(".j-tab-title li").click(function(e) {
				e.preventDefault()
			})

          	function check(){
				var shop_name       =$("input[name=shop_name]").val();
				var real_name       =$("input[name=real_name]").val();
				var mobile          =$("input[name=mobile]").val();
           　　 var myreg = '/^1(3[0-9]|4[57]|5[0-35-9]|7[0135678]|8[0-9])\\d{8}$/';
                if( shop_name==''){
	           	　　d_messages('店铺名不能为空',2);
					$("div[name=shop_namediv]").addClass("active");
					return false;
           　　 }
                if( real_name==''){
	           	　　d_messages('真实名不能为空',2);
					$("div[name=real_namediv]").addClass("active");
					return false;
           　　 }                       　
         　　　 if( mobile==''){
	           	　　d_messages('请输入手机号',2);
					$("div[name=mobilediv]").addClass("active");
					return false;
           　　 }else if(!myreg.test(mobile)){
				    d_messages('请输入有效的手机号',2);
				    $("div[name=mobilediv]").addClass("active");
				    return false;
		 　　　 }
		　　}
		</script>
	</body>

</html>