* { word-wrap: break-word; outline: none; }
body { background: #FFF; min-width: 1200px;}
html, body { height: 100%;}
html { -webkit-text-size-adjust: none; }
body, td, input, textarea, select,
button { color: #707070; font-size: 12px; font-family: "Microsoft Yahei", "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif; }
body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset { margin: 0; padding: 0; }
ul, ol, li { list-style-image: none; list-style-type: none; }
h1, h2, h3, h4, h5, h6 { font-size: 12px; }
a { color: #31b4e1; text-decoration: none; blr:expression(this.onFocus=this.blur()) }
a:hover { color: #ec5051; text-decoration: none; }
a img { border: none; }
em, cite, th { font-style: normal; font-weight: normal; }
table { border-collapse: collapse; }
th { text-align: left; }
input, button, select, textarea { outline: none }
i,em{ font-style:normal;}
i.fa { font-size: 14px; vertical-align: middle; margin-right: 4px; }
label{ cursor:pointer;}
input:focus{ border:1px solid #62b3ff;}
input[type='submit']{ outline:0 none;}

.iframe_body{ background-color:#f7f7f7; overflow:auto;}
.tl { text-align: left !important; }
.tc { text-align: center !important; }
.tr { text-align: right !important; }
.clearfix:after,.clearfix:before{ content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clear{ clear:both;}
.fl{ float:left !important;}
.fr{ float:right !important;}
.fn{ float:none !important;}
.pointer{ cursor:pointer;}
.lie{ width:100%; float:left;}
.hide{ display:none;}
.show{ display:block;}
.require-field{ color:#ec5151; margin-right:3px;}
.notic{ color:#909090; float:left; margin-left:10px;}
.blue_notic{ color:#62b3ff;}
.red_notic{ color:#ec5151;}
.bor-right-not{ border-right:0 !important;}
.bf100{ width:100%;} 
.bolang{ float:left;}
.relative{ position:relative;}
.mauto{ margin:0 auto;}
.no_record{ text-align:center; height:150px !important;}
.delete{ width:11px; height:11px; display:inline-block; background:url(../images/admin-icon.png) -141px -456px no-repeat; margin:6px 0 0 7px;}
.delete:hover { background-position: -117px -455px;}

/*按钮*/
.btn{ height:18px; line-height:18px; border:1px solid #dcdcdc; padding:0 20px; color:#666; display:inline-block; border-radius:3px; cursor:pointer; font-size:12px;}
.btn25{ height:23px; line-height:23px; padding:0 10px;}
.btn30{ height:28px; line-height:28px; padding:0 17px;}
.btn35{ height:33px; line-height:33px; font-size:14px;}

.btn_red{ border-color:#ec5151; color:#ec5151;}
.red_btn{ background-color:#ec5151; color:#fff;border-color:#ec5151;}
.red_btn_2{ background-color:#d43d3d; color:#fff;}

.btn_blue{ border-color:#31b4e1; color:#31b4e1;}
.blue_btn{ background-color:#268ff2; color:#fff; border-color:#268ff2;}

.red_btn_2:hover,.red_btn:hover{ color:#fff;}

input.btn{ height:20px; border:0;}
input.btn25{ height:25px;}
input.btn30{ height:30px;}
input.btn35{ height:35px;}

.ui-checkbox,.ui-radio,.ui-radio-16x16{ display:none;}
.ui-label{ padding-left: 20px; background: url(../images/input_checkbox.png) 2px 2px no-repeat;}
.ui-checkbox:checked+label { background: url(../images/input_checked.png) 2px 2px no-repeat;}

/*.ui-radio-label{ padding-left:20px; background: url(../images/input_radio.png) 2px 2px no-repeat;}
.ui-radio:checked+label { background: url(../images/input_radioed.png) 2px 2px no-repeat;}

.ui-radio-label-16x16{ padding-left:25px; background:url(../images/input_radio_16x16.png) 2px 2px no-repeat; font-size:14px;}
.ui-radio-16x16:checked+label{ background:url(../images/input_radioed_16x16.png) 2px 2px no-repeat;}*/

.ui-tooltip{ color: #FFF !important;filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#E5333333', endColorstr='#E5333333')!important;background: rgba(51,51,51,0.9) !important;border: 0!important;box-shadow: 0 0 5px rgba(0,0,0,0.25)!important;}

.nofocus:focus{ border:0 !important;}

.text{ float:left; border:1px solid #dbdbdb; border-radius:2px; height:28px; line-height:28px; padding:0 10px;}
.textarea{ float:left; border:1px solid #dbdbdb; border-radius:2px; height:60px; padding:5px 10px; width:300px; resize:none; line-height:20px;}
/*长度高度
******************************/
.w10 { width: 10px; }
.w20 { width: 20px; }
.w30 { width: 30px; }
.w40 { width: 40px !important; }
.w50 { width: 50px !important; }
.w60 { width: 60px !important; }
.w65 { width: 65px !important; }
.w70 { width: 70px !important; }
.w80 { width: 80px !important; }
.w90 { width: 90px; }
.w100 { width: 100px !important; }
.w110 { width: 110px !important; }
.w120 { width: 120px !important; }
.w130 { width: 130px !important; }
.w150 { width: 150px !important; }
.w160 { width: 160px; }
.w180 { width: 180px; }
.w190 { width: 190px !important; }
.w200 { width: 200px !important; }
.w210 { width: 210px !important; }
.w230 { width: 230px; }
.w240 { width: 240px; }
.w250 { width: 250px !important; }
.w270 { width: 270px; }
.w300 { width: 300px !important; }
.w350 { width: 350px; }
.w340 { width: 340px; }
.w400 { width: 400px!important; }
.w450 { width: 450px!important; }
.w500 { width: 500px; }
.w600 { width: 600px !important; }
.w700 { width: 700px; }
.w780 { width: 780px; }
.w800 { width: 800px; }

.h10 { height: 10px; }
.h20 { height: 20px; }
.h30 { height: 30px; }
.h40 { height: 40px !important; }
.h50 { height: 50px !important; }
.h60 { height: 60px !important; }
.h65 { height: 65px !important; }
.h70 { height: 70px !important; }
.h80 { height: 80px !important; }
.h90 { height: 90px; }
.h100 { height: 100px !important; }
.h110 { height: 110px !important; }
.h120 { height: 120px !important; }
.h130 { height: 130px !important; }
.h150 { height: 150px !important; }
.h160 { height: 160px; }
.h180 { height: 180px; }
.h190 { height: 190px !important; }
.h200 { height: 200px !important; }
.h210 { height: 210px !important; }
.h230 { height: 230px; }
.h240 { height: 240px; }
.h250 { height: 250px !important; }
.h270 { height: 270px; }
.h300 { height: 300px !important; }
.h350 { height: 350px; }
.h340 { height: 340px; }
.h400 { height: 400px!important; }
.h450 { height: 450px!important; }
.h500 { height: 500px; }
.h600 { height: 600px !important; }
.h700 { height: 700px; }
.h780 { height: 780px; }
.h800 { height: 800px; }

.select_w300{ width:299px;}
.select_w100{ width:100px;}
.select_w55{ width:55px;}
/*边距
******************************/
.m0 { margin: 0!important; }
.m10 { margin: 10px; }
.m15 { margin: 15px !important; }
.m30 { margin: 30px; }
.mt3 { margin-top: 3px; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px !important; }
.mt30 { margin-top: 30px !important; }
.mt50 { margin-top: 50px !important; }
.mt100 { margin-top: 100px; }
.mb0 { margin-bottom: 0px !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb50 { margin-bottom: 50px; }
.mb100 { margin-bottom: 100px; }
.ml0 { margin-left: 0px!important; }
.ml5 { margin-left: 5px!important; }
.ml10 { margin-left: 10px!important; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml30 { margin-left: 30px; }
.ml50 { margin-left: 50px; }
.ml100 { margin-left: 100px !important; }
.ml200 { margin-left: 200px !important; }
.mr0 { margin-right: 0px !important; }
.mr5 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px; }
.mr30 { margin-right: 30px !important; }
.mr50 { margin-right: 50px !important; }
.mr100 { margin-right: 100px; }
/*边距
******************************/
.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p30 { padding: 30px; }
.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt30 { padding-top: 30px !important; }
.pt50 { padding-top: 50px; }
.pt100 { padding-top: 100px; }
.pb5 { padding-bottom: 5px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px !important; }
.pb30 { padding-bottom: 30px; }
.pb50 { padding-bottom: 50px; }
.pb100 { padding-bottom: 100px; }
.pl0 { padding-left: 0px !important; }
.pl5 { padding-left: 5px; }
.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px; }
.pl20 { padding-left: 20px; }
.pl30 { padding-left: 30px !important; }
.pl40 { padding-left: 40px !important;}
.pl50 { padding-left: 50px; }
.pl100 { padding-left: 100px; }
.pr5 { padding-right: 5px; }
.pr10 { padding-right: 10px; }
.pr15 { padding-right: 15px; }
.pr20 { padding-right: 20px; }
.pr30 { padding-right: 30px; }
.pr50 { padding-right: 50px; }
.pr100 { padding-right: 100px; }

/*高度
********************************/
.h25{ height:25px !important;}

/*字体大小
*******************************/
.font12{ font-size:12px;}
.font14{ font-size:14px;}
.font16{ font-size:16px;}
.font18{ font-size:18px;}
.font20{ font-size:20px;}

/*颜色
*******************************/
.blue{ color:#31b4e1;}
.blue_bg:hover,.blue_btn:hover{ background-color:#2181db; color:#fff;}

.ftx-01{ color:#707070;}
.ftx-02{ color:#333 !important;}
.ftx-03{ color:#62b3ff;}

.org{ color:#f3a43d;}
.red{ color:#ec5151 !important;}
.blue3{ color:#31b4e1;}

.green_bg{ background-color:#0C0}
.blue2_bg{ background-color:#09C;}
.violet_bg{ background-color:#C69;}
.orange_bg{ background-color:#F60;}
.red_bg{ background-color:#F00;}

/*border线条*/
.bor_bt_das{ border-bottom:1px dashed #dcdcdc;}
.bor_top_das{ border-top:1px dashed #dcdcdc;}

/*表单提示*/
.form_prompt .error{ margin-left:10px; color:#ec5151; line-height:30px;}
.form_prompt .error .icon{ font-size:14px; margin-right:5px;}
input.error{ background-color: #FFF0F0;background-repeat: repeat;border: 1px dashed #E84C3D; border-radius:3px;}

/*门店*/
.header{ width:100%; height:78px; border-bottom:2px solid #2181db; background-color:#268ff2;}
.header_warpper{ width:1200px; margin:0 auto;}
.logo_info{ padding:18px 0 12px; float:left;}
.logo_info .logo{ float:left;}
.logo_info .logo .img{ width:90px; height:32px; float:left;}
.logo_info .logo .wz{ float:left; color:#fff; background:url(../images/xian.png) left no-repeat; padding-left:8px; margin:7px 8px 6px 8px; font-size:14px;}
.logo_info .english{ display:block; clear:both; width:162px; height:8px; background:url(../images/english.png) no-repeat; font-size:0; float:left; margin-top:7px;}

.header_warpper .nav{ float:left; margin-left:100px;}
.header_warpper .nav ul{ overflow:hidden;}
.header_warpper .nav li{ float:left; height:14px; line-height:14px; margin:32px 0; width:100px; text-align:center; background:url(../images/xian.png) left no-repeat;}
.header_warpper .nav li:first-child{ margin-left:-2px;}
.header_warpper .nav li a{ display:block; font-size:14px; color:#fff; height:14px; line-height:14px; margin-top:-32px; padding:32px 0;}
.header_warpper .nav li.curr a{ background:#2181db; font-weight:bold;}
.header_warpper .nav li a:hover{ background:#2181db;}

.manager{ float:right; margin:10px 0;}
.manager .avatar{ float:left; display:inline-block; position:relative;}
.manager .avatar img{ width:55px; height:55px; border-radius:50%; border:3px solid #58a9f5;}
.manager .avatar:hover img{ border-color:#fff;}
.manager .avatar input[type='file']{ position: absolute;left: 0;opacity: 0;filter: alpha(opacity=0);width: 55px;height: 55px;cursor: pointer;}
.manager dl{ float:left; margin:5px 10px;}
.manager dl dt{ font-size:14px; color:#fff; font-weight:bold;}
.manager dl dd{ float:left; margin-top:5px;}
.manager dl dd span{ margin-right:10px; display:block; float:left;}
.manager dl dd .sc_icon{ display:block; float:left; width:12px; height:12px; background:url(../images/login_icon.png) no-repeat; margin:2px 2px 0 0;}
.manager dl dd .sc_icon_store{ background-position:-114px 0;}
.manager dl dd .sc_icon_tc{ background-position:-135px 0;}
.manager dl dd a{ color:#fff; float:left;}
.manager dl dd a:hover{ text-decoration:underline;}

.explanation{ padding:11px 13px; color:#34816e; border-radius:5px; background-color:#f4fdfb; border:1px dashed #32d0a8; width:calc(100% - 28px); height:100%;}
.explanation .sc_icon{ position:absolute; background:url(../images/login_icon.png) -113px -33px; width:20px; height:20px;}
.explanation ul{ overflow:hidden; padding-left:28px;}
.explanation ul li{ line-height:20px; background:url(../images/arrow.png) 0 8px no-repeat; padding-left:10px; margin-bottom:5px; text-shadow: 1px 1px 0 rgba(255,255,255,0.5);}
.explanation ul li:last-child{ margin-bottom:0;}
.explanation ul li em{ color:#ec5151;}

.content{ width:1200px; margin:0 auto; padding:20px 0 70px; min-height:740px;}
.content .title{ font-size:18px; color:#000; margin:0 0 20px;}

.common-head{ margin-top:20px;}
.common-head .btn{ height:30px; line-height:28px; background:#268ff2; color:#fff; margin-left:20px; border:1px solid #268ff2;}
.common-head .btn:hover{ background:#2181db;}

.list-div{ margin-top:15px;}
.list-div:after,.list-div:before{ content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.table{ border:0; width:100%;}
.table th{ height:40px; line-height:40px; font-weight:bold; color:#454545; text-align:center; border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;}
.table td{ height:40px; text-align:center; border-bottom:1px solid #dcdcdc; color:#454545;}
.table th.first,.table td.first{ border-left:1px solid #dcdcdc;}
.table th.last,.table td.last{ border-right:1px solid #dcdcdc;}
.table td .text{ float:none; text-align:center; background-color:transparent;}
.table td .text_input{ border-color:#fff;}
.table td .text:hover{ border-color:#268ff2;}
.table td .text:focus{ border-color:#268ff2;box-shadow: 0 0 8px rgba(0,0,0,.3);}
.table .imitate_select{ float:none; margin:0 auto;}
.table tfoot td,.table .tfoot td{ border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc; padding-right:30px;}
.table .tfoot td{ padding-right:0;}
.list-div .tr_bg_blue td{ background:#f4fdfb;}
.sep-row td{ height:15px;}


.product{ overflow:hidden; padding:10px 0;}
.product .img{ width:46px; height:45px; float:left;}
.product .name{ float:left; width:calc(100% - 66px); margin-left:20px; height:44px; overflow:hidden;}
.product .name a{ color:#454545; line-height:22px;}
.product .name a:hover{ color:#4fd5b2;}

.handle a{ padding: 2px 4px;border-radius: 3px;border: 1px solid #4fd5b2;color: #4fd5b2;margin-right: 14px;font-size: 12px;}
.handle a:hover{background:#4fd5b2; color:#fff;}
.handle a:last-child{ margin-right:0;}
.handle a i{ font-size: 14px;margin: -2px 4px 0 4px;vertical-align: middle;}
.handle a.btn_pencil{ border-color:#4fd5b2; color:#4fd5b2;}
.handle a.btn_pencil:hover{ background:#4fd5b2; color:#fff;}
.handle a.btn_trash{ border: 1px solid #dcdcdc; color:#707070}
.handle a.btn_trash:hover{ border-color:#4fd5b2; color:#4fd5b2; background:#fff;}


.footer{ height:40px; width:100%; background:#52565a; text-align:center;}
.footer p{ line-height:40px; color:#fff;}

.pagination{ float:right;}
.pagination li{ border:1px solid #eeeeee; width:23px; height:23px; line-height:23px; color:#454545; text-align:center; border-radius:3px; float:left; margin-right:3px; position:relative; cursor:pointer;}
.pagination li a{ color:#454545; display:block; width:23px; height:23px;}
.pagination li .currentpage{ color:#268ff2;}
.pagination li .prev,.pagination li .next{ font-size:0;width: 0px;height: 0px;border: 5px solid transparent; position:absolute; top:7px;}
.pagination li .prev{ border-right-color:#ddd; left:3px;}
.pagination li .next{ border-left-color:#ddd; right:3px;}
.pagination li a .prev{border-right-color: #a9a9a9; left:3px;}
.pagination li a .next{border-left-color: #a9a9a9; right:3px;}
.pagination li:hover a{ color:#268ff2;}
.pagination li:hover a .prev{ border-right-color:#268ff2;}
.pagination li:hover a .next{ border-left-color:#268ff2;}

.product_stock{ overflow:hidden; margin-top:20px;}
.product_stock .porduct_info{ float:left;}
.porduct_info .img{ float:left; width:60px; height:60px; margin-left:20px;}
.porduct_info .info{ float:left; margin-left:10px;}
.porduct_info .info .name{ font-size:14px;}
.porduct_info .info .name a{ color:#454545; font-weight:bold;}
.porduct_info .info .lie{ clear:both; margin-top:5px;}
.porduct_info .info .lie span{ margin-right:30px;}

.stock_input{ float:right; margin-right:30px;}
.stock_input span{ float:left; line-height:30px; font-weight:bold; color:#454545;}

.addtr{ display:inline-block; width:32px; height:18px; line-height:19px; text-align:center; border:1px solid #32d0a8; color:#32d0a8; border-radius:3px;}
.addtr:hover{ background:#32d0a8; color:#fff;}

.imitate_select{ float: left; position:relative;border: 1px solid #dbdbdb;border-radius: 2px;height: 28px;line-height: 28px;padding: 0 10px; min-width:80px; background:#fff;}
.imitate_select .cite{ background: #fff url(../images/xjt.png) right 11px no-repeat; cursor:pointer; text-align:left; padding-right:20px; height:28px; overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.imitate_select ul{ position:absolute; top:28px; left:-1px; background:#fff; width:100%; max-height:392px; border:1px solid #dbdbdb; border-radius:0 0 3px 3px; display:none; z-index:99; overflow:hidden;}
.imitate_select ul li{ padding:0 10px; cursor:pointer; text-align:left;}
.imitate_select ul li:hover{ background:#f5faff;}
.imitate_select ul li a{ display:block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}

.btn_info{ text-align:center; margin:30px 0; }

.store_order_page{}
.store_order_section{ margin-bottom:20px; overflow:hidden;}
.store_order_title{ font-weight:bold; color:#454545; font-family:"Microsoft Yahei"; font-size:14px;}
.store_order_note{ color:#999;}
.store_order_note .price{ color:#ec5151;}
.store_order_input{ overflow:hidden; margin-top:10px;}
.store_order_input .input{ width:100%; display:block; height:30px;}
.store_order_input .input .text{ margin-right:10px; width:102px; padding-right:5px;}
.store_order_input .input #notic{ color:#ec5151; line-height:30px;}
.store_order_section p{ line-height:20px; color:#454545; width:500px;}
.store_order_product{ overflow:hidden; margin-top:10px;}
.store_order_product .img{ float:left; width:50px; height:50px; border:1px solid #dcdcdc;}
.store_order_product .info{ float:left; width:435px; margin-left:10px; line-height:20px; color:#454545; margin-top:2px;}
.store_order_product .info .name{ width:100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.store_order_product .info .lie{ width:100%;}
.store_order_product .info .lie span{ margin-right:20px;}
.store_order_section .notic{ color:#4fd5b2; margin:5px 0 0 0;}
.store_button_info{ height:40px; width:calc(100% + 52px); background:url(../images/pb_bt_bg.png) #32d0a8 no-repeat; margin-left:-26px; margin-top:10px; float:left; border-radius:0 0 5px 5px}
.store_button_info .submit{ width:100%; border:0; background-color:transparent; height:40px; line-height:38px; color:#fff; font-size:18px;cursor:pointer;}

.order-hd td{ height:35px;}
.order-hd td.hd-info{text-align:left;}
.order_product{ overflow:hidden; padding:10px 0;}
.order_product .img{ width:50px; height:50px; float:left; border:1px solid #dcdcdc;}
.order_product .name{ float:left; margin:0 36px 0 15px; width:340px; text-align:left; line-height:22px; overflow:hidden; height:44px;}
.order_product .name a{ color:#268ff2;}
.order_product .name a:hover{ color:#ec5151;}
.border-left{ border-left:1px solid #dcdcdc;}

.mian-info{ width:100%; overflow:hidden;}
.mian-info .item{ float:left; width:100%; padding:12px 0; border-top:1px solid #eeeeee;}
.mian-info .item:hover{ background:#f4fdfb;}
.mian-info .label{ width:210px; float:left; font-size:12px; font-weight:bold; color:#454545; text-align:right; line-height:30px;}
.mian-info .value{ width:calc(100% - 210px); float:left;}
.mian-info .value p.notic{ width:100%; float:left; margin-left:0; color:#a4a4a4; line-height:25px; margin-top:5px;}

.checkbox_items{ overflow:hidden; margin-top:8px;}
.checkbox_items .checkbox_item{ float:left; margin-right:10px;}
.checkbox_items .checkbox_item .ui-label{ background:url(../images/checkbox.png) 2px 4px no-repeat;}
.checkbox_items .checkbox_item .ui-checkbox:checked+label{ background:url(../images/checked.png) 2px 4px no-repeat;}

.item_btn{ font-size:0;}
.item_btn .reset_btn{ background:#fff; color:#a9a9a9; border:1px solid #eee; margin-left:10px; display:none;}

/*省市县三级联动*/
.ui-dropdown {
    cursor: pointer;
    position: relative;
    word-wrap: break-word;
    white-space: normal;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    background-color: #fff;
    padding: 7px 29px 7px 12px;
    border: 1px solid #ccc;
    outline: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: border-color .2s ease;
    -moz-transition: border-color .2s ease;
    -o-transition: border-color .2s ease;
    -ms-transition: border-color .2s ease;
    transition: border-color .2s ease;
	float:left;
	margin-right:10px;
}
.ui-dropdown.alien {
    padding: 0;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.level_linkage{
	font-size:0;
}
.level_linkage .ui-dropdown {
    width: 155px;
    margin-right: 10px;
}
.ui-dropdown.alien .txt {
    display: block;
    position: relative;
    z-index: 13;
    font-size: 14px;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 8px 25px 8px 10px;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
	float:none;
}
.ui-dropdown.alien .placeholder {
    z-index: 18;
}
.ui-dropdown.alien .u-dropdown-icon {
    z-index: 17;
}
.ui-dropdown .down {
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #bfbdbf transparent transparent;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}
.ui-dropdown .options {
    display:none;
    position: absolute;
    left: -1px;
    top: 100%;
    width: 100%;
    height: auto;
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    background-color: #fff;
    border: 1px solid #b6b6b6;
    white-space: nowrap;
    z-index: 11;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    -ms-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}
.ui-dropdown.alien .options {
    left: 0;
    width: 452px;
    overflow: visible;
    padding: 8px;
    margin-top: -1px;
    -webkit-border-radius: 0 2px 2px;
    -moz-border-radius: 0 2px 2px;
    border-radius: 0 2px 2px;
}
.ui-dropdown .options .liv {
    color: #999;
    padding: 6px 12px;
    border-bottom: 1px solid #e2e2e0;
}
.ui-dropdown.alien .options .liv {
    border: 0;
    width: 100px;
    padding: 5px;
    margin: 0 3px 3px 0;
    overflow: hidden;
    float: left;
}
.ui-dropdown .txt{
	color:#999;
}
.ui-dropdown.visible .down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.ui-dropdown.alien.visible .txt {
    border-color: #b6b6b6;
    border-bottom: 1px solid #fff;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}
.ui-dropdown.visible .txt, .ui-dropdown:hover .txt{
	color:#333;
}
.ui-dropdown.visible .down, .ui-dropdown:hover .down {
    border-top-color: #7f7e80;
}
.ui-dropdown.alien .options .liv:hover {
    color: #ec5051;
    background: 0 0;
}
/*省市县三级联动end*/

/*file模仿上传图片*/
.type-file-box{ position:relative; float:left; width:321px; margin-right:10px;}
.type-file-box .type-file-button{ width:104px; height:30px; background:url(../images/type-file.png) 0 0 no-repeat; border:0; cursor:pointer; padding:0; float:left;}
.type-file-box.hover .type-file-button{ background-position:-111px 0;}
.type-file-box input[type="file"]{ position:absolute; left:0; opacity:0;filter: alpha(opacity=0); width:104px; height:30px; cursor:pointer;}
.type-file-box .type-file-text{ float:left; height:20px; padding:5px 0; border:0; width:178px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; margin-left:10px; background:#fff;}
.type-file-box .show{ float:left; margin-left:10px; height:30px; line-height:30px;}

/* 列表页全中 */
.list-div .tr_bg_org td{ background:#fffccb;}
.list-div .sign input[type='checkbox']{ display:none;}
.list-div .sign .checkbox_stars{ width:12px; height:12px; background:url(../images/input_checkbox.png) no-repeat; display:inline-block;}
.list-div .sign .checkbox:checked+label,.list-div .sign .checked{ background:url(../images/input_checked.png) no-repeat;}
.tfoot_btninfo{ font-size:0; position:relative;}
.tfoot_btninfo input.btn{ height:30px; line-height:28px; padding:0 15px; color:#fff; background:#31b4e1; font-size:12px; float:left; margin-right:10px;}
.tfoot_btninfo input.btn:hover{ background:#31b4e1; color:#fff}
.tfoot_btninfo input.btn_disabled,.tfoot_btninfo input.btn_disabled:hover{ border-color:#8e8e8e; background:#8e8e8e; cursor:default; color:#fff;}
.tfoot_btninfo .item{ float:left;}
