<ul>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=task_manager:schedule" class="wikilink1" title="task_manager:schedule">Schedule</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=task_manager:daily_task" class="wikilink1" title="task_manager:daily_task">Daily Task</a></div>
</li>
</ul>
