html,
body {
    font-size: calc(12px + (22 - 12) * ((100vw - 375px) / (1600 - 375)));
}

body {
    background: #FFF;
    font-family: -apple-system-font, arial, "Microsoft JhengHei";
    -webkit-text-size-adjust: 100%;
}

#header {
    background: #F9A823;
    color: #FFF;
    text-shadow: none;
    font-size: 1.5rem;
    border: none;
    position: absolute;
    top: 0;
    width: 100%;
}

#header h1 {
    font-weight: initial;
}

#header .header-btn {
    font-weight: initial;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .7em 0;
    font-size: 1.334rem;
    margin-right: 1.5rem;
    text-decoration: underline;
}

.evul {
    list-style: none;
    margin: 0;
    min-height: 100vh;
    padding-top: 4rem;
    box-sizing: border-box;
    background: #fff;
}

.evul .header-img {
    margin: 1rem;
    height: 15rem;
    text-align: center;
}
.evul .header-img img {
    max-height: 100%;
}

.evul .header-title {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.417rem;
    color: #2A2A2A;
    font-weight: bold;
}

.charge-box {
    width: 70%;
    margin: .5rem auto;
    box-sizing: border-box;
}

.charge-box .input-box {
    flex: 1;
}

.charge-box .input-box .ui-input-text {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #333;
    border-radius: 0;
    margin: 0;
}

.charge-box .input-box input {
    font-family: -apple-system-font, arial, "Microsoft JhengHei";
    font-size: 2.584rem;
    padding: 0 0 0 2rem;
    min-height: unset;
    text-align: center;
}

.charge-box .input-box input::placeholder {
    font-size: 1.417rem;
    color: #D8D8D8;
}

.charge-box .input-box + .unit-txt {
    font-size: 1.417rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
    font-weight: bold;
}

.evul .check-btn {
    width: 24.167rem;
    background-color: #f9a823;
    text-align: center;
    color: white;
    height: auto;
    line-height: unset;
    padding: .8rem 0;
    font-size: 1.417rem;
    font-weight: normal;
    text-shadow: none;
    border-radius: 100vh;
    margin: 4.5rem auto 0;
    font-family: -apple-system-font, arial, "Microsoft JhengHei";
}

.evul .check-btn:disabled,
.evul .check-btn.disabled {
    background: #D8D8D8;
    color: #FFF;
    opacity: 1;
}

.feedback {
    width: 70%;
    padding: 1rem 0;
    margin: 0 auto;
    text-align: center;
    font-size: 1.25rem;
    color: #F44336;
}

body.modal-open {
    overflow: hidden;
}

.esCheckMsgBox {
    position: fixed;
    top: calc((100% - 6.5rem) / 2);
    left: 0;
    right: 0;
    width: 17.417rem;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    z-index: 1070;
    background: #fff;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    font-size: 1.25rem;
    border-radius: 1rem;
    padding: 2.625rem 0;
    overflow: hidden;
}

.esCheckBg {
    position: fixed;
    z-index: 1060;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}