
<div class="wrapper">
  <div class="title"><a href="{url('market_list', array('type' => $config['keywords']))}" class="s-back">返回</a>{$config.name} - {if $info['id']}编辑{else}添加{/if}</div>
  <div class="content_tips">
    <div class="explanation" id="explanation">
        <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span></div>
        <ul>
            <li>1、收款码类型一经创建后不可修改。</li>
        </ul>
    </div>
      <div class="flexilist">
        <div class="common-content ">
            <div class="main-info">
            <form action="{url('market_edit', array('type' => $config['keywords']))}" method="post" class="form-horizontal" role="form" enctype="multipart/form-data" onsubmit="return false;">
                <div class="switch_info">
                <table class="table table-hover ectouch-table">
                    <tr>
                        <td class="text-align-r" width="200">收款码名称：</td>
                        <td>
                            <div class="col-sm-3">
                                <input type="text" name="data[qrpay_name]" class="form-control" value="{$info['qrpay_name']}" />
                            </div>
                            <div class="notic"> * 必填 收款码名称建议不超过32个字符</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-align-r" width="200">收款码类型：</td>
                        <td class="qrpay-checked">
                            <div class="col-sm-4">
                                <div class="checkbox_items">
                                    <div class="checkbox_item">
                                        <input type="radio" name="data[type]" class="ui-radio evnet_shop_closed clicktype" id="value_116_0" value="0" {if $info['id']}disabled="disabled"{/if} {if $info['type'] == '0'}checked{/if} >
                                        <label for="value_116_0" class="ui-radio-label {if $info['id']}disabled{/if} {if $info['type'] == '0'}active{/if}">自助收款码</label>
                                    </div>
                                    <div class="checkbox_item">
                                        <input type="radio" name="data[type]" class="ui-radio evnet_shop_closed clicktype" id="value_116_1" value="1" {if $info['id']}disabled="disabled"{/if} {if $info['type'] == '1'}checked{/if}>
                                        <label for="value_116_1" class="ui-radio-label {if $info['id']}disabled{/if} {if $info['type'] == '1'}active{/if}">指定金额收款码</label>
                                    </div>
                                </div>
                            </div>
                            <div class="notic " style="color:red">收款码类型 创建后不可修改</div>
                        </td>
                    </tr>
                    <tr class=" {if $info['type'] == '0'}hidden{/if}" id="click">
                        <td class="text-align-r " width="200">收款码金额：</td>
                        <td>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="number" step="0.01" name="data[amount]" class="form-control" value="{$info['amount']}" placeholder="输入收款金额" />
                                    <span class="input-group-addon">元</span>
                                </div>
                            </div>
                            <div class="notic">商家设置固定金额创建收款码，消费者扫码后直接支付</div>
                        </td>
                    </tr>
                    <tr class=" {if $info['type'] == '1'}hidden{/if}" id="view">
                        <td class="text-align-r " width="200"></td>
                        <td>
                            <div class="notic  pl20">扫描二维码，消费者输入付款金额，支付成功后收入到账</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-align-r" width="200">选择标签：</td>
                        <td>
                            <div class="col-sm-2">
                                <div class="input-group">
                                <select name="data[tag_id]" class="form-control">
                                    <option value='0' >无</option>
                                    {foreach $tag_list as $tag}
                                    <option value="{$tag['id']}" {if $info['tag_id'] == $tag['id']} selected{/if} >{$tag['tag_name']}</option>
                                    {/foreach}
                                </select>
                                </div>
                            </div>
                            <div class="notic"> <a href="{url('data_list', array('type' => $config['keywords'], 'function' => 'qrpay_tag_list'))}" />管理标签</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-align-r" width="200">选择优惠：</td>
                        <td>
                            <div class="col-sm-3">
                                <div class="input-group">
                                <select name="data[discount_id]" class="form-control">
                                    <option value='0' >无</option>
                                    {foreach $discounts_list as $dis}
                                    <option value="{$dis['id']}" {if $info['discount_id'] == $dis['id']} selected{/if} >{$dis['dis_name']}</option>
                                    {/foreach}
                                </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="col-md-4 info_btn">
                                <input type="hidden" name="id" value="{$info['id']}">
                                <input type="hidden" name="data[ru_id]" value="{$info['ru_id']}">
                                <input type="hidden" name="data[marketing_type]" value="qrpay">
                                <input type="submit" name="submit" class="button btn-danger bg-red" value="确认" />
                                <input type="reset" name="reset" class="button button_reset" value="重置" />
                            </div>
                        </td>
                    </tr>
                </table>
                </div>
            </form>
            </div>
        </div>
      </div>
   </div>
</div>
<script type="text/javascript">
$(function(){
    $(".clicktype").click(function(){
        // var val = $(this).find("input[type=radio]").val();
        var val = $(this).val();

        if('0' == val && !$("#click").hasClass("hidden")){
            $("#click").hide().addClass("hidden");
            $("#view").show().removeClass("hidden");
        }
        if('1' == val && $("#click").hasClass("hidden")){
            $("#click").show().removeClass("hidden");
            $("#view").hide().addClass("hidden");
        }
    });

    $(".form-horizontal").submit(function(){
        var ajax_data = $(this).serialize();
        $.post("{url('market_edit', array('type' => $config['keywords']))}", ajax_data, function(data){
            layer.msg(data.msg);
            if (data.error == 0) {
                if (data.url) {
                    window.location.href = data.url;
                } else {
                    window.location.reload();
                }
            } else {
                return false;
            }
        }, 'json');
    });
})
</script>
