@charset "utf-8";
/* CSS Document */

.hd_main .header{ padding:0;}
.hd_main .nav{ margin-top:0; height:32px; line-height:32px; background:none; /*z-index:100;*/}
.hd_main .w200{ width:200px;}
.hd_main .w1000{ width:1000px; margin:0;}
.w1200{ margin:0 auto;}

.pc-wrapper{ /*padding-bottom:60px;*/}
.pc-wrapper .content .item{ margin-bottom:20px;}
.pc-wrapper .content .item:after{ content: ' '; display: block; clear: both; height: 0; visibility: hidden;}

/*店铺导航*/
.store_nav_left{ float:left; height:32px; line-height:32px;}
.store_nav_right{ float:left; background:transparent;}
.store_nav_right ul li{ height: 32px;line-height: 32px;float: left;}
.store_nav_right ul li{ height:32px; line-height:32px; float:left;}
.store_nav_right ul li a{ color:#fff; font-size:14px; float:left; padding:0 20px;font-family:"微软雅黑"; height:32px; display:block;}
.store_nav_right ul li a:hover,.store_nav_right ul li a.nav_hover{ background:#cf5925; color:#fff;}

.all_box{ position:relative; z-index:9;font-family:"微软雅黑";}
.all_box .all_cats{background-image:url(../images/icon_xial.png); background-position:132px center; background-repeat:no-repeat; background-color:transparent;text-indent: 35px;}
.all_box .all_cats a{ color:#fff;display:block; font-size:14px;}
.all_cats_tcc{ position: absolute;left: 0;top: 32px; width:195px; display:none;}
.all_cats_tcc li{ background:#777; padding-left:25px; position:relative;}
.all_cats_tcc li a{ color:#fff; display:block; font-size:14px;}
.all_cats_tcc li .square_box{display: block;width: 5px;height: 5px;line-height: 4px;overflow: hidden;float: left;margin: 13px 8px 0 0;background:#fff;}
.all_cats_tcc li:hover{ background:#585555;}
.all_box:hover .all_cats_tcc{ display:block;}

.all_cats_tcc li .all_box_two{ position:absolute; top:0; left:200px; width:200px; display:none; z-index:2}
.all_cats_tcc li:hover .all_box_two{ display:block;}
.all_cats_tcc li .all_box_two li{ background:#ADADAD;}
.all_cats_tcc li .all_box_two li:hover{ background:#777;}

/*店铺轮播图*/
.shop_banner{ width:100%; position:relative; overflow:hidden;}
.shop_banner .hd{ width: 100%;text-align: center;height: 30px;position: absolute;bottom: 0px;color: #fff;background: #ffffff;filter: alpha(opacity=80);opacity: 0.8;z-index: 1;overflow: hidden;}
.shop_banner .hd ul li{ margin:7px 3px; width:6px; height:6px; text-align:center; line-height:6px; font-size:12px; display:inline-block;background-color: #fff; color:#000000;font-family:Arial; padding:5px; cursor:pointer}
.shop_banner .hd ul li.on{ background-color: #000000; color:#ffffff;}
.shop_banner .bd li a{ display:block; width:100%; height:100%;}
.shop_banner .bd li img{ width:auto;}
.shop_banner .bd li{ text-align:center;}
.advertising li{ float:left; margin-right:9px; margin-bottom:10px; position:relative;}
.advertising li img{ width:100%; height:100%;}
.advertising ul{ width:1210px;}
.advertising ul.row3 li{ margin-right:9px; width:390px;}
.advertising ul.row4 li{ width:292px;}
.advertising ul.row5 li{ width:232px;}
.advertising ul.row6 li{ margin-right:12px; width:190px;}
.advertising ul li:last-child{ margin-right:0;}

.adv_module .bd ul li img,
.w1200 .adv_module .bd ul li img{ height:100%; width:1200px;}
.w1920 .adv_module .bd ul li img{ width:100%;}

.advertising .left-right li:first-child{ width:380px;}
.advertising .left-right li:last-child{ width:810px;}

.advertising .right-left li:first-child{ width:810px;}
.advertising .right-left li:last-child{ width:380px;}

.advertising .advImgtwo li{ width:595px;}

.advertising li .btm{ width:100%; height:100%; background:#000; position:absolute;top:0; left:0;z-index: 2;opacity: 0;filter: alpha(opacity=0);transition: all 0.3s ease-in 0s;-webkit-transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-ms-transition: all 0.3s ease-in 0s;-o-transition: all 0.3s ease-in 0s;transition: all 0.3s ease-in 0s;}
.advertising ul:hover .btm{ opacity: 0.3;filter: alpha(opacity=30);transition: all 0.3s ease-in 0s;-webkit-transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-ms-transition: all 0.3s ease-in 0s;-o-transition: all 0.3s ease-in 0s;}
.advertising li:hover .btm{ opacity: 0;filter: alpha(opacity=0);}
/*商品楼层*/
.floor{ margin:0;}
.floor .mt{ border:0; margin:0 0 10px; line-height:normal; height:auto;}
.floor .mt h2{ font-size: 40px;height: 60px;line-height: 60px;text-align: center;font-weight: bold; color:#000001; border-bottom: 1px solid #000001;}
.floor .mt p{ font-size: 20px;height: 35px;line-height: 34px;text-align: center;margin: 0px auto;width: 230px; color:#fff; background:#000001;}

.floor .mc{ height:auto;overflow:visible;}
.floor .mc li{ float:left; position:relative; background:#fff; transition: all 0.4s ease 0s; border:1px solid #dedede;}
.floor .mc li .info .price{ color: #171717;}
.floor .mc li .info .btn_hover a{color:#fff; font-family:"微软雅黑";}

.floor .mc .row3{ width:1212px;}
.floor .mc .row3 li{ width:390px; margin:12px 12px 0 0;}
.floor .mc .row3 li .img{ overflow:hidden; padding:4px;}
.floor .mc .row3 li .img img{ width:382px; height:382px;}
.floor .mc .row3 li .info{ padding:15px; overflow:hidden;}
.floor .mc .row3 li .info .name{ height: 40px;line-height: 20px;display: block;overflow: hidden;font-size: 14px;}
.floor .mc .row3 li .info .price{ float:left; font-size:18px; height:32px; line-height:32px;}
.floor .mc .row3 li .info .btn_hover{ float:right;display: block;height: 30px;width: 100px;line-height: 30px;text-align: center; background:#000;}
.floor .mc .row3 li .info .btn_hover a{ height: 30px;width: 100px;display: block;}
.floor .mc .row3 li:hover{ background-color: #000001;border: 1px solid #000001;}
.floor .mc .row3 li:hover .name a,.floor .mc .row3 li:hover .price{ color:#fff;}
.floor .mc .row3 li:hover .info .btn_hover{ background:#fff;}
.floor .mc .row3 li:hover .info .btn_hover a{ color:#000;}

.floor .mc .row4 li{ width:298px; margin:0 -1px -1px 0;}
.floor .mc .row4 li .img{ width:298px; height:298px;}
.floor .mc .row4 li .img img{ width:100%;}
.floor .mc .row4 li .info{ height:125px;}
.floor .mc .row4 li .info .name{ height: 24px;line-height: 24px;padding: 10px 10px 5px 10px;overflow: hidden; text-align:center;}
.floor .mc .row4 li .info .name a{ height:24px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:block;}
.floor .mc .row4 li .info .price{ font-size:20px; height:30px; line-height:30px; text-align:center;}
.floor .mc .row4 li .info .btn_hover{ width: 55%;height: 30px;line-height: 30px;text-align: center;margin: 10px auto; background-color: #000001;}
.floor .mc .row4 li .info .btn_hover a{ font-size: 18px;}

.floor .mc .row5{ width:1210px; margin-top:-5px;}
.floor .mc .row5:after{ content: ' '; display: block; clear: both; height: 0; visibility: hidden;}
.floor .mc .row5 li{ width:230px; margin:9px 9px 0 0; overflow:hidden;}
.floor .mc .row5 li .img{ padding:4px 4px 0; overflow:hidden;}
.floor .mc .row5 li .img img{ width:222px; height:222px;}
.floor .mc .row5 li .info{ height:30px; line-height:30px;}
.floor .mc .row5 li .info .name{ position:absolute; bottom:0; left:0; height:30px; line-height:30px; padding: 0px 5px;overflow: hidden;transition: all 0.4s ease;filter: alpha(opacity=70);opacity: .7; background:#000; text-align:center; width:220px;}
.floor .mc .row5 li .info .name a{ color:#fff;}
.floor .mc .row5 li .info .price{ position:absolute; left:0; line-height:30px; height:30px; width:calc(50% - 10px); padding-left:10px; color:#fff; font-size:14px; font-weight:bold; z-index:9;background:#000;}
.floor .mc .row5 li .info .btn_hover{ width:50%; position:absolute; right:0; text-align:right; z-index:9;background:#000;}
.floor .mc .row5 li .info .btn_hover a{ font-size:14px; margin-right:10px;}
.floor .mc .row5 li:hover{ border-color:#000; }
.floor .mc .row5 li:hover .info .name{ bottom:30px;}

.adv_module{ position:relative;}
.adv_module .hd{ position:absolute; width:100%; bottom:0; height:30px; text-align:center; z-index:99;}
.adv_module .hd li{ display:inline-block; margin:0 5px; width:10px; height:10px; border-radius:5px; cursor:pointer; opacity:0.8; background:#666; text-indent:-89999px;}
.adv_module .hd li.on{ background-color:#000;}


/* 店铺新增可视化模板样式 start*/
/* 店铺可视化模板一 */
.st_item:after{ content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.st-section .st_item:after{ content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.st-section .st_goods_list:after{ content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.st-section .st_goods_list li{ float:left;}

.store_default_temp1 .visual-item{ margin-bottom:60px;}

.st_item_slide{ position:relative;}
.st_item_slide .hd{ position:absolute; width:100%; bottom:0; text-align:center; z-index:99;}
.st_item_slide .hd ul{ font-size:0;}
.st_item_slide .hd li{ display:inline-block; margin:0 8px 0 0; width:10px; height:10px; border-radius:5px; cursor:pointer; opacity:0.8; background:#666; text-indent:-89999px;}
.st_item_slide .hd li:last-child{ margin-right:0;}
.st_item_slide .hd li.on{ background-color:#000;}

.store_default_temp1 .st-section-one .st_item_slide .bd{ height:276px; overflow:hidden;}
.store_default_temp1 .st-section-one .st_item_slide .hd{ bottom:-16px;}

.store_default_temp1 .st-section,
.store_default_temp1 .floor{ width:1100px; padding:30px 50px; background-color:#fff; text-align:center;}

.store_default_temp1 .st-section:after,
.store_default_temp1 .floor:after{ content: ".";display: block;height: 0;clear: both;visibility: hidden;}

.store_default_temp1 .st-section .title,
.store_default_temp1 .floor .con{ color:#333; margin:20px 0 30px;}

.store_default_temp1 .st-section .title h1,
.store_default_temp1 .floor .con h2{ font-size:48px; border-bottom:1px solid #000; margin:0 0 10px 0; padding-bottom:5px; height:auto; line-height:normal;}

.store_default_temp1 .st-section .title span,
.store_default_temp1 .floor .con p{ font-size:16px; display:block; width:auto; height:auto; background:none; color:#000; line-height:normal;}

.store_default_temp1 .st-section .st_item{ margin-bottom:40px;}
.store_default_temp1 .st-section .st_item .row4{ width:1116px;}
.store_default_temp1 .st-section .st_item .row4 li{ float:left; width:262px; margin-right:17px;}
.store_default_temp1 .st-section .st_item .row4 .img,
.store_default_temp1 .st-section .st_item .row4 .img img{ width:262px; height:360px;}
.store_default_temp1 .st-section .st_item .row4 .tit{ font-size:24px; font-weight:bold; color:#333; height:36px; margin-top:10px; text-align:center; overflow:hidden; width:100%; text-overflow:ellipsis; white-space:nowrap;}

.store_default_temp1 .st-section .st_item .row1{ width:100%; height:auto;}
.store_default_temp1 .st-section .st_item .row2 .row2-left{ width:534px; height:auto; float:left;}
.store_default_temp1 .st-section .st_item .row2 .row2-right{ width:534px; height:auto; float:right;}

.store_default_temp1 .st-section .st_goods_list{ position:relative; margin-top:-20px; width:1118px;}
.store_default_temp1 .st-section .st_goods_list li{ margin:20px 18px 0 0; text-align:center; float:left;}
.store_default_temp1 .st-section .st_goods_list li .p-name{ font-size:14px; margin-top:10px; height:40px; line-height:20px; overflow:hidden;}
.store_default_temp1 .st-section .st_goods_list li .p-lie{ height:30px; line-height:30px; margin-top:5px;}
.store_default_temp1 .st-section .st_goods_list li .p-price{ color:#fd4922; font-weight:bold; font-size:20px;}
.store_default_temp1 .st-section .st_goods_list li .p-price em{ font-size:16px;}
.store_default_temp1 .st-section .st_goods_list li .p-number{ font-size:14px; color:#999;}

.store_default_temp1 .st-section .st_goods_row3 li{ width:354px;}
.store_default_temp1 .st-section .st_goods_row3 li .p-img{ width:354px; height:354px;}
.store_default_temp1 .st-section .st_goods_row3 li .p-name{ font-size:20px; height:30px; line-height:30px; text-align:center; margin-top:15px;}
.store_default_temp1 .st-section .st_goods_row3 li .p-name a{ display:block; width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; color:#333;}
.store_default_temp1 .st-section .st_goods_row3 li .p-name a:hover{ color:#f42424;}
.store_default_temp1 .st-section .st_goods_row3 li .p-price{ font-size:24px; margin-top:5px;}
.store_default_temp1 .st-section .st_goods_row3 li .p-price em{ font-size:18px;}

.store_default_temp1 .st-section .st_goods_row4 li{ width:260px; text-align:left;}
.store_default_temp1 .st-section .st_goods_row4 li .p-img{ width:260px; height:260px;}
.store_default_temp1 .st-section .st_goods_row4 li .p-name{ text-align:left;}
.store_default_temp1 .st-section .st_goods_row4 li .p-price{ float:left;}
.store_default_temp1 .st-section .st_goods_row4 li .p-number{ float:right;}

.store_default_temp1 .floor .mc.w1200{ width:1100px;}
.store_default_temp1 .floor .mc.w1200 ul{ margin-top:-20px; width:1118px;}
.store_default_temp1 .floor .mc.w1200 ul li{ border:0; text-align: center; margin: 20px 18px 0 0;}
.store_default_temp1 .floor .mc.w1200 ul li:hover{ background:none; border:0;}
.store_default_temp1 .floor .mc.w1200 ul li .info{ height:auto;}
.store_default_temp1 .floor .mc.w1200 ul li .info .name{ font-size: 14px;margin-top: 10px;height: 40px;line-height: 20px;overflow: hidden; padding:0;}
.store_default_temp1 .floor .mc.w1200 ul li .info .name a{ height:auto; line-height:normal; text-overflow: initial; white-space: normal;}
.store_default_temp1 .floor .mc.w1200 ul li .info .price{ color: #fd4922; font-weight: bold; font-size: 20px;}

.store_default_temp1 .floor .mc.w1200 .row3 li{ width:354px;}
.store_default_temp1 .floor .mc.w1200 .row3 li .img{ width: 354px; height: 354px; padding:0;}
.store_default_temp1 .floor .mc.w1200 .row3 li .img img{ width: 354px; height: 354px;}
.store_default_temp1 .floor .mc.w1200 .row3 li .info .name{ font-size: 20px; height: 30px; line-height: 30px; text-align: center; margin-top: 15px;}
.store_default_temp1 .floor .mc.w1200 .row3 li .info .name a{ display: block;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #333;}
.store_default_temp1 .floor .mc.w1200 .row3 li .info .name a:hover{ color:#f42424;}
.store_default_temp1 .floor .mc.w1200 .row3 li .info .price{ font-size: 24px; margin:5px 0 0 0; float:none; height:auto; line-height:normal;}
.store_default_temp1 .floor .mc.w1200 .row3 li .info .btn_hover{ display:none;}

.store_default_temp1 .floor .mc.w1200 .row4 li{ width:260px; text-align:left;}
.store_default_temp1 .floor .mc.w1200 .row4 li .img{ width: 260px; height: 260px;}
.store_default_temp1 .floor .mc.w1200 .row4 li .info .name{ text-align:left; margin-bottom:5px;}
.store_default_temp1 .floor .mc.w1200 .row4 li .info .price{ float:left; text-align:left;}
.store_default_temp1 .floor .mc.w1200 .row4 li .info .btn_hover{ float:right; margin:0; width:100px; background-color:#fd4922;}
.store_default_temp1 .floor .mc.w1200 .row4 li .info .btn_hover a{ font-size:14px;}

/* 店铺可视化模板二 */
.store_default_temp2 .lyrow.ui-draggable{ background:none;}

.store_default_temp2 .st-section .st_item.st_item_lr li:nth-child(1){ width:670px; float:left;}
.store_default_temp2 .st-section .st_item.st_item_lr li:nth-child(2){ width:512px; float:right;}
.store_default_temp2 .st-section .st_item.st_item_rl li:nth-child(1){ width:484px; float:left;}
.store_default_temp2 .st-section .st_item.st_item_rl li:nth-child(2){ width:702px; float:right;}
.store_default_temp2 .st-section .st_item.st_item_lr li img,
.store_default_temp2 .st-section .st_item.st_item_rl li img{ width:100%;}

.store_default_temp2 .st-section .title{ width:384px; height:78px; line-height:78px; padding:0 20px; border:1px solid #fff; margin:0 auto 35px; text-align:center;color:#fff;}
.store_default_temp2 .st-section .title h1{ font-size:48px; font-weight:bold;}

.store_default_temp2 .st-section .st_goods_list{ position:relative; margin-top:-15px; width:1215px;}
.store_default_temp2 .st-section .st_goods_list li{ margin:15px 15px 0 0; background-color:#fff; text-align:center;}

.store_default_temp2 .st-section .st_item{ margin-bottom:20px;}
.store_default_temp2 .st-section .st_goods_row3 li{ width:340px; padding:38px 25px; float:left;}
.store_default_temp2 .st-section .st_goods_row3 li .p-img{ width:220px; height:220px; margin:0 auto;}
.store_default_temp2 .st-section .st_goods_row3 li .p-name{ font-size:18px; color:#333; margin-top:30px; height:54px; line-height:27px; overflow:hidden;}
.store_default_temp2 .st-section .st_goods_row3 li .p-name a{ color:#333; display:block;}
.store_default_temp2 .st-section .st_goods_row3 li .p-name a:hover{ color:#f42424;}
.store_default_temp2 .st-section .st_goods_row3 li .p-price{ font-size:26px; color:#ea1168; font-weight:bold; position:relative; margin-top:10px;}
.store_default_temp2 .st-section .st_goods_row3 li .p-price .arrow{ width:0; height:0; border-width: 5px; border-style: solid; border-color:#ea1168 transparent transparent transparent; position:absolute; bottom:-12px; left:50%; margin:0 0 0 -5px;}
.store_default_temp2 .st-section .st_goods_row3 li .p-btn{ margin-top:30px;}
.store_default_temp2 .st-section .st_goods_row3 li .p-btn a{ width:247px; height:50px; background:url(../images/store_template/template_2/cart_icon.png); display:block; font-size:0; margin:0 auto;}

.store_default_temp2 .st-section .sti_left{ float:left; width:562px; height:562px; background-color:#fff; text-align:center;}
.store_default_temp2 .st-section .sti_left .p-img{ width:450px; height:310px; margin:20px auto 0;}
.store_default_temp2 .st-section .sti_left .p-tit{ margin-top:10px; line-height:1.6;}
.store_default_temp2 .st-section .sti_left .p-tit h1{ font-size:34px; font-weight:normal; color:#333;}
.store_default_temp2 .st-section .sti_left .p-tit span{ font-size:24px; color:#b2b2b2;}
.store_default_temp2 .st-section .sti_left .p-lie { height:72px; width:360px; margin:20px auto 0;}
.store_default_temp2 .st-section .sti_left .p-lie .p-price{ font-size:48px; font-weight:bold; color:#ea1168; float:left;}
.store_default_temp2 .st-section .sti_left .p-lie .p-btn,.store_default_temp2 .st-section .sti_right .item .p-info .p-btn{ float:right; width:180px; height:46px; line-height:46px; text-align:center; border-radius:23px; color:#fff; background-color:#ea1168; margin:13px 0 0 10px;}
.store_default_temp2 .st-section .sti_left .p-lie .p-btn a,.store_default_temp2 .st-section .sti_right .item .p-info .p-btn a{ display:block; color:#fff; font-size:20px;}

.store_default_temp2 .st-section .sti_right{ float:right; width:615px;}
.store_default_temp2 .st-section .sti_right .item{ height:270px; background-color:#fff;}
.store_default_temp2 .st-section .sti_right .item:first-child{ margin-bottom:22px;}
.store_default_temp2 .st-section .sti_right .item .p-img{ width:310px; height:220px; float:left;}
.store_default_temp2 .st-section .sti_right .item .p-info{ float:right; text-align:right;}
.store_default_temp2 .st-section .sti_right .item .p-info .p-tit{ margin-top:20px; line-height:1.6;}
.store_default_temp2 .st-section .sti_right .item .p-info .p-tit h1{ font-size:26px; font-weight:normal; color:#333;}
.store_default_temp2 .st-section .sti_right .item .p-info .p-tit span{ font-size:16px; color:#d2d2d2;}
.store_default_temp2 .st-section .sti_right .item .p-info .p-price{ font-size:36px; color:#ea1168; font-weight:bold; margin-top:10px;}
.store_default_temp2 .st-section .sti_right .item .p-info .p-btn{ margin-top:5px;}

.store_default_temp2 .st-section .row3{ width:1210px; margin-top:-12px;}
.store_default_temp2 .st-section .row3 li{ float:left; margin:12px 10px 0 0; width:393px; height:228px;}

.store_default_temp2 .st-section .st_goods_row4{ width:1213px;}
.store_default_temp2 .st-section .st_goods_row4 li{ float:left; width:290px; height:358px; background-color:#fff; margin:15px 13px 0 0;}
.store_default_temp2 .st-section .st_goods_row4 li .p-img{ width:220px; height:220px; margin:20px auto 0;}
.store_default_temp2 .st-section .st_goods_row4 li .p-name{ font-size:14px; width:230px; margin:10px auto 0;}
.store_default_temp2 .st-section .st_goods_row4 li .p-name a{ color:#333; display:block; line-height:25px; height:50px; overflow:hidden;}
.store_default_temp2 .st-section .st_goods_row4 li .p-name a:hover{ color:#f42424;}
.store_default_temp2 .st-section .st_goods_row4 li .p-price{ font-size:26px; color:#ea1168; font-weight:bold; margin-top:5px;}

/* 店铺可视化模板三 */

.store_default_temp3 .st-section{  background-color:#1a80ea;}
.store_default_temp3 .st-section .title{ text-align:center; color:#fff; padding:30px 0 45px;}
.store_default_temp3 .st-section .title h1{ font-size:54px; font-weight:bold;}
.store_default_temp3 .st-section .title span{ font-size:24px; font-weight:normal; letter-spacing:2px; padding:0 20px 10px; border-bottom:1px solid rgba(255,255,255,.3);}

.store_default_temp3 .st-section-one{ background-color:#fff;}
.store_default_temp3 .st-section-one li{ width:299px; height:135px; border:1px solid #dcdcdc; margin:0 0 -1px -1px; position:relative; text-align:center; float:left; transition: all .2s ease-in;}
.store_default_temp3 .st-section-one li a{ width:299px; height:135px; display:table-cell; vertical-align:middle;}
.store_default_temp3 .st-section-one li:hover{ z-index: 2; box-shadow:-5px 0 10px rgba(0,0,0,0.15),5px 0 10px rgba(0,0,0,0.15);}

.store_default_temp3 .st-section-two .st_item{ width:100%; background-color:#fff;}
.store_default_temp3 .st-section-two .movable-warp{ padding-top:30px;}
.store_default_temp3 .st-section-two .tab{ height:38px; padding:0;}
.store_default_temp3 .st-section-two .tab li{ float:left; width:199px; border:0; border-right:1px solid #fff; height:38px; line-height:38px; font-size:18px; color:#333; text-align:center; background-color:#f2f2f2; padding:0; margin:0; border-radius:0;}
.store_default_temp3 .st-section-two .tab li.current{ height:48px; line-height:48px; background-color:#1a80ea; color:#fff; margin-top:-10px;}
.store_default_temp3 .st-section-two .f-r-main{ margin:0;}
.store_default_temp3 .st-section-two .p-list{ width:1226px; margin:0;}
.store_default_temp3 .st-section-two .p-list li{ float:left; width:278px; height:auto; border:1px solid #dcdcdc; margin:20px 26px 0 0; text-align:center;}
.store_default_temp3 .st-section-two .p-list li .p-img{ width:220px; height:220px; margin:20px auto;}
.store_default_temp3 .st-section-two .p-list li .p-name{ height:45px; line-height:45px; background-color:#f2f2f2;}
.store_default_temp3 .st-section-two .p-list li .p-name a{ display:block; width:258px; padding:0 10px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.store_default_temp3 .st-section-two .p-list li .p-name a:hover{ color:#f42424;}
.store_default_temp3 .st-section-two .p-list li .p-lie{ overflow:hidden; padding:0 15px; margin:15px 0;}
.store_default_temp3 .st-section-two .p-list li .p-price{ font-size:24px; color:#ea1a41; float:left; font-weight:bold; line-height:44px; width:135px; margin:0; overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}
.store_default_temp3 .st-section-two .p-list li .p-btn{ float:right;}
.store_default_temp3 .st-section-two .p-list li .p-btn a{ width:110px; height:44px; display:block; line-height:44px; color:#fff; font-size:16px; background-color:#ea1a41; }

.store_default_temp3 .st-section-three .adv{ width:100%; height:375px; margin-bottom:20px;}
.store_default_temp3 .st-section-three .row3{ width:1212px; margin-bottom:20px; overflow:hidden;}
.store_default_temp3 .st-section-three .row3 li{ float:left; margin-right:11px;}
.store_default_temp3 .st-section-three .st_goods_list{ width:1200px; margin-bottom:80px;}
.store_default_temp3 .st-section-three .st_goods_list li{ background-color:#fff; width:160px; height:268px; padding:20px 20px 20px 19px; border:1px solid #e6e6e6; margin:0 0 -1px -1px; position:relative; float:left;}
.store_default_temp3 .st-section-three .st_goods_list li .p-img{ width:160px; heigth:160px;}
.store_default_temp3 .st-section-three .st_goods_list li .p-name{ height:40px; line-height:20px; margin-top:10px;}
.store_default_temp3 .st-section-three .st_goods_list li .p-name a{font-size:12px; display:block; overflow:hidden; height:40px;}
.store_default_temp3 .st-section-three .st_goods_list li .p-price{ text-align:center; font-size:20px; color:#ea1a41; margin-top:5px;}
.store_default_temp3 .st-section-three .st_goods_list li .p-btn{ position:absolute; bottom:0; left:0; width:100%; height:44px; line-height:44px; text-align:center; background-color:#ed4848; display:none;}
.store_default_temp3 .st-section-three .st_goods_list li .p-btn a{ font-size:14px; color:#fff; display:block;}
.store_default_temp3 .st-section-three .st_goods_list li:hover .p-btn{ display:block;}

.store_default_temp3 .st-section-four{ background-color:#fff;}
.store_default_temp3 .st-section-four .title{ color:#333;}
.store_default_temp3 .st-section-four .title span{ border-bottom:1px solid #333;}
.store_default_temp3 .st-section-four .row3{ width:1215px;}
.store_default_temp3 .st-section-four .row3 li{ float:left; width:390px; margin:0 15px 20px 0;}
.store_default_temp3 .st-section-four .st_goods_list{ width:1215px;}
.store_default_temp3 .st-section-four .st_goods_list li{ float:left; width:226px; height:300px; border:1px solid #e6e6e6; margin:0 15px 13px 0; position:relative;}
.store_default_temp3 .st-section-four .st_goods_list li .p-img{ width:160px; height:160px; margin:20px auto;}
.store_default_temp3 .st-section-four .st_goods_list li .p-name{ width:190px; margin:0 auto;}
.store_default_temp3 .st-section-four .st_goods_list li .p-name a{ display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.store_default_temp3 .st-section-four .st_goods_list li .p-price{ font-size:16px; color:#ea1a41; text-align:center; margin-top:10px;}
.store_default_temp3 .st-section-four .st_goods_list li .p-btn{ position:absolute; bottom:0; left:0; width:100%; height:44px; line-height:44px; text-align:center; background-color:#ed4848; display:none;}
.store_default_temp3 .st-section-four .st_goods_list li .p-btn a{ font-size:14px; color:#fff; display:block;}
.store_default_temp3 .st-section-four .st_goods_list li:hover .p-btn{ display:block;}


/* 店铺可视化模板四 */
.store_default_temp4 .lyrow.ui-draggable{ background:none;}

.store_default_temp4 .title{ overflow:hidden; margin-bottom:20px; color:#333;}
.store_default_temp4 .title h1{ font-size:28px; float:left; font-weight:normal;}
.store_default_temp4 .title span{ float:left; font-size:16px; margin:13px 0 0 10px; color:#666;}

.store_default_temp4 .st-section-one .row3 li{ float:left; width:400px; height:300px; overflow:hidden;}

.store_default_temp4 .st-section-two .st_goods_row4{ width:1226px;}
.store_default_temp4 .st-section-two .st_goods_row4 li{ float:left; width:280px; margin:0 26px 20px 0; background-color:#fff;}
.store_default_temp4 .st-section-two .st_goods_row4 li .p-img{ width:220px; height:220px; margin:15px auto;}
.store_default_temp4 .st-section-two .st_goods_row4 li .p-name{ width:220px; height:40px; line-height:20px; margin:0 auto; overflow:hidden;}
.store_default_temp4 .st-section-two .st_goods_row4 li .p-name a{ display:block; font-size:14px;}
.store_default_temp4 .st-section-two .st_goods_row4 li .p-lie{ width:220px; margin:10px auto; font-size:16px; color:#999; line-height:36px; height:36px;}
.store_default_temp4 .st-section-two .st_goods_row4 li .p-price{ color:#ff8745; font-size:24px; font-weight:bold; float:left; width:156px; overflow:hidden;}
.store_default_temp4 .st-section-two .st_goods_row4 li .p-btn{ width:100%; height:45px; line-height:45px; background-color:#ff8745;}
.store_default_temp4 .st-section-two .st_goods_row4 li .p-btn a{ display:block; text-align:center; color:#fff; font-size:18px; font-weight:bold;}

.store_default_temp4 .st-section-three .st_item_left{ float:left; width:398px; height:472px; border:1px solid #eee;}
.store_default_temp4 .st-section-three .st_item_right{ float:left; width:800px;}
.store_default_temp4 .st-section-three .st_item_right .stir_adv{ float:left; width:399px; height:235px;border:1px solid #eee;margin:0 0 -1px -1px;}
.store_default_temp4 .st-section-three .st_item_right .stir_adv img{ width:100%;}
.store_default_temp4 .st-section-three .st_item_right .stir_goods_item{ float:left; width:199px; border:1px solid #eee; margin:0 0 -1px -1px; background-color:#fff; text-align:center; padding:10px 0;}
.store_default_temp4 .st-section-three .st_item_right .stir_goods_item .p-img{ width:160px; height:160px; margin:0 auto;}
.store_default_temp4 .st-section-three .st_item_right .stir_goods_item .p-name{ width:168px; height:20px; margin:11px auto 0;}
.store_default_temp4 .st-section-three .st_item_right .stir_goods_item .p-name a{ font-size:12px; color:#333; display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.store_default_temp4 .st-section-three .st_item_right .stir_goods_item .p-name a:hover{ color:#F42424;}
.store_default_temp4 .st-section-three .st_item_right .stir_goods_item .p-price{ color:#ff8745; font-size:16px; height:24px;}

.store_default_temp4 .st-section-four .st_goods_row4{ width:1225px;}
.store_default_temp4 .st-section-four .st_goods_row4 li{ float:left; width:220px; padding:10px 30px 20px; margin:0 25px 10px 0; background-color:#fff;}
.store_default_temp4 .st-section-four .st_goods_row4 li .p-img{ width:220px; height:220px;}
.store_default_temp4 .st-section-four .st_goods_row4 li .p-name{ width:100%; height:40px; line-height:20px; overflow:hidden; margin-top:10px;}
.store_default_temp4 .st-section-four .st_goods_row4 li .p-name a{ display:block;}
.store_default_temp4 .st-section-four .st_goods_row4 li .p-lie{ overflow:hidden; line-height:35px; margin-top:10px;}
.store_default_temp4 .st-section-four .st_goods_row4 li .p-price{ float:left; color:#ff8745; font-size:18px; margin-right:10px;}
.store_default_temp4 .st-section-four .st_goods_row4 li .p-btn{ float:right;}
.store_default_temp4 .st-section-four .st_goods_row4 li .p-btn i{ font-size:24px; color:#ff8745;}

/* 店铺可视化模板五 */
.store_visual_body .store_default_temp5{ padding-bottom:0;}
.shop-list-main .store_default_temp5 .visual-item{ margin:0;}
.store_default_temp5 .st-section{ padding:50px 0 40px;}
.store_default_temp5 .st-section .title{ text-align:center; color:#c10b60;}
.store_default_temp5 .st-section .title h1{ width:290px; padding:0 30px 5px; text-align:center; margin:0 auto; display:block; font-size:48px; border-bottom:1px solid #c10b60;}
.store_default_temp5 .st-section .title span{ font-size:24px; display:block; margin-top:5px;}

.store_default_temp5 .st-section-one{ background-color:#ffe5e5; padding-bottom:30px;}
.store_default_temp5 .st-section-one .st-one-left{ float:left; width:288px; margin-right:17px;}
.store_default_temp5 .st-section-one .st-one-con{ float:left; width:590px; margin-right:17px;}
.store_default_temp5 .st-section-one .st-one-right{ float:left; width:288px;}
.store_default_temp5 .st-section-one a{ display:block;}
.store_default_temp5 .st-section-one .st-one-left a:first-child,.store_default_temp5 .st-section-one .st-one-right a:first-child{ margin-bottom:15px;}
.store_default_temp5 .st-section-one .st-one-con a:first-child{ margin-bottom:19px;}

.store_default_temp5 .st-section-two .st_item{ width:980px; margin:20px auto 0;}
.store_default_temp5 .st-section-two .st_goods_row3{ width:990px;}
.store_default_temp5 .st-section-two .st_goods_row3 li{ float:left; width:260px; height:400px; padding:40px 30px 0; text-align:center; margin-right:10px;}
.store_default_temp5 .st-section-two .st_goods_row3 li .p-img{ width:260px; height:260px;}
.store_default_temp5 .st-section-two .st_goods_row3 li .p-name{ width:100%; margin-top:10px;}
.store_default_temp5 .st-section-two .st_goods_row3 li .p-name a{ font-size:18px; color:#333; display:block; width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.store_default_temp5 .st-section-two .st_goods_row3 li .p-lie{ width:248px; height:18px; line-height:18px; padding:15px 0; border:1px solid #c10b60; margin:25px auto 0;}
.store_default_temp5 .st-section-two .st_goods_row3 li .p-price{ font-size:22px; color:#333; float:left; width:134px; border-right:1px solid #333;}
.store_default_temp5 .st-section-two .st_goods_row3 li .p-btn{ float:right; width:113px;}
.store_default_temp5 .st-section-two .st_goods_row3 li .p-btn a{ display:block; font-size:18px; font-weight:bold; color:#e91478; padding:0 26px 0 15px; margin-top:-1px;}

.store_default_temp5 .st-section-four{ background-color:#ffe5e5;}
.store_default_temp5 .st-section-four .st_goods_row4{ width:1212px; margin-top:40px;}
.store_default_temp5 .st-section-four .st_goods_row4 li{ float:left; width:290px; background-color:#fff; margin:0 12px 10px 0;}
.store_default_temp5 .st-section-four .st_goods_row4 li .p-img{ width:230px; height:230px; margin:10px auto;}
.store_default_temp5 .st-section-four .st_goods_row4 li .p-name{ width:100%; height:50px; line-height:50px; border-top:1px dashed #fff; text-align:center; border-bottom:1px dashed #fff; background-color:#c10b60;}
.store_default_temp5 .st-section-four .st_goods_row4 li .p-name a{ color:#fff; font-size:14px; display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; padding:0 20px;}
.store_default_temp5 .st-section-four .st_goods_row4 li .p-lie{ width:248px; height:18px; line-height:18px; padding:15px 0; margin:15px auto;}
.store_default_temp5 .st-section-four .st_goods_row4 li .p-price{font-size:22px; color:#333; float:left; width:120px; border-right:1px solid #333; text-align:right; padding-right:20px;}
.store_default_temp5 .st-section-four .st_goods_row4 li .p-btn{ float:left; padding-left:20px;}
.store_default_temp5 .st-section-four .st_goods_row4 li .p-btn a{ display:block; font-size:18px; font-weight:bold; color:#e91478; margin-top:-2px;}

.store_default_temp5 .st-section-five .st_item{ margin-top:40px;}
.store_default_temp5 .st-section-five .st_item{ width:1210px;}
.store_default_temp5 .st-section-five .st_item li{ float:left; width:393px; height:260px; margin:0 10px 10px 0;}
/* 店铺新增可视化模板样式 end*/

/* 专题新增可视化模板样式 start*/
/* 专题可视化模板一 */
.topicFloor.lyrow.ui-draggable{ background:none;}
/*.demo .topicFloor.visual-item{ margin-top:0;}*/
.topicFloor-content .w1000{ margin:0 auto; width:1000px;}

.topic_template_1 .tt-section .title{ text-align:center; padding:40px 20px; width:560px; margin:0 auto; background:url(../images/title_icon.png) center center no-repeat; color:#fff;}
.topic_template_1 .tt-section .title h3{ font-size:45px; line-height:45px;}
.topic_template_1 .tt-section .title h1{ font-size:60px; line-height:60px; margin-top:20px;}
.topic_template_1 .tt-section .tt_item{ margin-bottom:12px;}
.topic_template_1 .tt-section .tt_item .row3{ width:1010px;}
.topic_template_1 .tt-section .tt_item .row3 li{ float:left; width:326px; margin:0 10px 12px 0;}

.topic_template_1 .tt-section .st_goods_row3{ width:1020px;}
.topic_template_1 .tt-section .st_goods_row3 li{ float:left; width:234px; padding:30px 43px 0; background:#fff; margin:0 20px 30px 0;}
.topic_template_1 .tt-section .st_goods_row3 li .p-img{ width:234px; height:234px;}
.topic_template_1 .tt-section .st_goods_row3 li .p-name{ padding-top:10px;}
.topic_template_1 .tt-section .st_goods_row3 li .p-name a{ font-size:16px; color:#333; display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.topic_template_1 .tt-section .st_goods_row3 li .p-name a:hover{ color:#f42424;}
.topic_template_1 .tt-section .st_goods_row3 li .p-lie{ overflow:hidden; margin-top:5px;}
.topic_template_1 .tt-section .st_goods_row3 li .p-price{ float:left; font-size:24px; color:#f42424;}
.topic_template_1 .tt-section .st_goods_row3 li s{ line-height:36px; color:#b2b2b2; font-size:14px; margin-left:10px;}
.topic_template_1 .tt-section .st_goods_row3 li .p-btn{ margin:10px 0;}
.topic_template_1 .tt-section .st_goods_row3 li .p-btn a{ display:block; width:234px; height:58px; color:#fff; font-size:24px; background-color:#ff0066; text-align:center; line-height:58px; border-radius:4px; box-shadow:0px 1px 3px 1px #ccc;}
.topic_template_1 .tt-section .st_goods_row3 li .p-btn .iconfont{ font-size:22px; margin:-2px 0 0 5px;}

.topic_template_1 .tt_item_tab{ overflow:hidden;}
.topic_template_1 .tt_item_tab li{ float:left; width:33.3%; height:68px; line-height:68px; font-size:20px; color:#fff; background-color:#6c01af; text-align:center;}
.topic_template_1 .tt_item_tab li .iconfont{ font-size:22px; margin-right:10px; vertical-align:middle;}
.topic_template_1 .tt_item_tab li.current{ font-weight:bold; color:#6c01af; background-color:#fff;}

.topic_template_1 .tt_item_content ul{ width:1010px;}
.topic_template_1 .tt_item_content li{ float:left; width:210px; margin:10px 10px 0 0; padding:0 16px; background-color:#fff;}
.topic_template_1 .tt_item_content li .p-img{ width:190px; height:190px; margin:10px auto;}

.topic_template_1 .tt-section-three .tt_item_content .f-r-main{ margin-top:0;}
.topic_template_1 .tt-section-three .tt_item_content li .p-name{ font-size:16px; padding-bottom:5px; border-bottom:1px dashed #dcdcdc;}
.topic_template_1 .tt-section-three .tt_item_content li .p-name a{ width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:block;}
.topic_template_1 .tt-section-three .tt_item_content li .p-price{ font-size:24px; font-weight:bold; color:#fc4a13; margin-bottom:5px;}
.topic_template_1 .tt-section-three .tt_item_content li .p-price em{ font-size:16px; font-weight:normal;}
.topic_template_1 .tt-section-three .tt_item_content li .p-btn{ margin-bottom:10px;}
.topic_template_1 .tt-section-three .tt_item_content li .p-btn a{ display:block; height:50px; line-height:50px; background-color:#fc4a13; text-align:center; color:#fff; font-size:24px;}

.topic_template_1 .tt-section-four .tt_item_content li{ padding-bottom:10px;}
.topic_template_1 .tt-section-four .tt_item_content li .p-name{ font-size:14px; margin-bottom:5px;}
.topic_template_1 .tt-section-four .tt_item_content li .p-name a{ width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:block;}
.topic_template_1 .tt-section-four .tt_item_content li .p-lie{ float:left;}
.topic_template_1 .tt-section-four .tt_item_content li .p-lie .p-price{ font-size:20px; font-weight:bold;}
.topic_template_1 .tt-section-four .tt_item_content li .p-lie .p-price em{ font-size:14px; font-weight:normal; margin-right:2px;}
.topic_template_1 .tt-section-four .tt_item_content li .p-lie .p-s-price{ font-size:16px; color:#d2d2d2; text-decoration:line-through;}
.topic_template_1 .tt-section-four .tt_item_content li .p-btn{ float:right; margin-top:8px;}
.topic_template_1 .tt-section-four .tt_item_content li .p-btn a{ display:block; width:38px; height:38px; line-height:38px; text-align:center; background-color:#fe483e; border-radius:50%;}
.topic_template_1 .tt-section-four .tt_item_content li .p-btn .iconfont{ color:#fff; font-size:30px;}


.topic_template_2 .tt-section{ margin-bottom:20px;}
.topic_template_2 .tt-section-one .row5{ width:1010px;}
.topic_template_2 .tt-section-one .row5 li{ float:left; margin-right:12px;}
.topic_template_2 .title{ width:100%; height:305px; background:url(../images/title_bg.png) center center no-repeat; overflow:hidden;color:#fff;}
.topic_template_2 .title h3{ font-size:48px; text-align:center; margin-top:46px; font-weight:bold; font-style:italic;}

.topic_template_2 .tt_item_1{ margin-top:-135px;}
.topic_template_2 .st_goods_row5{ width:1007px;}
.topic_template_2 .st_goods_row5 li{ float:left; width:194px; background-color:#fff; text-align:center; margin:0 7px 7px 0; position:relative;}
.topic_template_2 .st_goods_row5 li .p-img{ width:160px; height:160px; margin:10px auto;}
.topic_template_2 .st_goods_row5 li .p-name{ width:150px; margin:0 auto;}
.topic_template_2 .st_goods_row5 li .p-name a{ overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:block; font-size:14px;}
.topic_template_2 .st_goods_row5 li .p-price{ font-size:24px; color:#fc4a13; font-weight:bold;}
.topic_template_2 .st_goods_row5 li .p-price em{ font-size:18px; font-weight:normal;}
.topic_template_2 .st_goods_row5 li .p-btn{ margin:10px 0 15px;}
.topic_template_2 .st_goods_row5 li .p-btn a{ width:158px; height:38px; line-height:38px; display:block; border-radius:20px; border:1px solid #fc4a13; text-align:center; font-size:18px; color:#f02300; font-weight:bold; margin:0 auto;}
.topic_template_2 .st_goods_row5 li .p-btn a .iconfont{ font-size:24px; font-weight:normal; vertical-align:middle; margin-right:5px;}

.topic_template_2 .tt-section-three .st_goods_row5 li .p-lie,
.topic_template_2 .tt-section-four .st_goods_row5 li .p-lie{ width:150px; margin:0 auto; text-align:left; overflow:hidden;}

.topic_template_2 .tt-section-three .st_goods_row5 li .p-lie .p-price,
.topic_template_2 .tt-section-four .st_goods_row5 li .p-lie .p-price{ float:left;}

.topic_template_2 .tt-section-three .st_goods_row5 li .p-lie .p-price-s,
.topic_template_2 .tt-section-four .st_goods_row5 li .p-lie .p-price-s{ float:left; line-height:36px; color:#b2b2b2;text-decoration:line-through;}

.topic_template_2 .tt-section-four .tt_item_tab{ width:1007px; margin-bottom:10px;}
.topic_template_2 .tt-section-four .tt_item_tab:after{ content: ' '; display: block; clear: both; height: 0; visibility: hidden;}
.topic_template_2 .tt-section-four .tt_item_tab li{ float:left; width:194px; height:66px; line-height:66px; font-size:24px; text-align:center; color:#fff; background-color:#a01902; margin-right:7px;}
.topic_template_2 .tt-section-four .tt_item_tab li.current{ height:76px; line-height:76px; margin-top:-10px; background-color:#be1c01; font-weight:bold;}

.topic_template_2 .tt-section-five .st_goods_row5 li .p-btn a{ border-radius:3px; background-color:#fe483e; color:#fff; font-weight:normal;}
.topic_template_2 .tt-section-five .st_goods_row5 li .p-btn a em{ width:32px; height:32px; line-height:32px; border-radius:50%; background-color:#fff; display:inline-block; text-align:center; margin-left:10px;}
.topic_template_2 .tt-section-five .st_goods_row5 li .p-btn a em .iconfont{ color:#f42424; margin-right:0;}

/* 专题可视化模板三 */
.topic_template_3 .title{ width:988px; height:99px; background:url(../images/title_bg_topic3.png) no-repeat; margin:30px auto; text-align:center; overflow:hidden;color:#000;}
.topic_template_3 .title h3{ font-size:36px; margin-top:30px; font-weight:bold;}
.topic_template_3 .st_goods_row4{ width:1013px;}
.topic_template_3 .st_goods_row4 li{ float:left; background-color:#fff; margin:0 13px 12px 0; width:240px;}
.topic_template_3 .st_goods_row4 li .p-img{ width:220px; height:220px; margin:10px auto 30px;}
.topic_template_3 .st_goods_row4 li .p-name{ width:220px; padding:10px 10px 0 10px; border-top:1px solid #f4f4f4; font-size:14px;}
.topic_template_3 .st_goods_row4 li .p-name a{ color:#999; height:40px; display:block; overflow:hidden;}
.topic_template_3 .st_goods_row4 li .p-name a:hover{ color:#2db1fc;}
.topic_template_3 .st_goods_row4 li .p-lie{ width:220px; margin:10px auto; overflow:hidden;}
.topic_template_3 .st_goods_row4 li .p-lie .p-price{ width:118px; height:48px; line-height:48px; border:1px solid #2db1fc; color:#666; font-weight:bold; font-size:18px; text-align:center; float:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.topic_template_3 .st_goods_row4 li .p-lie .p-price em{ color:#2db1fc; font-size:14px;}
.topic_template_3 .st_goods_row4 li .p-lie .p-btn{ float:left; width:100px;}
.topic_template_3 .st_goods_row4 li .p-lie .p-btn a{ display:block; width:100%; height:48px; line-height:48px; border:1px solid #2db1fc; background-color:#2db1fc; color:#fff; font-size:18px; text-align:center;}

.topic_template_3 .row5{ width:1012px;}
.topic_template_3 .row5 li{ float:left; width:190px; margin:0 12px 10px 0;}
.topic_template_3 .tt_item_left{ float:left; width:324px; margin-right:14px;}
.topic_template_3 .tt_item_con{ float:left; width:324px; margin-right:14px;}
.topic_template_3 .tt_item_right{ float:left; width:324px;}
.topic_template_3 .tt_item_left a,.topic_template_3 .tt_item_right a{ display:block;}
.topic_template_3 .tt_item_left a:first-child,.topic_template_3 .tt_item_right a:first-child{ margin-bottom:9px;}

.topic_template_3 .st_goods_row5{ width:1006px;}
.topic_template_3 .st_goods_row5 li{ float:left; background-color:#fff; width:195px; margin:0 6px 6px 0;}
.topic_template_3 .st_goods_row5 li .p-img{ width:180px; height:180px; margin:10px auto;}
.topic_template_3 .st_goods_row5 li .p-name{ width:165px; margin:0 auto;}
.topic_template_3 .st_goods_row5 li .p-name a{ font-size:13px; display:block; height:38px; overflow:hidden; color:#999;}
.topic_template_3 .st_goods_row5 li .p-price{ font-size:24px; color:#666; font-weight:bold; width:165px; margin:0 auto;}
.topic_template_3 .st_goods_row5 li .p-price em{ font-size:18px;}
.topic_template_3 .st_goods_row5 li .p-btn{ width:165px; margin:15px auto 10px;}
.topic_template_3 .st_goods_row5 li .p-btn a{ display:block; height:40px; line-height:40px; background-color:#2db1fc; color:#fff; font-size:18px; text-align:center;}
/* 专题新增可视化模板样式 end*/

