
<h1 class="sectionedit1" id="technical_spec">Technical Spec</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=technical_spec:system_arc" class="wikilink1" title="technical_spec:system_arc">System Architecture</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=technical_spec:multi_channel_system" class="wikilink1" title="technical_spec:multi_channel_system">Multi Channel System</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=technical_spec:user_system" class="wikilink1" title="technical_spec:user_system">User System</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=technical_spec:saja_cash_flow" class="wikilink1" title="technical_spec:saja_cash_flow">Saja Cash Flow</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=technical_spec:saja_shop_system" class="wikilink1" title="technical_spec:saja_shop_system">Saja Shop System</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=technical_spec:exchange_mall" class="wikilink1" title="technical_spec:exchange_mall">Exchange Mall</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki/doku.php?id=technical_spec:mobile_api" class="wikilink1" title="technical_spec:mobile_api">Mobile API</a></div>
</li>
</ul>

</div>
