
<h1 class="sectionedit1" id="prd_task">PRD Task</h1>
<div class="level1">
<div class="table sectionedit2"><table class="inline">
	<tr class="row0">
		<th class="col0"> No </th><th class="col1"> Layer </th><th class="col2"> Task </th><th class="col3"> Owner </th><th class="col4"> 預估工時 </th><th class="col5"> 誤差工時 </th><th class="col6"> 實際工時 </th><th class="col7"> Description </th>
	</tr>
	<tr class="row1">
		<td class="col0"> </td><td class="col1"> </td><td class="col2 leftalign"> 金流系統報表功能   </td><td class="col3"> Debbie </td><td class="col4 leftalign">         </td><td class="col5 leftalign">          </td><td class="col6 leftalign">         </td><td class="col7 leftalign">             </td>
	</tr>
	<tr class="row2">
		<td class="col0"> </td><td class="col1"> </td><td class="col2"> 結標報表功能 </td><td class="col3"> Debbie </td><td class="col4 leftalign">         </td><td class="col5 leftalign">          </td><td class="col6 leftalign">         </td><td class="col7 leftalign">             </td>
	</tr>
	<tr class="row3">
		<td class="col0"> </td><td class="col1"> </td><td class="col2"> 拆帳報表功能 </td><td class="col3"> Debbie </td><td class="col4 leftalign">         </td><td class="col5 leftalign">          </td><td class="col6 leftalign">         </td><td class="col7 leftalign">             </td>
	</tr>
	<tr class="row4">
		<td class="col0"> </td><td class="col1"> </td><td class="col2"> 經銷商功能 </td><td class="col3"> Debbie </td><td class="col4 leftalign">         </td><td class="col5 leftalign">          </td><td class="col6 leftalign">         </td><td class="col7 leftalign">             </td>
	</tr>
	<tr class="row5">
		<td class="col0"> </td><td class="col1"> </td><td class="col2"> 經銷商分館功能 </td><td class="col3"> Debbie </td><td class="col4 leftalign">         </td><td class="col5 leftalign">          </td><td class="col6 leftalign">         </td><td class="col7 leftalign">             </td>
	</tr>
</table></div>
<!-- EDIT2 TABLE [24-525] -->
</div>
<!-- EDIT1 SECTION "PRD Task" [1-526] -->
<h1 class="sectionedit3" id="admin_task">Admin Task</h1>
<div class="level1">
<div class="table sectionedit4"><table class="inline">
	<tr class="row0">
		<th class="col0"> No </th><th class="col1"> Layer </th><th class="col2"> Task </th><th class="col3"> Owner </th><th class="col4"> 預估工時 </th><th class="col5"> 誤差工時 </th><th class="col6"> 實際工時 </th><th class="col7"> Description </th>
	</tr>
	<tr class="row1">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> 競標商品分類 saja_product_category   </td><td class="col3"> Howard </td><td class="col4 leftalign">         </td><td class="col5 leftalign">          </td><td class="col6 leftalign">         </td><td class="col7 leftalign">             </td>
	</tr>
	<tr class="row2">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> 競標商品 saja_product  </td><td class="col3"> Howard </td><td class="col4 leftalign">         </td><td class="col5 leftalign">          </td><td class="col6 leftalign">         </td><td class="col7 leftalign">             </td>
	</tr>
	<tr class="row3">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> 經銷商管理 saja_channel  </td><td class="col3"> Howard </td><td class="col4 leftalign">         </td><td class="col5 leftalign">          </td><td class="col6 leftalign">         </td><td class="col7 leftalign">             </td>
	</tr>
	<tr class="row4">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> 分館管理 saja_store  </td><td class="col3"> Howard </td><td class="col4 leftalign">         </td><td class="col5 leftalign">          </td><td class="col6 leftalign">         </td><td class="col7 leftalign">             </td>
	</tr>
	<tr class="row5">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> 拆帳分類管理 saja_profit_sharing_category  </td><td class="col3"> Howard </td><td class="col4 leftalign">         </td><td class="col5 leftalign">          </td><td class="col6 leftalign">         </td><td class="col7 leftalign">             </td>
	</tr>
	<tr class="row6">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> 經銷商公告管理 saja_news  </td><td class="col3"> Howard </td><td class="col4 leftalign">         </td><td class="col5 leftalign">          </td><td class="col6 leftalign">         </td><td class="col7 leftalign">             </td>
	</tr>
	<tr class="row7">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> 經銷商公告分類管理 saja_news_category  </td><td class="col3"> Howard </td><td class="col4 leftalign">         </td><td class="col5 leftalign">          </td><td class="col6 leftalign">         </td><td class="col7 leftalign">             </td>
	</tr>
	<tr class="row8">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> saja_user 會員管理  </td><td class="col3"> Howard </td><td class="col4 leftalign">          </td><td class="col5 leftalign">          </td><td class="col6 leftalign">         </td><td class="col7 leftalign">             </td>
	</tr>
	<tr class="row9">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> saja_user_profile 會員詳細資料  </td><td class="col3"> Howard </td><td class="col4 leftalign">          </td><td class="col5 leftalign">          </td><td class="col6 leftalign">         </td><td class="col7 leftalign">             </td>
	</tr>
	<tr class="row10">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> saja_user_sms_auth 會員手機驗證記錄  </td><td class="col3"> Howard </td><td class="col4 leftalign">          </td><td class="col5 leftalign">          </td><td class="col6 leftalign">         </td><td class="col7 leftalign">             </td>
	</tr>
	<tr class="row11">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> exchange_mall 兌換中心  </td><td class="col3"> YuMin </td><td class="col4 leftalign">         </td><td class="col5 leftalign">          </td><td class="col6 leftalign">       </td><td class="col7 leftalign">20131125            </td>
	</tr>
	<tr class="row12">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> exchange_store 兌換店家  </td><td class="col3"> YuMin </td><td class="col4 leftalign">         </td><td class="col5 leftalign">          </td><td class="col6 leftalign">          </td><td class="col7 leftalign">20131125           </td>
	</tr>
	<tr class="row13">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> exchange_product_category 兌換商品分類  </td><td class="col3"> YuMin </td><td class="col4 leftalign">          </td><td class="col5 leftalign">          </td><td class="col6 leftalign">          </td><td class="col7 leftalign">20131127            </td>
	</tr>
	<tr class="row14">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> exchange_product 兌換商品  </td><td class="col3"> YuMin </td><td class="col4 leftalign">          </td><td class="col5 leftalign">          </td><td class="col6 leftalign">          </td><td class="col7 leftalign">20131127            </td>
	</tr>
	<tr class="row15">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> order 訂單管理  </td><td class="col3"> YuMin </td><td class="col4 leftalign">          </td><td class="col5 leftalign">          </td><td class="col6 leftalign">          </td><td class="col7 leftalign">20131128          </td>
	</tr>
	<tr class="row16">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> stock 庫存管理  </td><td class="col3"> YuMin </td><td class="col4 leftalign">         </td><td class="col5 leftalign">          </td><td class="col6 leftalign">          </td><td class="col7 leftalign">20131129            </td>
	</tr>
	<tr class="row17">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> promote_rule 活動規則  </td><td class="col3"> YuMin </td><td class="col4 leftalign">          </td><td class="col5 leftalign">          </td><td class="col6 leftalign">          </td><td class="col7 leftalign">20131126            </td>
	</tr>
	<tr class="row18">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> promote_rule_item 活動規則項目  </td><td class="col3"> YuMin </td><td class="col4 leftalign">          </td><td class="col5 leftalign">          </td><td class="col6 leftalign">          </td><td class="col7 leftalign">20131126           </td>
	</tr>
	<tr class="row19">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> exchange_bonus_history 兌換紅利記錄  </td><td class="col3"> YuMin </td><td class="col4 leftalign">         </td><td class="col5 leftalign">          </td><td class="col6 leftalign">          </td><td class="col7 leftalign">20131129             </td>
	</tr>
	<tr class="row20">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> exchange_gift_history 兌換禮券記錄  </td><td class="col3"> YuMin </td><td class="col4 leftalign">         </td><td class="col5 leftalign">          </td><td class="col6 leftalign">          </td><td class="col7 leftalign">20131129            </td>
	</tr>
	<tr class="row21">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> return_history 退貨記錄  </td><td class="col3"> YuMin </td><td class="col4 leftalign">         </td><td class="col5 leftalign">          </td><td class="col6 leftalign">          </td><td class="col7 leftalign">20131129            </td>
	</tr>
	<tr class="row22">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> saja_country 國別管理  </td><td class="col3"> YuMin </td><td class="col4 leftalign">         </td><td class="col5 leftalign">          </td><td class="col6 leftalign">          </td><td class="col7 leftalign">20131202            </td>
	</tr>
	<tr class="row23">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> saja_language 語系管理  </td><td class="col3"> YuMin </td><td class="col4 leftalign">         </td><td class="col5 leftalign">          </td><td class="col6 leftalign">         </td><td class="col7 leftalign">20131202             </td>
	</tr>
	<tr class="row24">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> saja_bonus 紅利帳戶  </td><td class="col3"> YuMin </td><td class="col4 leftalign">         </td><td class="col5 leftalign">          </td><td class="col6 leftalign">         </td><td class="col7 leftalign">20131203            </td>
	</tr>
	<tr class="row25">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> saja_deposit 儲值帳戶  </td><td class="col3"> YuMin </td><td class="col4 leftalign">      </td><td class="col5 leftalign">          </td><td class="col6 leftalign">         </td><td class="col7 leftalign">20131202              </td>
	</tr>
	<tr class="row26">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> saja_deposit_rule 儲值規則  </td><td class="col3"> YuMin </td><td class="col4 leftalign">        </td><td class="col5 leftalign">          </td><td class="col6 leftalign">         </td><td class="col7 leftalign">20131202            </td>
	</tr>
	<tr class="row27">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> saja_deposit_rule_item 儲值規則項目  </td><td class="col3"> YuMin </td><td class="col4 leftalign">        </td><td class="col5 leftalign">          </td><td class="col6 leftalign">         </td><td class="col7 leftalign">20131202              </td>
	</tr>
	<tr class="row28">
		<td class="col0"> </td><td class="col1"> 1 </td><td class="col2 leftalign"> saja_gift 禮券帳戶  </td><td class="col3"> YuMin </td><td class="col4 leftalign">          </td><td class="col5 leftalign">          </td><td class="col6 leftalign">         </td><td class="col7 leftalign">20131203             </td>
	</tr>
</table></div>
<!-- EDIT4 TABLE [552-3477] -->
</div>
<!-- EDIT3 SECTION "Admin Task" [527-3479] -->
<h1 class="sectionedit5" id="site_task">Site Task</h1>
<div class="level1">
<div class="table sectionedit6"><table class="inline">
	<tr class="row0">
		<th class="col0"> No </th><th class="col1"> Layer </th><th class="col2"> Task </th><th class="col3"> Owner </th><th class="col4"> 預估工時 </th><th class="col5"> 誤差工時 </th><th class="col6"> 實際工時 </th><th class="col7"> Description </th>
	</tr>
	<tr class="row1">
		<td class="col0"> </td><td class="col1 leftalign">  </td><td class="col2 leftalign"> 首頁切板   </td><td class="col3"> Howard </td><td class="col4 leftalign">         </td><td class="col5 leftalign">          </td><td class="col6 leftalign">         </td><td class="col7 leftalign">             </td>
	</tr>
</table></div>
<!-- EDIT6 TABLE [3504-3670] -->
</div>
<!-- EDIT5 SECTION "Site Task" [3480-] -->