{include file="page_header"}
<div class="con">
    <section class=" store_info">
        <script id="j-product" type="text/html">
            <%if list.list !==''%>
            <section class=" j-f-tel padding-lr b-color-f">
                <%each list.list as item%>
                <div class="text-all dis-box j-text-all b-color-f card-div">
                    <div class="box-flex">
                        <%if item.short_change_desc_part1%>
                        <p><%item.short_change_desc_part1%></p>
                        <p><%item.short_change_desc_part2%></p>
                        <%else%>
                        <p><%item.short_change_desc%></p>
                        <%/if%>
                        <span><%item.change_time%></span>
                    </div>
                    <div class="input-text text-right"><span class="t-remark"><%item.amount%></span></div>
                </div>
                <%/each%>
            </section>
            <%else%>
            <div class="no-div-message">
                <i class="iconfont icon-biaoqingleiben"></i>
                <p>亲，此处没有内容～！</p>
            </div>
            <%/if%>
        </script>
    </section>
</div>
<!--引用js-->
<!--快捷导航-->
{include file="float_nav"}
<li>
    <a href="{url('user/account/index')}">
        <i class="iconfont icon-money"></i>
        <p>资金管理</p>
    </a>
</li>
{include file="float_nav_footer"}
<script>
    var infinite = $('.store_info').infinite({url: "{url('user/account/detail')}", template: 'j-product'});
</script>
</body>

</html>