{include file="page_header"}

<section class="product-list product-list-small">
	<ul>
		<li>
			<div class="product-div">
				<a class="product-div-link" href="{U('goods/index/index',array('id'=>$goods_info.goods_id))}"></a>
				<img class="product-list-img" src="{$goods_info.goods_img}">

				<div class="product-text">
					<h4>{$goods_info.goods_name}</h4>
					<p class="t-remark">{$goods_info.goods_attr}</p>
                    <p class="fl"><span class="p-price t-first ">{$goods_info.shop_price}</span></p>
				</div>
			</div>
		</li>
	</ul>
</section>

<form id="subform" enctype="multipart/form-data" method="post" action="">
	<div class="page">
		<section class="m-top06 padding-all b-color-f">
			<div class="dis-box position-rel evaluation-all">
				<label class="t-remark g-t-temark">评价</label>
				<div class="evaluation-all-r j-evaluation-star">
					<span class="evaluation-star ts-3 active"> <i class="iconfont icon-wujiaoxing"></i></span>
					<span class="evaluation-star ts-3 active"> <i class="iconfont icon-wujiaoxing"></i></span>
					<span class="evaluation-star ts-3 active"> <i class="iconfont icon-wujiaoxing"></i></span>
					<span class="evaluation-star ts-3 active"> <i class="iconfont icon-wujiaoxing"></i></span>
					<span class="evaluation-star ts-3 active"> <i class="iconfont icon-wujiaoxing"></i></span>
					<input class="j-evaluation-value" type="hidden" name="comment_rank" value="5">
				</div>
			</div>
		</section>
		<section class="m-top1px padding-all b-color-f">
			<div class="text-area1">
				<textarea rows="4" maxlength="100" placeholder="商品质量如何？大小合适么？快写下你的评价，分享给大家吧！(0-100字)" name="content"></textarea>
				<span>100</span>
			</div>
		</section>
	        <section class="user-return-list-box padding-all b-color-f m-top08">
            <h4 class="f-04 col-7">图片信息</h4>
            <div class="form-group add-img-n-maxbox" style="margin-bottom:0">
                <div class=" ">
                       <div class="over-n position-rel n-apply-img-box" name="add_img">
                        {foreach $img as $pic}
                        <div class='goods-info-img-box'><div class='goods-info-img'><img src='{$pic.pic}' width='100%' data-index='{$pic.img_id}'/></div></div>
                        <input name='img[]' type='hidden' value='{$pic.pic}'>
                        {/foreach}
                    </div>
                     <div class="n-add-ts-cont">
                        <input type='hidden' name='textfield' id='textfield' class='txt'/>
                     </div>
                </div>
                <li class="user-return-img position-rel text-c m-top10">
                    <h5 class="m-top08"><i class="iconfont icon-jiahao"></i></h5>
                    <p class="f-03 col-9">上传照片</p>
                    <input type="file" name="file" class="file" id="file" size="28" onchange="document.getElementById('textfield').value=this.value;UpladFile()" />
                </li>
                <!--图片放大-->
                <div class="weui-gallery" id="gallery">
                    <span class="weui-gallery__img" id="galleryImg"></span>
                    <div class="weui-gallery__opr">
                        <a href="javascript:" class="weui-gallery__del galleryDel">
                            <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
	</div>
	<div class="ect-button-more padding-all">
        <input type="hidden" name="order_id" value="{$order_id}">
        <input type="hidden" name="goods_id" value="{$goods_id}">
        <input type="hidden" name="rec_id" value="{$rec_id}">
        <input type="hidden" name="goods_image" value="{$goods_info.goods_img}"  />
		<a href="javascript:;" onclick="document.getElementById('subform').submit();" class="btn-submit box-flex br-5 min-btn">提交评论</a>
	</div>
</form>

<script type="text/javascript">
	var xhr;
    function createXMLHttpRequest()
    {
        if(window.ActiveXObject)
        {
            xhr = new ActiveXObject("Microsoft.XMLHTTP");
        }
        else if(window.XMLHttpRequest)
        {
            xhr = new XMLHttpRequest();
        }
    }
    function UpladFile()
    {
        var fileObj = document.getElementById("file").files[0];
        if(fileObj == undefined){
            return false;
        }
        var url
        var goods_id  = $('input[name="goods_id"]').val();
        var order_id  = $('input[name="order_id"]').val();
        var rec_id  = $('input[name="rec_id"]').val();
        var FileController = "{url('user/index/add_comment_img')}";

        var form = new FormData();
        form.append("myfile", fileObj);
        form.append("order_id", order_id);
        form.append("goods_id", goods_id);
        form.append("rec_id", rec_id);
        createXMLHttpRequest();
        xhr.onreadystatechange = handleStateChange;
        xhr.open("post", FileController, true);
        xhr.send(form);
    }
    function handleStateChange()
    {
        if(xhr.readyState == 4) {
            if (xhr.status == 200 || xhr.status == 0) {
                var result = xhr.responseText;
                var obj =  JSON.parse(result);

                if(obj.error == 1){
                    d_messages(obj.content);
                    return false;
                }
                var i = '';
                var new_img = '';

                $('div[name="add_img"]').empty();
                for (i=0;i<obj.length;i++) {
                    new_img += "<div class='goods-info-img-box'><div class='goods-info-img'><img src='" + obj[i].pic + "' width='100%' data-index='"+obj[i].img_id+"'/></div></div>";
                    new_img += "<input name='img[]' type='hidden' value='"+obj[i].pic+"'>";
                }
                $('div[name="add_img"]').append(new_img);
            }
        }
    }
    var goods_id = $("input[name='goods_id']").val();

    $('div[name=add_img]').on( 'click','.clear_pictures',function(){

        $.post("{url('clear_comment_img')}", {goods_id:goods_id}, function(data){
            if(data.error == 0){
                $('div[name=add_img]').empty();
            }
        }, 'json');
    });

    //显示删除图片
    var $gallery = $("#gallery"),
        $galleryImg = $("#galleryImg");

    $('div[name=add_img]').on('click','img',function(){
        $galleryImg.attr("style", this.getAttribute("style"));
        $galleryImg.attr("data-index", this.getAttribute("data-index"));
        $galleryImg.css("background-image", "url("+this.getAttribute("src")+")");
        $gallery.fadeIn(100);
    });

    $gallery.on("click", function(){
        $gallery.fadeOut(100);
    });
    $('.galleryDel').on('click', function(){
        var index = $galleryImg.attr("data-index");
        $.post("{url('clear_comment_img')}", {goods_id:goods_id, id:index}, function(data){
            if(data.error == 0){
                $('img[data-index='+index+']').parent().parent('.goods-info-img-box').remove();
            }
        }, 'json');
    });
</script>

</body>
</html>