{include file="page_header"}

    <div class="con mb-7" id="checkPage">
        <!--商品list -s-->
        <section class="flow-checkout-pro j-flow-checkout-pro b-bor">
            <div class="product-list-small b-color-f dis-box">
                <ul class="box-flex flow-checkout-bigpic" style="display:block;">
                    <li>
                        <div class="product-div">
                            <img class="product-list-img" src="{$goods.goods_thumb}">
                            <div class="product-text">
                                <h4>{$goods.goods_name}</h4>
                                <p>
                                    <span class="p-price t-first "><em>¥</em>{$goods.goods_price}<small class="fr t-remark">x{$goods.goods_number}</small></span>
                                </p>
                                <p class="dis-box p-t-remark">{$goods.goods_attr}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        {if $goods_cause}
        <form  name="formReturn" method="post" action="{url('user/refound/submit_return')}" enctype="multipart/form-data" class="validform" onsubmit="return checkSubmit();">
            <input type="hidden" name="return_type" value="0">
            <input name="return_rec_id" value="{$return_rec_id}" type="hidden" />
            <input name="return_g_id" value="{$return_g_id}" type="hidden" />
            <input name="return_g_number" value="{$return_g_number}" type="hidden" />
            <section class="user-return-list-box padding-all b-color-f m-top08">
                <h4 class="f-04 col-7" style="padding:0;"><em>* {$lang.reminder}：</em>{$lang.reminder_one}
                {if $goods['user_id'] > 0}<a href="{url('store/index/shop_about', array('ru_id' => $goods['user_id']))}"><em>{$goods.user_name}</em></a>{else}<em>{$goods.user_name}</em>
                {/if}
                {$lang.reminder_two}
                </h4>
            </section>

            <!--商品list -e-->
            <section class="user-return-list-box padding-all b-color-f m-top08">
                <h4 class="f-04 col-7">{$lang.service_type}<em>*</em></h4>
                <div class="select-one-1 ect-bg-colorf user-service n-user-service">
                    <ul class="dis-box j-get-one ect-radio-2 j-refound-type">
                        {foreach $goods_cause as $val}
                        <li class="ect-select list-select hasgoods my-but-pre j-return-rom">
                            <input name="return_type" type="radio" id="msg-type{$val.cause}" value="{$val.cause}" {if $val.is_checked eq 1} checked{/if}>
                            <label class="ts-1 dis-block {if $val.is_checked eq 1} active {/if}" for="msg-type{$val.cause}">{$val.lang}<i></i></label>
                        </li>
                        {/foreach}
                    </ul>
                </div>
            </section>
            <!--换货属性-->
            <section class="user-return-list-box  b-color-f m-top08 user-return-attribute-box j-refound-spec">
                <script id="j-refound" type="text/html">
                    <%if spec_list != ''%>
                    <h4 class="f-04 col-7">{$lang.return_goods_attr}<em>*</em></h4>
                        <section>
                            <%each spec_list as spec key%>
                            <input type="hidden" name="attr_val[]" id="spec_<%key%>">
                            <div class="select-one user-service n-user-service s-return-box m-top1px">
                                <p class="f-03 col-7"><%#spec.name%>:</p>
                                <!-- 判断属性是复选还是单选 -->
                                <ul class="select-one j-get-one m-top04">
                                    <%each spec.values as spec_value%>
                                    <a class="ect-select dis-flex position-rel fl" href="javascript:;">
                                        <label class="ts-1 j-select-spec" id="for_<%key%>" value="<%spec_value.id%>"><%#spec_value.label%></label>
                                    </a>
                                    <%/each%>
                                </ul>
                            </div>
                            <%/each%>
                        </section>
                    <%/if%>
                </script>
            </section>
            <!--退货原因-->
            <section class="user-return-list-box padding-all b-color-f m-top08">
                <h4 class="f-04 col-7 j-refound-cause">{$cause_name}{$lang.cause}<em>*</em></h4>
                <div class="user-return-content position-rel">
                    <span class="" id="cause_{$return_rec_id}" >
                        <select class="select form-control parent_cause_select" name="parent_id" >
                            <option value="">{$lang.all_option}</option>
                            {$cause_list}
                        </select>
                    </span>
                    <span id="children_{$return_rec_id}" class=""></span>
                </div>
            </section>
            <!-- 商品数量 -->
            <div id="num">
            <section class="user-return-list-box padding-all b-color-f m-top08">
                <h4 class="f-04 col-7">{$lang.return_goods_number}<em>*</em></h4>
                <div class="div-num dis-box m-top08">
                    <a class="num-less" data-min-num="1"></a>
                    <input class="box-flex" type="text" value="1" name="goods_number" id="goods_number" readonly  nullmsg="数量不能为空" datatype="n" errormsg="数量为数字">
                    <a class="num-plus" data-max-num="{$goods.goods_number}"></a>
                </div>
            </section>
            </div>

            <section class="user-return-list-box padding-all b-color-f m-top08">
                <h4 class="f-04 col-7 j-refound-description">{$cause_name}{$lang.problem_desc}<em>*</em></h4>
                <div class="user-return-cont-right position-rel">
                    <textarea rows="3" name="return_brief" placeholder="{$lang.please_write}{$lang.problem_desc}" datatype="*" nullmsg="{$lang.please_write}{$lang.problem_desc}"></textarea>
                </div>
            </section>
            <section class="user-return-list-box padding-all b-color-f m-top08">
                <h4 class="f-04 col-7 j-refound-credentials">{$lang.application_credentials}</h4>
                <li class="select-three j-select-all">
                    <section class="j-get-i-more">
                        <header class="of-hidden dis-box">
                            <div class="ect-select box-flex">
                                <label class="dis-box label-this-all">
                                    <em class=" box-flex f-04 col-3 n-ti-name">{$lang.has_test_report}</em>
                                    <i class="j-select-btn active-i"></i>
                                </label>
                            </div>
                        </header>
                    </section>
                    <input type="hidden" name="credentials" value="0">
                </li>
            </section>
            <section class="user-return-list-box padding-all b-color-f m-top08">
                <h4 class="f-04 col-7">{$lang.pic_info}</h4>
                <div class="form-group add-img-n-maxbox" style="margin-bottom:0">
                    <div class=" ">
                         <div class="over-n position-rel n-apply-img-box" name="add_img">
                            {foreach $return_pic_list as $pic}
                            <div class='goods-info-img-box'><div class='goods-info-img'><img src='{$pic.pic}' width='100%' data-index='{$pic.id}'/></div></div>
                            <input name='img[]' type='hidden' value='{$pic.pic}'>
                            {/foreach}
                        </div>
                         <div class="n-add-ts-cont">
                            <input type='hidden' name='textfield' id='textfield' class='txt' />
                    	 </div>
                    </div>
                    <li class="user-return-img position-rel text-c m-top10">
                        <h5 class="m-top08"><i class="iconfont icon-jiahao"></i></h5>
                        <p class="f-03 col-9">{$lang.upload_pic}</p>
                        <input type="file" name="file" class="file" id="file" size="28" onchange="document.getElementById('textfield').value=this.value;UpladFile()" />
                    </li>
                    <!--图片放大-->
                    <div class="weui-gallery" id="gallery">
                        <span class="weui-gallery__img" id="galleryImg"></span>
                        <div class="weui-gallery__opr">
                            <a href="javascript:" class="weui-gallery__del galleryDel">
                                <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                            </a>
                        </div>
                    </div>
                </div>
                 <p class="f-03 col-7 m-top06"> {$lang.pic_info_one}</p>
            </section>

            <!--个人信息-->
            <section class="user-return-list-box padding-all b-color-f m-top08">
                <div  id="tuicause">
                <h4 class="f-04 col-7">个人信息<em>*</em></h4>
                <ul class="user-register of-hidden">
                    <li class="text-all dis-box j-text-all">
                        <div class="box-flex input-text">
                            <input class="j-input-text" type="text" id="user" name="addressee" placeholder="{$lang.contact_name}" datatype="*" nullmsg="请输入收货人姓名" value="{$userinfo.consignee}" >
                            <i class="iconfont icon-guanbi1 close-common j-is-null"></i>
                        </div>
                    </li>
                    <li class="text-all dis-box j-text-all">
                        <div class="box-flex input-text">
                            <input class="j-input-text" type="tel" id="mobile" name="mobile" placeholder="{$lang.label_mobile}"  datatype="m" errormsg="手机号码格式不正确" nullmsg="请填写手机号码" value="{$userinfo.mobile}">
                            <i class="iconfont icon-guanbi1 close-common j-is-null"></i>
                        </div>
                    </li>
                    <li class="text-all dis-box j-text-all">
                        <div class="box-flex input-text">
                            <input class="j-input-text" type="text" placeholder="请输入邮箱" name="code" value="{$userinfo.email}">
                            <i class="iconfont icon-guanbi1 close-common j-is-null"></i>
                        </div>
                    </li>
                    <!--address-start-->
                    <li class="text-all" id="editAddressForm">
                        <input type="hidden" id="province_id" name="province_region_id" value="{$consignee.province}">
                        <input type="hidden" id="city_id" name="city_region_id" value="{$consignee.city}">
                        <input type="hidden" id="district_id" name="district_region_id" value="{$consignee.district}">
                        <input type="hidden" id="town_id" name="street" value="{$consignee.street}">
                        <input type="hidden" id="village_id" name="village_region_id" value="">
                        <input type="hidden" id="region_id" name="region_id" value="">
                        <input type="hidden" id="address_id" name="address_id" value="{$consignee.address_id}">
                        <div class="address-box" id="selectAddressBtn" region-data="">
                                <label class="fl col-9 f-06">{$lang.local_area}</label>
                                <span class="fl text-all-span addressdetail" id="addressLabelId">{$userinfo.user_address}</span>
                                <span class="t-jiantou fr"><i class="iconfont icon-jiantou tf-180"></i></span>
                        </div>
                    </li>
                     <!--address-end-->
                    <li class="text-all dis-box j-text-all">
                        <div class="user-return-cont-left">{$lang.detailed_address}<em>*</em> :</div>
                        <div class="box-flex">
                            <div class="user-return-cont-right position-rel">
                                <textarea rows="3" name="return_address" tip="{$lang.please_write}{$lang.detailed_address}" altercss="user-return-cont-left" class="user-return-cont-left" datatype="*" nullmsg="{$lang.please_write}{$lang.detailed_address}">{$consignee.address}</textarea>
                            </div>
                        </div>
                    </li>
                    </div>
                    <li class="text-all dis-box">
                        <div class="user-return-cont-left">{$lang.return_remark} :</div>
                        <div class="box-flex">
                            <div class="user-return-cont-right position-rel">
                                <textarea rows="3" name="return_remark" tip="{$lang.please_write}{$lang.return_remark}" placeholder="{$lang.please_write}{$lang.return_remark}" altercss="user-return-cont-left" class="user-return-cont-left"></textarea>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <div class="padding-all user-bg m-top12">
                {$lang.return_explain}
            </div>

            <section class="filter-btn dis-box" >
                <input type="hidden" name="refound_token" value="{$refound_token}">
                <input type="hidden" name="chargeoff_status" value="{$order.chargeoff_status}" />
                <input type="submit" class="btn-submit box-flex click-show-attr add-to-cart" value="{$lang.submit_request}" style="z-index: 99999;">
            </section>
        </form>
        {else}
        <section class="user-return-list-box padding-all b-color-f m-top08 text-center">{$lang.return_goods_nonsupport}</section>
        {/if}
    </div>

<!--地区选择 s-->
{include file="address"}
<!--地区选择 e-->
    <!--快捷导航-->
    {include file="float_nav"}
     <li>
        <a href="{url('user/refound/index')}">
             <i class="iconfont icon-tuihuanhuo"></i>
             <p>售后列表</p>
        </a>
    </li>
    {include file="float_nav_footer"}
<!--引用js-->
<script type="text/javascript">
    //退货属性
    $(".j-return-attribute").click(function() {
        $(".user-return-attribute-box").addClass("active");
        swiper_scroll();
    });
    $(".j-return-rom").click(function() {
        $(".user-return-attribute-box").removeClass("active");
    });

    //表单验证
    var form = $(".validform").Validform({
        tipSweep : true,
        tiptype : function(msg){
            d_messages(msg);
        }
    });
    form.addRule([{
        ele:".select",
        datatype:"*",
        nullmsg:"请选择退换货原因！",
    }]);


    var xhr;
    function createXMLHttpRequest()
    {
        if(window.ActiveXObject)
        {
            xhr = new ActiveXObject("Microsoft.XMLHTTP");
        }
        else if(window.XMLHttpRequest)
        {
            xhr = new XMLHttpRequest();
        }
    }
    function UpladFile()
    {
        var fileObj = document.getElementById("file").files[0];
        if(fileObj == undefined){
            return false;
        }
        var rec_id  = $('input[name="return_rec_id"]').val();
        var FileController = "{url('user/refound/img_return')}";
        var form = new FormData();
        form.append("myfile", fileObj);
        form.append("rec_id", rec_id);
        createXMLHttpRequest();
        xhr.onreadystatechange = handleStateChange;
        xhr.open("post", FileController, true);
        xhr.send(form);
    }
    function handleStateChange()
    {
        if(xhr.readyState == 4)
        {
            if (xhr.status == 200 || xhr.status == 0)
            {
                var result = xhr.responseText;
                var obj =  JSON.parse(result);
                if(obj.error == 1){
                    d_messages(obj.content);
                    return false;
                }
                var i = '';
                var new_img = '';

                $('div[name="add_img"]').empty();
                for (i=0;i<obj.length;i++){
                    new_img += "<div class='goods-info-img-box'><div class='goods-info-img'><img src='" + obj[i].pic + "' width='100%' data-index='"+obj[i].id+"'/></div></div>";
                    new_img += "<input name='img[]' type='hidden' value='"+obj[i].pic+"'>";
                }
                $('div[name="add_img"]').append(new_img);
            }
        }
    }
    var rec_id = $("input[name='return_rec_id']").val();

    $('div[name=add_img]').on( 'click','.clear_pictures',function(){
        $.post("{url('clear_pictures')}", {rec_id:rec_id}, function(data){
            if(data.error == 0){
                $('div[name=add_img]').empty();
            }
        }, 'json');
    });

    //显示删除图片
    var $gallery = $("#gallery"),
        $galleryImg = $("#galleryImg");

    $('div[name=add_img]').on('click','img',function(){
        $galleryImg.attr("style", this.getAttribute("style"));
        $galleryImg.attr("data-index", this.getAttribute("data-index"));
        $galleryImg.css("background-image", "url("+this.getAttribute("src")+")");
        $gallery.fadeIn(100);
    });

    $gallery.on("click", function(){
        $gallery.fadeOut(100);
    });
    $('.galleryDel').on('click', function(){
        var index = $galleryImg.attr("data-index");
        $.post("{url('clear_pictures')}", {rec_id:rec_id, id:index}, function(data){
            if(data.error == 0){
                $('img[data-index='+index+']').parent().parent('.goods-info-img-box').remove();
            }
        }, 'json');
    });
    //

    // 申请凭据
    $('.j-select-btn').click(function(){
        var cre = $('input[name="credentials"]').val();
        if(cre == 0){
            $('input[name="credentials"]').val(1);
        }else{
            $('input[name="credentials"]').val(0);
        }
    });

    //换货数量
    var num;
    var min_num;
    var max_num;
    $(".div-num a").click(function () {
        if ($(this).hasClass("num-less")) {
            num = parseInt($(this).siblings("input").val());
            min_num = parseInt($(this).attr("data-min-num"));
            if (num > min_num) {
                num -= 1;
                $(this).siblings("input").val(num);
            } else {
                d_messages("不能小于最小数量");
                $(this).siblings("input").val(min_num);
            }
            return false;
        }
        if ($(this).hasClass("num-plus")) {
            num = parseInt($(this).siblings("input").val());
            max_num = parseInt($(this).attr("data-max-num"));
            if (num < max_num) {
                num += 1;
                $(this).siblings("input").val(num);
            } else {
                d_messages("不能超过最大数量");
                $(this).siblings("input").val(max_num);
            }
            return false;
        }
    });
    $('input[name=attr_num]').blur(function(){
        num = parseInt($(this).val());
        min_num = parseInt($(this).siblings('a.num-less').attr('data-min-num'));
        max_num = parseInt($(this).siblings('a.num-plus').attr('data-max-num'));
        if(num < min_num){
            d_messages("不能小于最小数量");
            $(this).val(min_num);
            return false;
        }else if(num > max_num){
            d_messages("不能超过最大数量");
            $(this).val(max_num);
            return false;
        }
    });


    //退换货类型切换
    var reound_data = '';
    var html = '';
    $.ajaxSetup({
        async : false
    });
    $('.j-refound-type li').click(function(){
        let returnType = [].slice.call(document.getElementsByName("return_type")).filter(item => {
            return item.checked
        });

        if(returnType[0].value == 0){
            $("#tuicause").removeAttr("style");
            document.getElementById('tuicause').style.cssText="display:block";
            $("#num").removeAttr("style");
            document.getElementById('num').style.cssText="display:block";
            $("#user").removeAttr("datatype");
            document.getElementById('user').datatype="*";
            $("#mobile").removeAttr("datatype");
            document.getElementById('mobile').datatype="m";
            $('.j-refound-cause').html('维修原因<em>*</em>');
            $('.j-refound-description').html('维修{$lang.problem_desc}<em>*</em>');
        }else if(returnType[0].value == 2){
            $("#tuicause").removeAttr("style");
            document.getElementById('tuicause').style.cssText="display:block";
            $("#num").removeAttr("style");
            document.getElementById('num').style.cssText="display:block";
            $("#user").removeAttr("datatype");
            document.getElementById('user').datatype="*";
            $("#mobile").removeAttr("datatype");
            document.getElementById('mobile').datatype="m";
            $('.j-refound-cause').html('换货原因<em>*</em>');
            $('.j-refound-description').html('换货{$lang.problem_desc}<em>*</em>');

            var id = $('input[name=return_rec_id]').val();
            $('.j-refound-data').empty();

            if(reound_data == ''){
                $.post("{url('get_spec')}", {id:id}, function(data){
                    if(data.error == 0){
                        reound_data = data;
                    }
                },'json','');
            }
            template.config('openTag', '<%');
            template.config('closeTag', '%>');
            var t = template('j-refound', {spec_list : reound_data.spec});
            $('.j-refound-spec').html(t);
            if(reound_data.spec != ''){
                $('.j-refound-spec').addClass('user-return-attribute-box');
            }else{
                $('.j-refound-spec').removeClass('user-return-attribute-box');
            }

        }else if(returnType[0].value == 1){
            document.getElementById('tuicause').style.cssText="display:none";
            $("#num").removeAttr("style");
            document.getElementById('num').style.cssText="display:block";
            $("#user").removeAttr("datatype");
            document.getElementById('user').datatype="";
            $("#mobile").removeAttr("datatype");
            document.getElementById('mobile').datatype="";
            $('.j-refound-cause').html('退货原因<em>*</em>');
            $('.j-refound-description').html('退货{$lang.problem_desc}<em>*</em>');
        }else if(returnType[0].value == 3){
            $("#tuicause").removeAttr("style");
            document.getElementById('tuicause').style.cssText="display:none";
            $("#num").removeAttr("style");
            document.getElementById('num').style.cssText="display:none";
            $("#user").removeAttr("datatype");
            document.getElementById('user').datatype="";
            $("#mobile").removeAttr("datatype");
            document.getElementById('mobile').datatype="";
            $('.j-refound-cause').html('退款原因<em>*</em>');
            $('.j-refound-description').html('退款{$lang.problem_desc}<em>*</em>');
        }

    });
    //商品属性选择
    $('.j-refound-spec').on('click', '.j-select-spec', function(){
        var label_id = $(this).attr('id');
        label_id = label_id.replace('for', 'spec');
        $('#'+label_id).val($(this).attr('value'));
    });

    // 退换货原因选择
    $('.parent_cause_select').change(function(){
        var c_id = $(this).children('option:selected').val(); //是selected的值
        var rec_id = $('input[name="return_rec_id"]').val();

        $.post("{url('select_cause')}", {c_id:c_id, rec_id:rec_id}, function(data){
            if (data.error == 0) {
                $('#children_' + rec_id).html(data.option);
            } else {
                $('#children_' + rec_id).html()
                return false;
            }
        }, 'json');

    });
</script>
</body>
</html>
