/* ===============
 * 重新定义Html元素
 * =============== */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input,img{ padding: 0;margin: 0;}
body,button,input,select,textarea{ font:12px/150% Arial,Verdana,"\5b8b\4f53";color: #666; /*background-color: #ffffff;*/}
h2,h3,h4,h5,h6{ font-size:100%;font-family: "microsoft yahei";font-weight: normal;}
address,cite,dfn,em,var{ font-style:normal;}
ul,ol{ list-style:none;}
em, i, u { font-style: normal;}
input, select, textarea {font-family: inherit;font-size: inherit;font-weight: inherit;}
a{ text-decoration:none; color: #666;}
a:hover{ color: #e23435;}
a:focus{ outline:none;}
fieldset,img{ border:0;}
button,input,select,textarea{ font-size:100%;}
table{ border-collapse:collapse;border-spacing:0;}
img{ vertical-align:middle; display:inline-block;}
.fl{ float:left;}
.fr{ float:right !important;}
.dorpdown{ position:relative;}
.icon{ background:url(images/ecsc_icon.png) no-repeat;}
.ecsc-icon { position: relative;cursor: default;zoom: 1;}
.ecsc-icon i{ display: block;position: absolute;overflow: hidden;}
.hide{ display:none;}
.show{ display:block;}
.w1390{ width:1390px !important; margin:0 auto;}
.w1200{ width:1200px !important; margin:0 auto;}
.w1000{ width:1000px !important; margin:0 auto}
.w990{ width:990px; margin:0 auto;} 
.w1390:after,.w1200:after,.w1000:after,.w990:after{ content: '';display: block;clear: both;height: 0;overflow: hidden;visibility: hidden;}
.w1140{ width:1140px !important; margin:auto;}
.w945{ width:945px !important;}
.w932{ width:932px !important;}
.w900{ width:900px !important;}
.w250{ width:250px !important;}
.w240{ width:240px !important;}
.w600{ width:600px !important;}
.w210{ width:210px !important;}
.w230{ width:230px;}
.w190{ width:190px;}
.w790{ width:790px;}
.w120{ width:120px !important;}
.left{ float:left !important;}
.right{ float:right !important;}
.blank{ width:100% !important; height:10px; overflow:hidden; float:left; clear:both;}
.overflow{ overflow: hidden;}
.relative{ position:relative;}
.clearfix{ zoom: 1;}
.clear, .clr { display: block;overflow: hidden;clear: both;height: 0;line-height: 0;font-size: 0;}
.clearfix:after,.clearfix:before{ content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.shop-price{ color:#ec5151; font-size:18px;}
.shop-price em{ font-size:12px; margin-right:2px; }
.original-price{ text-decoration: line-through; font-size:12px; color:#666;}
.prev,.next,.done-prev,.done-next{position:absolute; background:url(images/ecsc_icon.png) #a7a7a7 no-repeat; width:25px; height:45px; top:40%; text-indent:-99999px; z-index:12;}
.prev,.done-prev{ left:0;background-position: -232px 0;}
.next,.done-next{ right:0;background-position: -261px 0;}
.btn{ font-family: "microsoft yahei"; float:right; font-size:14px; color:#fff; background:#ec5151; padding:5px 12px; border-radius:5px;}
.btn:hover{ color:#fff;}
.btn-org{ color: #fff;background: #f68a00;}
.btn-org:hover{ background:#e79205;}
.picon{ background:url(images/picon.png) no-repeat;}
.new_picon{ position:absolute; overflow:hidden; width:58px; height:50px; top:0; right:0; background:url(images/ecsc_icon_two.png) no-repeat;}
.pi0{ background-position: -93px -277px;}
.pi1{ background-position: -93px -335px;}
.pi2{ background-position: -93px -398px;}
.pi3{ background-position: -93px -460px;}
.in-title{ height:40px; line-height:40px; border-bottom:1px solid #ec5151; position:relative;}
.in-title h3,.in-title .bit{ font-family: "microsoft yahei"; padding-left:32px; font-size:18px; color:#333;}
.icon-r{ position:absolute; display:inline-block; *display:inline;*zoom:1; line-height:normal; width:25px; height:25px; background:url(images/ecsc_icon.png) 0 0 no-repeat; left:0; bottom:6px;}
.love-i{ display:inline-block; *display:inline;*zoom:1; width:15px; height:15px; background:url(images/ecsc_icon.png) -106px -58px no-repeat; margin-right:6px; *background-position:-106px -61px;}
.tri { border: 3px dashed transparent;font-size: 0;height: 0;line-height: 0;position: absolute;width: 0;}
.adPos_hint{ text-align:center;display: table;}
.adPos_hint section{display: table-cell;vertical-align: middle; padding:20px; line-height:25px; border:1px solid #F00; color:#F00; font-size:14px; position:relative; z-index:99;}
.p-name a.lh36{ height:36px; line-height:18px; overflow:hidden; display:block;}

.banner-width{ width:1200px; height:auto; margin:auto; position:relative;}
.banner-width a{ display:inline-block; position:absolute; top:0; left:230px;}
.ecsc-warp{ width:1200px; height:auto; margin:auto; position:relative; z-index:100;}
.p-name{ width:100%;}
.p-num{ float:left; color:#9fa0a0}
.p-price{ color:#666; font-size:18px; padding-top:5px;}
.p-price em{ font-size:12px; margin-right:2px;}
.btn4{ color:#fff; font-size:14px; padding:5px; background:#000; font-family:"microsoft yahei"; border-radius:5px; float:left;}
.btn4:hover{ color:#fff;}
.size12{ font-size:12px;}
.dis{ position:absolute; width:42px; height:43px; top:0; right:0; background-position:-403px -142px;}
.ec-title{ height: 40px;color: #747474;padding-bottom: 5px;}
.ec-title h1 { font-size: 26px;font-weight: normal;float: left;margin-right: 10px;line-height: 40px;}
.ec-title span { float: left;font-size: 18px;margin-top: 16px;}
.ec-title h3{ font-size:18px; float:left; color:#000; line-height:40px;}
.ec-content{ margin-top:20px; float:left;}
.ecsc-cp-r{ float:left;}
.ecsc-cp-r li{ float:left; width:184px; height:247px; border:1px solid #dcdcdc; margin:-1px 0 0 -1px;}
.ecsc-cp-r .product-desc{ width:144px; height:216px; padding:16px 20px;}
.ecsc-cp-r .p-img{ width:136px; height:136px;}
.ecsc-cp-r .p-name{ font-family: "microsoft yahei";}
.ecsc-cp-r .p-name a{ display:block; height:36px; overflow:hidden;}
.ecsc-cp-r .p-name a:hover{ text-decoration:underline; color:#000;}
.ecsc-cp-r .ecsc-bp{ overflow:hidden; padding-top:10px;}
.ecsc-cp-r .p-price{ float:left;padding-top:5px;}
.ecsc-cp-r .original-price{ float:right; padding-top:7px; width:auto; color:#999;}
.btn-cart{ font-size:14px; padding:5px; border-radius:5px; border:1px solid #000;}
.hang{ width:100%; float:left;}
.hang-label{ float:left; color:#999;font-family:"microsoft yahei"; padding-top:3px;}
.rebate{ background:url(images/ecsc_icon.png) no-repeat; width:58px; height:20px;background-position:-460px -143px; color:#fff; font-size:16px; font-family:Arial, Helvetica, sans-serif; float:left;}
.rebate span{ float:left; margin:2px 2px 0 10px; *margin-top:0;}
.rebate b{ font-size:12px; font-weight:400;}
.echdong{ position:absolute; top:-12px; right:-22px;}
.echdong-icon{ background:url(images/ecsc_icon_two.png) no-repeat; float:left; width:48px; height:24px;}
.icon-give{ background-position:6px -275px;}
.icon-activity{ background-position:-2px -308px;}
.icon-voucher{ background-position:0px -341px;}
.icon-freey{ background-position:0px -379px;}
.icon-duo{ background-position:0px -311px;}

.border-dashed-bottom{ border-bottom:1px dashed #CCC;}
.border-dashed-right{ border-right:1px dashed #dcdcdc;}
.not_border{ border:0 !important;}
.p-promotions-wrap{ position:relative;}
.p-promotions{ line-height:30px;}
.h1_red_bg{ color:#fff; width:35px; height:20px; line-height:20px; background:#EC5051; margin-right: 5px;display: inline-block; text-align:center;}
.hl_red_bg{ color: #fff;background: #ec5051;padding: 3px;line-height: 12px;margin-right: 5px;display: inline-block;}
.h1_red{ color:#ec5051;}
.h1_black{ color:#666;}
.red_bg_2{ background-position:-554px -164px; width:46px;}
.ftx-01{ color:#ec5051;}
.ftx-02{ color:#333;}
.ftx-03{ color:#9fa0a0;}
.ftx-04{ color:#f68a00;}
.span_blue,.ftx-05{ color:#3a78bf;}
.ftx-06{ color:#666;}
.ftx-07{ color:#3a63c2;}
.ftx-08{ color:#333;}
.ftx-09{ color:#727171;}
.ftx-10{ color:#4f71c6;}
.ftx-11{ color:fuchsia;}
.ftx-12{ color:#FF6600;}
.ftx-13{ color:#71b247;}
.ftx-14{ color:#0000FF;}
.qingse{ color:#19826dt;}

.ftx-h1{ font-size:14px; font-weight:bold;}
.p-youhui{float:left; color:#000;font-family:"microsoft yahei";}
.btn-comment{ display:inline-block;height:30px; line-height:30px; padding:0 20px; color:#fff; background:#f68a00;font-family: '\5fae\8f6f\96c5\9ed1';}
.btn-comment:hover{ color:#fff;}
.text:focus{ outline:0;}
.nofooter{ padding:0 !important;}
.mt0{ margin-top:0 !important;}
.mt5{ margin-top:5px;}
.mt10{ margin-top:10px !important;}
.mt15{ margin-top:15px !important;}
.mt30{ margin-top:30px !important;}
.mt40{ margin-top:40px !important;}
.mt50{ margin-top:50px !important;}
.mt80{ margin-top:80px !important;}
.mt20{ margin-top:20px !important;}
.mt24{ margin-top:24px !important;}
.mt25{ margin-top:25px !important;}
.mt28{ margin-top:28px !important;}
.mb20{ margin-bottom:20px !important;}
.mb10{ margin-bottom:10px !important;}
.ml5{ margin-left:5px !important;}
.ml10{ margin-left:10px !important;}
.ml15{ margin-left:15px !important;}
.ml20{ margin-left:20px !important;}
.mr10{ margin-right:10px;}
.pb0{ padding-bottom:0 !important;}
.pb40{ padding-bottom:40px !important;}
.pb30{ padding-bottom:30px !important;}
.pb20{ padding-bottom:20px !important;}
.pt0{ padding-top:0 !important;}
.pt10{ padding-top:10px !important;}
.pt15{ padding-top:15px !important;}
.pt20{ padding-top:20px !important;}
.pt40{ padding-top:40px !important;}
.hoverBlack a:hover{ color:#000 !important;}
.borderBottom1{ border-bottom:1px solid #a3a3a3;}
.borderTop1{ border-top:2px solid #e9781c;}
.borderNone{ border:none !important;}
.btns{ float:left;width:180px; padding-top:3px;}
.btns .num{ color:#666; float:left; line-height:30px;}
.btn-9{ font-family: "microsoft yahei";float: right;font-size: 14px;color: #e9781c;background: #fff;padding: 4px 12px;border-radius: 5px; border:1px solid #e9781c;}
.group-right{ float:right;}
.lineHeight30{ line-height:30px;}
.box_red{ color:#ec5051;}
.wrapper { width: 1200px;margin: auto;}
.pagePtb{ padding:35px 0 10px;}
.floors{ overflow:hidden;}
.lazy{ text-align:center; float:none;}

/*checkbox 单多选*/
:root .select-checkbox, :root .ui-checkbox,:root .ui-grey-checkbox,:root .ui-radio{ display:none;}
:root .select-checkbox+label, :root .ui-checkbox+label{ padding-left:20px; background:url(images/checkbox-icon.png) no-repeat;}
:root .select-checkbox:checked+label,:root .ui-checkbox:checked+label{ padding-left:20px; background:url(images/checked-icon.png) no-repeat;}
:root .ui-grey-checkbox+label{ padding-left:20px; background:url(images/checkbox-grey-icon.png) no-repeat;}
:root .ui-grey-checkbox:checked+label{ padding-left:20px; background:url(images/checked-grey-icon.png) no-repeat;}
:root .ui-radio+label{ padding-left:50px; background:url(images/radio-icon.png) no-repeat;}
:root .ui-radio:checked+label{ padding-left:50px; background:url(images/radioed-icon.png) no-repeat;}

/*ie checkbox*/
.select-checkbox,.ui-checkbox,.ui-grey-checkbox,.ui-radio{ display:block\9; position:absolute\9; left:-9999999px\9;}
.ui-radio-label{ padding-left:50px; background:url(images/radio-icon.png) no-repeat\9;}
.item-selected .ui-radio-label{ padding-left: 50px;background: url(images/radioed-icon.png) no-repeat\9;}
.ui-grey-checkbox+label{ padding-left: 20px;background: url(images/checkbox-grey-icon.png) no-repeat;}
.cart-checkbox-checked .ui-grey-checkbox+label{ background: url(images/checked-grey-icon.png) no-repeat;}
/*checkbox end*/

::-webkit-input-placeholder{ color: #999;} 
:-moz-placeholder{ color: #999;} 
::-moz-placeholder{ color: #999;} 
:-ms-input-placeholder{ color: #999;}

/*btn按钮样式*/
.btn-1 {
	font-family: arial,"microsoft yahei";
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	background-color: #ec5051;
	background-image: -moz-linear-gradient(top,#ec5051,#df3134);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ec5051),color-stop(1,#df3134));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ec5051',endColorstr='#df3134',GradientType='0');
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ec5051',endColorstr='#df3134');
	background-image: linear-gradient(to top,#ec5051 0,#df3134 100%);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	padding: 0 10px;
	vertical-align: middle;
	cursor: pointer;
	border: 0;
	float: none;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
.btn-1:hover {
	background-color: #f05356;
	background-image: -moz-linear-gradient(top,#f05356,#eb3c3f);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f05356),color-stop(1,#eb3c3f));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f05356',endColorstr='#eb3c3f',GradientType='0');
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f05356',endColorstr='#eb3c3f');
	background-image: linear-gradient(to top,#f05356 0,#eb3c3f 100%);
	color:#fff;
}
/*bten按钮 end*/

/*首页与通用*/
.top-banner{ width:100%; height:80px; margin:0 auto; overflow:hidden; background-color:#d0eeb6;}
.top-banner .module{ position:relative; margin-top:0;}
.top-banner .module a{ display:block; width:1200px; height:80px;}
.top-banner .module .close{ position:absolute; display:block; width:23px; height:23px; top:40px; right:0; background:url(images/close.png) no-repeat; cursor:pointer;}

.sc-icon-right{ position:absolute; display:inline-block; width:12px; height:8px; background:url(images/ecsc_icon.png) -263px -291px no-repeat; top:11px; *top:10px; right:10px; z-index:1000}
.hover .sc-choie .sc-icon-right{ background-position:-278px -291px;}
/*.sc-icon-right{ position:absolute; display:block; top: 0;right: 0;height: 7px;overflow: hidden;font: 400 15px/15px consolas;color: #6a6a6a;transition: transform .1s ease-in 0s;-webkit-transition: -webkit-transform .1s ease-in 0s; *font-size:12px;}
.sc-icon-right b{ position: relative;top: -7px;text-decoration: none;}
.hover .sc-icon-right{ transform: rotate(180deg);-webkit-transform: rotate(180deg);}
#site-nav .sc-icon-right{ top: 12px;right: 8px;}
*/

/*网站头部公共区域*/
#site-nav{ width:100%; height:30px; line-height:30px; background-color:#efefef;-webkit-transform: translate3d(0,0,0); position:relative; z-index:100001;}
#site-nav li{ float: left;}
#site-nav .sc-icon{ float:left;line-height: 30px;}
#site-nav .sc-icon span,#site-nav .sc-icon .sc-choie{ float:left;}
#site-nav .sc-icon .sc-choie{ border: 1px solid #efefef;line-height: 28px;padding:0 25px 0 5px;}
#site-nav .hover .sc-icon .sc-choie{ background: #fff;border: solid #ec5151;border-width:1px;}
.dorpdown-layer{ display: none;position: absolute;line-height: 24px;top: 30px; left:48px;background: #fff;border: 1px solid #ec5151; z-index:9999}
.hover .dorpdown-layer{ -webkit-transition: all 600ms cubic-bezier(0.23,1,0.32,1); display: block;}
.dd-spacer { position: absolute;top: -7px;height: 10px;background: #fff;overflow: hidden;}
#city-choice .dd-spacer{ left: 0;width: 54px;}
.dorpdown-layer .ui-areamini-content-wrap{ padding:20px 15px;width: 385px;height:auto !important; max-height:210px;line-height: 20px;*line-height: 22px;overflow:hidden; background:#fff;}
.ui-areamini-content-wrap dl{ overflow:hidden;}
.ui-areamini-content-wrap dt{ color:#333; font-weight:700; float:left; margin-right:10px;}
.ui-areamini-content-wrap dd{ float:left;}
.ui-areamini-content-wrap dd a{ display:block; padding:0 5px 0 4px;}
.ui-areamini-content-wrap dd a:hover{ background:#ec5151; color:#fff;}
.ui-areamini-content-wrap dd a.city_selected,.scrollBody .all-list li a.city_selected{ background-color:#ec5151; color:#fff}
.ui-areamini-content-wrap .search-first-letter{ margin-top:15px; overflow:hidden;}
.ui-areamini-content-wrap .search-first-letter a{ font-size:14px; color:#ec5151;float:left; line-height:16px; padding:0 3px; margin-right:1px;}
.ui-areamini-content-wrap .search-first-letter a:hover{ color:#fff; background:#ec5051;}

.scrollBody{ overflow:hidden; position:relative; z-index:10;}
.scrollBody .all-list{ width:360px; height:150px; overflow:hidden; margin-top:15px; float:left;}
.scrollBody .all-list ul{ overflow:hidden; height:auto; position:relative; z-index:9;}
.scrollBody .all-list li{ float:left; width:360px; padding:0 0 8px 0px; line-height:24px;}
.scrollBody .all-list li em{ width:18px; height:18px; border:1px solid #6d6d6d; border-radius:10px; display:inline-block; line-height:20px; line-height:18px\9; text-align:center; margin:3px 10px 0 0; float:left;}
.scrollBody .all-list li .itme-city{ float:left; width:330px;}
.scrollBody .all-list li a{ padding:0 3px 0 3px; display:inline-block; color:#333; line-height:20px;*line-height:22px;}
.scrollBody .all-list li a:hover{ background:#ec5151; color:#fff;}
.scrollBody .all-list li a.is_district, .scrollBody .all-list li a.is_district:hover{ background:none; color:#999;}

.scrollBody .scrollBar{ float:right; width:10px; height:150px;background:url(images/change_city.gif) -10px 0 repeat-y; position:relative;}
.scrollBody .scrollBar p{ width: 30px;height: 36px;cursor: pointer;background: url(images/change_city.gif) 10px 0 no-repeat;position: absolute; top:1px; left:-10px;}

#site-nav #city-choice .item { float: left;width: 60px;padding: 2px 0;}
#site-nav #city-choice .item a{ display:block; float:left; padding:0 8px;}
#site-nav #city-choice .selected a{ background: #e23435;color: #fff;}
#site-nav .ecsc-login{ float:left; margin-left:30px; line-height: 30px;}
#site-nav .style-red{ color:#e23435;}
#site-nav .ecsc-login .link-login{ margin-right:10px; float:left;}
#site-nav .ecsc-login .link-regist{ float:left;}
#site-nav ul.quick-menu{ padding-right:150px;}
#site-nav.page_flow ul.quick-menu{ padding-right:0;}
#site-nav .quick-menu li{ float:left;}
#site-nav .quick-menu li.spacer{ width: 1px;height: 12px;padding: 0; margin:9px 2px 0;background: #a8a8a8;overflow: hidden;}
#site-nav li .dt{ padding:0 10px; border-left:1px solid transparent; border-right:1px solid transparent;}
#site-nav .ci-right{ position:absolute; top: 12px;right: 8px;height: 7px;overflow: hidden;font: 400 15px/15px consolas;color: #6A6A6A;transition: transform .1s ease-in 0s;-webkit-transition: -webkit-transform .1s ease-in 0s;}
#site-nav .ci-right s{ position: relative;top: -7px;text-decoration: none;}
#site-nav .li_dorpdown{ position: relative;}
#site-nav .li_dorpdown .dt{ width: 49px;padding-right: 25px; text-align:center;}
#site-nav .li_dorpdown.hover .dt{ background: #fff;border: solid #ddd;border-width: 0 1px;}
#site-nav .li_dorpdown .dd{ width:170px;}
#site-nav .li_dorpdown .dorpdown-layer{ border-color:#ddd; right:0; left:inherit; background:#fff; padding:10px 0;}
#site-nav .li_dorpdown .dd .item{ display: inline-block;width: 70px;padding-left: 10px;}
.shopcart-2015{ width:134px; height:40px; position:absolute; right:0; background:url(images/shopcart_2015.png) no-repeat;}
.shopcart-2015 .ecsc-icon{ line-height:40px; padding:0 30px 0 60px; cursor:pointer;}
.shopcart-2015 .ecsc-left{ background:url(images/ecsc_icon.png) no-repeat;}
.shopcart-2015 .ecsc-left{ top:12px; left:22px; width:18px; height:18px; background-position: -6px -8px;}
.shopcart-2015 .ecsc-right{ width: 9px;height: 14px;overflow: hidden;font: 700 13px/13px simsun;color: #fff;}
.shopcart-2015 .ecsc-icon .ecsc-right{ top: 13px;right: 15px;}
.shopcart-2015 .ecsc-count{ top:2px; left:38px; width:18px; height:18px; background-color:#fff; display: inline-block; text-align:center; font-size:12px; line-height:18px; color:#e23435;border-radius:10px; behavior: url(../js/PIE.htc);}
.shopcart-2015 .ecsc-icon a{ color:#fff; font-size:14px;}
.shopcart-2015 .ecscup-content{ display:none; background:#fff; position:absolute; width:320px; border:1px solid #e23435; top:40px; right:0;
overflow:hidden;}
.shopcart-2015.hover .ecscup-content{ display:block;}
.shopcart-2015 .ecscup-content .ecscmc{ background:#fff; height:auto; max-height:274px; overflow-y:scroll;padding:20px 0 0 20px;}
.shopcart-2015 .ecscup-content ul{ overflow:hidden;}
.shopcart-2015 .ecscup-content li{ padding-bottom:18px; margin-bottom:15px; border-bottom:1px solid #dcdcdc;}
.shopcart-2015 .ecscup-content li:last-child{ margin-bottom:0;}
.shopcart-2015 .ecscup-content .ecsc-img{ width:62px; height:62px; float:left; margin-right:10px;}
.shopcart-2015 .ecscup-content .ecsc-img img{ max-width:60px; max-height:60px;}
.shopcart-2015 .ecscup-content .ecsc-way{ float:left; width:198px; line-height:20px;}
.shopcart-2015 .ecscup-content .ecsc-way a.title{ color:#333; width:100%; height:36px; line-height:18px; display:inline-block; overflow:hidden; font-size:12px; float:left; margin-bottom:8px;}
.shopcart-2015 .ecscup-content .ecsc-way .deal{ width:100%; float:left; line-height:16px;}
.shopcart-2015 .ecscup-content .ecsc-way .count,.shopcart-2015 .ecscup-content .ecsc-way .count *{ float:left;}
.shopcart-2015 .ecscup-content .ecsc-way .count{ width:auto; overflow:hidden;}
.shopcart-2015 .ecscup-content .ecsc-way .count .count-subtract,.shopcart-2015 .ecscup-content .ecsc-way .count .count-add{ width:14px; height:14px; border:1px solid #dcdcdc;}
.shopcart-2015 .ecscup-content .ecsc-way .count a s{ width:10px; height:10px; display:block; background:url(images/ecsc_icon.png) no-repeat; margin:2px;}
.shopcart-2015 .ecscup-content .ecsc-way .count .count-subtract s{ background-position:-553px -296px;}
.shopcart-2015 .ecscup-content .ecsc-way .count .count-add s{ background-position:-584px -296px;}
.shopcart-2015 .ecscup-content .ecsc-way .count a:hover{ background: #7f7f7f;border-color: #7f7f7f;}
.shopcart-2015 .ecscup-content .ecsc-way .count .count-subtract:hover s{ background-position:-553px -316px;}
.shopcart-2015 .ecscup-content .ecsc-way .count .count-add:hover s{ background-position:-584px -309px;}
.shopcart-2015 .ecscup-content .ecsc-way .count .num{ height:16px; line-height:18px;*line-height:16px; display:inline-block; vertical-align:middle;padding: 0 4px;color: #333; margin:0 5px; background:#f3d4eb;}
.shopcart-2015 .ecscup-content .ecsc-way .price{ color:#666; margin-left:20px; float:left; font-size:14px;}
.shopcart-2015 .ecscup-content .ecsc-way .close{ float:right; color:#ec5151; display:none;}
.shopcart-2015 .ecscup-content .ecsc-way .close:hover{ text-decoration:underline;}
.shopcart-2015 .ecscup-content li:hover .price{ color:#ec5151;}
.shopcart-2015 .ecscup-content li:hover .close{ display:block;}
.shopcart-2015 .ecscup-content .ecscmb{ padding:0 30px 0 20px; height:60px; line-height:60px; font-size:14px;}
.shopcart-2015 .ecscup-content .ecscmb .total{ float:left;}
.shopcart-2015 .ecscup-content .ecscmb .total-num{ color:#ec5151; font-weight:bold; margin:0 5px;}
.shopcart-2015 .ecscup-content .ecscmb .total-price{ color:#ec5151; font-weight:bold;}
.shopcart-2015 .ecscup-content .ecscmb .ecsc-cart{ float:right; height:30px; line-height:30px; padding:0 13px 0 15px; color:#fff; background:#ec5151; border-radius:5px; margin-top:15px;}

.ecscup-content .prompt{ padding:10px 15px;}
.ecscup-content .prompt .nogoods{ padding-left: 30px;height: 49px;line-height: 49px;overflow: hidden;color: #999;}
.ecscup-content .prompt .nogoods b{ float: left;width: 56px;height: 49px; background:url(images/nogoods.png) no-repeat;}

.header{ margin:auto; background:#fff; padding:22px 0 0 0;}
.header .ecsc-logo{ position:relative; width:230px; height:58px; float:left;}
.header .ecsc-logo .logo{ display:block; width:230px; height:58px;}
.header .ecsc-join{ float:left; width:104px; height:58px; margin-left:40px; display:inline-block;}
.header .quanbu{ float:left;width:86px; margin: 15px 30px 0 15px; position:relative; z-index:110;}
.header .quanbu .ecsc-nr{ display:inline-block;position:relative;padding:5px 20px 5px 15px;font-family: "microsoft yahei"; color:#666;border:1px solid #dcdcdc; z-index:10; background-color: #fff;}
.header .quanbu .sc-icon-right{ top:10px; right:5px;}
.header .quanbu.hover .sc-icon-right{ background-position:-278px -291px;}
.header .quanbu.hover .ecsc-nr{ border-bottom:0;}
#logo{ float:left; position:relative; width:220px; margin-top:-3px; margin-right:5px;}
#categorys-mini-main { display: none;border: 1px solid #dcdcdc;position: absolute;width: 152px;padding: 13px;margin-top: -1px;background: #fff;overflow: hidden; z-index:9; top:29px;*top:30px; left:0;}
#categorys-mini-main h3 { font-family: "Microsoft YaHei";color: #666;line-height: 24px;font-size: 14px;font-weight: 400;}
#categorys-mini-main a { padding: 0;font-size: 12px;}
.ecsc-search{ float:left; margin:10px 0 0 110px; position:relative; z-index:9999;}
.ecsc-search .ecsc-search-form input{ outline:0; color:#999;}
.ecsc-search-form{ width:458px; height:35px; line-height:35px; border:1px solid #ec5151;}
.ecsc-search-tabs{ width:72px; height:35px; float:left; position:relative; cursor:pointer;}
.ecsc-search-tabs ul{ float:left;}
.ecsc-search-tabs li{ font-size:14px;}
.ecsc-search-tabs li.ecsc-seller{ padding:0 30px 0 14px;}
.ecsc-search-tabs li.ecsc-shops{ position:absolute; width:73px; height:35px; line-height:35px; background:#ec5151; color:#fff; margin-left:-1px; text-align:center; display:none; top:35px; left:0;}
.ecsc-search-tabs:hover li.ecsc-shops{ display:block;}
.ecsc-search-tabs:hover i{ background-position:-278px -291px;} 
.ecsc-search-tabs .sc-icon-right{ top:13px; right:12px;}
.ecsc-search-input{ float:left; width:315px; height:21px; margin:7px 0; padding:0 5px; border:0; outline:0; font-size:14px; border-left:1px solid #e9e9e9;}
.ecsc-search-button{ float:right; border:0; width:60px; height:35px; background:#ec5151; outline:0; cursor:pointer;}
.ecsc-search-button i{ display:inline-block; width:25px; height:25px; background:url(images/ecsc_icon.png) -26px -6px;   margin-top: 3px;}

.header .ecsc-search .keyword{ float:left;}
.header .ecsc-search .keyword li{ float:left; padding-top:6px;}
.header .ecsc-search .keyword li a{ display:inline-block; padding:0 10px 0 0; border-right:1px solid #b0b0b0; margin-right:10px; line-height:12px;*line-height:14px;}
.header .ecsc-search .keyword li:last-child a{ border-right:0;}
.header .ecsc-search .keyword li a:hover{ color:#ec5151; border-right-color:#ec5151;}
.header .site-commitment { float:right; margin-top:4px; padding-right:10px; overflow:hidden; height:55px;}
.header .site-commitment a{ display:block; width:190px; height:55px;}
.header .site-commitment .site-commitment-front,.header .site-commitment .site-commitment-back{ z-index:9;}

.nav{ height:44px; line-height:44px; margin-top:10px;}
.categorys{ float:left; position:relative; z-index:105; width:230px; height:44px; overflow:visible;}
.categorys .dt a{ display:block; width:190px; height:44px; font:400 15px/44px "microsoft yahei"; padding:0 20px; background:#2b2b2b; color:#fff;}
.categorys .dt i.icon,.categorys .dt i.cat_icon{ position:absolute; width:18px; height:18px; left:15px; top:8px; background-position:0 -3px;}
.categorys .dt i.cat_icon{ left:13px; top:13px;}
.categorys .dt i.cat_icon img{ float:left;}
.categorys .dt .sc-icon-right{ top:15px;right:20px; background-position:-263px -308px;}
.categorys .up .sc-icon-right{ background-position:-278px -307px;}
.categorys .dd{ height:515px; background:#e23435; margin-top:1px;z-index:99;}

.categorys .dd .cata-nav{ position:relative; top:-1px; padding-top:1px; height:514px;}
.categorys .dd .cata-nav .item{ height:6.25%;}
.woman.categorys .dd .cata-nav .item,.electronic.categorys .dd .cata-nav .item,.food.categorys .dd .cata-nav .item{ position:relative; height:auto;}
.categorys .dd .cata-nav .item.fore15,.categorys .dd .cata-nav .item.fore16{ *height:34px;}
.categorys .dd .cata-nav .item-left{ position:relative;}
.categorys .item i{ position:absolute; width:18px; height:18px; top:7px; left:18px;}
.categorys .item b{ position:absolute; top:9px; right:23px; color:#fff; width:4px; height:14px; font: 400 9px/14px consolas;}
.cata-nav .selected .item-left{ background:#fff; border-left:1px solid #e23435; position:relative; z-index:9;}
.categorys .cata-nav-name{ padding:6px 20px 5px; overflow:hidden; color:#FFF;}
.categorys .cata-nav-name *{ line-height:20px;}
.categorys .cata-nav-name a{ font:14px/150% Arial,Verdana,Microsoft YaHei,"微软雅黑"; color:#fff;} 
.categorys .cata-nav-name h3{ font-weight:400; font-family: "microsoft yahei"; width:100%;}
.categorys .cata-nav-name h3 a{ font-size:14px; padding-right:5px;}
.cata-nav .selected h3 a,.cata-nav .selected h3{ color:#e23435;}
.categorys .cata-nav-name span a{ font-size:12px; display:inline-block; float:left;}
.categorys .cata-nav-layer{ width:971px; height:auto !important; min-height:514px; height:514px; border:1px solid #ec5151;position:absolute; top:0; left:229px; background:#f9f9f9; display:none;}

/*.categorys .cata-nav-name h3 a:hover,*/.categorys .cata-nav-name h3 a.division_cat:hover{ text-decoration:underline}

.categorys .cata-nav-layer .cata-nav-left{ width: 782px; float:left;}
.categorys .cata-nav-layer .cata-nav-rigth{ width: 188px; float:left;}

.categorys .item-channels { float: left;display: inline;width: 762px;height: 24px;padding: 20px 0 0 20px;background: #f9f9f9;overflow: hidden;}
.categorys .item-channels a { float: left;display: inline;display: inline-block;padding: 0 0 0 8px;margin-right: 10px;line-height: 24px;background: #7C7171;color: #fff;white-space: nowrap;}
.categorys .item-channels i { display: inline-block;_display: inline;margin-left: 8px;width: 23px;height: 24px;font: 400 9px/24px consolas;background: #5c5251;text-align: center;cursor: pointer; position:static;}
.categorys .item-channels a:hover { background: #ec5051;}
.categorys .item-channels a:hover i { background: #e23435;}
.categorys .subitems{width:762px; min-height:458px; padding:6px 0px 6px 20px; /*background:#fff;*/ float:left;}
.categorys .subitems dl{ width: 100%;overflow: hidden;line-height: 2em;}
.categorys .subitems dt{ position: relative;float: left;width: 54px;padding: 8px 30px 0 0;text-align: right;font-weight: 700;}
.categorys .subitems dt a{ color:#666;}
.categorys .subitems dt i{ position: absolute;top: 13px;right: 18px;width: 4px;height: 14px;font: 400 9px/14px consolas; left:auto;}
.categorys .subitems dd{ float:left; width: 620px; padding: 6px 0; line-height:20px; border-top: 1px solid #eee;}
.categorys .subitems dd a{ float: left;padding: 0 8px;margin: 4px 0;line-height: 16px;height: 16px;border-left: 1px solid #e0e0e0;white-space: nowrap;}
.categorys .subitems dl.dl_fore1 dd{ border-top:0;}
.categorys .item-promotions{ float: right;display: inline;width: 168px;margin-right: 20px;}
.categorys .item-promotions a{ display: block;margin-bottom: 1px; float:left;}
.categorys .item-brands{width: 188px; overflow: hidden; margin: 19px 0px 5px 0; float:left;}
.categorys .item-brands ul{ overflow:hidden;}
.categorys .item-brands li{ float: left;display: inline;margin: 1px 0 0 1px;}
#site-mast .dd{ display:none;}

.home_categorys .cata-nav-layer{ left:229px;}
.home_categorys .dd{ padding-top:1px; margin-top:0;}

.navitems{ float:left; position:relative; height:44px; width:970px;}
.navitems ul{ margin-left:20px; height:44px; overflow:hidden;}
.navitems li{ float:left;}
.navitems li a{ font:400 16px/34px "microsoft yahei"; display:inline-block; padding:0 20px; color:#333;}
.navitems li a.selected,.navitems li.channel-now a{ color:#ec5151;}
.navitems .wrap-line{ width:100%; position:absolute; height:2px; bottom:0; background:#ec5151;}
.navitems li a.curr{ color:#ec5151;}
.header .cart-search{ float:right;}

.ecsc-zoom{ border-bottom:1px solid #000;}
.ecsc-zoom .dt{ font-size: 16px;background: #2b2b2b;}
.ecsc-zoom .dt .sc-icon-right{ left:inherit; right:12px; top:20px;}

.ecsc-woman{ border-bottom:1px solid #ec5193;}

/*店铺筛选 start*/
.ecsc-search-tabs ul{ width:72px; float:left; display:block;}
/*.ecsc-search-tabs .shop_search1{ height:35px; position:absolute; top:0px; left:0px; z-index:9}*/
.ecsc-search-tabs .shop_search{ margin-top:-30px; position:absolute; top:30px; left:0px; z-index:9; height:35px; overflow:hidden;}
.ecsc-search-tabs .shop_search li{ height:34px; line-height:34px; line-height:35px\0;*margin-top:1px; float:left;display:inline-block; cursor:pointer; width:72px; background:#fff;}
.ecsc-search-tabs .shop_search li.curr{ margin-top:2px; margin-top:1px\9; *margin-top:0px; background:#ec5151; color:#FFF; margin-left:-1px; padding-left:1px;}
.ecsc-search-tabs .shop_search li span{ margin-left:15px;}
.seller_store #site-nav,.seller_store .header{ font-family:Arial,Verdana,"\5b8b\4f53";}
.seller_store #site-nav a:hover,.seller_store .header a:hover,.seller_store .nav a:hover{ text-decoration:none;}
/*店铺筛选 end*/
/*网站头部区域 end*/

/*网站底部公共区域*/
#footer{ width:100%; text-align:center; clear:both; padding:40px 0 0 0; background:#fff; position:relative; bottom:0;}
#footer .global-footer-lazy{ width:100%; height:86px; background:#dddddd;}
#footer .ecsc-service-flow{ width:1200px; height:86px; margin:auto; position:relative;}
#footer .ecsc-service-item{ float:left; font-family: "microsoft yahei"; font-size:18px; padding:20px 0; margin-right:135px;}
#footer .ecsc-service-item.last{ margin-right:0;}
#footer .ecsc-service-item a{ display:block; height:46px; color:#000;}
#footer .ecsc-service-item i{ display:block; width:45px; height:45px; background:url(images/ecsc_icon.png) no-repeat; float:left;}
#footer .ecsc-service-item span{ display:block; float:left; padding:15px 0 0 15px;}
#footer .ecsc-service-item .ecsc-zp{ background-position:-7px -152px;}
#footer .ecsc-service-item .ecsc-qt{ background-position:-7px -202px;}
#footer .ecsc-service-item .ecsc-hp{ background-position:-7px -253px;}
#footer .ecsc-service-item .ecsc-sd{ background-position:-6px -304px;}
#footer .ecsc-service-item .ecsc-ry{ background-position:-6px -354px;}
#footer .footer-desc{ width:100%; background:#000; position:relative;}
#footer .footer-desc-list{ width:1200px; height:125px; padding-top:40px; margin:auto; text-align:left; position:relative;}
#footer .footer-desc-list dl{ float:left; color:#ccc; margin-top:5px; width:215px;font-family: "microsoft yahei";}
#footer .footer-desc-list dt{ font-size:16px; margin-bottom:15px;}
#footer .footer-desc-list dd{ line-height:22px;}
#footer .footer-desc-list dd a{ color:#8b8b8b; position:relative; padding-left:15px;}
#footer .footer-desc-list dd i{ position:absolute; left:0; top:-4px;}
#footer .footer-desc-list dd a:hover{ color:#fff;}
#footer .footer-desc-list .contact-us{ width:125px;}
#footer .footer-desc-list .QR_code{ width:148px; height:auto; position:absolute; right:0;}
.QR_code .tabs{ height:28px; margin-left:-1px;}
.QR_code .tabs li{ float:left; width:73px; height:28px; line-height:28px; font-size:14px; font-family:"Arial"; border:1px solid #333333; margin:0 -1px 0 0; text-align:center; background:#4d4d4d; color:#fff; cursor:pointer;}
.QR_code .tabs li.current{ color:#ec5051; background:#000; border-bottom:#000;}
.QR_code .code_warp{ float:left; width:148px; height:148px; margin-top:5px;}

#footer .footer-desc-copyright{ width:1200px; margin:auto; padding:50px 0; font-family: "microsoft yahei";}
#footer .footer-desc-copyright a{ padding:0 5px; display:inline-block; color:#666; text-decoration:none;}
#footer .footer-desc-copyright a:hover{ color:#fff; text-decoration:underline;}
#footer .footer-ecscinfo{ text-align:center;line-height: 25px;}
#footer .footer-desc-copyright b{ line-height:25px; font-weight:400; color:#686868;}
#footer .footer-fp-img{ padding-top:10px;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90); min-height:34px;}
#footer .footer-fp-img img{ *filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90); width:auto; height:30px;}

#footer.footer-minto{ margin:0; border-top:1px solid #dcdcdc;}
#footer.footer-minto .footer-desc-copyright a:hover{ color:#ec5051;}
#footer.footer-minto .footer-fp-img{ padding-top:10px; opacity:1;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);}
#footer.footer-minto .footer-fp-img img{ *filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);}

.suspension-mobile{ display:none;}
/*网站底部公共区域end*/

.seller_grade_img img{ margin:3px 5px 0 0; float:left;}


.no_records {
    height: 104px;
    overflow: hidden;
    padding: 70px 0 70px 0px;
    position: relative;
    width: 902px;
	float:left;
	text-align:center;
	font-size:16px;
}

.sc_btnt_ype{
	border: 1px solid #ccc;
    border-radius: 4px;
	padding:3px 10px;
	display:inline-block;
	font-size:12px;
}
