{include file="pageheader"}
<style>
.article{border:1px solid #ddd;padding:5px 5px 0 5px;overflow: hidden;}
.cover{height:160px; position:relative;margin-bottom:5px;overflow:hidden;}
.article .cover img{width:100%; height:auto;}
.article h4{overflow:hidden;}
.article span{height:40px; line-height:40px; display:block; z-index:5; position:absolute;width:100%;bottom:0px; color:#FFF; padding:0 10px; background-color:rgba(0,0,0,0.6)}
.article_list{padding:5px;border:1px solid #ddd;border-top:0;overflow:hidden;}
#footer {position: static;bottom:0px;}
</style>
<div class="wrapper">
    <div class="title">{$lang['wechat_menu']} - 素材管理</div>
    <div class="content_tips">
            <div class="tabs_info">
            	<ul>
                    <li role="presentation" class="curr"><a href="{url('article')}">图文素材</a></li>
                    <li role="presentation"><a href="{url('picture')}">图片</a></li>
                    <li role="presentation"><a href="{url('voice')}">语音</a></li>
                    <li role="presentation"><a href="{url('video')}">视频</a></li>
                </ul>
            </div>
            <div class="explanation" id="explanation">
                <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span></div>
                <ul>
                    <li>图文素材：分为单图文、多图文素材。支持图片，语音，视频素材。</li>
                    <li>单图文素材添加好之后，即可将多条单图文素材组合成为一条多图文素材。</li>
                    <li>★ 注意事项：单图文素材如果经过修改，则原先添加好的多图文素材需要重新组合</li>
                </ul>
            </div>
            <div class="flexilist of">
                <!-- 单图文添加 -->
            	<div class="common-head">
                    <div class="fl">
                        <a href="{url('article_edit')}"><div class="fbutton"><div class="add" title="图文添加"><span><i class="fa fa-plus"></i>图文添加</span></div></div></a>
                    </div>
                </div>
	            <div class="common-content" style="border-bottom: 1px solid #62b3ff">
                    <!-- 单图文列表 -->
                    <div class="row">
	                    {foreach $list as $key=>$val}
                        {if empty($val['article_id'])}
	                    <div class="col-sm-6 col-md-4 col-lg-2 ectouch-mb">
	                        <div class="article">
	                            <h4>{$val['title']}</h4>
	                            <p>{date('Y年m月d日', $val['add_time'])}</p>
	                            <div class="cover"><img src="{$val['file']}" /></div>
	                            <p>{$val['content']}</p>

	                        </div>
	                        <div class="bg-info">
                                <ul class="nav nav-pills nav-justified" role="tablist">
                                <li role="presentation"><a href="{url('article_edit', array('id'=>$val['id']))}" title="编辑" class="ectouch-fs18"><span class="glyphicon glyphicon-pencil"></span></a></li>
                                <li role="presentation">
                                {if $val['is_prize'] == 1}
                                <a href="javascript:;" title="禁止删除" class="ectouch-fs18">
                                {else}
                                <a href="javascript:if(confirm('{$lang['confirm_delete']}')){window.location.href='{url('article_del', array('id'=>$val['id']))}'};" title="删除" class="ectouch-fs18">
                                {/if}
                                <span class="glyphicon glyphicon-trash"></span></a></li>
                                </ul>
	                        </div>
	                    </div>
                        {/if}
	                    {if ($key+1) % 6 == 0}
	                </div>
	                <div class="row">
	                    {/if}
	                {/foreach}
	                </div>
                </div>

                <!-- 多图文添加 -->
                <div class="common-head" style="padding-top:10px;">
                    <div class="fl">
                        <a href="{url('article_edit_news')}"><div class="fbutton"><div class="add" title="多图文添加"><span><i class="fa fa-plus"></i>多图文添加</span></div></div></a>
                    </div>
                </div>
                <div class="common-content">
                    <!-- 多图文列表 -->
                    <div class="row">
                        {foreach $list as $key=>$val}
                        {if $val['article_id']}
                        <div class="col-sm-6 col-md-4 col-lg-2 ectouch-mb">
                            {foreach $val['articles'] as $k=>$v}
                            {if $k == 0}
                            <div class="article">
                                <p>{date('Y年m月d日', $v['add_time'])}</p>
                                <div class="cover"><img src="{$v['file']}" /><span>{$v['title']}</span></div>
                            </div>
                            {else}
                            <div class="article_list">
                                <span>{$v['title']}</span>
                                <img src="{$v['file']}" width="78" height="78" class="pull-right" />
                            </div>
                            {/if}
                            {/foreach}
                            <div class="bg-info">
                                <ul class="nav nav-pills nav-justified" role="tablist">
                                <li role="presentation"><a href="{url('article_edit_news', array('id'=>$val['id']))}" title="编辑" class="ectouch-fs18"><span class="glyphicon glyphicon-pencil"></span></a></li>
                                <li role="presentation"><a href="javascript:if(confirm('{$lang['confirm_delete']}')){window.location.href='{url('article_del', array('id'=>$val['id']))}'};" title="删除" class="ectouch-fs18"><span class="glyphicon glyphicon-trash"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        {/if}
                        {if ($key+1) % 6 == 0}
                    </div>
                    <div class="row">
                        {/if}
                        {/foreach}
                    </div>
	            </div>
            </div>
	        <div class="list-div of">
	        	<table cellspacing="0" cellpadding="0" border="0">
			        <tfoot>
			        	<tr>
			                <td colspan="7">
			                	{include file="pageview"}
			                </td>
			            </tr>
			        </tfoot>
		        </table>
		    </div>
    </div>
</div>
{include file="pagefooter_copyright"}
{include file="pagefooter"}
