{include file="pageheader"}
<style>
#footer {position: static;bottom:0px;}
</style>

<div class="wrapper">
	<div class="title">{$lang['wechat_menu']} - 素材管理</div>
    <div class="content_tips">
		<div class="tabs_info">
		    <ul>
                 <li role="presentation"><a href="{url('article')}">图文消息</a></li>
                 <li role="presentation"><a href="{url('picture')}">图片</a></li>
                 <li role="presentation"><a href="{url('voice')}">语音</a></li>
                 <li role="presentation" class="curr"><a href="{url('video')}">视频</a></li>
		    </ul>
		</div>
        <div class="explanation" id="explanation">
            <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span></div>
            <ul>
                <li>视频素材大小: 建议2MB以下，格式：MP4</li>
                <li>建议直接使用优酷等第三方视频网站的视频地址。优点:不占用服务器资源，支持更大、更多格式的视频素材。</li>
            </ul>
        </div>
		<div class="flexilist">
			<div class="common-head">
                <div class="fl">
                	<a href="{url('video_edit')}"><div class="fbutton"><div class="add" title="视频添加"><span><i class="fa fa-plus"></i>视频添加</span></div></div></a>
                </div>
            </div>
			<div class="row" style="margin:0;">
			{foreach $list as $v}
                <div class="col-xs-4 col-md-2 thumbnail" style="margin-right:10px;">
                    <img alt="{$v['file_name']}" src="{elixir('img/video.png')}" class="img-rounded" style="height:220px" />
                    <p class="text-muted" style="word-wrap:break-word;word-break:normal;">{$v['file_name']}</p>
                    <p class="text-muted">{$v['size']}</p>
                    <div class="bg-info">
                        <ul class="nav nav-pills nav-justified" role="tablist">
                        <li role="presentation"><a href="{url('video_edit', array('id'=>$v['id']))}" title="编辑" class="ectouch-fs18"><span class="glyphicon glyphicon-pencil"></span></a></li>
                        <li role="presentation"><a href="javascript:if(confirm('{$lang['confirm_delete']}')){window.location.href='{url('media_del', array('id'=>$v['id']))}'};" title="删除" class="ectouch-fs18"><span class="glyphicon glyphicon-trash"></span></a></li>
                        </ul>
                    </div>
                </div>
            {/foreach}
            </div>
		</div>
        <div class="list-div of">
        	<table cellspacing="0" cellpadding="0" border="0">
		        <tfoot>
		        	<tr>
		                <td colspan="7">
		                	{include file="pageview"}
		                </td>
		            </tr>
		        </tfoot>
	        </table>
	    </div>
    </div>
</div>
{include file="pagefooter_copyright"}
{include file="pagefooter"}
