{include file="pageheader"}
<div class="wrapper shop_special">
	<div class="title">{$lang['wechat_menu']} - 公众号设置</div>
	<div class="content_tips">
		<div class="explanation" id="explanation">
        	<div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span></div>
            <ul>
            	<li>一、配置前先需要申请一个微信服务号，并且通过微信认证。（认证服务号需要注意每年微信官方都需要重新认证，如果认证过期，接口功能将无法使用，具体请登录微信公众号平台了解详情）</li>
            	<li>二、网站域名 需要通过ICP备案并正确解析到空间服务器，临时域名与IP地址无法配置。</li>
            	<li>三、登录 <a href="https://mp.weixin.qq.com/" target="_blank"/>微信公众号平台 </a>，获取且依次填写好 公众号名称，公众号原始ID，Appid，Appsecret，token值。 </li>
            	<li>四、自定义Token值，必须为英文或数字（长度为3-32字符），如 weixintoken，并保持后台与公众号平台填写的一致。 </li>
            	<li>五、复制接口地址，填写到微信公众号平台 开发=> 基本配置，服务器配置下的 URL地址，验证提交通过后，并启用。（注意仅支持80端口） </li>
            </ul>
        </div>
		<div class="flexilist">
			<div class="main-info">
				<!--<div class="panel-heading">{$lang['edit_wechat']}</div>-->
				<form method="post" action="{url('modify')}" class="form-horizontal" role="form">
					<div class="switch_info">
						<div class="item">
							<div class="label-t">{$lang['wechat_name']}</div>
							<div class="label_value">
								<input type="text" name="data[name]" class="text" value="{$data['name']}"/>
								<div class="notic">* {$lang['wechat_help1']}</div>
							</div>
						</div>
						<div class="item">
							<div class="label-t">{$lang['wechat_id']}</div>
							<div class="label_value">
								<input type="text" name="data[orgid]" class="text" value="{$data['orgid']}">
						    <div class="notic">* {$lang['wechat_help2']}</div>
							</div>
						</div>
						<div class="item">
							<div class="label-t">{$lang['appid']}</div>
							<div class="label_value">
								<input type="text" name="data[appid]" class="text" value="{$data['appid']}">
								<div class="notic">* {$lang['wechat_help4']}</div>
							</div>
						</div>
						<div class="item">
							<div class="label-t">{$lang['appsecret']}</div>
							<div class="label_value">
								<input type="text" name="data[appsecret]" class="text" value="{$data['appsecret']}">
								<div class="notic">* {$lang['wechat_help5']}</div>
							</div>
						</div>
						<div class="item">
							<div class="label-t">{$lang['token']}</div>
							<div class="label_value">
								<input type="text" name="data[token]" class="text" value="{$data['token']}">
								<div class="notic">* {$lang['wechat_help3']}
								<span class="btn btn-success makeToken">生成Token</span>

								<span class="btn btn-info btn-xs copyToken">复制Token</span>
								</div>
							</div>
						</div>
				        <div class="item">
							<div class="label-t">{$lang['aeskey']}</div>
							<div class="label_value">
								<input type="text" name="data[encodingaeskey]" class="text" value="{$data['encodingaeskey']}">
								<div class="notic">(选填) {$lang['wechat_help7']}</div>
							</div>
						</div>
						<!--<tr>
							<td>微信授权回调域名</td>
							<td><div class="col-sm-4">
								<input type="text" name="data[oauth_redirecturi]" class="form-control" value="{$data['oauth_redirecturi']}">
								</div>
								<p class="help-block">示例格式：http://shop.ectouch.cn</p>
							</td>
						</tr>
						 <tr>
							<td>微信OAuth推送量</td>
							<td><div class="col-sm-4">
								<input type="text" name="data[oauth_count]" class="form-control" value="{$data['oauth_count']}" readonly>
								</div>
							</td>
						</tr>
						<tr>
							<td>{$lang['sort_order']}</td>
							<td><div class="col-sm-4">
								<input type="text" name="data[sort]" value="10" class="form-control" value="{$data['sort']}">
								</div></td>
						</tr>
						<tr>
							<td>电脑端账号绑定</td>
							<td><div class="col-sm-4 col-lg-2 col-md-3">
								<div  class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary {if $data['oauth_status']==1}active{/if}">
										<input type="radio" name="data[oauth_status]" value="1" {if $data['oauth_status']==1}checked{/if}> {$lang['wechat_open']}
									</label>
									<label class="btn btn-primary {if $data['oauth_status']==0}active{/if}">
										<input type="radio" name="data[oauth_status]" value="0" {if $data['oauth_status']==0}checked{/if}> {$lang['wechat_close']}
									</label>
								</div>
								</div>
								<p class="help-block">开启之后，微商城会员中心会出现电脑端账号绑定按钮，绑定后不再出现。</p>
							</td>
						</tr>-->
						<div class="item">
							<div class="label-t">{$lang['wechat_status']}</div>
							<div class="label_value">
								<div class="checkbox_items">
		                            <div class="checkbox_item">
					                    <input type="radio" name="data[status]" class="ui-radio event_zhuangtai" id="value_118_0" value="1" {if $data['status'] == 1}checked{/if}>
					                    <label for="value_118_0" class="ui-radio-label {if $data['status']==1}active{/if}">{$lang['wechat_open']}</label>
					                </div>
					                <div class="checkbox_item">
					                    <input type="radio" name="data[status]" class="ui-radio event_zhuangtai" id="value_118_1" value="0" {if $data['status'] == 0}checked{/if}>
					                    <label for="value_118_1" class="ui-radio-label {if $data['status'] == 0}active{/if}">{$lang['wechat_close']}</label>
					                </div>
                                </div>
							</div>
						</div>
						{if $data['orgid']}
						<div class="item">
							<div class="label-t">{$lang['wechat_api_url']}</div>
							<div class="label_value">
								<span class="text weixin_url">{$data.url}</span>
								<span class="btn btn-info btn-xs copy">复制URL</span>
							</div>
						</div>
						{/if}
						<div class="item">
							<div class="label-t">&nbsp;</div>
							<div class="label_value info_btn">
								<input type="hidden" name="id" value="{$data['id']}" />
								<input type="hidden" name="data[type]" value="2">
								<input type="submit" name="submit" value="{$lang['button_save']}" class="button btn-danger bg-red" />
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	// H5 复制粘贴 - execCommand http://www.jianshu.com/p/37322bb86a48  兼容IE8+，Chrome 45+, Firefox 43+
	var copyUrl = document.querySelector('.copy');
	// 点击的时候调用 copyTextToClipboard() 方法就好了.
	copyUrl.onclick = function() {
		copyTextToClipboard('{$data.url}');
	}

	var copyToken = document.querySelector('.copyToken');
	copyToken.onclick = function() {
		var newtoken = $("input[name='data[token]']").val();
		copyTextToClipboard(newtoken);
	}

	function copyTextToClipboard(text) {
		var textArea = document.createElement("textarea");
		textArea.style.position = 'fixed';
		textArea.style.top = 0;
		textArea.style.left = 0;
		textArea.style.width = '2em';
		textArea.style.height = '2em';
		textArea.style.padding = 0;
		textArea.style.border = 'none';
		textArea.style.outline = 'none';
		textArea.style.boxShadow = 'none';
		textArea.style.background = 'transparent';
		textArea.value = text;
		document.body.appendChild(textArea);

		textArea.select();
		try {
			var msg = document.execCommand('copy') ? '成功' : '失败';
			console.log('复制内容 ' + msg);
			layer.msg('复制内容 ' + msg);
		} catch (err) {
			console.log('浏览器不支持此复制方法');
			layer.msg('浏览器不支持此复制方法');
		}
		document.body.removeChild(textArea);
	}


	// 生成token md5
	$(".makeToken").click(function(){
		var mydate = new Date();
		var mytime = mydate.toLocaleTimeString(); //获取当前时间
		var token = $.md5(mytime);
		$("input[name='data[token]']").val(token);
	});

</script>
{include file="pagefooter_copyright"}
{include file="pagefooter"}
