{include file="pageheader"}
<style>
.article{border:1px solid #ddd;padding:5px 5px 0 5px;}
.cover{height:160px; position:relative;margin-bottom:5px;overflow:hidden;}
.article .cover img{width:160px; height:auto;}
.article span{height:40px; line-height:40px; display:block; z-index:5; position:absolute;width:100%;bottom:0px; color:#FFF; padding:0 10px; background-color:rgba(0,0,0,0.6)}
.article_list{padding:5px;border:1px solid #ddd;border-top:0;overflow:hidden;}
.panel-body {padding: 0px;}

/* 规则 */
.main-info .item {margin-bottom:0px;line-height15px;}
.switch_info {padding:15px 10px;margin-bottom:20px;}

.main-info .rolelist .label-t{ width:auto;padding:5px 15px;}
.main-info .rolelist .label_value {width:70%;padding:5px 15px;}
.main-info .rolelist .panel {margin-bottom:0px;}
.form-control {border: 1px solid #fff;}
#footer {position: static;bottom:0px;}
</style>
<div class="wrapper">
	<div class="title">{$lang['wechat_menu']} - 自动回复</div>
	<div class="content_tips">
		<div class="tabs_info">
    	    <ul>
        		<li><a href="{url('reply_subscribe')}">关注自动回复</a></li>
		        <li><a href="{url('reply_msg')}">消息自动回复</a></li>
		        <li class="curr"><a href="{url('reply_keywords')}">关键词自动回复</a></li>
    	    </ul>
	    </div>
        <div class="explanation" id="explanation">
            <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span></div>
            <ul>
                <li>自动回复的类型 共分三种：关注自动回复、消息自动回复、关键词自动回复。回复内容可以设置为文字，图片，语音，视频。文本消息回复内容可以直接填写，长度限制1024字节（大约200字，含标点以及其他特殊字符），其他素材需要先在素材管理中添加。</li>
                <li>三、关键词自动回复：即自己添加的规则关键词自动回复。</li>
                <li>★ 字数限制：微信公众平台认证与非认证用户的关键字自动回复设置规则上限为200条规则（每条规则名，最多可设置60个汉字），每条规则内最多设置10条关键字（每条关键字，最多可设置30个汉字）</li>
                <li>★ 规则设置：一个规则您可设置多个关键字，建议使用常用关键字，如关键词：help,帮助。采取中英文结合的方式最佳。如果用户发送的信息中含有您设置的其中一个关键字，则系统会匹配自动回复。
                </li>
                <li>★ 注意事项：关键词 不能设置系统已经存在的关键词，如功能扩展当中的hot、best、news等。</li>
            </ul>
        </div>
		<div class="flexilist">
			<div class="panel-body" style="margin-bottom:20px">
                <div class="fl">
                    <a href="javascript:;" class=" rule_add">
                    	<div class="fbutton">
                    		<div>
                    			<span><i class="fa fa-plus"></i>添加规则</span>
                    		</div>
                    	</div>
                    </a>
                </div>
            </div>
            <div class="common-content hidden rule_form" >
            	<div class="main-info">
	    			<form action="{url('rule_edit')}" method="post" class="form-horizontal" role="form">
	                  <div class="switch_info">
	                    <div class="item rolelist">
	                      <div class="label-t">规则名称:</div>
	                      <div class="label_value">
	                          <input type='text' name='rule_name' class="text input-sm" />
	                          <div class="notic">规则名最多60个字</div>
	                       </div>
	                    </div>
	                    <div class="item rolelist">
		                    <div class="label-t">关&nbsp键&nbsp字&nbsp:</div>
		                    <div class="label_value">
		                        <input type='text' name='rule_keywords' class="text input-sm" />
		                        <div class="notic">添加多个关键字，用英文逗号","隔开</div>
		                    </div>
	                    </div>
	                    <div class="item rolelist">
	                      <div class="label-t">回复内容:</div>
	                      <div class="label_value">
	                            <div class="panel panel-default">
	                                 <div class="panel-heading">
	                                  <ul class="nav nav-pills" role="tablist">
	                                    <li role="presentation"><a href="javascript:;" class="glyphicon glyphicon-pencil ectouch-fs18" title="文字" type="text"></a></li>
	                                    <li role="presentation"><a href="{url('auto_reply', array('type'=>'image'))}" class="glyphicon glyphicon-picture ectouch-fs18 fancybox fancybox.iframe" title="图片" type="image"></a></li>
	                                    <li role="presentation"><a href="{url('auto_reply', array('type'=>'voice'))}" class="glyphicon glyphicon-volume-up ectouch-fs18 fancybox fancybox.iframe"  title="语音" type="voice"></a></li>
	                                    <li role="presentation"><a href="{url('auto_reply', array('type'=>'video'))}" class="glyphicon glyphicon-film ectouch-fs18 fancybox fancybox.iframe"  title="视频" type="video"></a></li>
	                                    <li role="presentation"><a href="{url('auto_reply', array('type'=>'news'))}" class="glyphicon glyphicon-list-alt ectouch-fs18 fancybox fancybox.iframe"  title="图文消息" type="news"></a></li>
	                                  </ul>
	                                  </div>
	                                  <div class="panel-body">
                                        <div class="wechat_text"><textarea name="content" class="form-control" placeholder="文本内容" rows="6"></textarea></div>
                                        <div class="content thumbnail borderno hidden"></div>
	                                  </div>
	                            </div>
	                      </div>
	                    </div>
	                    <div class="item">
		                    <div class="label-t">&nbsp;</div>
		                    <div class="label_value info_btn">
	                            <input type="hidden" name="content_type" value="text" >
	            				<input type="submit" value="{$lang['button_submit']}" class="button btn-danger bg-red" />
	                          	<input type="reset" value="{$lang['button_reset']}" class="button button_reset" />
		                    </div>
	                    </div>
	                  </div>
	            	</form>
	            </div>
    		</div>
            <div class="common-content" >
                <div class="main-info">
                {foreach $list as $val}
                <div class="switch_info " >
                    <div class="item rolelist">
                        <div class="label-t">规则名称：{$val['rule_name']}</div>
                         <!--<div class="caret label_value">{$val['rule_name']}</div> -->
                    </div>
                    <div class="panel-footer info_btn of" style="margin-bottom:20px;background:#fff">
                        <a href="javascript:;" class="button bg-green edit">编辑</a>
                        <a href="javascript:if(confirm('{$lang['confirm_delete']}')){window.location.href='{url('reply_del', array('id'=>$val['id']))}'};" class="button btn-danger bg-red">删除</a>
                    </div>
                    <form action="{url('rule_edit')}" method="post" class="form-horizontal hidden" role="form">
                        <div class="item rolelist">
                          <div class="label-t">规则名称:</div>
                          <div class="label_value">
                              <input type='text' name='rule_name' value="{$val['rule_name']}" class="text input-sm" />
                              <div class="notic">规则名最多60个字</div>
                            </div>
                        </div>
                        <div class="item rolelist">
                            <div class="label-t">关&nbsp键&nbsp字&nbsp:</div>
                            <div class="label_value">
                               <input type='text' name='rule_keywords' value="{$val['rule_keywords_string']}" class="text input-sm" />
                               <div class="notic">添加多个关键字，用英文逗号","隔开</div>
                            </div>
                        </div>
                        <div class="item rolelist">
                          <div class="label-t">回复内容:</div>
                          <div class="label_value">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <ul class="nav nav-pills" role="tablist">
                                            <li role="presentation"><a href="javascript:;" class="glyphicon glyphicon-pencil ectouch-fs18" title="文字" type="text"></a></li>
                                            <li role="presentation"><a href="{url('auto_reply', array('type'=>'image'))}" class="glyphicon glyphicon-picture ectouch-fs18 fancybox fancybox.iframe" title="图片" type="image"></a></li>
                                            <li role="presentation"><a href="{url('auto_reply', array('type'=>'voice'))}" class="glyphicon glyphicon-volume-up ectouch-fs18 fancybox fancybox.iframe"  title="语音" type="voice"></a></li>
                                            <li role="presentation"><a href="{url('auto_reply', array('type'=>'video'))}" class="glyphicon glyphicon-film ectouch-fs18 fancybox fancybox.iframe"  title="视频" type="video"></a></li>
                                            <li role="presentation"><a href="{url('auto_reply', array('type'=>'news'))}" class="glyphicon glyphicon-list-alt ectouch-fs18 fancybox fancybox.iframe"  title="图文消息" type="news"></a></li>
                                        </ul>
                                    </div>
                                    <div class="panel-body">
                                      <div class="{if $val['medias'] || $val['media']}hidden{/if} wechat_text"><textarea name="content" class="form-control" placeholder="文本内容" rows="6">{$val['content']}</textarea></div>
                                        <div class="content  thumbnail borderno {if empty($val['medias']) && empty($val['media'])}hidden{/if}" style="padding:0;margin:0px;">
                                            <input type="hidden" name="media_id" value="{$val['media_id']}" />
                                            {if $val['medias']}<!-- 多图文 -->
                                            {foreach $val['medias'] as $k=>$v}
                                                    {if $k == 0}
                                                    <div class="article">
                                                        <p></p>
                                                        <div class="cover"><img src="{$v['file']}" /><span>{$v['title']}</span></div>
                                                    </div>
                                                        {else}
                                                    <div class="article_list">
                                                        <span>{$v['title']}</span>
                                                        <img src="{$v['file']}" width="78" height="78" class="pull-right" />
                                                    </div>
                                                    {/if}
                                            {/foreach}
                                            {elseif $val['media']}<!-- 单图文，图片，语音，视频 -->
                                                {if $val['media']['type'] == 'news' && $val['reply_type'] == 'news'}
                                                    <div class="article">
                                                        <h4>{$val['media']['title']}</h4>
                                                        <p>{date('Y年m月d日', $val['media']['add_time'])}</p>
                                                        <div class="cover"><img src="{$val['media']['file']}" /></div>
                                                        <p>{$val['media']['content']}</p>
                                                    </div>
                                                {elseif $val['media']['type'] == 'voice'}
                                                    <img src="{elixir('img/voice.png')}" /><span>{$val['media']['file_name']}</span>
                                                {elseif $val['media']['type'] == 'video'}
                                                    <img src="{elixir('img/video.png')}" /><span>{$val['media']['file_name']}</span>
                                                {else}
                                                    <img src="{$val['media']['file']}" style="max-width:300px;" />
                                                {/if}
                                            {/if}
                                        </div>
                                    </div>
                                </div>
                          </div>
                        </div>
                        <div class="item">
                          <div class="label-t">&nbsp;</div>
                          <div class="label_value info_btn">
                                <input type="hidden" name="content_type" value="{if $val['medias'] || $val['media']}media{else}text{/if}" />
                                <input type="hidden" name="id" value="{$val['id']}" />
                                <input type="submit" value="{$lang['button_submit']}" class="button btn-danger bg-red" />
                                <input type="reset" value="{$lang['button_reset']}" class="button button_reset" />
                            </div>
                        </div>
                    </form>
                </div>
                {/foreach}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function(){
    //添加规则显示隐藏
	$(".rule_add").click(function(){
		if($(".rule_form").hasClass("hidden")){
			$(".rule_form").removeClass("hidden");
		}
		else{
			$(".rule_form").addClass("hidden");
		}
	});
	//选择内容显示以及类型更改
    $(".nav-pills li").click(function(){
        var type = $(this).find("a").attr("type");
        var tab = $(this).parent().parent(".panel-heading").siblings(".panel-body");
        if(type == "text"){
    	    tab.find(".content").addClass("hidden");
            tab.find(".wechat_text").removeClass("hidden");
            $("input[name=content_type]").val(type);
        }
    });
    //规则显示
    $(".rule_title").click(function(){
        var obj = $(this).siblings("ul.view");
        if(obj.hasClass("hidden")){
        	obj.removeClass("hidden");
        	$(this).addClass("dropup");
		}
		else{
			obj.addClass("hidden");
			$(this).removeClass("dropup");
		}
    });
    //修改规则显示
    $(".edit").click(function(){
        var obj = $(this).parent().siblings("form");
    	if(obj.hasClass("hidden")){
        	obj.removeClass("hidden");
		}
		else{
			obj.addClass("hidden");
		}
    });
})
</script>
{include file="pagefooter_copyright"}
{include file="pagefooter"}
