{include file="pageheader"}
<style>
#footer {position: static;bottom:0px;}
</style>
<div class="wrapper">
	<div class="title">{$lang['wechat_menu']} - 功能扩展</div>
    <div class="content_tips">
    	<div class="explanation" id="explanation">
        	<div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span></div>
            <ul>
                <li>功能扩展，为系统默认提供的关键词自动回复功能，结合网站商品，会员，订单等功能提供互动查询服务，配合微信自定义菜单使用。</li>
            	<li>如果需要则安装并填写一下配置信息，复制对应的关键词，加入到微信自定义菜单中使用。 </li>
                <li>例如，精品 对应的关键词是 best（也可以使用相应的扩展词），在自定义菜单中添加一个菜单，菜单类型选择 关键词click。</li>
            </ul>
        </div>
		<div class="flexilist">
			<div class="common-content">
				<ul class="items-box seller-extend">
                    {foreach $modules as $val}
                    <li class="item_wrap">
                        <div class="plugin_item">
                            <div class="plugin_icon">
                                <i class="icon iconfont icon-{$val['command']} bg-{$val['command']}"></i>
                            </div>
                            <div class="plugin_status">
                                <span class="status_txt">
                                   <div class="list-div">
                                        <div class="handle">
                                            <div class="tDiv">
                                                {if isset($val['enable']) && !empty($val['enable'])}
							                    <a href="{url('edit', array('ks'=>$val['command'], 'handler'=>'edit'))}" class="btn_edit"><i class="fa fa-edit"></i>编辑</a>
							                    <a href="javascript:if(confirm('确认卸载吗？')){window.location.href='{url('uninstall', array('ks'=>$val['command']))}'};" class="btn_trash"><i class="fa fa-trash-o"></i>卸载</a>
							                    {else}
							                    <a href="{url('edit', array('ks'=>$val['command']))}" class="btn_inst"><i class="sc_icon sc_icon_inst"></i>安装</a>
							                    {/if}
							                    {if $val['enable'] == 1 && $val['config']['haslist'] == 1}<a href="{url('winner_list', array('ks'=>$val['command']))}" class="btn_see"><i class="sc_icon sc_icon_see"></i>查看记录</a>{/if}
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                            <div class="plugin_content"><h3 class="title">{$val['name']}</h3><p class="desc">{$val['command']}</p></div>
                        </div>
                    </li>
                    {/foreach}
                </ul>
			</div>
		</div>
    </div>
</div>
{include file="pagefooter_copyright"}
{include file="pagefooter"}
