{include file="admin_pageheader"}
<div class="wrapper">
    <div class="title">拼团 - 添加拼团商品</div>
    <div class="content_tips">
        <div class="tabs_info">
            <ul>
                <li class="curr"><a href="../mobile/index.php?r=team/admin/index">拼团商品</a></li>
                <li><a href="../mobile/index.php?r=team/admin/category">活动频道</a></li>
                <li><a href="../mobile/index.php?r=team/admin/teaminfo">开团团队</a></li>
                <li><a href="../mobile/index.php?r=team/admin/teamrecycle">回收站</a></li>
            </ul>
        </div>
        <div class="explanation" id="explanation">
            <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span></div>
            <ul>
               	<li>管理员可以在此页添加参与拼团的商品，设置该商品的拼团价，频道等。</li>
            </ul>
        </div>
        <div class="flexilist">
            <div class="main-info">

                <form method="post" action="{url('addgoods')}" enctype="multipart/form-data" role="form" id="group_buy_form" class="validation" >
                <div class="switch_info">
                	<!--搜索-->
	            	<div class="goods_search_div bor_bt_das">
                        <div class="search_select">
                            <div class="categorySelect">
	                            <div class="selection">
	                                <input type="text" name="category_name" id="category_name" class="text w250 valid" value="请选择分类" autocomplete="off" readonly="" data-filter="cat_name">
	                                <input type="hidden" name="category_id" id="category_id" value="0" data-filter="cat_id">
	                            </div>
                                <div class="select-container" style="display: none;">
                        
                                	{include file="filter_team_category"}
								</div>
                			</div>
                        </div>
                        <div class="search_select">
                            <div class="brandSelect">
                                <div class="selection">
                                    <input type="text" name="brand_name" id="brand_name" class="text w120 valid" value="请选择品牌" autocomplete="off" readonly="" data-filter="brand_name">
                                    <input type="hidden" name="brand_id" id="brand_id" value="0" data-filter="brand_id">
                                </div>
                                <div class="brand-select-container" style="display: none;">
                                    <div class="brand-top">
										<div class="letter">
											<ul>
												<li><a href="javascript:void(0);" data-letter="">全部品牌</a></li>
												<li><a href="javascript:void(0);" data-letter="A">A</a></li>
												<li><a href="javascript:void(0);" data-letter="B">B</a></li>
												<li><a href="javascript:void(0);" data-letter="C">C</a></li>
												<li><a href="javascript:void(0);" data-letter="D">D</a></li>
												<li><a href="javascript:void(0);" data-letter="E">E</a></li>
												<li><a href="javascript:void(0);" data-letter="F">F</a></li>
												<li><a href="javascript:void(0);" data-letter="G">G</a></li>
												<li><a href="javascript:void(0);" data-letter="H">H</a></li>
												<li><a href="javascript:void(0);" data-letter="I">I</a></li>
												<li><a href="javascript:void(0);" data-letter="J">J</a></li>
												<li><a href="javascript:void(0);" data-letter="K">K</a></li>
												<li><a href="javascript:void(0);" data-letter="M">M</a></li>
												<li><a href="javascript:void(0);" data-letter="N">N</a></li>
												<li><a href="javascript:void(0);" data-letter="O">O</a></li>
												<li><a href="javascript:void(0);" data-letter="P">P</a></li>
												<li><a href="javascript:void(0);" data-letter="Q">Q</a></li>
												<li><a href="javascript:void(0);" data-letter="R">R</a></li>
												<li><a href="javascript:void(0);" data-letter="S">S</a></li>
												<li><a href="javascript:void(0);" data-letter="T">T</a></li>
												<li><a href="javascript:void(0);" data-letter="U">U</a></li>
												<li><a href="javascript:void(0);" data-letter="V">V</a></li>
												<li><a href="javascript:void(0);" data-letter="W">W</a></li>
												<li><a href="javascript:void(0);" data-letter="X">X</a></li>
												<li><a href="javascript:void(0);" data-letter="Y">Y</a></li>
												<li><a href="javascript:void(0);" data-letter="Z">Z</a></li>
												<li><a href="javascript:void(0);" data-letter="QT">其他</a></li>
											</ul>
										</div>
										<div class="b_search">
											<input name="search_brand_keyword" id="search_brand_keyword" type="text" class="b_text" placeholder="品牌名称关键字查找" autocomplete="off">
											<a href="javascript:void(0);" class="btn-mini"><i class="fa fa-search"></i></a>
										</div>
									</div>
									<div class="brand-list ps-container ps-active-y">

										{include file="team_brand_list"}

										<div class="ps-scrollbar-x-rail" style="width: 234px; display: none; left: 0px; bottom: 3px;">
											<div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
										</div>
										<div class="ps-scrollbar-y-rail" style="top: 0px; height: 220px; display: inherit; right: 3px;">
											<div class="ps-scrollbar-y" style="top: 0px; height: 13px;"></div>
										</div>
									</div>
										<div class="brand-not" style="display:none;">没有符合"<strong>其他</strong>"条件的品牌</div>
								</div>
                            </div>
                        </div>
                        <input type="hidden" name="ru_id" value="0">
                        <input type="text" name="keyword" class="text w150" placeholder="请输入关键字" data-filter="keyword" autocomplete="off">
                        <a href="javascript:void(0);" class="btn btn30" onclick="searchGoods()"><i class="fa fa-search"></i>搜索</a>
                    </div>
			        <div class="item">
                    	<div class="label-t">拼团商品</div>
                    	<div class="label_value">
                       		<div id="goods_id" class="imitate_select select_w320">
                                <div class="cite">{if $info.id}{$info.goods_name}{else}请选择{/if}</div>
                                <ul>
                                	{if !$info.id}<li class="li_not">请先搜索商品</li>{/if}
                                </ul>
                                <input name="goods_id" type="hidden" datatype="*" nullmsg="请选择拼团商品" value="{if $info.id}{$info.goods_id}{/if}" id="goods_id_val">
                            </div>
                            <div class="form_prompt"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="label-t">拼团价格</div>
                        <div class="label_value">
                            <input type="text" id ='team_price' name="data[team_price]" datatype="*" nullmsg="请输入拼团价格" class="text" value="{$info['team_price']}">
                            <p class="notic">拼团购买时的商品价格</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="label-t">几人团</div>
                        <div class="label_value">
                            <input type="text" id ="team_num" name="data[team_num]" datatype="*" nullmsg="请输入几人团" class="text" value="{$info['team_num']}">
                            <p class="notic">此商品的成团人数</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="label-t">开团有效期</div>
                        <div class="label_value">
                            <input type="text" id ="validity_time" name="data[validity_time]" datatype="*" nullmsg="请输入开团有效期" class="text" value="{$info['validity_time']}">
                            <p class="notic">团长开团成功后开始倒计时，写入时间最好在24小时以内</p>
                        </div>
                    </div>
                    {if $virtual_limit_nim == 1}
                    <div class="item">
                        <div class="label-t">购买人次</div>
                        <div class="label_value">
                            <input type="text" name="data[limit_num]" class="text" value="{$info['limit_num']}">
                            <p class="notic">（虚拟）已参团人数将会影响商品在“排行-热销”中的顺序</p>
                        </div>
                    </div>
                    {/if}
                    <div class="item">
                        <div class="label-t">限购数量</div>
                        <div class="label_value">
                            <input type="text" id ="astrict_num" name="data[astrict_num]" datatype="*" nullmsg="请输入限购数量" class="text" value="{$info['astrict_num']}">
                            <p class="notic">每位参团人员（包括团长）的限购数量</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="label-t">频道</div>
                        <div class="label_value">
                            <select name="data[tc_id]" class="text">
                                <option value='0'>请选择频道</option>
                                {$team_list}
                            </select>
                        </div>
                    </div>
                    <div class="item">
                        <div class="label-t">审核状态</div>
                        <div class="label_value">
                            <div class="type-file-box">
                                <div class="checkbox_items">
                                    <div class="checkbox_item">
                                        <input type="radio" name="data[is_audit]" value="0" {if $info['is_audit']==0}checked{/if}>
                                        <label class="">未审核</label>
                                    </div>
                                    <div class="checkbox_item">
                                        <input type="radio" name="data[is_audit]" value="1" {if $info['is_audit']==1}checked{/if}>
                                        <label class="">审核未通过</label>
                                    </div>
                                    <div class="checkbox_item">
                                        <input type="radio" name="data[is_audit]" value="2" {if $info['is_audit']==2}checked{/if}>
                                        <label class="">审核已通过</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="item">
                        <div class="label-t">是否显示</div>
                        <div class="label_value">
                            <div class="type-file-box">
                                <div class="checkbox_items">
                                    <div class="checkbox_item">
                                        <input type="radio" name="data[is_team]" value="1" {if $info['is_team']==1}checked{/if}>
                                        <label class="">是</label>
                                    </div>
                                    <div class="checkbox_item">
                                        <input type="radio" name="data[is_team]" value="0" {if $info['is_team']==0}checked{/if}>
                                        <label class="">否</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="item">
                        <div class="label-t">排序</div>
                        <div class="label_value">
                            <input type="text" name="data[sort_order]" class="text" value="{if $info['sort_order']}{$info['sort_order']}{else}0{/if}">
                        </div>
                    </div>
                    <div class="item">
                        <div class="label-t">&nbsp;</div>
                        <div class="lable_value info_btn">
                            <input type="hidden" name="data[id]" value="{$info['id']}">
                            <input type="submit" name="submit" value="确定" class="button" style="margin:0 auto;"></div>
                    </div>
                </div>
                </form>
            </div>
    </div>
</div>

<script>
     //表单验证
    var style_text = "border:none; background: rgba(0,0,0,.7); color:#fff; max-width:90%; min-width:1rem; margin:0 auto; border-radius:.8rem;";
    $(function () {
        $.Tipmsg.r = null;
        $(".validation").Validform({
            tiptype: function (msg) {
                layer.open({
                    style: style_text,
                    type: 0,
                    anim: 3,
                    content: msg,
                    shade: false,
                    time: 2
                })
            },
            tipSweep: true,
            ajaxPost: true,

            callback: function (data) {
                if (data.status === 'y') {
                    window.location.href = data.url;
                } else {
                    layer.open({
                        style: style_text,
                        type: 0,
                        anim: 3,
                        content: data.info,
                        shade: false,
                        time: 2
                    })
                }
            }
        });
    })


    $("#explanationZoom").on("click",function(){
        var explanation = $(this).parents(".explanation");
        var width = $(".content_tips").width();
        if($(this).hasClass("shopUp")){
            $(this).removeClass("shopUp");
            $(this).attr("title","收起提示");
            explanation.find(".ex_tit").css("margin-bottom",10);
            explanation.animate({
                width:width
            },300,function(){
                $(".explanation").find("ul").show();
            });
        }else{
            $(this).addClass("shopUp");
            $(this).attr("title","提示相关设置操作时应注意的要点");
            explanation.find(".ex_tit").css("margin-bottom",0);
            explanation.animate({
                width:"118"
            },300);
            explanation.find("ul").hide();
        }
    });

    /**
	 * 搜索商品
	 */
	function searchGoods()
	{
		var form = $("#group_buy_form");
		var cat_id   = form.find("input[name='category_id']").val();
		var brand_id = form.find("input[name='brand_id']").val();
		var keyword  = form.find("input[name='keyword']").val();
		var ru_id = form.find("input[name='ru_id']").val();
		$.post("{url('team/admin/searchgoods')}", {cat_id:cat_id,brand_id:brand_id,keyword:keyword}, function(data){
             searchGoodsResponse(data);
        }, 'json');
	}

	function searchGoodsResponse(result)
	{
		$("#goods_id").children("ul").find("li").remove();

		var goods = result.content;
		if (goods)
		{
			for (i = 0; i < goods.length; i++)
			{
				$("#goods_id").children("ul").append("<li><i class='sc_icon sc_icon_no'></i><a href='javascript:;' data-value='"+goods[i].goods_id+"' class='ftx-01'>"+goods[i].goods_name+"</a><input type='hidden' name='user_search[]' value='"+goods[i].value+"'></li>")
			}
		}
	}

    //添加商品 分类选择
	/*$(document).on("click",".sort_list li",function(){
		$(this).addClass("current").siblings().removeClass("current");
	});*/

	// 选择品牌
	$('input[name="brand_name"]').click(function(){
		$(".brand-select-container").hide();
		$(this).parents(".selection").next(".brand-select-container").show();
		$(".brand-list").perfectScrollbar("destroy");
		$(".brand-list").perfectScrollbar();
    });
	/* 属性模式设置 by wu start */
	/*$(document).on("click","#attribute_warehouse input",function(){
		var warehouse_id = $(this).val();
		var warehouse_obj = $("#attribute_region .value[data-wareid="+warehouse_id+"]");
		warehouse_obj.show();
		warehouse_obj.siblings(".value").hide();
		warehouse_obj.find("input[type=radio]:first").prop("checked", true);

		var goods_id = $("input[name='goods_id']").val();
		set_attribute_table(goods_id);
	});*/
	/*$(document).on("click","#attribute_region input",function(){
		var goods_id = $("input[name='goods_id']").val();
		set_attribute_table(goods_id);
	});*/
	/* 属性模式设置 by wu end */


	/* AJAX选择品牌 */
    // 根据首字母查询
    $('.letter').find('a[data-letter]').click(function(){
		var goods_id = $("input[name=goods_id]").val();
		var letter = $(this).attr('data-letter');
		$(".brand-not strong").html(letter);
		$.post("{url('team/admin/searchbrand')}", {goods_id:goods_id,letter:letter}, function(result){
			if(result.content){
				$(".brand-list").html(result.content);
				$(".brand-not").hide();
			}else{
				$(".brand-list").html("");
				$(".brand-not").show();
			}
			$(".brand-list").perfectScrollbar("destroy");
			$(".brand-list").perfectScrollbar();
		}, 'json')
    });


    // 根据关键字查询品牌
    $('.b_search').find('a').click(function(){
		var goods_id = $("input[name=goods_id]").val();
		var keyword = $(this).prev().val();
		$(".brand-not strong").html(keyword);
		$.post("{url('team/admin/searchbrand')}", {goods_id:goods_id,keyword:keyword}, function(result){
			if(result.content){
				$(".brand-list").html(result.content);
				$(".brand-not").hide();
			}else{
				$(".brand-list").html("");
				$(".brand-not").show();
			}
			$(".brand-list").perfectScrollbar("destroy");
			$(".brand-list").perfectScrollbar();
		}, 'json')
    });

    // 选择品牌
    $('.brand-list').on('click', 'li', function(){
        $(this).parents('.brand-select-container').prev().find('input[data-filter=brand_id]').val($(this).data('id'));
        $(this).parents('.brand-select-container').prev().find('input[data-filter=brand_name]').val($(this).data('name'));
        $('.brand-select-container').hide();
    });


	/*带搜索的下拉列表*/
	/*$('.selection input[name="user_name"]').click(function(){
        $('.selection_select .select-container').show();
    });*/

    /*$('.select-list,.select-list2').on('click', 'li', function(){
        $(this).parents('.select-container').prev().children('input[name=user_id]').val($(this).data('id'));
        $(this).parents('.select-container').prev().children('input[name=user_name]').val($(this).data('name'));
        $('.selection_select .select-container').hide();
    });
*/
	/*$(".select-list,.select-list2").hover(function(){
		$(".select-list,.select-list2").perfectScrollbar();
	});*/

	/*带搜索的下拉列表end*/

	/*分类搜索的下拉列表*/
	jQuery.category = function(){
		$('.selection input[name="category_name"]').click(function(){
		$(this).parents(".selection").next('.select-container').show();
	});

	/*点击分类获取下级分类列表*/
	$(document).on('click', '.select-list li', function(){
		var obj = $(this);
		var cat_id = $(this).data('cid');
		$.post("{url('team/admin/filtercategory')}", {cat_id:cat_id}, function(result){
			if(result.content){
				obj.parents(".categorySelect").find("input[data-filter=cat_name]").val(result.cat_nav); //修改cat_name
				obj.parents(".select-container").html(result.content);
				//$(".select-list").perfectScrollbar("destroy");
				//$(".select-list").perfectScrollbar();
			}
		}, 'json');
		obj.parents(".categorySelect").find("input[data-filter=cat_id]").val(cat_id); //修改cat_id

		var cat_level = obj.parents(".categorySelect").find(".select-top a").length; //获取分类级别
		if(cat_level >= 3){
			$('.categorySelect .select-container').hide();
		}
	});

	//点击a标签返回所选分类 by wu
	$(document).on('click', '.select-top a', function(){
		var obj = $(this);
		var cat_id = $(this).data('cid');
		//$.jqueryAjax('get_ajax_content.php', 'act=filter_category&cat_id='+cat_id, function(data){
		$.post("{url('team/admin/filtercategory')}", {cat_id:cat_id}, function(result){
			if(result.content){
				obj.parents(".categorySelect").find("input[data-filter=cat_name]").val(result.cat_nav); //修改cat_name
				obj.parents(".select-container").html(result.content);
				// $(".select-list").perfectScrollbar("destroy");
				// $(".select-list").perfectScrollbar();
			}
		}, 'json');
		obj.parents(".categorySelect").find("input[data-filter=cat_id]").val(cat_id); //修改cat_id
		//obj.parents(".categorySelect").find("input[data-filter=cat_id]").val(cat_id); //修改cat_id
	});
	/*分类搜索的下拉列表end*/
}


//div仿select下拉选框 start
	$(document).on("click",".imitate_select .cite",function(){
		$(".imitate_select ul").hide();
		$(this).parents(".imitate_select").find("ul").show();
		//$(this).siblings("ul").perfectScrollbar("destroy");
		//$(this).siblings("ul").perfectScrollbar();
	});

	$(document).on("click",".imitate_select li  a",function(){
		var _this = $(this);
		var val = _this.data('value');
		var text = _this.html();
		_this.parents(".imitate_select").find(".cite").html(text);
		_this.parents(".imitate_select").find("input[type=hidden]").val(val);
		_this.parents(".imitate_select").find("ul").hide();
	});
//div仿select下拉选框 end

$(document).click(function(e){
	/*
	**点击空白处隐藏展开框
	*/

	//会员搜索
	if(e.target.id !='user_name' && !$(e.target).parents("div").is(".select-container")){
		$('.selection_select .select-container').hide();
	}
	//品牌
	if(e.target.id !='brand_name' && !$(e.target).parents("div").is(".brand-select-container")){
		$('.brand-select-container').hide();
		$('.brandSelect .brand-select-container').hide();
	}
	//分类
	if(e.target.id !='category_name' && !$(e.target).parents("div").is(".select-container")){
		$('.categorySelect .select-container').hide();
	}
	//仿select
	if(e.target.className !='cite' && !$(e.target).parents("div").is(".imitate_select")){
		$('.imitate_select ul').hide();
	}
	//日期选择插件
	if(!$(e.target).parent().hasClass("text_time")){
		$(".iframe_body").removeClass("relative");
	}
});

	//select下拉默认值赋值
	$('.imitate_select').each(function()
	{
		var sel_this = $(this)
		var val = sel_this.children('input[type=hidden]').val();
		sel_this.find('a').each(function(){
			if($(this).attr('data-value') == val){
				sel_this.children('.cite').html($(this).html());
			}
		})
	});

//分类选择
	$.category();
// 高级搜索边栏动画
// jQuery.gjSearch = function(right){
// 	$('#searchBarOpen').click(function() {
// 		$('.search-gao-list').animate({'right': '-40px'},200,
// 		function() {
// 			$('.search-gao-bar').animate({'right': '0'},300);
// 		});
// 	});
// 	$('#searchBarClose').click(function() {
// 		$('.search-gao-bar').animate({'right': right}, 300,
// 		function() {
// 			$('.search-gao-list').animate({'right': '0'},  200);
// 		});
// 	});
// }




// 分类分级 by qin
// function catList(val, level)
// {
//     var cat_id = val;
//     document.getElementById('cat_id').value = cat_id;
//     Ajax.call('goods.php?is_ajax=1&act=sel_cat', 'cat_id='+cat_id+'&cat_level='+level, catListResponse, 'GET', 'JSON');
// }
// function catListResponse(result)
// {
//     if (result.error == '1' && result.message != '')
//     {
//       alert(result.message);
//       return;
//     }
//     var response = result.content;
//     var cat_level = result.cat_level; // 分类级别， 1为顶级分类
//     for(var i=cat_level;i<10;i++)
//     {
//       $("#cat_list"+Number(i+1)).remove();
//     }
//     if(response)
//     {
//         $("#cat_list"+cat_level).after(response);
//     }

// 	if(document.getElementById('cat_level')){
// 		if(result.parent_id == 0){
// 			cat_level = 0;
// 		}
// 		document.getElementById('cat_level').value = cat_level;
// 	}
//   return;
// }



//筛选显示分类 by wu
// function filter_category(cat_id,cat_level,select_jsId)
// {
// 	var obj=$("#"+select_jsId);
// 	obj.children('option').each(function(){
// 		var val=$(this).val();
// 		var valArr=val.split('_');
// 		if(valArr[1]>cat_level)
// 		{
// 			$(this).hide();
// 		}
// 	});
// }
//jqueryAjax异步加载
// $.jqueryAjax = function(url, data, ajaxFunc, type, dataType)
// {
// 	var baseData = "is_ajax=1&";
// 	var baseFunc = function(){}
// 	if(!url)
// 	{
// 		url = "index.php";
// 	}
// 	if(!data)
// 	{
// 		data = "";
// 	}
// 	if(!type)
// 	{
// 		type = "get";
// 	}
// 	if(!dataType)
// 	{
// 		dataType = "json";
// 	}
// 	if(!ajaxFunc)
// 	{
// 		ajaxFunc = baseFunc;
// 	}
// 	data = baseData + data;
// 	$.ajax({
// 		type:type,
// 		url:url,
// 		data:data,
// 		dataType:dataType,
// 		success:ajaxFunc.success? ajaxFunc.success:ajaxFunc,
// 		error:ajaxFunc.error? ajaxFunc.error:baseFunc,
// 		beforeSend:ajaxFunc.beforeSend? ajaxFunc.beforeSend:baseFunc,
// 		complete:ajaxFunc.complete? ajaxFunc.complete:baseFunc,
// 		//dataFilter:ajaxFunc.dataFilter? ajaxFunc.dataFilter:baseFunc
// 	});
// }
//设置商品分类 by wu
// function get_select_category_pro(obj, cat_id, cat_level)
// {
// 	var obj = $(obj);
// 	var thisSection = obj.parents(".sort_info");
// 	$.jqueryAjax('goods.php', 'act=get_select_category_pro&cat_id='+cat_id+'&cat_level='+cat_level, function(data){
// 		if(cat_id == 0){
// 			var parent_id1 = thisSection.find("ul[data-cat_level="+(cat_level-1)+"] li.current").data("cat_id"); //上一级
// 			var parent_id2 = thisSection.find("ul[data-cat_level="+(cat_level-2)+"] li.current").data("cat_id"); //上上一级
// 			parent_id = parent_id1? parent_id1:parent_id2? parent_id2:0; //如果都没有，则cat_id=0
// 			thisSection.find("input[ectype=cat_id]").val(parent_id); //设置分类id
// 			thisSection.find("ul[data-cat_level="+(cat_level+1)+"] li:gt(0)").remove(); //除第一行，其他移除
// 			thisSection.find("ul[data-cat_level="+(cat_level+1)+"] li:first").removeClass("current"); //去除第一行的选中效果
// 		}else{
// 			thisSection.find("input[ectype=cat_id]").val(cat_id); //设置分类id
// 			thisSection.find("ul[data-cat_level="+(cat_level+1)+"]").html(data.content); //异步加载内容
// 			$(".category_list").perfectScrollbar('destroy');
// 			$(".category_list").perfectScrollbar();
// 		}
// 		thisSection.find("ul[data-cat_level="+(cat_level+2)+"] li:gt(0)").remove(); //除第一行，其他移除
// 		thisSection.find("ul[data-cat_level="+(cat_level+2)+"] li:first").removeClass("current"); //去除第一行的选中效果

// 		//拓展分类不能修改分类导航
// 		if(obj.parents("#extension_category").length == 0){
// 			set_cat_nav();
// 		}
// 	});
// }

//设置分类导航 by wu
// function set_cat_nav()
// {
// 	var cat_nav = "";
// 	$("ul[ectype='category']").each(function(){
// 		var category = $(this).find("li.current a").text();
// 		if(category){
// 			if($(this).data("cat_level") == 1){
// 				cat_nav += category;
// 			}else{
// 				cat_nav += " > " + category;
// 			}
// 		}
// 	})
// 	$("#choiceClass strong").html(cat_nav);
// 	$(".edit_category").siblings("span").html(cat_nav);
// }



// $(document).click(function(e){
// 		/*
// 		**点击空白处隐藏展开框
// 		*/

// 		//会员搜索
// 		if(e.target.id !='user_name' && !$(e.target).parents("div").is(".select-container")){
// 			$('.selection_select .select-container').hide();
// 		}
// 		//品牌
// 		if(e.target.id !='brand_name' && !$(e.target).parents("div").is(".brand-select-container")){
// 			$('.brand-select-container').hide();
// 			$('.brandSelect .brand-select-container').hide();
// 		}
// 		//分类
// 		if(e.target.id !='category_name' && !$(e.target).parents("div").is(".select-container")){
// 			$('.categorySelect .select-container').hide();
// 		}
// 		//仿select
// 		if(e.target.className !='cite' && !$(e.target).parents("div").is(".imitate_select")){
// 			$('.imitate_select ul').hide();
// 		}
// 		//日期选择插件
// 		if(!$(e.target).parent().hasClass("text_time")){
// 			$(".iframe_body").removeClass("relative");
// 		}
// });

	//select下拉默认值赋值
	// $('.imitate_select').each(function()
	// {
	// 	var sel_this = $(this)
	// 	var val = sel_this.children('input[type=hidden]').val();
	// 	sel_this.find('a').each(function(){
	// 		if($(this).attr('data-value') == val){
	// 			sel_this.children('.cite').html($(this).html());
	// 		}
	// 	})
	// });



//jq仿select -- 带返回函数的
// jQuery.divselect = function(divselectid,inputselectid,fn) {
// 	var inputselect = $(inputselectid);
// 	$(document).on('click',divselectid+" .cite",function(event){
// 		$(".imitate_select").find("ul").hide();
// 		event.stopImmediatePropagation();
// 		var ul = $(divselectid+" ul");
// 		if(ul.css("display")=="none"){
// 			ul.css("display","block");
// 		}else{
// 			ul.css("display","none");
// 		}
// 		$(this).siblings("ul").perfectScrollbar("destroy");
// 		$(this).siblings("ul").perfectScrollbar();
// 	});
// 	$(document).on("click",divselectid+" ul li a",function(event){
// 		event.stopImmediatePropagation();
// 		var txt = $(this).text();
// 		$(divselectid+" .cite").html(txt);
// 		var value = $(this).data("value");
// 		inputselect.val(value);
// 		$(divselectid+" ul").hide();
// 		if(fn){
// 			fn($(this));
// 		}
// 	});
// 	$(document).on("click",function(){
// 		$(divselectid+" ul").hide();
// 	});
// };

    $(".categorySelect .select-container ul li").click(function(){
    	var cate=$(this).attr("data-cname")
    	$("#category_name").val(cate)
    })
</script>
{include file="admin/footer"}
