input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
    width: 60%;
    -webkit-appearance: none;
    padding: .5rem 0;
    margin-bottom: 15px;
    line-height: 1.2rem;
    -webkit-user-select: text;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    outline: 0;
}
body{font-size: .8rem; background-color: #f5f5f5;}
h1,h2,h3,h4,h5,h6{ font-weight: 400;}
img{ width: 100%; }
span.icon-uniE918{ color: #60abff; }
.btn{
	padding: .4rem;
    border-radius: 5px;
    border: initial;
    background-color: #ff4e00;
    color: #fff;
    margin-right: 0px;
    font-size: .75rem;
}
.bottom-btn{
    width: 94%;
    margin: .5rem 3%;
    background-color: #ed394a;
    display: block;
    padding: .5rem 0;
    text-align: center;
    font-size: .875rem;
}
a.bottom-btn2{
    background-color: #fff;
    color: #ed394a;
}
.cy-btn{
    width: 100%;
    line-height: 1.8rem;
    background-color: #00cc00;
}
.btn-max{
    display: inherit;
    margin: .5rem;
    text-align: center;
    line-height: 1.8rem;
    font-size: .8rem;
}
.btn-yellow{ background-color: #f5ba20; }
.btn-green{ background-color: #00cc00; }
.btn-red{ background-color: #ee394a !important; }
.btn-b{ background-color: #60abff; }
.btn-forbidden{background-color: #ccc; }
.btn-upgrade{ background-color: #f10180; }
.btn-set{background-color: #F90;}
/*-- icon图标 --*/
.icon {
    display: inline-block;
    background-image: url(../images/icon.png);
    background-size: 350px 350px;
}
/*-- header --*/
.header i{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
}
.header i.icon-menu{ left: 10px; background-position: -317px 5px; }
.header i.icon-return{ left: 5px; top: .35rem; background-position: -280px -10px; }
.header i.icon-soso{ right: 10px; background-position: -320px -21px; }
.header i.icon-addcommunity{
    top: .35rem;
    right: .5rem;
    background-position: -320px -175px;
}
@media (device-width:375px) and (-webkit-min-device-pixel-ratio:2){
    .header i.icon-return,
    .header i.icon-addcommunity{ top: .45rem; }
}
@media (device-width:414px) and (-webkit-min-device-pixel-ratio:3.0){
    .header i.icon-return,
    .header i.icon-addcommunity{ top: .55rem; }
}
/*-- 轮播图 banner --*/
.m-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}
.ks_wrap {
    width: 100%;
}
.ks_ts {
    -webkit-transition: 500ms;
}
.ks_dbox {
    display: -webkit-box;
    width: 100%;
    text-align: left;
}
.ks_wt {
    display: -webkit-box;
    margin: 0;
    padding: 0;
    -webkit-box-pack: center;
}
.ks_wt li {
    list-style: none;
    text-align: center;
    color: #fff;
}
.ks-circles {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.ks_wt_1 .ks_wt li {
    line-height: 35px;
    height: 35px;
    border-right: solid 1px #bbb;
    -webkit-box-flex: 1;
}
.ks-circles .ks_wt li {
    overflow: hidden;
    width: 12px;
    height: 3px;
    margin: 10px 5px;
    text-indent: 20px;
    background-color: #fff;
}
.ks_wt_1 .ks_wt .active {
    color: #000;
    background: -webkit-linear-gradient(top, #e7e7e7 0, #dfdfdf 100%);
}
.ks-circles .ks_wt .active {
    -webkit-animation: kt2 .8s ease-in-out;
    background: #ee394a;
}
@-webkit-keyframes kt2 {
    0% {
        -webkit-transform: scale(1);
    }
    60% {
        -webkit-transform: scale(1.4);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
article{ padding: .5rem; background-color: #fff; margin-bottom: .5rem; border-bottom: 1px solid #e6e6e6;}
article h1{  font-size: .875rem; color: #666; }
article.no-pad{ padding: 0; }
/* nav */
nav { background-color: #fff; padding: .5rem 0; margin-bottom: .5rem; border-bottom: 1px solid #e6e6e6;}
.nav-box{ display: table; margin: 0 auto; }
.nav-box a{  float: left; width: 2.8rem; margin: .5rem .4rem; display: block; font-size: .7rem; text-align: center;}
.nav-box a span,
.client a span{ margin-top: .25rem; display: inherit;}
/* 商城客户 */
.client{ overflow: hidden; margin: .5rem .25rem;}
.client a{ width: 20.5%; float: left; margin-right: 6%; text-align: center; font-size: .8rem;}
.client a img{ border-radius: 50%; }
.client a:nth-of-type(4){ margin-right: 0; }
.client2 a span{ margin-top: .25rem; display: inherit;}
/* 商城客户 */
.client2{ overflow: hidden; margin: .5rem .25rem;}
.client2 a{ width: 25%; float: left; margin-bottom: 2%; text-align: center; font-size: .8rem;}
.client2 a img{ border-radius: 50%; }
.client2 a:nth-of-type(4){ margin-right: 0; }
/* 登入及註冊 */
.client3 a span{ margin-top: .25rem; display: inherit;}
.client3{ overflow: hidden; margin: .5rem .25rem;}
.client3 a{ width: 100%; float: left; margin-bottom: 2%; text-align: center; font-size: .8rem;}
.client3 a img{ border-radius: 50%; }
.client3 a:nth-of-type(4){ margin-right: 0; }
/* 首頁商戶 */
.client4 a span{ margin-top: .25rem; display: inherit;}
.client4{ overflow: hidden; margin: .5rem .25rem; text-align: center;}
.client4 a{ width: 20%; float: left; margin: 0 7%; text-align: center; font-size: .8rem;}
.client4 a img{ border-radius: 50%; }
.client4 a:nth-of-type(3){ margin-right: 0; }
/* 儲值 */
.client5 a span{ margin-top: .25rem; display: inherit;}
.client5{ overflow: hidden; margin: .5rem .25rem; text-align: center;}
.client5 a{ width: 30%; float: left; margin: 3% 4% 3% 0; text-align: center; font-size: .8rem;}
.client5 a img{ border-radius: 50%; }
.client5 a:nth-of-type(3),.client5 a:nth-of-type(6),.client5 a:nth-of-type(9){ margin-right: 0; }


/* 精选促销 */
.commodity-box{ padding: .5rem; margin-bottom: 3rem; }
.commodity-box2{ margin-bottom: 0; }
.commodity{ overflow: hidden;}
.commodity li{
    float: left;
    width: 32%;
    height: 6.5rem;
    margin-right: 2%;
    margin-bottom: .25rem;
    background-color: #fff;
}
/* .commodity li:nth-of-type(3), */
/* .commodity li:nth-of-type(6), */
/* .commodity li:nth-of-type(9){ margin-right: 0; } */
.commodity li span{
    display: initial;
    color: #1a1a1a;
    line-height: 1rem;
    font-size: .7rem;
    margin-top: .25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;}
.commodity li span.price{ color: #ed394a; font-size: .65em; }
.commodity li span.price s{ color: #a6a6a6; font-size: .65em; }

.img-box {
    display:block;
    width:100%;
    height:100%;
    overflow: hidden;
    position: relative;
}
.img-box .picholder {
    display : block;
    width : 100%;
    height : 100%;
}
.img-box .product_pic {
    position: absolute;
    top:0;
    left:0;
    display:block;
    width:100%;
    height:100%;
}

/* 0 ~ 320px
-------------------------------------------------- */
@media (max-width: 320px) {
    .commodity li {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-left: 0;
    }
}

/* 321px ~ 640px
-------------------------------------------------- */
@media (min-width: 321px) and (max-width: 640px) {
    .commodity li {
        width: 49.5%;
        height: auto;
        margin-right: 1%;
        margin-left: 0;
    }
    .commodity li:nth-child(even) {
        margin-right: 0;
    }
}

/* 641px ~ 1280px
-------------------------------------------------- */
@media (min-width: 641px) and (max-width: 1280px) {
    .commodity li {
        width: 32.6%;
        height: auto;
        margin-right: 1%;
        margin-left: 0;
    }
    .commodity li:nth-child(3n+3) {
        margin-right: 0;
    }
}

/* 1281px ~
-------------------------------------------------- */
@media (min-width: 1281px) {
    .commodity li {
        width: 24.25%;
        height: auto;
        margin-right: 1%;
        margin-left: 0;
    }
    .commodity li:nth-child(4n+4) {
        margin-right: 0;
    }
}




/* classify 分类 */
article.classify-box{ overflow: hidden; padding: 0; margin-bottom: 0; border-bottom: 0; }
.classify-left{
    width: 6rem;
    height: 100%;
}
.classify-left ul{ overflow: hidden;}
.classify-left ul li{ position: relative; background-color: #f5f5f5; }
.classify-left ul li.pick{ background-color: #fff; color: #ed394a; }
.classify-left ul li.pick::before{ position: absolute; content: " "; width: .2rem; height: 3rem; background-color: #ed394a; top: 0; left: 0; }
.classify-left ul li a{
    display: block;
    padding-left: .7rem;
    line-height: 3rem;
}
.classify-right ul li a{
    display: inherit;
    text-align: center;
    width: 5rem;
    margin: .5rem;
    float: left;
}
/* 商品详情 */
.product-head{ position: relative; }
.product-head a{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: .5rem;
    right: .5rem;
}
.product-head a:nth-of-type(1){ right: 2.5rem; }
.product-text { padding: .5rem; margin-bottom: 0; border-bottom: 0;}
.product-text span{
    display: initial;
    color: #1a1a1a;
    line-height: 1.4rem;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.product-text span.price{ color: #ed394a; font-size: .875rem; }
.product-text span.price s{ color: #a6a6a6; font-size: .75rem; text-decoration:none;}
.select-btn{
    position: relative;
    display: block;
    line-height: 2.2rem;
    font-size: .875rem;
    padding: 0 .5rem;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
}
.select-btn-s{ margin-bottom: .5rem; }
i.icon-select{
    position: absolute;
    width: 20px;
    height: 20px;
    right: .25rem;
    top: .5rem;
    background-size: 220px 220px;
    background-position: -163px -5px;
}
.select-btn-t{ padding-left: 2.5rem; }
.select-btn-t img{
    position: absolute;
    top: .3rem;
    left: .5rem;
    width: 1.5rem;
    height: 1.5rem;
}
.select-btn-d{ border-top: 0; }
.select-btn-d img{
    top: .45rem;
    left: .8rem;
    width: 1.1rem;
    height: 1.1rem;
}


.product-content-ul{ overflow: hidden; }
.product-content-ul li{
    width: 50%;
    float: left;
    line-height: 2.2rem;
    text-align: center;
    background-color: #f5f5f5;
}
.product-content-ul.single li {
    width:100%;
}
.product-content-ul li span{
    padding: 0 .5rem;
    line-height: 2.2rem;
    display: inline-block;
    border-bottom: 2px solid #f5f5f5;
}
.product-content-ul li.pick span{
    color: #ed394a;
    border-bottom: 2px solid #ed394a;
}
.product-content-ul2{ margin-bottom: 3rem; }
.product-content-ul2{ background-color: #fff; }
.product-content-ul2 li{ padding: .5rem; }



/* 选择规格 */
.norms-box{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
    display: none;
}
.norms-box .norms-box-bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}
.norms-box  .norms-content{
    position: absolute;
    top: 40%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 4;
}
.norms-content-t{ border-bottom: 1px solid #e6e6e6;}
.norms-content-one{ width: 100%; height: 4rem; }
.norms-content-one .norms-img{
    position: absolute;
    top: -1.5rem;
    left: .5rem;
    width: 5rem;
}
.norms-content-one .norms-c-text{ margin-left: 6rem; margin-top: .5rem;}
.norms-c-text span{
    display: initial;
    color: #1a1a1a;
    line-height: 1.4rem;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.norms-c-text span.price{ color: #ed394a; font-size: .875rem; }
.norms-c-text span.price s{ color: #a6a6a6; font-size: .75rem; }
.norms-content-one .norms-off-btn{
    position: absolute;
    top: -.5rem;
    right: .5rem;
    width: 1rem;
}
.norms-content-two{ line-height: 1.5rem; padding: .5rem; font-size: .8rem;}
.norms-content-two span{
    width: 1rem;
    height: 1rem;
    margin: .25rem;
    line-height: 1rem;
    text-align: center;
    float: right;
}
.norms-content-two span.norms-out{
    background-size: 200px 200px;
    background-position: -106px -4px;
}
.norms-content-two span.norms-add{
    background-size: 200px 200px;
    background-position: -106px -25px;
}
.norms-content-three{
    padding: .5rem;
    font-size: .8rem;
}
.norms-content-three span{ border: 1px solid #ccc; font-size: .7rem; padding: .1rem .5rem; margin-top: .5rem; display: inline-block;}
.norms-content-three span.pick{ border: 1px solid #ee394a; background-color: #ee394a; color: #fff;}
/* 用户评价 evaluate */
.evaluate{ overflow: hidden; margin: .5rem 0; }
.evaluate>p{ padding-left: 2.5rem; }
.evaluate-head>img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    float: left;
}
.evaluate-head p{ padding-left: 2.5rem; }
.evaluate-head p span{
    font-size: .6rem;
    color: #999;
    float: right;
}
.evaluate-head p img{ width: 76px; height: 12px; }
/* 加入购物车底部 */
.add-shopping{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2.5rem;
    border-top: 1px solid #e6e6e6;
    background-color: #fff;
    z-index: 5;
}
.add-shopping a.shopping-btn{
    position: absolute;
    width: 3.3rem;
    height: 3.3rem;
    line-height: 3.3rem;
    bottom: .3rem;
    left: .5rem;
    background-color: #ed394a;
    border-radius: 50%;
    text-align: center;
}
.add-shopping a.shopping-btn em{
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    color: #fff;
    border-radius: 50%;
    background-color: #fbc725;
}
.add-shopping a.shopping-btn i.icon-car{
    width: 2rem;
    height: 2rem;
    margin-top: .5rem;
    background-size: 250px 250px;
    background-position: -188px -25px;
}
.add-shopping a{ margin-right: .5rem; }
.add-shopping a.btn{ margin-top: .2rem; }
/* 确认订单 */
article.orderSite{ padding: 0 ; border-bottom: 0;}
.orderSite a{ position: relative; display: block; padding: .5rem; border-bottom: 1px solid #e6e6e6; }
.orderSite p{ font-size: .85rem; color: #404040; }
.orderSite span{ font-size: .75rem; color: #999; }
.orderSite span em{ color: #ed394a; margin-right: .25rem;}
.orderSite a i.icon-select{ top: 1.25rem; }
article.confirmOrder{border-top: 0;}
.confirmOrder img{ width: 4.8rem; height: 4.8rem; float: left; margin-right: .5rem;}
.product-text span.hue{ font-size: .65rem; color: #737373; line-height: 1rem; }
.product-text span.price em{ float: right; }
.navbar-fixed-bottom{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: 1030;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.m-component-foot .container {
    padding: 0 10px;
}
.navbar-text {
    color: #ee394a;
    font-size: 1.2em;
    margin: 10px 0 0;
}
.navbar-text>p {
    margin-bottom: 0;
    font-size: .8em;
    color: #a7a7a7;
}
.m-cart-disbursement {
    margin-top: 5px;
    font-size: 14px;
}
.navbar-btn {
    margin: 6px 0 6px 10px;
}
.btn-warning {
    color: #fff;
    background-color: #ee394a;
    border-color: #ee394a;
}
.navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px;
}
.pull-left {
    float: left!important;
}
.pull-right {
    float: right!important;
}

.icon-radio{
    position: relative;
    }
.icon-radio:after{
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url(../images/icon.png);
    background-size: 250px 250px;
    background-position: 0px -132px;
    top: 7px;
    left: 0;
    display: block;
}
.icon-radio2:after{ background-position: -32px -132px;}
.setCmp .setCmp-input input{ border: none; padding: 0; margin: 0; width: 100%;}
.radio-la,
.checkbox-la{ display: none; }
.radio-la+label,
.checkbox-la+label{ position: relative; display: inline-block; z-index: 9; text-indent: 2rem; width: 100%; min-height: 1rem; padding: .5rem 0; line-height: 1.2rem; color: #999;}
.select-association-list .radio-la+label{ width: 100%; }
.radio-la+label:before,
.checkbox-la+label:before{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url(../images/icon.png);
    background-size: 300px 300px;
    background-position: -127px -128px;
    top: 7px;
    right: 0;
    display: block;
}
.radio-la:checked+label:before{ background-position: -95px -128px;}
.add-site{ position: fixed; right: 0; bottom: 0; left: 0;}
/* 新增地址 */
.input-row {
    overflow: hidden;
    clear: left;
    min-height: 40px;
    border-bottom: 1px solid #e7e7e7;
}
.input-row label {
    position: absolute;
    float: left;
    /* width: 4rem; */
    padding: .5rem 0 .5rem .5rem;
    line-height: 1.2rem;
}
.input-row2 label{ color: #999; }

/*接在label後的input("~"表示不一定要緊接 , "+" 表示緊接) */
.input-row label~select,
.input-row label~textarea,
.input-row label~img,
.input-row label~input{
  	padding-left: 6rem;
    padding-right: 1rem;
    margin-bottom: 0;
    border: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
    border-radius: 0;
}
.addSite-radio .radio-la+label{ text-indent: .5rem; }
.addSite-radio .radio-la+label:before{ right: .5rem; }
/* 商家 merchant */
.merchant{
    height: 10rem;
    background: url(../images/sj_bg.png) no-repeat center;
    background-size: cover !important;
    text-align: center;
}
.merchant img{ width: 4rem; height: 4rem;margin: .25rem; margin: .8rem auto 0; border-radius: 50%; border: 2px solid rgba(255, 255, 255, .3); }
.merchant p{ color: #fff; font-size: 1rem; margin: .25rem; }
.merchant span{ display: inline-block; border: 1px solid #fff; border-radius: 4px; padding: .25rem 1rem; background: none; }
.merchant-notice{ padding: .5rem; background-color: #fff;  }
/* 个人中心 user */
article.user-head,
article.user-list{ padding: 0; }
article.user-list{ border-bottom: none; }
.user-bg-img{ position: relative; }
.user-bg-img .user-img{
    position: absolute;
    width: 4rem;
    height: 4rem;
    padding: 0rem;
    border: 1px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    top: 40%;
    left: 50%;
    margin-top: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
}
.user-bg-img .user-img img{ border-radius: 0%;}
.user-order a,
.user-list a { border-top: 0; font-size: .8rem;}
.user-order a i.icon-select,
.user-list a i.icon-select{ top: .58rem; }
.user-order a span,
.user-list a span{ font-size: .65rem; color: #999; float: right; margin-right: .85rem; }
.user-nav{
    padding: .5rem 0;
    background-color: #fff;
    overflow: hidden;
}
/* // 5等分
.user-nav a{
    display: initial;
    width: 20%;
    float: left;
    text-align: center;
    overflow: hidden;
    font-size: .75rem;
    color: #737373;
}
*/
/* 4等分  */
.user-nav a{
    display: initial;
    width: 25%;
    float: left;
    text-align: center;
    overflow: hidden;
    font-size: .75rem;
    color: #737373;
}
.user-nav a i{
    display: inherit !important;
    margin: 0 auto;
    width: 30px;
    height: 30px;
}
.user-nav a i.icon{background-size: 280px 280px;}
.user-nav a i.icon-f1{ background-position: 0 -250px; }
.user-nav a i.icon-f2{ background-position: -32px -250px; }
.user-nav a i.icon-f3{ background-position: -64px -250px; }
.user-nav a i.icon-f4{ background-position: -92px -250px; }
.user-nav a img{
    display: inherit !important;
    margin: 0 auto;
    width: 30px;
    height: 30px;
}
/* 社区 community */
.community-head{
    padding: 0 0 .25rem;
    font-size: .75rem;
    line-height: 2rem;
    color: #808080;
}
.community-head img{
    width: 2rem;
    height: 2rem;
    margin-right: .25rem;
    border-radius: 50%;
}
.community-head p{ line-height: 1rem; margin-top: .25rem;}
.community-content{ overflow: hidden; }
.community-content li{
    width: 32%;
    float: left;
    margin: .25rem 1%;
}
.community-content li:nth-of-type(1){ margin-left: 0; }
.community-content li:nth-of-type(3){ margin-right: 0; }
.community-foot em{ font-size: .7rem; color: #999999; }
.community-foot i{
    float: right;
    width: 30px;
    height: 30px;
}
.community-foot i.icon-share{
    background-position: -320px -142px;
}
.c-Publish .Pu-text textarea {
    width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    border: 0;
}
.c-Publish .Pu-img {
    margin: .5rem 0 1rem;
    overflow: hidden;
}
.c-Publish .Pu-img a {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    float: left;
    margin-right: 2.65%;
    margin-bottom: .4rem;
}
.c-Publish .Pu-img a.Pu-Add-img {
    position: relative;
    text-align: center;
    margin-right: 0;
}
.c-Publish .Pu-img a>img { height: 4rem;}
.c-Publish .Pu-img a.Pu-Add-img input {
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.btn-max {
    display: inherit;
    margin: .5rem;
    text-align: center;
    line-height: 1.8rem;
    font-size: .8rem;
}
.btn-forbidden { background-color: #ccc !important;}
.submit-btn button { width: 100%; margin: 0;}
/* 购物车 */
.Cart .radio-la+label{
    float: left;
    width: 30px;
    margin-left: .5rem;
}
.Cart .select-btn-t { padding-left: 4.5rem;}
.Cart .select-btn-t img { left: 2.45rem;}
.navbar-fixed-bottom-cart{ bottom: 3rem; }
.product-text span.price-cart{ position: relative; }
span.price-cart .norms-content-two {
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.container-cart .m-cart-disbursement {
    margin-top: .65rem;
    font-size: .875rem;
}
.cart-edit{
    position: absolute;
    right: .5rem;
    top: 0;
    color: #fff;
}
/* footer 底部菜单 */
footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .25rem 0;
    background-color: #fff;
    border-top: 1px solid #e6e6e6;
}
footer a{
    display: initial;
    width: 25%;
    float: left;
    text-align: center;
    color: #737373;
}
footer a.pick{ color: #ed394a; }
footer a i{
    display: inherit !important;
    margin: 0 auto;
    width: 30px;
    height: 30px;
}
footer a i.icon{background-size: 280px 280px;}
footer a i.icon-f1{ background-position: -110px -4px; }
footer a i.icon-f2{ background-position: -73px -4px; }
footer a i.icon-f3{ background-position: -36px -4px; }
footer a i.icon-f4{ background-position: 0 -4px; }
footer a.pick i.icon-f1{ background-position: -110px -33px; }
footer a.pick i.icon-f2{ background-position: -73px -33px; }
footer a.pick i.icon-f3{ background-position: -36px -33px; }
footer a.pick i.icon-f4{ background-position: 0 -33px; }
footer a span{ display: inherit; }

.tab_content { display: none !important;}
.show { display: block !important;}

.divcontainer {
    overflow: hidden;
}
.right {
    float: left;
}
.left {
    float: left;
	width:20%;
    margin-right:.5rem;
}
.middle {
	float: left;
    width:37.5%;
	margin-right:.5rem;
}
.listdiv1 {
	float: left;
    margin-right:.3rem;
}
.listdiv2 {
	float: left;
}
.listtitle {
    display: initial;
    color: #1a1a1a;
    font-size: .7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.emphize-star {
    color: red;
	font-weight:bold;
}

/* 精选促销 */
.store-box{ padding: .5rem; margin-bottom: 0rem; }
.store-box2{ margin-bottom: 0; }
.store{ overflow: hidden;}
.store li{
    float: left;
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: .25rem;
    background-color: #fff;
}
/* .store li:nth-of-type(3), */
/* .store li:nth-of-type(6), */
/* .store li:nth-of-type(9){ margin-right: 0; } */
.store li span{
    display: initial;
    color: #1a1a1a;
    line-height: 1rem;
    font-size: .7rem;
    margin-top: .55rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;}
.store li span.price{ color: #ed394a; font-size: .75rem; }
.store li span.price s{ color: #a6a6a6; font-size: .6rem; }


.slick-dots {
    position: relative;
    bottom: 0;
}
.slick-dots li {
    float: none;
    background: #FFF;
    width: 20px;
}


// body {
//     position: relative;
//     height: 100%;
// }
.loadingbox {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
}
.loadingbox:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    opacity: .75;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
}
.loadingbox.act {
    display: block;
}
.loadingbox img {
    margin: auto;
    width: 64px;
    height: 64px;
    text-align: center;
    display: block;
    position: relative;
    z-index: 9999;
}

.icon-radio3{
    position: relative;
    }
.icon-radio3:after{
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url(../images/0.png);
    background-size: 32px 32px;
    background-position: 0px 0px;
	border-radius: 50%;
    top: 7px;
    left: 0;
    display: block;
}
.icon-radio4{
    position: relative;
    }
.icon-radio4:after{
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url(../images/sa.png);
    background-size: 32px 32px;
    background-position: 0px 0px;
	border-radius: 50%;
    top: 7px;
    left: 0;
    display: block;
}
.icon-radio5{
    position: relative;
    }
.icon-radio5:after{
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url(../images/creditcard.png);
    background-size: 32px 32px;
    background-position: 0px 0px;
	border-radius: 50%;
    top: 7px;
    left: 0;
    display: block;
}

.checktype{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    display: block;
}
.bind-item{
	height: 3rem;
}
.bind-pic{
	width:40%;
	height: 3rem;
	float: left;
}
.bind-img{
	width: 3rem;
	height: 3rem;
	margin-right: .5rem;
	border-radius: 50%;

}
.bind-text{
	width:60%;
	height: 3rem;
	float: left;
	text-align:right;
    line-height: 3rem;

}

.menushow{
	height:28rem;
	position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.vmshow{
	position: absolute;
	width: 100%;
	height: 83%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin:auto;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.amshow{
	width: 60%;
	padding: 10px 0;
	margin:0px auto;
}
.amshow img{
	width: 4rem;
	height: 4rem;
}
.amshow span{
	font-size: 1.0rem;
	/* padding-left: 1.5rem; */
}

.dp-btn{
    width: 27%;
    margin: .5rem .5rem 0 .5rem;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: solid 1px #FF0000;
    display: block;
    padding: .5rem 0;
    text-align: center;
    font-size: .875rem;
	float: left;
	color:#FF0000;
}
.dp-btn:nth-of-type(3),
.dp-btn:nth-of-type(6),
.dp-btn:nth-of-type(9){ margin-right: 0; }
.dp-btn2{
    width: 27%;
    margin: .5rem .5rem 0 .5rem;
    border-radius: 5px;
    background-color: #FF0000;
    border: solid 1px #FF0000;
    display: block;
    padding: .5rem 0;
    text-align: center;
    font-size: .875rem;
	float: left;
	color:#FFFFFF;
}
.dp-btn2:nth-of-type(3),
.dp-btn2:nth-of-type(6),
.dp-btn2:nth-of-type(9){ margin-right: 0; }
.dp-btn2 a {
	color:#FFFFFF;
}

.uploader__input-box {
  float: left;
  position: absolute;
  width: 56px;
  height: 56px;
  border: 1px solid #D9D9D9;
  margin-top: 1px;
}
.uploader__input-box:before,
.uploader__input-box:after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #D9D9D9;
}
.uploader__input-box:before {
  width: 2px;
  height: 39.5px;
}
.uploader__input-box:after {
  width: 39.5px;
  height: 2px;
}
.uploader__input-box:active {
  border-color: #999999;
}
.uploader__input-box:active:before,
.uploader__input-box:active:after {
  background-color: #999999;
}
.uploader__input {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 55px;
  height: 55px;
  opacity: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}