.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 20% auto;
  padding: 0px;
  background: #fff;
  /* border-radius: 5px; */
  width: 60%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h5 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
/*
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
*/
.popup .close {
  position: absolute;
  top: 0px;
  right: 0px;
  transition: all 200ms;
  /* font-size: 20px; */
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close img {
  width:20px;
}

.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 45%;
  overflow: auto;
  padding: 10px;
}