
/*====================微信通 基于大商创2.0新商家后台样式=========================*/
/*seller/css/style.css*/
/*seller/css/general.css*/

* {padding: 0;margin:0}
/*长度高度
******************************/
.w10 { width: 10px; }
.w20 { width: 20px; }
.w30 { width: 30px; }
.w40 { width: 40px !important; }
.w50 { width: 50px !important; }
.w60 { width: 60px !important; }
.w65 { width: 65px !important; }
.w70 { width: 70px !important; }
.w80 { width: 80px !important; }
.w90 { width: 90px; }
.w100 { width: 100px !important; }
.w110 { width: 110px !important; }
.w120 { width: 120px !important; }
.w130 { width: 130px !important; }
.w140 { width: 140px !important; }
.w150 { width: 150px !important; }
.w160 { width: 160px; }
.w180 { width: 180px; }
.w190 { width: 190px !important; }
.w200 { width: 200px !important; }
.w210 { width: 210px !important; }
.w230 { width: 230px; }
.w240 { width: 240px; }
.w250 { width: 250px !important; }
.w260 { width: 260px !important; }
.w270 { width: 270px; }
.w290 { width: 289px !important; }
.w300 { width: 300px !important; }
.w319{ width:319px !important}
.w350 { width: 350px; }
.w340 { width: 340px; }
.w400 { width: 400px!important; }
.w450 { width: 450px!important; }
.w500 { width: 500px; }
.w600 { width: 600px !important; }
.w700 { width: 700px; }
.w780 { width: 780px; }
.w800 { width: 800px; }


.h10 { height: 10px; }
.h20 { height: 20px; }
.h30 { height: 30px; }
.h40 { height: 40px !important; }
.h50 { height: 50px !important; }
.h60 { height: 60px !important; }
.h65 { height: 65px !important; }
.h70 { height: 70px !important; }
.h80 { height: 80px !important; }
.h90 { height: 90px; }
.h100 { height: 100px !important; }
.h110 { height: 110px !important; }
.h120 { height: 120px !important; }
.h130 { height: 130px !important; }
.h150 { height: 150px !important; }
.h160 { height: 160px; }
.h180 { height: 180px; }
.h190 { height: 190px !important; }
.h200 { height: 200px !important; }
.h210 { height: 210px !important; }
.h230 { height: 230px; }
.h240 { height: 240px; }
.h250 { height: 250px !important; }
.h270 { height: 270px; }
.h300 { height: 300px !important; }
.h350 { height: 350px; }
.h340 { height: 340px; }
.h400 { height: 400px!important; }
.h450 { height: 450px!important; }
.h500 { height: 500px; }
.h600 { height: 600px !important; }
.h700 { height: 700px; }
.h780 { height: 780px; }
.h800 { height: 800px; }

.select_w500{ width:499px;}
.select_w320{ width:319px;}
.select_w300{ width:299px;}
.select_w120{ width:120px;}
.select_w140{ width:139px;}
.select_w145{ width:145px;}
.select_w170{ width:169px;}
.select_w220{ width:219px;}
.select_w260{ width:259px;}
.select_w85{ width:85px;}
.select_w75{ width:74px;}
.select_w60{ width:59px;}


a{color:#666;}
a:hover{text-decoration:none;outline: none;color:#27A9E3;}
.tab-left dd:hover a{color:#27A9E3;}
.f-14{font-size:14px;}
.of{overflow: hidden;}

a:link { text-decoration: none;}
a:visited { text-decoration: none;}

/*字体大小
*******************************/
.font0{ font-size:0;}
.font12{ font-size:12px;}
.font14{ font-size:14px;}
.font16{ font-size:16px;}
.font18{ font-size:18px;}
.font20{ font-size:20px;}
/*字体颜色*/
.color-red{color: #ec5151;}
.color-whie{color: #fff;}
/*深灰色*/
.color-dark{color: #4f4f4f;}
/*深灰色*/
.color-42{color: #424242;}
.color-money{color: #ed5d5d;}
/*浅绿色*/
.color-98{color:#45cf79;}
/*褐色*/
.color-c78{color:#ea51df;}
/*帮助*/
.color-f9c{color:#fb6c4a;}
/*粉色*/
.color-e72{color:#43b8ca;}
/*蓝色*/
.color-289{color:#2a9be3;}
/*微筹色*/
.color-ff7{color:#46c0f3;}
/*橘黄色*/
.color-fe{color:#fba534;}
/*橙色*/
.color-ed{color:#ed8000}
/*浅蓝色*/
.color-00a{color:#00a3e7;}
/*紫色*/
.color-zi{color:#7b75f3;}

/*重写PC端商家页面公用样式*/
.admin-logo .en {
  float: left;
  margin-top: 0px;
}
.ecsc-nav {width: 788px;}
.ecsc-nav li a {display: inline; }
.ecsc-admin dl dd span:last-child {margin-right: 10px;}
.notic {line-height:inherit;}

.fr_content h3 {margin-top: 110px;}

.sc-btn i { margin-right: 5px;}

.text_time{position: relative;float: left;}
.text_time input[type='text'],.text-item input[type='text']{ width:155px;}

/*操作提示*/
.explanation {width: 100%;}


/*重写 bootstrap基础样式*/
label {display: inline;}
.fa {font-size: 14px;}
.panel {margin:0;}
.panel-heading span { padding: 2px;}
.panel-body { padding:0;}

textarea.form-control {border: none;}
.nav-pills i{width:15px;height:15px;text-align: center;line-height: 15px;margin-right: 3px}
.panel-default>.panel-heading{background:#f5f5f5;border-color:#e7e7eb;}

textarea.bd1{border: 1px solid #dbdbdb; border-radius: 2px;}

/*公众号设置 start*/
.ecsc-form-goods dl {padding: 10px 0;}
.step_value .weixin_url { width: auto; background: #f5faff;border: 1px dashed #62b3ff;}

/*群发消息*/
.article{border:1px solid #ddd;padding:5px 5px 0 5px;}
.cover{height:160px; position:relative;margin-bottom:5px;overflow:hidden;}
.article .cover img{width:100%; height:auto;}
.article span{height:40px; line-height:40px; display:block; z-index:5; position:absolute;width:100%;bottom:0px; color:#FFF; padding:0 10px; background-color:rgba(0,0,0,0.6)}
.article_list{padding:5px;border:1px solid #ddd;border-top:0;overflow:hidden;}
.radio label{width:100%;position:relative;padding:0;}
.radio .news_mask{position:absolute;left:0;top:0;background-color:#000;opacity:0.5;width:100%;height:100%;z-index:10;}


/*分页*/
.pagination .totalRecords,.pagination .totalRecords span {width: 180px; border: none}
.pagination .select-page {width: 50px;}
.pagination .first-li,.pagination .last-li, .pagination .first-li span, .pagination .last-li span,.pagination .first-li span a,  .pagination .last-li span a {width:45px;}
#gotoPage {border: none;padding:0px 8px;}


/*自动回复*/
.main-content .item{width:100%;height:30px;line-height:30px;margin-bottom:10px;}
.main-content .item .info_btn {margin: 20px 0 0 0;}
.main-content .item .label-t{width:10%;float:left;padding-right: 8px;color:#333;}

/* 编辑自定义菜单 */
.list-div .tr_bg_blue td{background: #f5faff;}
.ecsc-default-table td.tl,.ecsc-default-table th.tl{ padding: 10px 0 10px 20px;}
.tDiv { padding: 0 0 0 20px;}
td {
    line-height: 20px;
    height: 38px;
    border-bottom: 1px solid #eaeaea;
    word-break: keep-all;
    background: #fff;
}
td .tDiv {padding: 10px 0 10px 20px;}
/*按钮样式*/
.list-div .handle .tDiv a {padding: 5px;border-radius: 3px;color: #999;}
.list-div .handle a.btn_inst:hover {color: #29c25f;border-color: #29C25F;}
.list-div .handle a.btn_edit:hover {color: #31b4e1;border-color: #31B4E1;}
.list-div .handle a.btn_trash:hover {color: #ec5151;border-color: #ec5151;}
.list-div .handle i.sc_icon_see { width: 13px;height: 12px;display: inline-block;background-position: -195px -484px;}
.list-div .handle a.btn_see:hover { color: #29c25f;border-color: #29c25f;}
.list-div .handle a.btn_see:hover i.sc_icon_see {background-position: -195px -502px;}
.list-div .handle i, .btn_trash i {font-size: 14px;margin: -2px 4px 0 4px;vertical-align: middle;}
.list-div .handle a.btn_inst:hover i.sc_icon_inst {background-position: -195px -546px;}
.list-div .handle a.btn_region:hover {color: #ec5151;border-color: #ec5151;}

/*粉丝管理*/
.search-info {float: right;padding: 0;}
.search-info .search-form .text {height: 30px;}

.person-info{width:444px;background:#fff;border:1px solid #ccc;position:absolute;top:0px;left:70px;z-index:999}
.person-info img{width:200px;height:200px;}
.person-con{padding:20px;height:200px;width:242px;}
.person-con .title{font-size: 16px;color:#222;line-height: 24px;text-align: left;}
.person-con .time{position:relative;bottom:0px;right:0;text-align: left;margin-top:10px;}
.person-con .bang{text-align: left;font-size: 14px;margin-top:10px;}
.person-info.active{display:block;}
.names p{line-height: 35px;text-align: left;}
.names p:first-child{color:#222;}

.person-info.hidden{display:none;}
.column-menu a{display:block;}

.user_tag {
    display: inline-block;
    vertical-align: middle;
    padding: 1px .7em;
    line-height: 1.3;
    color: #8d8d8d;
    border: 1px solid #9e9e9e;
    background-color: #fff;
    overflow: hidden;

    -webkit-border-top-left-radius: 10px 50%;
    border-top-right-radius: 10px 50%;
    -moz-border-radius-topright: 10px 50%;
    -webkit-border-top-right-radius: 10px 50%;
    border-bottom-left-radius: 10px 50%;
    -moz-border-radius-bottomleft: 10px 50%;
    -webkit-border-bottom-left-radius: 10px 50%;
    border-bottom-right-radius: 10px 50%;
    -moz-border-radius-bottomright: 10px 50%;
    -webkit-border-bottom-right-radius: 10px 50%;
}
input.btn_disabled,.td_border input.btn_disabled,input.btn_disabled:hover{ background:#ccc; cursor:default;border-color: #ccc;}
.td_border .sc-btn {
  color: #fff;
  background: #139ff0;
  border-color: #139ff0;
}
.subscribe_head .common-head{width: 75%;}
/* 标签管理 */
.tags_button {width: 24%;float: left; padding: 0 0 0 160px;}
.tags_button .add {float: right;}
.tags_button .update {float: right;padding-left: 10px;}

/*素材管理*/
.picture-add{width:222px;border:1px solid #e7e7eb;padding-bottom:0;float: left;margin-right:10px;}
.picture-add:last-child{margin-right:0;}
.picture-add-top{padding:10px;}
.picture-add h3{font-size:16px ;line-height: 22px;color:#222;height:44px;overflow: hidden;text-overflow:ellipsis;}
.picture-add p{font-size: 14px;line-height: 22px;margin-top:5px;}
.picture-add img{width:200px;height:200px;}
.picture-add{margin-bottom:20px;}
.operate{width:100%;height:40px;line-height:40px;background: #f4f4f4;}
.operate a{width:50%;float:left;display: block;text-align: center;height: 40px; line-height: 45px;}
.operate a span{font-size:18px;width:18px;height:18px;}

.picture-list{width:222px;/*border:1px solid #e7e7eb;*/padding-bottom:0;float: left;margin-right:27px;}
.picture-list .article{padding:5px 5px 0 5px;overflow: hidden;border:1px solid #ddd;}
.picture-list .cover{height:160px; position:relative;margin-bottom:5px;overflow:hidden;}
.picture-list .article .cover img{width:100%; height:auto;}
.picture-list .article h4{overflow:hidden;}
.picture-list .article span{height:40px; line-height:40px; display:block; z-index:5; position:absolute;width:100%;bottom:0px; color:#FFF; padding:0 10px; background-color:rgba(0,0,0,0.6)}
.picture-list .article_list{padding:5px;overflow:hidden;border:1px solid #ddd;border-top:0;}
.picture-list h4{float:none !important;}
.threebtn a {width: 33%; height: 40px; line-height: 45px;}

.webuploader-pick{background:none !important; padding: 0 !important; width: 150px; line-height: inherit;}
#picker div:last-child{width:105px !important;}
.type-file-box .show {margin-left: 10px; line-height: 30px; height: 30px;float: left}

.type-file-box input[type="file"] {right:inherit;}


/*微信通-功能扩展 start*/
.items-box{overflow: hidden;margin-right:-24px;}
.item_wrap{width:50%;float:left;display: inline-block;position:relative;}
.plugin_item{display: block;overflow: hidden;margin-right: 24px;margin-bottom: 24px;color: #222; height: 94px; padding-left: 94px;border: 1px solid #e7e7eb;}
.plugin_item:hover {text-decoration: none; background-color: #f4f5f9;border-color: #d9dadc;}
.plugin_icon{width:94px;height:94px;position:absolute;top:0;left:0;}
.plugin_content{    padding: 10px 0 10px 20px;overflow: hidden;}
.plugin_content .title{width: 216px;font-size: 18px;line-height:30px;font-weight: 400;font-style: normal;border-bottom:0px;height: auto;margin:0;padding:0;}
.plugin_content .desc{color: #8d8d8d;font-size: 12px;line-height: 32px;width: 238px;}
.plugin_status{position:relative;float: right;text-align: right; padding: 50px 10px 0px 0px;}

.seller-extend .iconfont{ font-size:52px;text-align: center;line-height: 94px;display: block;}



@font-face {font-family: "iconfont";
  src: url('./wechat/iconfont.eot?t=1503040566030'); /* IE9*/
  src: url('./wechat/iconfont.eot?t=1503040566030#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./wechat/iconfont.woff?t=1503040566030') format('woff'), /* chrome, firefox */
  url('./wechat/iconfont.ttf?t=1503040566030') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./wechat/iconfont.svg?t=1503040566030#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  color:#fff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


.bg-news,.bg-hot,.bg-best {background:#76cac3;}
.bg-zjd,.bg-dzp,.bg-ggk { background:#ec4f4f; }
.bg-bonus,.bg-sign{background:#FE831B;}
.bg-jfcx,.bg-ddcx,.bg-wlcx{ background:#eea97f; }

.icon-news:before { content: "\e602"; }
.icon-best:before { content: "\e610"; }
.icon-ggk:before { content: "\e6e0"; }
.icon-zjd:before { content: "\e636"; }
.icon-ddcx:before { content: "\e614"; }
.icon-redpack:before { content: "\e69e"; }
.icon-bonus:before { content: "\e640"; }
.icon-wlcx:before { content: "\e608"; }
.icon-hot:before { content: "\e6ab"; }
.icon-wall:before { content: "\e62d"; }
.icon-jfcx:before { content: "\e69d"; }
.icon-qrpay:before { content: "\e609"; }
.icon-dzp:before { content: "\e601"; }
.icon-sign:before { content: "\e688"; }
/*微信通-功能扩展 end*/


/*营销中心样式*/
.market-index {}
/*.market-index .item_wrap{width:33.3%;float:left;display: inline-block;position:relative;}*/

.market-index .list-div .handle .tDiv p:last-child{margin-right:0;}
.market-index .list-div .handle .tDiv p{padding:2px 4px;border-radius:3px;border:1px solid #e9e9e9;color:#999;font-size:12px;margin-right:12px;}
.market-index i.sc_icon{background:url(../img/console/admin-icon.png);}
.market-index .list-div .handle p.btn_inst:hover{color:#29c25f;border-color:#29C25F;}
.market-index .list-div .handle i.sc_icon_inst{width:13px;height:12px;display:inline-block;background-position:-195px -526px;}
.market-index .list-div .handle p.btn_inst:hover i.sc_icon_inst{background-position: -195px -546px;;}

/*微信墙样式*/
.wall-list {height:50px;line-height:50px;}
.wall-list .button {float: none; padding: 8px 20px;}
.bg-wall {background: #03CB6E}

/*微信现金红包*/
.bg-redpack { background:#ec4f4f; }

.adv-list td {line-height: 38px !important; padding: 10px 0 10px 20px !important; vertical-align:middle !important;}

.show-subscribe{height: 40px; line-height: 40px;}


/*收款二维码*/
.bg-qrpay{ background:#65A1FD; }
.qrpay-checked { height: 30px;line-height: 30px !important;}
.disabled {pointer-events: none;cursor: not-allowed;filter: alpha(opacity=65);-webkit-box-shadow: none;box-shadow: none;opacity: .65;}
#qrpay-disount {width: 80px; text-align: left;}
.img-thumbnail {margin: 5px;}
.dis-prex label {height:34px;line-height:34px; float: left;padding: 0 5px;}

.fbutton .disabled, .fbutton .disabled:hover { border-color: #8e8e8e;background: #8e8e8e;cursor: default;color: #fff;}
.dis-bg {background-color: #8e8e8e; border-color:#8e8e8e; height:auto;}