{include file="page_header"}

<div class="con">
    <div class="goods-info user-order of-hidden ect-tab j-ect-tab ts-3" style="padding-top:0">
        <nav class="tab-title b-color-f of-hidden">
            <ul class="dis-box">
                <li class="box-flex "><a href="{url('coupont/index/index')}" >好券集市</a></li>
                <li class="box-flex active"><a href="{url('coupont/index/coupons_goods')}" >任务集市</a></li>
            </ul>
        </nav>

        <div id="j-tab-con" class="tab-con margin-lr">
            <div class="swiper-wrapper">
                <section class="swiper-slide store_info">
                    <script id="j-product" type="text/html">
                        <%if coupons_list.tab %>
                        <%each coupons_list.tab as val%>
                        <section class="dis-box user-coupont-box b-color-f m-top10">
                            <div class="coupont-left">
                                <span><sup>¥</sup><%val.cou_money%></span>
                            </div>
                            <div class="box-flex coupont-cont padding-all">
                                 <h4 class="coupont-cont-title">[<%val.cou_name%>]</h4>
                                 <p class="f-02 col-9 m-top02"><%val.store_name%></p>
                                 <div class="f-05 m-top02">满 <%val.cou_man%>元 送<%val.cou_money%>元</div>
                                  <p class="f-03 col-9 m-top02"><%val.begintime%> - <%val.endtime%></p>
                            </div>
                        </section>
                        </ul>
                        <%/each%>
                        <%else%>
                        <div class="no-div-message">
                            <i class="iconfont icon-biaoqingleiben"></i>
                            <p>亲，还没有优惠券哦～！</p>
                        </div>
                        <%/if%>
                     </script>
                    </section>
                </div>
            </div>
        </div>
    </div>
         <!--快捷导航-->
    {include file="float_nav"}
    {include file="float_nav_footer"}
    <script type="text/javascript">

        /*切换*/
        var tabsSwiper = new Swiper('#j-tab-con', {
            speed: 100,
            noSwiping: true,
            autoHeight: true,
            onSlideChangeStart: function () {
                $(".j-tab-title .active").removeClass('active')
                $(".j-tab-title li").eq(tabsSwiper.activeIndex).addClass('active')
            }
        })
        $(".j-tab-title li").on('touchstart mousedown', function (e) {
            e.preventDefault()
            $(".j-tab-title .active").removeClass('active')
            $(this).addClass('active')
            tabsSwiper.slideTo($(this).index())
        })
        $(".j-tab-title li").click(function (e) {
            e.preventDefault()
        });


        // 加载列表
        var infinite = $('.store_info').infinite({url: "{url('coupont/index/coupons_goods')}", template: 'j-product'});


    </script>
</body>
</html>